<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Borrower Loan Signature Page
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <app-report-header [subReportName]="'Borrower Loan Signature Page'" [reportName]="'Borrower Loan Summary'" [insideChevron]="true"></app-report-header> -->
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col" style="margin-bottom: 0px; background-color: #f7f7f7; font-size: 12px; padding: 0 5px">
            <p>This Borrower Summary, together with its supporting schedules, provides a true and accurate
              representation
              of
              the propsosed loan and includes:</p>

            <ul>
              <li>Borrower Loan Summary</li>
              <li>Schedule of Owned and Rented Land</li>
              <li>Schedule of Insurance Policies</li>
              <li>Schedule of Operational Budgets</li>
              <li>Schedule of Crop Mix</li>
            </ul>


            <p>Note: The collection of the Borrower Summary together with its supporting Schedules is not a
              commitment to lend. Unless the proposed loan is closed as is evidenced by the above collateral condition,
              the
              commitment, terms, and conditions are subject to change. The anticipated commitments are based upon the
              intended acres, crop mix, and crop insurance types, levels, and options that were communicated to ARM. If
              intended planted acres, crop mix, and/or crop insurance change, I agree to promptly notify ARM. Please
              note
              that this outline does not contain all of the terms, conditions, and other provisions involved in this
              transaction that would be more fully described in the definitive legal document(s) for the proposed
              transaction. By acknowleding this Borrower Summary I am also specifically acknowledging that the Fees and
              Interest for the proposed loan were made available to me.</p>

            <p>Client Acknowledgement:</p>

            <div class="row" style="margin-top: 50px;">
              <div class="col s3">
                x
                <hr />
                Borrower Signature
              </div>
              <div class="col s1">

              </div>
              <div class="col s2">
                &nbsp;
                <hr />
                Date
              </div>
            </div>
            <div class="row">
              <div class="col s3">
                x
                <hr />
                Co-Borrower Signature
              </div>
              <div class="col s1">

              </div>
              <div class="col s2">
                &nbsp;
                <hr />
                Date
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
