<div class="input-flat-form-control notifications-panel">
  <!-- Conf Call -->
  <i class="flaticon flaticon-old-typical-phone inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'CONF' : loggedInUserId" title='Conf Call' (contextmenu)='onRightClick(PA.Conference, $event)' ></i>

  <!-- Committee Vote -->
  <i class="flaticon flaticon-multiple-users-silhouette inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'VOTE' : loggedInUserId" title='Vote' (contextmenu)='onRightClick(PA.Vote, $event)'></i>

  <!-- Stale -->
  <i class="flaticon flaticon-alarm-clock inline" (click)='onClick($event)' [matMenuTriggerFor]="menu"  [ngClass]="currentLoan | pendingActionIcon : 'STL' : loggedInUserId"  title='Stale' (contextmenu)='onRightClick(PA.Stale, $event)'></i>

  <!-- Change Tolerance -->
  <i class="flaticon material-icons inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'WST' : loggedInUserId" title='Change Tolerance' (contextmenu)='onRightClick(PA.WorkingStatus, $event)' >change_history</i>

  <!-- Documentation -->
  <i class="flaticon flaticon-notepad inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'DOC' : loggedInUserId"  title='Documentation' (contextmenu)='onRightClick(PA.Documentation, $event)' ></i>

  <!-- Verify -->
  <i class="flaticon flaticon-tick inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'VER' : loggedInUserId"  title='Verify' (contextmenu)='onRightClick(PA.Verify, $event)'></i>

  <!-- Disburse -->
  <i class="flaticon flaticon-dollar-bills inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'DIS' : loggedInUserId" title='Disburse' (contextmenu)='onRightClick(PA.Disburse, $event)'></i>

  <!-- Reconcile -->
  <i class="flaticon flaticon-refresh-page-option inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'RCN' : loggedInUserId"  title='Reconcile' (contextmenu)='onRightClick(PA.Reconcile, $event)'></i>

  <!-- Support -->
  <i class="flaticon flaticon-handshake inline" (click)='onClick($event)' [matMenuTriggerFor]="menu" [ngClass]="currentLoan | pendingActionIcon : 'SUP' : loggedInUserId"  title='Support Required' (contextmenu)='onRightClick(PA.Support, $event)'></i>

  <mat-menu #menu="matMenu" xPosition="after" yPosition="below" backdropClass='reminder-ind'>
    <button mat-menu-item>
      <mat-slide-toggle [checked]='model' (change)='onSliderChange($event)'>Reminder</mat-slide-toggle>
    </button>
  </mat-menu>
</div>
