@import './../../../../sass/theme/variables';

.notifications-panel {
  height: 30px;
  margin-top: 9px;
  margin-right: 8px;
  padding: 5px 10px;
  display: flex;
  min-width: auto;
  background: rgba(255, 255, 255, 0.6);

  .flaticon {
    text-shadow: none;
    line-height: 1;
    margin: 4px 10px 0 10px;
    cursor: pointer;
    opacity: 0.45;
    transition: all 0.1s ease-in-out;

    &.flaticon-handshake {
      &:before {
        font-size: 16px; // as downloaded icon is smaller than others
        position: relative;
        top: -2px;
      }

      &:not(.active) {
        font-weight: bold;
      }
    }

    &:before {
      font-size: 14px;
    }

    &.flaticon-error {
      color: $error-color;
    }

    &.flaticon-error-wst {
      color: red;
      text-shadow: 1px 1px red;
    }

    &.flaticon-warning {
      color: #ed7d31;
    }

    &.flaticon-warning-wst {
      color: #ed7d31;
      text-shadow: 1px 1px #ed7d31;
    }

    &.flaticon-black {
      opacity: 1;
      &:before {
        color: black;
      }
    }

    &.flaticon-sup-black {
      margin-top: 3.3px !important;
      &:before {
        color: black;
      }
    }

    &.flaticon-sup-primary {
      color: #164c7b !important;
      margin-top: 3.3px !important;
    }

    &.material-icons {
      line-height: 0.5;
      &.active {
        line-height: 0.8;
      }

      &.flaticon-black {
        opacity: 1;
        color: black;
      }
    }

    &.active {
      margin-top: 0;
      animation: shake 3s 0s infinite;
      opacity: 1;
      text-shadow: 2px 1px 2px #888;

      &:hover {
        opacity: 0.75;
      }

      &:before {
        font-size: 18px;
      }
    }

    .text-primary {
      &:before {
        color: $primary-color;
      }
    }
  }

  @keyframes shake {
    5%,
    15%,
    25%,
    35% {
      transform: rotate(-5deg);
    }

    10%,
    20%,
    30%,
    40% {
      transform: rotate(5deg);
    }

    45% {
      transform: rotate(0deg);
    }
  }
}
