<mat-accordion>
  <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
    <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
      <mat-panel-title>
        PRICES
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container bottom under-chev-ag-grid">
      <div class="row">
          <div [hidden]="rowData.length === 0" ng-sidebar-content style="overflow: hidden;">

            <div>
                <ag-grid-angular
                id="myGrid"
                [ngStyle]="style"
                class="ag-theme-balham roboto-font"
                [animateRows]="true"
                [enableSorting]="true"
                [enableFilter]="true"
                [showToolPanel]="false"
                [toolPanelSuppressRowGroups]="true"
                [toolPanelSuppressValues]="true"
                [toolPanelSuppressPivots]="true"
                [toolPanelSuppressPivotMode]="true"
                [suppressPropertyNamesCheck]='true'
                [defaultColDef]="defaultColDef"
                [singleClickEdit]="true"
                [gridAutoHeight]="true"
                suppressColumnVirtualisation=true
                (gridSizeChanged)="onGridSizeChanged($event)"
                [stopEditingWhenGridLosesFocus]="'true'"
                [context]="context"
                [frameworkComponents]="frameworkcomponents"
                [components]="components"
                (cellValueChanged)="rowvaluechanged($event)"
                [rowData]="rowData"
                [gridOptions]="gridOptions"
                (gridReady)="onGridReady($event)"
                (displayedColumnsChanged)="displayColumnsChanged($event)"
                [columnDefs]="columnDefs"
                [suppressHorizontalScroll]='false'>
              </ag-grid-angular>
            </div>
        </div>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
      </div>
    </div>
    <br>


  </mat-expansion-panel>
</mat-accordion>
