app-loan-detail {
    th{
        font-size: 12px !important;
        font-weight: bold !important;
        padding: 7px 10px;
        background: #23C8AB;
        color:white !important; 
        font-family: Roboto,"Helvetica Neue",sans-serif !important;
        text-align: center
    }
    table.bordered > tbody > tr {
        border-bottom: 0.2px solid #fdfafa;
    }
    .mat-icon{
        font-size: 15px !important;
        color: #1a61df;
    }
    .mat-icon-button{
        height: 30px !important;
        line-height: 30px !important;
    }
    td{
        padding: 0px 10px;
        height: 30px !important;
        background: #F6F5F5;
        border-width: 0px 1px 0px 0px;
        font-family: Roboto,"Helvetica Neue",sans-serif !important;
        font:400 12px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        border-style: solid;
        border-color: #d8d2d2;
    
    }
    table {
        table-layout: fixed;
        width: 100%;
      }
    .mat-slider-horizontal {
        width: 1000px;
        margin-left: 45px;
        margin-top: 25px;
    }

    .totals>td{
        background: #B4CFED !important;
    }

    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
        
    }

    .x-90column {
        width: 90px !important;
        max-width: 90px !important;
        min-width: 90px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .w-btn-col {
        width: 40px !important;
        max-width: 40px !important;
        min-width: 40px !important;
    }

    .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill{
        background-color:#164C7B !important
    }
    .mat-slider-horizontal .mat-slider-track-background{
        height:4px !important; 
    }
    .mat-slider-thumb {
        transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
        opacity: 1 !important;
        display: none !important;
    }
    
    table{
        width:unset !important
    }
    .ellipsis {
        position: relative;
    }
    .ellipsis:before {
        content: '&nbsp;';
        visibility: hidden;
    }
    .ellipsis span {
        position: absolute;
        left: 10px;
        right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .w-btn-col {
        width: 20px !important;
        max-width: 20px !important;
        min-width: 20px !important;
    }

    .collateral-gear{
        color: #164C7B;
    }
    .rightalign{
        width:90px !important;text-align: right
    }
    .columnwidth{
       width:90px !important
    }

}