<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header class="has-data">
      <mat-panel-title>
        Loan Detail
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container under-chev-ag-grid">
      <div class="row" style="overflow-x:scroll">
        <div>
          <mat-slider [style.width]="sliderstyle.width" class="mat-slider-horizontal" #slider [max]="max" [min]="min"
            [step]="step" [thumbLabel]="true" (change)="changed($event)">
          </mat-slider>
        </div>
        <table #table class="bordered">
          <thead>
            <tr>
              <ng-container *ngFor='let column of availablecolumns'>
                <th *ngIf="column.visible" class="columnwidth"
                  [ngStyle]="{'background-color':(sliderValue == column.slidervalue) ? '#1b9c86f2' : '#23C8AB' }"
                  class="x-90column">{{column.currentproperty}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
          <tbody>
            <tr [ngClass]="{'totals':item.Category === 'Totals'}" *ngFor="let item of rowData">
              <ng-container *ngFor='let column of availablecolumns'>
                <td *ngIf="column.visible && column.currentproperty != 'Landlord'"
                  [className]="!column.isnumber?'columnwidth':'rightalign columnwidth'"
                  title="{{formatamounts(item[column.mappedproperty],!column.format)}}">
                  {{formatamounts(item[column.mappedproperty],!column.format)}}
                </td>

                <td *ngIf="column.visible && column.currentproperty == 'Landlord'"
                  title="{{formatamounts(item[column.mappedproperty],!column.format)}}"
                  [className]="!column.isnumber?'columnwidth ellipsis':'rightalign columnwidth ellipsis'">
                  <span> {{formatamounts(item[column.mappedproperty],!column.format)}}</span>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </mat-expansion-panel>
</mat-accordion>
