.ag-theme-blue .ag-header {
  background-color: green !important;
}

.ag-theme-blue .ag-row-odd {
  background-color: white;
}

.ag-theme-balham .ag-cell-inline-editing select {
  height: 100%;
}

.ag-theme-balham .ag-cell {
  background-color: #f6f5f5;
  border-width: 0px 1px 0px 0px;
  border-color: lightgray;
  border-style: solid;
}

.validation2disburse {
  background-color: #f50b0b3d !important;
  color: red !important;
}

.touched {
  // background-color:#f5ff71 !important
  // background-color: #FEF6C9  !important;
  background-color: #c9e1feb3 !important;
}

.verification-error {
  color: red !important;
  border-color: red !important;
}

.default-cell {
  background-color: #f6f5f5 !important;
}

.ag-header-row {
  background-color: #23c8ab !important;
  color: white;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

.redactedcell {
  background-color: black !important;
  color: black !important;
}

.editable-color {
  background-color: white !important;
  color: #1a61df;
}

.editable-color-verify {
  background-color: #dffcdf !important;
  color: #1a61df;
}

.text-right {
  text-align: right;
}

.ag-header-group-cell-label > .ag-header-group-text {
  margin: 0 auto;
}

.edited-color {
  // background-color:#FEF6C9 !important
  background-color: #c9e1feb3 !important;
}

.ag-floating-bottom-container > .ag-row {
  color: white;
}

.ag-floating-bottom-container > .ag-row > .ag-cell {
  background-color: #66afc9 !important;
  color: white !important;
}

// .ag-theme-balham .ag-header-cell-label .ag-header-cell-text{
//   text-overflow: initial !important;
//   white-space: normal !important;
//   word-wrap: break-word !important;
//   word-break: break-word !important;
//   line-height: 15px !important;
//   text-align: center !important;
// }
// .ag-header-cell-label{
//   padding-top: 8px;
// }
.icon-yellow {
  color: gold;
}

i.tiny {
  font-size: 1.3rem;
}

.lightgraytext {
  color: lightgray;
}

.vertical {
  background: #23c8ab !important;
  border: 0px !important;
}

.vertical span {
  writing-mode: tb-rl;
  margin: 20px 0 5px;
  word-spacing: 5px;
}

.ng-sidebar {
  background-color: #23c8ab !important;
  width: 12%;
  overflow: auto;
  border-width: 0px 0px 0px 2px !important;
  border-color: ghostwhite;
  border-style: solid;
}

.sidebarchecks {
  width: 28px !important;
}

.sidebarspaced {
  margin: 0pc !important;
  padding: 2px !important;
}

.sidebartext {
  color: white !important;
  font-size: 10px !important;
}

.aggregaterow .aggregatecol {
  background: #b4cfed !important;
  color: black;
  cursor: not-allowed;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.cuppa-dropdown {
  width: 100px !important;
}

.grayedcell {
  background: #f6f5f5 !important;
  // border:none !important;
}

.roboto-font {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

// .invisible{
//   color: red;
//   height: 0px !important;
//   visibility:collapse !important
// }
a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.ag-theme-balham .ag-header-cell-label {
  display: table !important;
}

.rightaligned [ref='eLabel'] {
  float: right !important;
}

.rightaligned [ref='eText'] {
  float: right !important;
}

.rightaligned {
  text-align: right;
  padding-right: 11px;
}

// Ag Grid Global Styles
// ===
.grid-action {
  margin-top: 3px;
  font-size: 20px;
  cursor: pointer;
}

.ag-grid-delete {
  color: $error-color;
}

.ag-layout-auto-height.ag-body-container {
  min-height: auto;
  display: flex;
  // display: inline-block;
}

.ag-theme-balham .ag-tool-panel .ag-side-buttons button {
  border-right: none;
}

// ===
.headerinsurance {
  background-color: #8db4e2 !important;
}

.pinnedreadonly {
  color: black !important;
}

.expandedcell {
  width: 100% !important;
  height: 100% !important;
}

//VERIFY HEADER OVVERIDE
.customHeaderMenuButton {
  //margin-top: 5px;
  margin-left: 4px;
  float: left;
}

.customHeaderLabel {
  margin-left: 5px;
  //margin-top: 3px;
  float: left;
}

.customSortDownLabel {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.customSortUpLabel {
  float: left;
  margin-left: 3px;
  margin-top: 4px;
}

.customSortRemoveLabel {
  float: left;
  font-size: 11px;
  margin-left: 3px;
  margin-top: 6px;
}

.center-xxd {
  padding-top: 0;
  padding-left: 10px;
}

.active {
  color: cornflowerblue;
}

.cell-exception {
  &.exception-1 {
    &.mat-radio-checked {
      .mat-radio-label {
        color: #ed7d31 !important;
      }
      .mat-radio-outer-circle {
        border-color: #ed7d31 !important;
      }
      .mat-radio-inner-circle {
        background-color: #ed7d31 !important;
      }
    }
    .mat-input-wrapper {
      input,
      .mat-form-field-label {
        color: #ed7d31 !important;
      }
      .mat-form-field-underline {
        background-color: #ed7d31 !important;
      }
    }
  }
  &.exception-2 {
    &.mat-radio-checked {
      .mat-radio-label {
        color: #d44950 !important;
      }
      .mat-radio-outer-circle {
        border-color: #d44950 !important;
      }
      .mat-radio-inner-circle {
        background-color: #d44950 !important;
      }
    }
    .mat-input-wrapper {
      input,
      .mat-form-field-label {
        color: #d44950 !important;
      }
      .mat-form-field-underline {
        background-color: #d44950 !important;
      }
    }
  }
}

// Invalid Association
.ag-row {
  &.invalid-roq-assoc {
    .ag-cell {
      background-color: #f50b0b1a !important;
    }
  }
}

// .ag-body-viewport {
// 	overflow-y: hidden;
// }

// ===
// Sorting icon override
// ===
.ag-header-cell-sorted-asc,
.ag-header-cell-sorted-desc {
  position: relative;
}

.ag-sort-ascending-icon,
.ag-sort-descending-icon {
  position: absolute;
  right: 1px;
  top: 2px;
}

.ag-sort-order {
  display: none;
}
// ===

// ag grid validation cell css

@mixin ag-grid-validation-css {
  border-style: solid !important;

  // Exception Non Critical
  &.exception-1 {
    border-width: 1px !important;
    border-color: orange !important;
  }

  // Exception Critical
  &.exception-2 {
    border-width: 1px !important;
    border-color: red !important;
  }

  // Validation Warning
  &.validation-1 {
    //border-color: black !important;
    background-color: #fef6c9 !important;
    color: orange;
    &-blank {
      //border-color: black !important;
      background-color: #fef6c9 !important;
      color: orange !important;
    }
  }

  // Validation Hard Stop
  &.validation-2 {
    //border-color: black !important;
    background-color: #f50b0b3d !important;
    color: red !important;
    &-blank {
      //border-color: black !important;
      background-color: #f50b0b3d !important;
      color: red !important;
    }
  }
}

.cell-validation:not(.aggregatecol) {
  @include ag-grid-validation-css;
}

.editable-color {
  &.touched {
    background-color: #c9e1feb3 !important;
    &.cell-validation {
      @include ag-grid-validation-css;
    }
  }
}
