.mat-menu-item, .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    font-weight: 300;
    font-size: $base-font-size;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(22, 76, 123, 0.2), 0 2px 2px 0 rgba(22, 76, 123, 0.3), 0 1px 5px 0 rgba(22, 76, 123, 0.2) !important;
}

// Accordion overrides
body .mat-expansion-panel-header {
    &:hover {
        .mat-content {
            border-bottom: none !important;
        }

        .mat-expansion-panel-header-title:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    .mat-expansion-panel-header-title {
        &:before {
            z-index: 1000;
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -2px;
            left: 0;
            background-color: rgba(0, 0, 0, 0.87);
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    }
}

body .mat-expansion-panel {
    .mat-expansion-panel-header {
        .mat-expansion-indicator::after,
        .mat-expansion-panel-header-title {
            color: rgba(0, 0, 0, 0.87);
        }
    }
}

body .mat-expansion-panel.mat-expanded {
    .mat-expansion-panel-header {
        .mat-expansion-indicator::after,
        .mat-expansion-panel-header-title {
            color: $primary-color;
        }
    }
}

//INPUT FIELDS COLOR WHEN EDITABLE
body {
    .mat-select {
        .mat-select-value {
            color: #1a61df;
        }
    }

    .mat-select-content {
        .mat-option {
            color: #1a61df;
        }
    }

    // .mat-select-disabled{
    //     .mat-select-value{
    //         color: rgba(0,0,0,.87);
    //     }
    // }

    .mat-form-field {
        input {
            color: #1a61df;
        }
    }

    //     input:read-only,
    //     .mat-input-element:disabled{
    //         color: rgba(0,0,0,.87);
    //     }
    // }

    .mat-form-field input:read-only,
    .mat-form-field .mat-input-element:disabled,
    .mat-select-disabled .mat-select-value,
    .mat-checkbox-disabled .mat-checkbox-label,
    .mat-radio-disabled .mat-radio-label-content {
        color: rgba(0, 0, 0, 0.87);
    }

    .mat-form-field-disabled .mat-form-field-underline {
        background-color: #b1c3c7;
        position: absolute;
        height: 1px;
        width: 100%;
        background-image: none;
    }

    .mat-input-element {
        caret-color: #29a979 !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #29a979 !important;
    }
}

.mat-dialog-container {
    padding: 20px 20px 20px 20px !important;
    width: 600px !important;
    height: 100%;
    overflow: hidden !important;
    box-shadow: none !important;
}

//Should display blue
// .mat-expansion-panel-header.cdk-mouse-focused {
//     .mat-expansion-panel-header-title,
//     .mat-expansion-indicator::after {
//         color: $black-70;
//         font-size: $font-size-md;
//     }
// }

body .mat-expansion-panel-body {
    padding: 15px 0;
}

body .mat-expansion-panel-header {
    display: block !important;
    border-top: 1px solid $black-30;
    text-transform: uppercase;
    height: 30px;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;

    .mat-content {
        display: inline-block;
        color: $primary-color;
        margin-top: 5px;
        position: relative;
        border-bottom: none !important;
    }

    .mat-expansion-indicator {
        float: left;
        margin-right: 10px;
        margin-top: 2px;
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-indicator::after {
        color: $primary-color;
        font-size: $font-size-md;
    }

    &.mat-expanded {
        .mat-expansion-indicator {
            margin-top: 7px;
        }

        .mat-content {
            border-bottom: 1px dotted $primary-color;
            padding-bottom: 1px;
            border-bottom: none !important;
        }
    }
}

// ====

// Dialog overrides
// ====

.mat-dialog-container {
    min-height: 150px;
    position: relative;

    .mat-dialog-title {
        background: $primary-color;
        color: $white;
        padding: 10px;
        font-size: $font-size-md;
        font-weight: normal;
    }

    .mat-dialog-content {
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &::after {
            content: ' ';
            display: block;
            height: 60px;
        }
    }

    .mat-dialog-actions {
        margin-bottom: 0;
        position: absolute;
        bottom: 0px;
        right: 10px;
    }
}

//====

// Context Menu override
// ==
// Collateral Page

.collateral-context-menu {
    .btn-sm {
        margin: 0 10px 10px 0;
    }

    .mat-menu-content {
        label {
            display: block;
            font-size: $base-font-size;
            padding: 2px 10px;

            span {
                margin-left: 5px;
            }

            &.disabled {
                background: $light-white;
            }
        }
    }
}

.borrower-dialog .mat-dialog-container {
    width: 1000px !important;
}

.fsa-dialog  {
  .mat-dialog-container {
    width: 76.4vw !important;
    .row {
      min-height: 50px;
    }
  }
}

.mat-list-text {
    overflow: visible;
    position: relative;
}

// ====
// Tabs override
// ===
.mat-tab-group {
    &.mat-secondary {
        .mat-tab-label {
            border-top: none;
        }
    }

    .mat-tab-label:not(.mat-tab-disabled):focus {
        background: $secondary-tab-color !important;
    }

    .mat-tab-label {
        font-size: $base-font-size;
        height: 32px !important;
        background: $primary-tab-color;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-left: none;
        border-bottom: 1px solid #ccc;
        color: $black-50 !important;
    }

    .mat-ink-bar {
        background-color: transparent !important;
    }

    .mat-tab-label-active {
        color: $primary-color !important;
        background: $secondary-tab-color !important;
        border-bottom: none;
        opacity: 1;
    }
}

.has_sidebar {
    .pageContent {
        width: calc(100% - 215px);
    }
}

//===
// Switch toggle
// ===
.mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $nav-hover-color !important;
}

.mat-slide-toggle-bar {
    background-color: #ddd;
}

// ===
.mat-expansion-panel-content {
    font-size: $base-font-size;
}

.mat-checkbox-disabled.mat-checkbox-checked:not(.mat-checkbox-indeterminate) {
    .mat-checkbox-frame {
      border: none;
    }

    .mat-checkbox-background {
        background-color: #b0b0b0 !important;
        opacity: 0.5;
    }
}


// ===
// Form field suffix
.mat-form-field-suffix {
    top: -3px;
    margin-left: 10px;
  }

// ===
