.btn,
.btn-large,
.btn-small {
  background-color: $primary-color;
  color: $white;
  margin-right: 5px;
  &:hover {
    background-color: $nav-hover-color;
    color: $white;
  }
}

.btn-outline {
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 1px;
  line-height: 1;
  height: auto;
  &.btn-sm {
    padding: 2px 5px;
    font-size: $font-size-sm;
  }
}

.container {
  padding: 0 22px;
  width: auto;
}

// button width
.waves-light {
  &.btn {
    width: 60px;
  }
}
