<div class="progress-chart" [ngClass]="viewMode">
  <canvas baseChart [colors]="chartColors" [options]="chartOptions" [data]="doughnutChartData" [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"></canvas>
</div>
