.progress-chart {
  right: 5px;
  position: absolute;
  max-width: 250px;
  width: 220px;
  text-align: right;

  &.condensed {
    bottom: -4px;
    right: 3px;
    width: 180px;
    max-width: 180px;
  }
}

.schematics-progress-chart {
  .progress-chart {
    position: relative;
    max-width: inherit;
    width: inherit;
  }
}
