<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Loan Comment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <div style="margin-bottom: 0px;font-size: 12px;">
            <pre class="loan-comment" innerHTML="{{ loanMaster.Loan_Comment || '-' }}"></pre>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
