.bottom-icons {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: row;
  top: -5px;

  i.material-icons {
    margin-right: 3px;
  }

  .bottom-icon {
    margin-right: 5px;
  }

  .watch-list {
    color: #d44950;
    position: relative;
    bottom: 2px;
    right: 3px;

    &.disabled {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  span {
    &.validation {
      &-level-1 {
        fill: #ed7d31;
        right: 45px;
        position: relative;
        top: -2px;

        &.one-exception {
          right: 4px;
        }

        &.no-exceptions {
          right: -20px;
        }

        text {
          transform: translate(9px, 15px);
          font-size: 11px;
          fill: #fff;
        }
      }

      &-level-2 {
        fill: #d44950;
        position: relative;
        top: -2px;
        right: 45px;

        &.one-exception {
          right: 4px;
        }

        &.no-exceptions {
          right: -20px;
        }

        text {
          transform: translate(9px, 15px);
          font-size: 11px;
          fill: #fff;
        }
      }
    }

    .more {
      text {
        transform: translate(7px, 15px);
        font-size: 10px;
      }
    }
  }

  span.warning-svg {
    position: absolute;
    right: 60px;
    &.no-error {
      right: 25px;
    }
    svg {
      fill: #ed7d31;
    }

    .superscript {
      color: #ed7d31;
    }
  }

  span.error-svg {
    position: absolute;
    right: 35px;
    svg {
      fill: #d44950;
    }

    .superscript {
      color: #d44950;
    }
  }

  span.superscript {
    position: relative;
    top: -37px;
    left: 10px;
    font-size: 11px;
    font-weight: 500;
  }
}
