<div class="row p-0 m-0 bottom-icons">

  <ng-container *ngIf='errors'>
    <app-exception-icons [error]='errors' [isErrorsDisplayed]='true' [isValidationsDisplayed]='true'></app-exception-icons>
  </ng-container>

  <i class="material-icons bottom-icon watch-list" [class.disabled]='!isWatchListEnabled'>remove_red_eye</i>

</div>
