<!-- <h1 mat-dialog-title>Comments</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="Comment">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="Comment" cdkFocusInitial>Ok</button>
</div> -->

<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Decline Comment</h2>
<div class="alertModal">
  <!-- Modal content -->
  <div class="modal-content">
    <!-- <div class="modal-header">
			<h2>{{this.data.title}}</h2>
		</div> -->
    <div class="modal-body">
      <mat-form-field>
        <input matInput [(ngModel)]="Comment">
      </mat-form-field>
    </div>
    <br>
    <div mat-dialog-actions>
      <!-- <button mat-button class="alertifybtncancel btn-outline modal-close modal-cancel" (click)="onNoClick()">Cancel</button> -->
      <!-- <button mat-button class="mat-raised-button alertifybtndone green modal-trigger" [mat-dialog-close]="Comment" cdkFocusInitial>Ok</button> -->

      <a (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
      <a (click)="onNoClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
      <!-- <button mat-button  [mat-dialog-close]="Comment" cdkFocusInitial  class="mat-raised-button alertifybtndone green modal-trigger">Add</button>
				<button matDialogClose mat-raised-button (click)="onNoClick()" class="alertifybtncancel btn-outline modal-close modal-cancel">Cancel</button> -->
    </div>
  </div>
</div>
