<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="my-container">
  <app-questions [expanded]="masterSvc.isChevronOpen" [currentPageName]="currentPageName"  [chevronId]="Chevron.Optimizer"></app-questions>

  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div>
    <!-- <section class="margin-center">
      <mat-checkbox [disabled]='true' class="margin-left" [(ngModel)]="loanmodel.LoanMaster.AIP_Verified" (change)="updateAIPVerified($event.checked)">AIP Verified</mat-checkbox>
      <mat-checkbox [disabled]='true' class="margin-left" [(ngModel)]="AcresMapped" (change)="updateAcresMapped($event.checked)">Acres Mapped</mat-checkbox>
    </section> -->
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='rowDataIIR?.length > 0'>
        <mat-panel-title>
          Irrigated Crops
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom under-chev-ag-grid">
          <div [hidden]="rowDataIIR.length === 0" class="max-btns row">
            <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("IRR", "FC_Cashflow_Acre")'>Max CF</button>
            <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("IRR", "FC_RiskCushion_Acre")'>Max RC</button>
            <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("IRR", "FC_Margin_Acre")'>Max Margin</button>
            <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)="undoMaxCalculation('IRR')" *ngIf='enableMaxIRR' >Undo</button>
          </div>

        <div id='Optimizer_IRR' [hidden]="rowDataIIR.length === 0" class="row">
        <ag-grid-angular id="IrrGrid" [ngStyle]="styleIRR"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [context]="context"
          [toolPanelSuppressRowGroups]="true"
          [rowClassRules]="rowClassRules"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [frameworkComponents]="frameworkcomponents"
          [singleClickEdit]="true"
          [tabToNextCell]="tabToNextCell"
          [suppressPropertyNamesCheck]='true'
          (cellEditingStopped)="rowvaluechangedirr($event)"
          [rowData]="rowDataIIR"
          [pinnedBottomRowData]="pinnedBottomRowData"
          (gridReady)="onGridReadyIRR($event)"
          [columnDefs]="columnDefsIRR"
          [gridAutoHeight]=true
          [gridOptions]="gridOptionsIIR"
          [defaultColDef]="defaultColDef"
          (columnVisible)="displayColumnsChangedIRR($event)"
          [gridAutoHeight]=true>
        </ag-grid-angular>
        </div>
        <app-ag-grid-no-rows-available [hidden]="rowDataIIR.length !== 0"></app-ag-grid-no-rows-available>
        <a *ngIf='rowDataIIR.length !== 0' [class.disabled]="!isLoanEditable" (click)="onExport('IRR')" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a>
      </div>
      <br>
    </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="my-container">

  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='rowDataNIR?.length > 0'>
        <mat-panel-title>
        Non Irrigated Crops
        </mat-panel-title>
      </mat-expansion-panel-header>

            <div class="container bottom under-chev-ag-grid">
                <div [hidden]="rowDataNIR.length === 0" class="max-btns row">
                  <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("NI", "FC_Cashflow_Acre")'>Max CF</button>
                  <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("NI", "FC_RiskCushion_Acre")'>Max RC</button>
                  <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)='maxCalculation("NI", "FC_Margin_Acre")'>Max Margin</button>
                  <button [class.disabled]="!isLoanEditable" class="waves-effect waves-light btn" (click)="undoMaxCalculation('NI')" *ngIf='enableMaxNI' >Undo</button>
                </div>

              <div id='Optimizer_NI'  [hidden]="rowDataNIR.length === 0" class="row">
              <ag-grid-angular  id="NirGrid" [ngStyle]="styleNIR"
                class="ag-theme-balham roboto-font"
                [animateRows]="true"
                [enableSorting]="false"
                [enableFilter]="true"
                [showToolPanel]="false"
                [context]="context"
                [toolPanelSuppressRowGroups]="true"
                [rowClassRules]="rowClassRules"
                [toolPanelSuppressValues]="true"
                [toolPanelSuppressPivots]="true"
                [tabToNextCell]="tabToNextCell"
                [toolPanelSuppressPivotMode]="true"
                [frameworkComponents]="frameworkcomponents"
                [suppressPropertyNamesCheck]='true'
                [singleClickEdit]="true"
                [pinnedBottomRowData]="pinnedBottomRowDataNI"
                (cellValueChanged)="rowvaluechangednir($event)"
                [rowData]="rowDataNIR"
                [gridAutoHeight]=true
                (gridReady)="onGridReadyNIR($event)"
                [columnDefs]="columnDefsNIR"
                [gridOptions]="gridOptionsNIR"
                [defaultColDef]="defaultColDef"
                (columnVisible)="displayColumnsChangedNIR($event)"
                [gridAutoHeight]=true>
              </ag-grid-angular>
              </div>
              <app-ag-grid-no-rows-available [hidden]="rowDataNIR.length !== 0"></app-ag-grid-no-rows-available>
              <a *ngIf='rowDataNIR?.length > 0' [class.disabled]="!isLoanEditable" (click)="onExport('NI')" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a>
            </div>
            <br>
    </mat-expansion-panel>
    </mat-accordion>
</div>


