.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.max-btns {
  .btn {
    width: 65px;
  }
}
.icon-yellow{
  color:black !important
}

.margin-center{
  margin:20px
}

.margin-left{
  margin:15px
}

.ag-floating-bottom-container > .ag-row > .ag-cell{
  background-color: #66afc9 !important;
  color: white !important
}
