<div class="row mw-400 no-margin">
  <br />
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Scale
    </div>
    <div class="col s6">
       <app-btn-toggle [(model)]="borrowerSettings.isScaleEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Labels
    </div>
    <div class="col s6">
       <app-btn-toggle [(model)]="borrowerSettings.isLabelsEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Weighting
    </div>
    <div class="col s6">
       <app-btn-toggle [(model)]="borrowerSettings.isWeightEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Constant %
    </div>
    <div class="col s6">
       <app-btn-toggle [(model)]="borrowerSettings.isConstantPercentEnabled"></app-btn-toggle>
    </div>
  </div>
</div>
