<mat-accordion *ngIf="!withoutChevron">
    <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{withReportSubHeading ? 'Schedule of Operational Budgets' :'Budget'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngTemplateOutlet="table"></ng-container>

    </mat-expansion-panel>
  </mat-accordion>

  <ng-container *ngIf="withoutChevron">
    <ng-container *ngTemplateOutlet="table"></ng-container>
  </ng-container>

<ng-template #table>
  <div class="container" *ngIf="budgets && budgets.length>0" [attr.id]="ID">
    <div class="row">
      <div class="col s12">
        <div class="subtitle" *ngIf="tableHeading">
          {{tableHeading}}
        </div>
        <table class="bordered">
          <thead>
            <tr *ngIf="isScheduleBudget">
              <th class="title"></th>
              <th colspan="4" class="add-cred-notes"></th>
              <th colspan="4" [class.background-highlight]="isScheduleBudget" style="text-align:center">Total</th>
            </tr>
            <tr>
              <th  class="title">Expense</th>
              <th colspan="4" *ngIf="!cropPracticeId" class="title add-cred-notes">
                <span *ngIf="!isFixedBudget">Additional Credit Notes</span>
              </th>
              <ng-container *ngIf="cropPracticeId">
                <th>ARM</th>
                <th title="{{DistributorNameTitle}}">{{DistributorName}}</th>
                <th>3rd Party</th>
                <th>Total</th>
              </ng-container>
              <th [class.background-highlight]="isScheduleBudget">ARM</th>
              <th [class.background-highlight]="isScheduleBudget" title="{{DistributorNameTitle}}">{{DistributorName}}</th>
              <th [class.background-highlight]="isScheduleBudget">3rd Party</th>
              <th [class.background-highlight]="isScheduleBudget">Total</th>
              <th *ngIf="withRevenue">Budget %</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let budget of budgets; let rowIndex=index; let last = last " >
              <tr *ngIf="budget.Total_Budget_Crop_ET" [ngClass]="rowIndex == ((isTotalBudgetReport && !isScheduleBudget) ? budgets.length-2 : budgets.length-1) ? 'background-highlight':''">
              <td class="ellipsis expense-name title" [class.secondary-background-highlight]="isScheduleBudget && last" [title]='budget.Expense_Type_Name'>{{budget.Expense_Type_Name}}</td>
              <td colspan="4" [class.secondary-background-highlight]="isScheduleBudget && last" *ngIf="!cropPracticeId" class="title add-cred-notes">{{budget.Notes}}</td>
              <ng-container *ngIf="cropPracticeId">
                <td [class.secondary-background-highlight]="isScheduleBudget && last"> {{ budget.ARM_Budget_Acre ? '$ '+(budget.ARM_Budget_Acre | number:'1.2-2') : '-' }} </td>
                <td [class.secondary-background-highlight]="isScheduleBudget && last"> {{ budget.Distributor_Budget_Acre ? '$ '+(budget.Distributor_Budget_Acre | number:'1.2-2') : '-' }} </td>
                <td [class.secondary-background-highlight]="isScheduleBudget && last"> {{ budget.Third_Party_Budget_Acre ? '$ '+(budget.Third_Party_Budget_Acre | number:'1.2-2') : '-' }} </td>
                <td [class.secondary-background-highlight]="isScheduleBudget && last" > {{ budget.Total_Budget_Acre ? '$ '+(budget.Total_Budget_Acre | number:'1.2-2') : '-' }} </td>
              </ng-container>
              <td [class.background-highlight-light]="isScheduleBudget && !last"> {{ budget.ARM_Budget_Crop ? '$ '+(budget.ARM_Budget_Crop.toFixed(0) | number) : '-' }} </td>
              <td [class.background-highlight-light]="isScheduleBudget && !last"> {{ budget.Distributor_Budget_Crop ? '$ '+(budget.Distributor_Budget_Crop.toFixed(0) | number) : '-' }} </td>
              <td [class.background-highlight-light]="isScheduleBudget && !last"> {{ budget.Third_Party_Budget_Crop ? '$ '+(budget.Third_Party_Budget_Crop.toFixed(0) | number) : '-' }} </td>
              <td [class.background-highlight-light]="isScheduleBudget && !last" > {{ budget.Total_Budget_Crop_ET ? '$ '+(budget.Total_Budget_Crop_ET.toFixed(0) | number) : '-' }} </td>
              <!-- don't have additional credit notes feature yet, so hiding by ngIf=false -->
              <td *ngIf="withRevenue" class="percent"> {{ budget.Per_Revenue ? budget.Per_Revenue.toFixed(1) : '0.0' }}</td>
            </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-container *ngIf="withIndividualCropDetails">
    <app-budget-report  [tableHeading]="'Fixed Budget'"  [withoutChevron]="true" [isFixedBudget]="true" [isScheduleBudget]="true" ></app-budget-report>
    <ng-container *ngFor="let cropPractice of loanCropPractices">
      <app-budget-report *ngIf='cropPractice.LCP_Acres > 0'  [isScheduleBudget]="true" [tableHeading]="'Budget : '+ getCPName(cropPractice) + ' (' + getAcres(cropPractice) + ' Acres)'" [cropPracticeId]="cropPractice.Crop_Practice_ID" [withoutChevron]="true" ></app-budget-report>
    </ng-container>
  </ng-container>
</ng-template>
