@import './../../../../../sass/theme/variables';

table {
  width: unset;
}
th {
  min-width: 90px;
}
tr th:first-child {
  min-width: 185px;
}

td:not(.title) {
  text-align: right;
}
th:not(.title) {
  text-align: right;
}
th.title {
  text-align: left;
}
td {
  padding: 5px;
  font-size: 12px;
}
th {
  padding: 5px;
  font-weight: 600;
}
.background-highlight-light {
  background-color: #dce6f1;
}

.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}

.percent:after {
  content: '%';
}

.subtitle {
  font-size: $font-size-md;
  color: $primary-color;
}

.secondary-background-highlight {
  background-color: #e9e9e9;
  font-weight: 600;
}

.add-cred-notes {
  width: 360px;
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ellipsis {
  &.expense-name {
    max-width: 175px;
  }
}
