
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FORMAT
            </mat-panel-title>
          </mat-expansion-panel-header>
           
            <div class="container bottom">
                <div class="row">
                <ag-grid-angular
                    id="myGrid"
                    
                    class="ag-theme-balham roboto-font" 
                    [animateRows]="true" 
                    [defaultColDef]="defaultColDef" 
                    [singleClickEdit]="true"
                    [gridAutoHeight]="true"
                    (gridSizeChanged)="onGridSizeChanged($event)" 
                    [stopEditingWhenGridLosesFocus]="'true'"
                    [context]="context" 
                    [frameworkComponents]="frameworkcomponents"        
                    [components]="components" 
                    (cellEditingStopped)="rowvaluechanged($event)" 
                    [rowData]="rowData" 
                    (gridReady)="onGridReady($event)"
                    [columnDefs]="columnDefs" >
                </ag-grid-angular>
                </div>  
            </div>
          <br>
          <div>
          <table>
            <tr>
              <th>Format</th>
              <th>Aggrid Component</th>
              <th>Function</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Numeric</td>
              <td>cellEditor</td>
              <td>getNumericCellEditor()</td>
              <td>allows numeric input with decimals<br>e.g. 12334444.56</td>
            </tr>
            <tr>
                <td>NoDecimal</td>
                <td>cellEditor</td>
                <td>getIntegerCellEditor()</td>
                <td>numeric inputs only<br>e.g. 1234555</td>
            </tr>
            <tr>
                <td>Alphanumeric</td>
                <td>cellEditor</td>
                <td>getAlphaNumericCellEditor()</td>
                <td>char and num inputs<br>e.g. test1234</td>
            </tr>
            <tr>
                <td>Select</td>
                <td>cellEditor</td>
                <td>getAlphaNumericCellEditor()</td>
                <td>dropdown selection</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>cellEditor<br> valueFormatter</td>
                <td>dateCellEditor <br>formatDateValue</td>
                <td>date format<br>e.g 12/12/2017</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>valueFormatter</td>
                <td>currencyFormatter</td>
                <td>currency format<br>e.g. $123,567.89</td>
            </tr>
            <tr>
                <td>Percent</td>
                <td>valueFormatter</td>
                <td>percentageFormatter</td>
                <td>percent format<br>e.g. 12.5%</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>cellEditor<br>valueFormatter</td>
                <td>phoneEditor<br>formatPhoneNumberAsYouType</td>
                <td>phone format<br>e.g. (123)456-7890</td>
            </tr>
            <tr>
                <td>Acres</td>
                <td>valueFormatter</td>
                <td>acresFormatter</td>
                <td>One decimal value only<br>e.g. 31.2</td>
            </tr>
            <tr>
                <td>RoundValue</td>
                <td>valueFormatter</td>
                <td>APHRoundValueSetter</td>
                <td>rounded value format</td>
            </tr>
            
            
          </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
