<div class="row p-l-15 mw-400 no-margin">
  <br />
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Display Sum Row
    </div>
    <div class="col s6">
      <app-btn-toggle text="Yes" [(model)]='settings.isSumRowEnabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Display Max Row
    </div>
    <div class="col s6">
      <app-btn-toggle text="Yes" [(model)]='settings.isMaxRowEnabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Display Average Row
    </div>
    <div class="col s6">
      <app-btn-toggle text="Yes" [(model)]='settings.isAverageRowEnabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Display Min Row
    </div>
    <div class="col s6">
      <app-btn-toggle text="Yes" [(model)]='settings.isMinRowEnabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 title">
      Weighted Average %
    </div>
    <div class="col s6 selector">
      <app-dropdown (selectedChanged)="onWeightedAverageUpdated($event)" [selected]="settings.weightedAveragePercentBasedUpon"  [options]="basedUponOptions" [isTitleCaseEnabled]="false"></app-dropdown>
    </div>
  </div>
</div>
