<div class="row mw-400 no-margin">
  <br />
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Section
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.section"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Rated
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.rated"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Crop Type
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.cropType"></app-btn-toggle>
    </div>
  </div>
  <!-- <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Irr Prac
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.irrPrac"></app-btn-toggle>
    </div>
  </div> -->
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Crop Prac
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.cropPrac"></app-btn-toggle>
    </div>
  </div>

  <!-- <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      FSN
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.fsn"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Owned
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Prod %
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Landlord
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Rent $
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Rent UOM
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Rent Due
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Waived
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>

  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Rent %
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      PTI
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>

  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Optimizer APH
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Cash Flow (CF)
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>

  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Risk Cushion (RC)
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4">
      Margin
    </div>
    <div class="col s6">
      <app-btn-toggle text="Visible"></app-btn-toggle>
    </div>
  </div> -->
</div>
