text.risk-cushion-percent {
  fill: #ff1b1b !important;
  font-weight: 900;
  font-size: 11px !important;
}
text.return-percent {
  fill: #1c1c1c !important;
  font-weight: 900;
  font-size: 11px !important;
}
