<svg>
    <g transform="translate(32, 27)">
        <text transform="translate(-5, -2)" class="risk-cushion-percent">
            {{info.riskCushionPercent | number: '1.1-1'}} %
        </text>
        <text transform="translate(-5, 40)" class="return-percent">
            {{info.returnPercent | number: '1.1-1'}} %
        </text>
        <g id="blackDiamondCollateral"></g>
        <g id="redDiamondCollateral"></g>
        <g id="riskCollateral">
        </g>
        <g id="cushionCollateral">
        </g>
        <g id="returnFirstCollateral">
        </g>
        <g id="returnSecondCollateral">
        </g>
    </g>
</svg>
