<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="home" viewBox="0 0 46.177 46.177">
          <path d="M23.856,1.451l10.984,10.222l10.984,10.222c0.444,0.429,0.476,1.127,0.063,1.587
          c-0.222,0.238-0.524,0.349-0.825,0.349v0.016h-5.555V43.91c0,0.619-0.508,1.127-1.127,1.127h-8.746
          c-0.619,0-1.111-0.508-1.111-1.127V28.482H17.666V43.91c0,0.619-0.508,1.127-1.127,1.127H7.793c-0.619,0-1.111-0.508-1.111-1.127
          V23.847H1.111C0.492,23.847,0,23.34,0,22.721c0-0.349,0.159-0.667,0.413-0.873l10.936-10.174L22.332,1.435
          C22.761,1.039,23.427,1.039,23.856,1.451L23.856,1.451z M33.316,13.308L23.094,3.785l-10.222,9.524l-8.904,8.286h3.825
          c0.619,0,1.127,0.508,1.127,1.127v20.063h6.508V27.371c0-0.619,0.492-1.127,1.111-1.127h13.095c0.619,0,1.127,0.508,1.127,1.127
          v15.412h6.508V22.721c0-0.619,0.492-1.127,1.111-1.127h3.841L33.316,13.308z"/>
      </symbol>
      <symbol id="home_filled" viewBox="0 0 24 24">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </symbol>
    </defs>
</svg>


<!-- WRENCH -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.22 34.35">
    <defs>
        <style>.cls-1{isolation:isolate;}.cls-2{fill:#fcd121;}.cls-3{fill:#e6e6e6;mix-blend-mode:multiply;}</style>
    </defs>
    <title>yellow wrench</title>
    <g class="cls-1">
        <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-2" d="M34.18,8.35a.76.76,0,0,0-.51-.67.78.78,0,0,0-.83.18L28.4,12.3l-4.92-1.56L21.92,5.82l4.44-4.44a.78.78,0,0,0,.18-.83A.78.78,0,0,0,25.87,0a9.13,9.13,0,0,0-9.33,12.34c-.13.11-.27.23-.4.36l-14.82,14v0A4.45,4.45,0,1,0,7.61,33l0,0L21.49,18.07c.13-.12.24-.26.36-.39A9.13,9.13,0,0,0,34.18,8.35ZM5.37,31.17a1.64,1.64,0,1,1,0-2.33A1.64,1.64,0,0,1,5.37,31.17Z"/>
                <path class="cls-3" d="M34.18,8.35a.76.76,0,0,0-.51-.67.78.78,0,0,0-.83.18L28.4,12.3l-4.92-1.56,0-.06L5.33,28.81l0,0a1.64,1.64,0,1,1-2.32,2.33l0,0L1.21,32.94l.1.11a4.45,4.45,0,0,0,6.3,0l0,0L21.49,18.07c.13-.12.24-.26.36-.39A9.13,9.13,0,0,0,34.18,8.35Z"/>
            </g>
        </g>
    </g>
</svg> -->