<svg>
  <g transform="translate(45, 330)">
    <!-- Farmer -->
    <g id="icon-farmer" data-tooltip-source="farmer" transform="translate(0, -80)">
      <use x="0" y="5" [ngClass]="schematicSettings.farmer.iconStatus" *ngIf="!schematicPreferences.isEnhanceDetailActive"   width="34" height="34" xlink:href="#avatar" />
      <use x="0" y="5" *ngIf="schematicPreferences.isEnhanceDetailActive" class='loan-icon' [ngClass]="schematicSettings.farmer.iconStatus"
        width="34" height="34" xlink:href="#avatar" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.farmer.iconStatus" [item]="schematicSettings.farmer"
        [x]="18" [y]="-5" [source]="'farmer'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='farmer' [x]="'40'" [y]="'10'" [settings]="schematicSettings.farmer"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.farmer.iconStatus" transform="translate(-5, 55)">
        Farmer
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.farmer.details"
        [x]="-10" [y]="75"></svg:g>
    </g>

    <!-- Borrower -->
    <g id="icon-borrower" data-tooltip-source="borrower" transform="translate(-5, 80)">
      <use x="10" y="15" (click)="redirectTo('borrower')" [ngClass]="schematicSettings.borrower.iconStatus" *ngIf="!schematicPreferences.isEnhanceDetailActive"  width="32" height="32" xlink:href="#avatar" />
      <use x="10" y="15" (click)="redirectTo('borrower')" class='loan-icon' [ngClass]="schematicSettings.borrower.iconStatus" *ngIf="schematicPreferences.isEnhanceDetailActive"  width="32" height="32" xlink:href="#avatar" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.borrower.iconStatus" [item]="schematicSettings.borrower"
        [x]="20" [y]="0" [source]="'borrower'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='borrower' [x]="'45'" [y]="'5'" [settings]="schematicSettings.borrower"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.borrower.iconStatus" transform="translate(-5, 70)">
        <a (click)="redirectTo('borrower')">Borrower</a>
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [highlightIndexes]="[schematicSettings.borrower.details.length - 1]"
        [details]="schematicSettings.borrower.details" [x]="0" [y]="90"></svg:g>
    </g>
    <g id="icon-orange-borrower" *ngIf='hasSpouse' data-tooltip-source="spouse" transform="translate(-20, 70)">
      <use x="0" y="2" *ngIf="!schematicPreferences.isEnhanceDetailActive" class="warning" width="24" height="24"
        xlink:href="#man-user" />
      <use x="0" y="2" *ngIf="schematicPreferences.isEnhanceDetailActive" class="warning loan-icon" width="24" height="24"
        xlink:href="#man-user" />
    </g>

    <!-- Crop -->
    <g id="icon-crop" data-tooltip-source="crop" transform="translate(120, 90)">
      <use x="8" y="3" (click)="redirectTo('crop')" [ngClass]="schematicSettings.crop.iconStatus" width="36" height="36" xlink:href="#plant" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.crop.iconStatus" [item]="schematicSettings.crop"
        [x]="20" [y]="0" [source]="'crop'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='crop' [x]="'45'" [y]="'-5'" [settings]="schematicSettings.crop"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.crop.iconStatus" transform="translate(10, 60)">
        <a (click)="redirectTo('crop')">Crop</a>
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.crop.details"
        [x]="(7 - schematicSettings.crop.details[0].length) * 5 + 2" [y]="80"></svg:g>
    </g>

    <!-- IRR -->
    <g id="icon-irr" data-tooltip-source="irr" transform="translate(90, 250)">
      <use x="0" y="0" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.irr.iconStatus" width="32" height="32" xlink:href="#watering-can" />
      <use x="0" y="0" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.irr.iconStatus" width="32" height="32" xlink:href="#watering-can" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.irr.iconStatus" [item]="schematicSettings.irr"
        [x]="20" [cy]="5" [y]="0" [source]="'irr'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='crop' [x]="'-45'" [y]="'0'" [settings]="schematicSettings.irr"></svg:g>
      <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="disabled dec-letter-spacing" [attr.x]="-((schematicSettings.irr.details[0].length - 5 ) * 4)"
        y="50">{{ schematicSettings.irr.details[0] }}</text>
    </g>

    <!-- NI -->
    <g id="icon-ni" data-tooltip-source="ni" transform="translate(177, 250)">
      <use x="0" y="0" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.ni.iconStatus" width="32" height="32" xlink:href="#sun" />
      <use x="0" y="0" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.ni.iconStatus" width="32" height="32" xlink:href="#sun" />
      <svg:g app-info-bubble class="icon" [item]="schematicSettings.ni" [x]="20" [cy]="5" [y]="0" [source]="'ni'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='crop' [x]="'25'" [y]="'20'" [settings]="schematicSettings.ni"></svg:g>
      <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="disabled dec-letter-spacing" [attr.x]="-((schematicSettings.ni.details[0].length - 5 ) * 4)"
        y="50">{{ schematicSettings.ni.details[0] }}</text>
    </g>

    <!-- Farm -->
    <g id="icon-farm" data-tooltip-source="farm" transform="translate(303, -20)">
      <use x="2" y="4" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.farm.iconStatus"
        width="32" height="32" xlink:href="#tractor" (click)="redirectTo('farm')" />
      <use x="2" y="4" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.farm.iconStatus"
        width="32" height="32" xlink:href="#tractor" (click)="redirectTo('farm')" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.farm.iconStatus" [item]="schematicSettings.farm"
        [x]="20" [cy]="0" [y]="0" [source]="'farm'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='farm' [x]="'42'" [y]="'-13'" [settings]="schematicSettings.farm"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.farm.iconStatus" transform="translate(0, 50)">
        <a (click)="redirectTo('farm')">Farm</a>
      </text>
      <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="disabled dec-letter-spacing" x="-15" y="70">{{schematicSettings.farm.details
        }}</text>
    </g>

    <!-- Insurance -->
    <g id="icon-insurance" data-tooltip-source="insurance" transform="translate(300, 200)">
      <use x="3" y="10" (click)="redirectTo('insurance')" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.insurance.iconStatus" width="34" height="34" xlink:href="#umbrella" />
      <use x="3" y="10" (click)="redirectTo('insurance')" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.insurance.iconStatus" width="34" height="34" xlink:href="#umbrella" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.insurance.iconStatus" [item]="schematicSettings.insurance"
        [x]="20" [y]="0" [cy]="0" [source]="'insurance'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='insurance' [x]="'42'" [y]="'-2'" [settings]="schematicSettings.insurance"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.insurance.iconStatus" transform="translate(-15, 60)">
        <a (click)="redirectTo('insurance')">Insurance</a>
      </text>
      <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="disabled dec-letter-spacing" x="-15" y="80">{{schematicSettings.insurance.details
        }}</text>
    </g>

    <!-- Budget -->
    <g id="icon-budget" data-tooltip-source="budget" transform="translate(303, 90)">
      <use x="2" y="5" (click)="redirectTo('budget')" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.budget.iconStatus"
        width="32" height="32" xlink:href="#calculator" />
      <use x="2" y="5" (click)="redirectTo('budget')" class="loan-icon" *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.budget.iconStatus"
        width="32" height="32" xlink:href="#calculator" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.borrower.iconStatus" [item]="schematicSettings.budget"
        [x]="20" [y]="-5" [cy]="0" [source]="'budget'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='budget' [x]="'42'" [y]="'-5'" [settings]="schematicSettings.budget"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.budget.iconStatus" transform="translate(-5, 60)">
        <a (click)="redirectTo('budget')">Budget</a>
      </text>
      <!-- <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="disabled dec-letter-spacing" [attr.x]="(schematicSettings.budget.details[0].length - 6 ) * (-4)" y="80">{{ schematicSettings.budget.details }}</text> -->
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.budget.details"
        [x]="-5" [y]="80"></svg:g>
    </g>

    <!-- Optimizer -->
    <g id="icon-optimizer" data-tooltip-source="optimizer" transform="translate(450, 90)">
      <use x="2" y="5" (click)="redirectTo('optimizer')" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.optimizer.iconStatus" width="32" height="32" xlink:href="#gear" />
      <use x="2" y="5" (click)="redirectTo('optimizer')" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.optimizer.iconStatus" width="32" height="32" xlink:href="#gear" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.optimizer.iconStatus" [item]="schematicSettings.optimizer"
        [x]="20" [y]="0" [cy]="0" [source]="'optimizer'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='optimizer' [x]="'40'" [y]="'-5'" [settings]="schematicSettings.optimizer"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.optimizer.iconStatus" transform="translate(-20, 60)">
        <a (click)="redirectTo('optimizer')">Optimizer</a>
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.optimizer.details"
        [x]="-5" [y]="80"></svg:g>
    </g>

    <!-- Collateral -->
    <g id="icon-collateral" data-tooltip-source="collateral" transform="translate(570, 90)">
      <use x="2" y="10" (click)="redirectTo('collateral')" *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.collateral.iconStatus" width="32" height="32" xlink:href="#link" />
      <use x="2" y="10" (click)="redirectTo('collateral')" class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.collateral.iconStatus" width="32" height="32" xlink:href="#link" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.collateral.iconStatus" [item]="schematicSettings.collateral"
        [x]="20" [y]="0" [cy]="0" [source]="'collateral'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='collateral' [x]="'35'" [y]="'-15'" [settings]="schematicSettings.collateral"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.collateral.iconStatus"  transform="translate(-15, 60)">
        <a (click)="redirectTo('collateral')">Collateral</a>
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.collateral.details"
        [x]="-20" [y]="80"></svg:g>
    </g>

    <!-- Summary -->
    <!-- <g id="icon-summary" data-tooltip-source="summary" transform="translate(772, 90)">
      <use *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.summary.iconStatus" x="3" y="12" width="28" height="28" xlink:href="#text-file" />
      <use class='loan-icon' *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.summary.iconStatus" x="3" y="12" width="28" height="28" xlink:href="#text-file" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.summary.iconStatus" [item]="schematicSettings.summary"
        [x]="15" [y]="0" [cy]="0" [source]="'summary'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info [x]="'35'" [y]="'-5'" [settings]="schematicSettings.summary"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.summary.iconStatus" transform="translate(-15, 60)">
        <a (click)="redirectTo('summary')">Summary</a>
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.summary.details"
        [x]="-20" [y]="80"></svg:g>
    </g> -->

    <g id='loan-status-icon-panel' transform="translate(870, -80)">
      <svg:g app-schematics-loan-status-icon [Loan_Status]='Loan_Status' ></svg:g>
    </g>

    <g transform="translate(800, -30)">
      <svg:g risk-chart-working-loan [localLoanObject]='currentSelectedLoan'></svg:g>
    </g>

    <!-- Committee -->
    <g id="icon-committee" data-tooltip-source="committee" transform="translate(870, 80)">
      <use *ngIf="!schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.committee.iconStatus" x="3" y="18" width="36" height="36" xlink:href="#group" />
      <use class="loan-icon" *ngIf="schematicPreferences.isEnhanceDetailActive"  [ngClass]="schematicSettings.committee.iconStatus" x="3" y="18" width="36" height="36" xlink:href="#group" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.committee.iconStatus" [item]="schematicSettings.committee"
        [x]="20" [y]="5" [cy]="0" [source]="'committee'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='committee' [x]="'50'" [y]="'5'" [settings]="schematicSettings.committee"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.committee.iconStatus" transform="translate(-15, 70)">
        <a (click)="redirectTo('committee')">Committee</a>
      </text>
    </g>

    <!-- Decide -->
    <!-- <g id="icon-decide" data-tooltip-source="decide" transform="translate(1080, 100)">
      <use class="icon-decide" *ngIf="!schematicPreferences.isEnhanceDetailActive"  transform="rotate(20)" [ngClass]="schematicSettings.decide.iconStatus" x="0" y="-10" width="32" height="32" xlink:href="#light-bulb" />
      <use class="icon-decide loan-icon" *ngIf="schematicPreferences.isEnhanceDetailActive"  transform="rotate(20)" [ngClass]="schematicSettings.decide.iconStatus" x="0" y="-10" width="32" height="32" xlink:href="#light-bulb" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.decide.iconStatus" [item]="schematicSettings.decide"
        [x]="20" [y]="0" [cy]="0" [source]="'decide'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info [x]="'40'" [y]="'15'" [settings]="schematicSettings.decide"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.decide.iconStatus" transform="translate(-15, 50)" (click)='openDecide()'>Decide</text>
    </g> -->

    <!-- Checkout -->
    <g id="icon-checkout" data-tooltip-source="checkout" transform="translate(1230, 95)">
      <use (click)="redirectTo('checkout')" [ngClass]="schematicSettings.checkout.iconStatus" x="5" y="5" width="32" height="32" xlink:href="#online-shopping-cart" />
      <svg:g app-info-bubble class="icon" [bubbleType]="schematicSettings.checkout.iconStatus" [item]="schematicSettings.checkout"
        [x]="20" [y]="-5" [cy]="0" [source]="'checkout'"></svg:g>
      <svg:g *ngIf="schematicPreferences.isEnhanceDetailActive" app-critical-info source='checkout' [x]="'40'" [y]="'0'" [settings]="schematicSettings.checkout"></svg:g>
      <text class="tab-name" [ngClass]="schematicSettings.checkout.iconStatus" transform="translate(-10, 55)">
        <a (click)="redirectTo('checkout')">Checkout</a>
      </text>
    </g>

    <!-- Crop items -->
    <svg:g app-crop-items [schematicPreferences]="schematicPreferences" [cropList]='cropItems' [currentSelectedLoan]="currentSelectedLoan" [schematicSettings]="schematicSettings"></svg:g>
  </g>
</svg>
