<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{ type === CommitmentType.RETURN ? 'Return' : 'Commitment'}}
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="ccReport.rows" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th></th>
                              <th class="ellipsis" *ngFor="let borrower of ccReport.borrowers" [title]='borrower'>{{borrower}}</th>
                              <th> Total</th>
                          </tr>
                      </thead>
                      <tbody [ngClass]="type === CommitmentType.RETURN ? 'color-green' : ''">
                          <tr *ngFor="let com of ccReport.rows">
                              <ng-container *ngIf='com.totalValue > 0'>
                                  <td>{{com.name}}</td>
                                  <td *ngFor="let value of com.values"> $ {{value | number:'1.0-0'}}</td>
                                  <td> $ {{com.totalValue | number:'1.0-0'}} </td>
                              </ng-container>
                              <!-- <td class="percent"> {{com.perValue  | number:'1.1-1'}}</td> -->
                          </tr>
                          <tr class="background-highlight">
                              <td>{{ type === CommitmentType.RETURN ? 'ARM Fees and Interest' : 'Total'}}</td>
                              <td *ngFor="let value of ccReport.totalRow.values"> $ {{value | number:'1.0-0'}}</td>
                              <td> $ {{ccReport.totalRow.totalValue | number:'1.0-0'}} </td>
                              <!-- <td class="percent"> {{ccReport.totalRow.perValue | number:'1.1-1'}}</td> -->
                          </tr>
                          <tr *ngIf="type === CommitmentType.RETURN">
                              <td>Return %</td>
                              <td class="percent" *ngFor="let value of ccReport.returnPer.values"> {{value | number:'1.1-1'}}</td>
                              <td class="percent"> {{ccReport.returnPer.totalValue | number:'1.1-1'}}</td>
                              <!-- <td></td> -->
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>
