<div class="add-notify-party-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.title}}</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body" [formGroup]="addMemberForm">
        <mat-form-field>
          <mat-select placeholder="User" formControlName="User_ID">
            <mat-option *ngFor="let user of data.users" [value]="user.UserID">
              {{ user.FirstName + ' '+ (user.LastName || '') + ' ('+ user.Username +')' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <control-messages [control]="addMemberForm.controls['User_ID']" controlName="User"></control-messages>
      </div>

      <div class="modal-footer">
        <div class="mat-footer-inner">
          <a [class.disabled]="addMemberForm.invalid" (click)="onOkClick()"
            class="waves-effect fsa-btn waves-light btn green">Confirm</a>

          <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
