@import "./../../../sass/theme/variables";

.tooltip {
    pointer-events: none;
    position: absolute;
    font-size: 12px;

    // text-align: center;
    background: $primary-color;
    padding: 5px;
    z-index: 5;
    height: 30px;
    z-index: 1000;

    // line-height: 30px;
    margin: 0 auto;
    color: $white-90;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    transform: translateX(-50%);
    display: none;
    width: auto;
    max-width: 500px;
    min-width: 120px;

    &.active {
        display: flex;
        vertical-align: middle;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $primary-color;
    }
}
