<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <!-- Buyer -->
  <app-association [chevronId]='36' [expanded]="masterSvc.isChevronOpen" [header]="'Buyer'" [associationTypeCode]="'BUY'"
    [currentPageName]="currentPageName" [firstColumnHeader]="'Business Name'"></app-association>

  <!-- Rebator -->
  <app-association [chevronId]='18' [header]="'Rebator'" [expanded]="masterSvc.isChevronOpen" [firstColumnHeader]="'Business Name'" [associationTypeCode]="'REB'" [currentPageName]="currentPageName"></app-association>

  <app-yield [columnsDisplaySettings]="columnsDisplaySettings"></app-yield>
  <app-price [columnsDisplaySettings]="columnsDisplaySettings"></app-price>
  <app-marketing-contracts [expanded]="masterSvc.isChevronOpen"></app-marketing-contracts>
  <app-other-income [expanded]="masterSvc.isChevronOpen" [columnsDisplaySettings]="columnsDisplaySettings"></app-other-income>
</div>
