<div *ngIf="loanlist" class="loan-history">
    <h2>Loan History</h2>
    <div class="row">
      <div>
        <table class="bordered">
          <thead>
            <tr>
              <th>Loan ID</th>
              <th class="left-align">Borrower Name</th>
              <th class="align-center"> Status </th>
              <th class="right-align app-date">Application Date</th>
              <th class="right-align">Close Date</th>
              <th class="right-align">Maturity Date</th>
              <th class="right-align">Acres</th>
              <th class="right-align">ARM Commit</th>
              <th class="right-align">Dist Commit</th>
              <th class="right-align">Total Commit</th>
              <th class="right-align">Addendum %</th>
              <th class="align-center">Revive</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let loan of loanlist; let i = index; even as isEven; first as isFirst">
              <tr *ngIf='isFirst'>
                <td class="loan-id"></td>
                <td></td>
                <td class="align-center loan-status-icon">
                    <mat-icon>change_history</mat-icon>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="right-align">{{ (loan.LoanMaster.Delta_Crop_Acres || 0)| number:'1.1-1'}}</td>
                  <td class="right-align">$ {{(loan.LoanMaster.Delta_ARM_Commitment || 0) | number:'1.0-0'}}</td>
                  <td class="right-align">$ {{(loan.LoanMaster.Delta_Dist_Commitment || 0) | number:'1.0-0'}}</td>
                  <td class="right-align">$ {{(loan.LoanMaster.Delta_Total_Commitment || 0) | number:'1.0-0'}}</td>
                  <td class="right-align"> {{(loan.LoanMaster.Delta_Current_Addendum_Percent || 0) | number:'1.1-1'}}%</td>
                  <td>

                  </td>
              </tr>
              <tr [class.background-color]="isEven">
                <td class="loan-id" *ngIf='isFirst'>{{loan.Loan_Full_ID}}</td>
                <td class="loan-id link" *ngIf='!isFirst' (click)='navigatetoloan(loan.Loan_Full_ID)'>{{loan.Loan_Full_ID}}</td>
                <td class="left-align borrower-name" title="{{getBorrowerName(loan.LoanMaster)}}">{{getBorrowerName(loan.LoanMaster)}}  </td>
                <td class="align-center loan-status-icon">
                  <ng-container *ngIf="loan.LoanMaster">
                    <app-icon-loan-status [loanStatus]='getLoanStatus(loan.LoanMaster.Loan_Status)' cssClass='loan-history'></app-icon-loan-status>
                  </ng-container>
                </td>
                <td class="right-align app-date">{{ formateDate(loan.LoanMaster.Application_Date) }}</td>
                <td class="right-align">{{ formateDate(loan.LoanMaster.Close_Date) }}</td>
                <td class="right-align">{{ formateDate(loan.LoanMaster.Maturity_Date) }}</td>
                <td class="right-align">{{ loan.LoanMaster.Total_Crop_Acres | number:'1.1-1'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.ARM_Commitment | number:'1.0-0'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.Dist_Commitment | number:'1.0-0'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.Total_Commitment | number:'1.0-0'}}</td>
                <td class="right-align"> {{(loan.LoanMaster.Current_Addendum_Percent || 0) | number:'1.1-1'}}%</td>
                <td class="align-center color-green">
                  <i class="material-icons" *ngIf="IsNotWorkingLoan(loan)" style="cursor: pointer" (click)='reviveCurrentLoan(loan.Loan_Full_ID)'>
                    skip_previous
                  </i>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="!loanlist || loanlist.length < 1">
              <tr>
                <td colspan="17" class="no-rows">
                  No Rows to show.
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
