<svg>
  <svg:g app-connector *ngIf="crossCollateralItems && crossCollateralItems.length > 0 && isAffiliatedLoan" [uid]="'cross-collateral-borrower-to-farmer'" [startX]="65" [startY]="getY(140, schematicSettings.crossCollateral.details.length)" [endX]="65" [endY]="250"
    [isStepCompleted]="true"></svg:g>

    <svg:g app-connector [uid]="'farmer-to-borrower'" [startX]="65" [startY]="getY(315, schematicSettings.farmer.details.length)" [endX]="65" [endY]="415" [isStepCompleted]="schematicSettings.farmer.isStepCompleted"></svg:g>

  <svg:g app-connector [uid]="'borrower-to-crop'" [startX]="85" [startY]="445" [endX]="160" [endY]="445" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.borrower.isStepCompleted"></svg:g>

  <g id="borrower-to-apply">
    <svg:g app-connector [uid]="'borrower-to-apply-1'" [startX]="65" [startY]="getY(490, schematicSettings.borrower.details.length)" [endX]="65" [endY]="720" [isStepCompleted]="schematicSettings.apply.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'borrower-to-apply-2'" [startX]="62" [startY]="723" [endX]="140" [endY]="723" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.apply.isStepCompleted"></svg:g>
  </g>

  <svg:g app-connector [uid]="'crop-to-budget'" [startX]="210" [startY]="445" [endX]="330" [endY]="445" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.crop.isStepCompleted"></svg:g>
  <g>
    <svg:g app-connector [uid]="'crop-to-irr-1'" [startX]="192" [startY]="getYBasedOnEnhancedDetail(510, schematicSettings.crop.details.length)" [endX]="192" [endY]="536"
    [isStepCompleted]="schematicSettings.irr.isStepCompleted || schematicSettings.ni.isStepCompleted"></svg:g>

    <svg:g app-connector [uid]="'crop-to-irr-2'" [startX]="150" [startY]="533" [endX]="189" [endY]="533" [isStepCompleted]="schematicSettings.irr.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-irr-3'" [startX]="147" [startY]="530" [endX]="147" [endY]="575" [isStepCompleted]="schematicSettings.irr.isStepCompleted"></svg:g>
  </g>
  <g>
    <svg:g app-connector [uid]="'crop-to-ni-2'" [startX]="195" [startY]="533" [endX]="235" [endY]="533" [isStepCompleted]="schematicSettings.ni.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-ni-3'" [startX]="238" [startY]="530" [endX]="238" [endY]="575" [isStepCompleted]="schematicSettings.ni.isStepCompleted"></svg:g>
  </g>

  <g>
    <svg:g app-connector [uid]="'crop-to-farm-1'" [startX]="300" [startY]="442" [endX]="300" [endY]="330" [isStepCompleted]="schematicSettings.crop.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-farm-2'" [startX]="297" [startY]="327" [endX]="330" [endY]="327" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.crop.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-farm-3'" [startX]="390" [startY]="327" [endX]="433" [endY]="327" [isStepCompleted]="schematicSettings.farm.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-farm-4'" [startX]="430" [startY]="330" [endX]="430" [endY]="442" [isStepCompleted]="schematicSettings.farm.isStepCompleted"></svg:g>
  </g>
  <g>
    <svg:g app-connector [uid]="'crop-to-insurance-1'" [startX]="300" [startY]="448" [endX]="300" [endY]="555" [isStepCompleted]="schematicSettings.crop.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-insurance-2'" [startX]="297" [startY]="558" [endX]="330" [endY]="558" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.crop.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-insurance-3'" [startX]="390" [startY]="558" [endX]="433" [endY]="558" [isStepCompleted]="schematicSettings.insurance.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'crop-to-insurance-4'" [startX]="430" [startY]="555" [endX]="430" [endY]="448" [isStepCompleted]="schematicSettings.insurance.isStepCompleted"></svg:g>
  </g>

  <g id='budget-to-optimizer'>
    <svg:g app-connector [uid]="'budget-to-optimizer-1'" [startX]="390" [startY]="445" [endX]="433" [endY]="445" [isMarkerVisible]="false"
      [isStepCompleted]="schematicSettings.budget.isStepCompleted"></svg:g>

    <svg:g app-connector [uid]="'budget-to-optimizer-2'" [startX]="433" [startY]="445" [endX]="480" [endY]="445" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.farm.isStepCompleted && schematicSettings.budget.isStepCompleted && schematicSettings.insurance.isStepCompleted"></svg:g>
  </g>

  <svg:g app-connector [uid]="'optimizer-to-collateral'" [startX]="530" [startY]="445" [endX]="600" [endY]="445" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.optimizer.isStepCompleted"></svg:g>

  <g>
    <svg:g app-connector [uid]="'committee-to-prerequisites-1'" [startX]="960" [startY]="445" [endX]="1017" [endY]="445" [isStepCompleted]="schematicSettings.committee.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'committee-to-prerequisites-2'" [startX]="1020" [startY]="448" [endX]="1020" [endY]="97" [isStepCompleted]="schematicSettings.committee.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'committee-to-prerequisites-3'" [startX]="1017" [startY]="94" [endX]="1067" [endY]="94" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.committee.isStepCompleted"></svg:g>
  </g>
  <svg:g app-connector [uid]="'prerequisites-to-closing'" [startX]="1105" [startY]="94" [endX]="1150" [endY]="94" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.prerequisiteConditions.isStepCompleted"></svg:g>

  <g>
    <svg:g app-connector [uid]="'closing-to-checkout-1'" [startX]="1190" [startY]="94" [endX]="1237" [endY]="94" [isStepCompleted]="schematicSettings.closing.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'closing-to-checkout-2'" [startX]="1240" [startY]="91" [endX]="1240" [endY]="442" [isStepCompleted]="schematicSettings.closing.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'closing-to-checkout-3'" [startX]="1237" [startY]="445" [endX]="1260" [endY]="445" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.closing.isStepCompleted"></svg:g>
  </g>

  <svg:g app-connector [uid]="'apply-to-verify'" [startX]="200" [startY]="723" [endX]="290" [endY]="723" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.insuranceVerification.isStepCompleted"></svg:g>

  <svg:g app-connector [uid]="'verification-to-reconciliation'" [startX]="350" [startY]="723" [endX]="440" [endY]="723" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.reconciliation.isStepCompleted"></svg:g>

  <g id="collateral-to-reconciliation">
    <svg:g app-connector [uid]="'collateral-to-reconciliation-1'" [startX]="630" [startY]="getYBasedOnEnhancedDetail(510, schematicSettings.collateral.details.length)" [endX]="630"
      [endY]="720" [isStepCompleted]="schematicSettings.reconciliation.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'collateral-to-reconciliation-2'" [startX]="633" [startY]="723" [endX]="510" [endY]="723" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.reconciliation.isStepCompleted"></svg:g>
  </g>

  <g>
    <svg:g app-connector [uid]="'collateral-to-underwriting-1'" [startX]="660" [startY]="445" [endX]="720" [endY]="445" [isStepCompleted]="schematicSettings.collateral.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'collateral-to-underwriting-2'" [startX]="723" [startY]="448" [endX]="723" [endY]="100" [isStepCompleted]="schematicSettings.collateral.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'collateral-to-underwriting-3'" [startX]="720" [startY]="97" [endX]="760" [endY]="97" [isMarkerVisible]="true"
      [isStepCompleted]="schematicSettings.collateral.isStepCompleted"></svg:g>
  </g>

  <g>
    <svg:g app-connector [uid]="'underwriting-to-committee-1'" [startX]="810" [startY]="97" [endX]="847" [endY]="97" [isStepCompleted]="schematicSettings.underwriting.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'underwriting-to-committee-2'" [startX]="850" [startY]="94" [endX]="850" [endY]="448" [isStepCompleted]="schematicSettings.underwriting.isStepCompleted"></svg:g>
    <svg:g app-connector [uid]="'underwriting-to-committee-3'" [startX]="853" [startY]="445" [endX]="900" [endY]="445" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.underwriting.isStepCompleted"></svg:g>
  </g>

  <svg:g app-connector [uid]="'checkout-to-nortridge'" [startX]="1315" [startY]="445" [endX]="1410" [endY]="445" [isMarkerVisible]="true"
    [isStepCompleted]="schematicSettings.checkout.isStepCompleted"></svg:g>
</svg>
