<div>
  <div class="basic-container borrower-summary-report">
    <app-report-header [reportName]="'Borrower Loan Summary'"></app-report-header>
    <app-loan-information [expanded]='masterSvc.isChevronOpen'></app-loan-information>
    <app-financials [expanded]='masterSvc.isChevronOpen' [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled"></app-financials>
    <app-yield-report [expanded]='masterSvc.isChevronOpen' [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-yield-report>
    <app-projectedincome [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay" [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-projectedincome>
    <app-budget-report [expanded]='masterSvc.isChevronOpen' [withRevenue]="true"></app-budget-report>
    <app-crop-insurance [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay" [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-crop-insurance>

    <!-- Loan Documents -->
    <app-documents-report [expanded]='masterSvc.isChevronOpen' [ID]="'SummaryConditionReport'" [showDocuments]="loanSetting.reportsSettings.isConditionDetailEnabled"></app-documents-report>

    <app-farms-report [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay"></app-farms-report>

    <div class="pagebreak">
      <app-schedule-insurance-policies [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay"></app-schedule-insurance-policies>
    </div>

    <div class="pagebreak">
      <app-budget-report [expanded]='masterSvc.isChevronOpen' [withReportSubHeading]="true" [tableHeading]="'Total Expense'" [withIndividualCropDetails]="true"  [isScheduleBudget]="true">
      </app-budget-report>
    </div>

    <div class="pagebreak">
      <app-crop-mix [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay"></app-crop-mix>
    </div>

    <app-borrower-loan-signature [expanded]='masterSvc.isChevronOpen'></app-borrower-loan-signature>
  </div>
</div>
