<div #riskChart>
  <ng-container>
    <div class="col s12 risk-cushion">
      <div class="col s5 risk">
        <div class="col s12">
          <span class="muted-label ellipsis">
            Risk Cushion
          </span>
          <p class="risk-return-value">{{ info.riskCushionAmount | currency:'USD':'symbol':'1.0-0'}} &nbsp;
            <span class="muted-label">
              {{ info.riskCushionPercent }}
            </span>
          </p>
        </div>
      </div>
      <div class="col s3 return">
        <span class="muted-label ellipsis">
          Return
        </span>
        <p class="risk-return-value">
          {{ info.returnPercent }}
        </p>
      </div>

      <div class="col s4 arm-commitment">
        <span class="muted-label ellipsis">
          ARM Commit
        </span>
        <p class="risk-return-value">
          {{ info.armCommitment | currency:'USD':'symbol':'1.0-0' }}
        </p>
      </div>
    </div>
  </ng-container>


  <div class="col s12 svg-container" [hidden]="viewMode == 'super-condensed'">
    <svg preserveAspectRatio="xMinYMin meet" height="40" class="w-100 svg-content">
      <g id="blackDiamond"></g>
      <g id="redDiamond"></g>
      <g id="risk">
      </g>
      <g id="cushion">
      </g>
      <g id="returnFirst">
      </g>
      <g id="returnSecond">
      </g>
    </svg>
  </div>

  <div class="col s12 arm-info-with-icons" *ngIf="viewMode != 'super-condensed'">
    <div class="col s6 arm-info">
      <span class='ellipsis' title='{{info.armInfo}}'> {{info.armInfo}} </span>
    </div>
    <div class="col s3 push-s3 arm-icons">
      <app-bottom-icons [isARM]='isARM' [viewMode]='viewMode'></app-bottom-icons>
    </div>
  </div>

</div>
