@import "./../../../../../sass/theme/variables";

.muted-label {
  color: #aaa;
  font-weight: 500;
}
.label {
  color: #aaa;
  font-weight: 500;
  display: block;
}

.risk-return-value, .value {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  span:nth-child(2) {
    margin: 0 10px;
  }
  text-transform: capitalize;
}

.super-condensed {
  .risk-return-value {
    margin-left: 10px;
  }
}

.risk-cushion {
  padding-left: 0px;
  .col {
    display: flex;
    flex-direction: column;
    padding: 0px;
    &.risk {
      flex-direction: row;
    }
  }
}

.svg-container {
  padding-bottom: 40px !important;
  .svg-content{
    left: 0px;
  }
}

.col {
  &.arm-commitment{
    padding-left: 15px !important;
  }

  &.return {
    padding: 0 0 0px 2px;
  }
}

.arm-info-with-icons {
  padding: 0;
  margin-top: 5px;
  > .col {
    padding: 0;
  }
  .arm-info {
    display: flex;
    font-style: italic;
    font-size: 11px;
  }
  .arm-icons {
    position: relative;
  }
}
