<div class="basic-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Prerequisite Documents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="row">
        <div class="col s12">

          <table class="bordered">
            <thead>
              <tr>
                <th class="title">Document</th>
                <th class="title">Obtained</th>

              </tr>
            </thead>

            <tbody *ngIf="loanPreReqConditions">

              <tr *ngFor="let condition of loanPreReqConditions">
                <td class="title">{{condition.Condition_Name}}</td>
                <td class="title"> <mat-checkbox class="example-margin" [(ngModel)]="condition.Suggestion_Only_Ind" value="1" (change)="onChange(condition)"></mat-checkbox></td>
              </tr>
            </tbody>
          </table>



        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Closing Documents
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container">
        <div class="row">
          <div class="col s12">

            <table class="bordered">
              <thead>
                <tr>
                  <th class="title">Document</th>
                  <th class="title">Obtained</th>

                </tr>
              </thead>

              <tbody *ngIf="loanClosingConditions">

                <tr *ngFor="let condition of loanClosingConditions">
                  <td class="title">{{condition.Condition_Name}}</td>
                  <td class="title"> <mat-checkbox class="example-margin" [(ngModel)]="condition.Suggestion_Only_Ind" value="1" (change)="onChange(condition)"></mat-checkbox></td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>

</div>
