table {
  width: unset;
}

td {
  padding: 5px;
  font-size: 12px;
}

th {
  padding: 5px;
  font-weight: 600;
}
tr th:not(:first-child) {
  min-width: 100px;
}
tr th:first-child {
  min-width: 80px;
}
tr th:nth-child(2) {
  width: 400px;
}
tr td:nth-child(2) {
  width: 400px;
}

.chevron:before {
  content: '▶ ';
  font-size: 16px;
  margin-left: 2px;
}

.doc-name {
  text-align: left;
  .ellipsis {
    display: block;
    max-width: 390px;
  }
}

