<mat-accordion *ngIf='conditionInv?.loanUnderWritingDocuments?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Underwriting Documents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Document ID</th>
                <th style="text-align: left;">Document Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.error-validation]='!undeWriting.Upload_Date_Time' *ngFor='let undeWriting of conditionInv.loanUnderWritingDocuments'>
                <td> {{undeWriting.Loan_Document_ID}} </td>
                <td [title]='undeWriting.Document_Name' class="doc-name">
                  <span class="ellipsis" [innerHTML]='undeWriting.Document_Name'></span>
                </td>
                <td > {{getStatus(undeWriting)}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<mat-accordion *ngIf='conditionInv?.loanPreReqDocuments?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
          ️Prerequisite Documents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Document ID</th>
                <th style="text-align: left;">Document Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.error-validation]='!pre.Upload_Date_Time' *ngFor='let pre of conditionInv.loanPreReqDocuments'>
                <td> {{pre.Loan_Document_ID}} </td>
                <td [title]='pre.Document_Name' class="doc-name">
                  <span class="ellipsis" [innerHTML]='pre.Document_Name'></span>
                </td>
                <td >{{getStatus(pre)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf='conditionInv?.loanClosingDocuments?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Closing Documents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Document ID</th>
                <th style="text-align: left;">Document Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.error-validation]='!closing.Upload_Date_Time' *ngFor='let closing of conditionInv.loanClosingDocuments'>
                <td> {{closing.Loan_Document_ID}} </td>
                <td [title]='closing.Document_Name' class="doc-name">
                  <span class="ellipsis" [innerHTML]='closing.Document_Name'></span>
                </td>
                <td >{{getStatus(closing)}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf='conditionInv?.cropMonitoringDocuments?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Crop Monitoring Documents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Document ID</th>
                <th style="text-align: left;">Document Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.error-validation]='!crop.Upload_Date_Time' *ngFor='let crop of conditionInv.cropMonitoringDocuments'>
                <td> {{crop.Loan_Document_ID}} </td>
                <td [title]='crop.Document_Name' class="doc-name">
                  <span class="ellipsis" [innerHTML]='crop.Document_Name'></span>
                </td>
                <td >{{getStatus(crop)}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
