<mat-form-field>
  <mat-select placeholder="{{ placeholder }}" (selectionChange)="onValueChanged($event.value)" [(ngModel)]="selected" [disabled]='disabled'>
    <mat-option *ngFor="let option of options" [value]="option">
      <span *ngIf="isTitleCaseEnabled">{{ option | titlecase}}</span>
      <span *ngIf="!isTitleCaseEnabled">{{ option }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
