<div class="container bottom width-auto">
  <app-borrower-info-form [borrowerInfo]="borrowerInfo" [hasSignerDetails]='localloanobj?.Borrower_Signers?.length'
    (onFormValueChange)="onFormValueChange($event)"></app-borrower-info-form>

  <table *ngIf="coborrowers.length > 0" style="width: 85.5%; margin-top: 20px; margin-left: 8px; margin-bottom: 20px;">
    <thead>
      <tr>
        <th style="width: 16.667%">Entity Type</th>
        <th style="width: 16.667%">First Name</th>
        <th style="width: 8.33%">Middle Initial</th>
        <th style="width: 16.667%">Last Name</th>
        <th style="width: 16.667%">SSN/Tax ID</th>
        <th style="width: 5%">Edit</th>
        <th style="width: 5%">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coborrower of coborrowers; let index = index">
        <td>{{getBorrowerTypeName(coborrower.Borrower_Entity_Type_Code)}}</td>
        <td>{{coborrower.Borrower_First_Name}}</td>
        <td>
          <span *ngIf="isIndividual(coborrower)">
            {{coborrower.Borrower_MI}}
          </span>
        </td>
        <td>
          <span *ngIf="isIndividual(coborrower)">
            {{coborrower.Borrower_Last_Name}}
          </span>
        </td>
        <td>{{coborrower.Borrower_SSN_Hash}}</td>
        <td>
          <span>
            <i (click)="onEditCoBorrower(coborrower,index)" class="material-icons grid-action"
              [attr.disabled]='!isLoanEditable()'>
              edit
            </i>
          </span>
        </td>
        <td>
          <span>
            <i (click)="onDeleteCoborrower(coborrower,index)" class="material-icons grid-action ag-grid-delete"
              [attr.disabled]='!isLoanEditable()'>
              delete
            </i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <a (click)="onAddCoBorrower()" class="waves-effect waves-light btn add-button"
    [ngClass]="{'disabled': !isLoanEditable() }">
    <i class="material-icons left">add</i>Add
  </a>
</div>
