  .bottom{
    padding-bottom: 10px
  }
  
  .width-auto{
      width: auto !important;
  }
  ::ng-deep #forceStyle .mat-input-wrapper {
    padding-bottom: 1.15em;
  }

 .row{
   margin-bottom: 0px;
 }

 td{
  padding: 5px;
  font-size: 12px;
}
th{
  padding: 5px;
  font-weight: 600;
}

.add-button{
  margin-left: 10px;
}