<div class="co-borrower-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

  <h2 mat-dialog-title>Add New Co Borrower</h2>
  <div mat-dialog-content>
      <app-borrower-info-form [borrowerInfo]="coBorrowerInfo" (onFormValueChange)="onFormValueChange($event)"></app-borrower-info-form>

  </div>

   <div class="alertModal modal-footer">
    <div class="mat-footer-inner">
      <!-- <button  class=" mat-raised-button alertifybtndone green modal-trigger" [disabled]="!isFormValid"  [mat-dialog-close]="coBorrowerInfo">
        Confirm
      </button>
      <button class=" alertifybtncancel btn-outline modal-close modal-cancel mat-raised-button" (click)="onNoClick()">
        Cancel
      </button> -->

      <a [class.disabled]="!isFormValid || !isEditable" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
      <a (click)="onNoClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
    </div>
   </div>

</div>
