@import './../../sass/theme/variables';

.pageContent {
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: $sidebar-minimal-view;
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
  background: $white-90;
  &.is-sidebar-expanded {
    margin-left: $sidebar-expanded-view;
  }
}

.profile_page_wrapper{
  .full-screen{
    .pageContent{
      width: 100%;
      margin-left: 0;
    }
  }
}

