<layout-sidebar *ngIf="showSideBar()"></layout-sidebar>
<div class="profile_page_wrapper">
  <div class="profile_page_content_wrapper has_sidebar" [ngClass]="{'full-screen': !showSideBar() }">
    <div class="pageContent" [ngClass]="{'is-sidebar-expanded': isSidebarExpanded}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
