<div class="basic-container members-container">

  <mat-accordion >
    <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          Committee
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom grid-container">
        <div class="row">
          <ag-grid-angular *ngIf="rowData.length !== 0"
          [ngStyle]="style"
          [hidden]=" rowData.length === 0 && !isAdding" class="ag-theme-balham roboto-font"
          [context]="context"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          [rowData]="rowData"
          [editType]="editType"
          (gridReady)="onGridReady($event)"
          [suppressPropertyNamesCheck]='true'
          (displayedColumnsChanged)="adjustToFitAgGrid()"
          [columnDefs]="columnDefs"
          [gridAutoHeight]=true
          [singleClickEdit]="true">
        </ag-grid-angular>
        <app-ag-grid-no-rows-available [hidden]="isAdding || (rowData.length !== 0)"></app-ag-grid-no-rows-available>
      </div>
      <div class="row p-0 m-0">
        <a (click)="addrow()" class="waves-effect waves-light btn" [ngClass]="{'disabled': !canAddNotifyParty }"><i class="material-icons left">add</i>Add</a>
        <a (click)="onSubmitClick()" [ngClass]="{'disabled': loanStatus != LoanStatus.Working || recommendButtonClicked }" class="submit-loan waves-effect waves-light btn">
          <i class="flaticon-forward-arrow inline"></i>
          <span class='text'>Recommend</span>
        </a>
      </div>
    </div>

    </mat-expansion-panel>
  </mat-accordion>

