.bottom {
  padding-bottom: 10px;
  padding-left: 34px;
}

.members-container {
  padding-bottom: 15px;

  mat-expansion-panel-header {
    overflow: visible;
    padding-left: 15px;
    .mat-content {
      margin-left: -5px;
    }

    .mat-expansion-panel-header-title:before {
      right: 0;
      margin-left: 22px;
    }
  }

  .material-icons.expansion-panel-icon {
    margin-right: 6.5px;
    width: 16px;
  }
}

.submit-loan {
  padding: 0px 20px;
  width: 90px;
  i {
    position: relative;
    left: -3px;
  }
  .text {
    position: relative;
    top: -4px;
    left: 3px;
  }
}
