<div [attr.id]='ID' class="calendar-input" [class.disabled]='disabled'>
  <div class="title">
    {{title}}
  </div>
  <ngb-datepicker #dp [(ngModel)]='value' (select)="valueChange($event)"></ngb-datepicker>
  <div class="control-btn">
    <button class="waves-effect waves-light btn" (click)='applyChanges()' [disabled]='disabled'>
      Apply
    </button>
  </div>
</div>
