app-calendar-input {
  ngb-datepicker {
    .ngb-dp-header {
      ngb-datepicker-navigation {
        ngb-datepicker-navigation-select {
          select.custom-select {
            display: inline-block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            line-height: 1.5;
            color: #495057;
            vertical-align: middle;
            background: #fff
              url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
              no-repeat right 0.75rem center;
            background-size: 8px 10px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25;
            height: inherit;
            display: inline-block;
            width: 36% !important;
            margin-right: 3px;

            &:last-child {
              margin-right: 0px;
            }
          }
        }

        .ngb-dp-arrow {
          .ngb-dp-navigation-chevron {
            color: #007bff;
          }

          .btn-link:hover {
            color: #0056b3;
            text-decoration: underline;
            background-color: transparent;
            border-color: transparent;
          }

          .btn:focus {
            background-color: transparent;
          }
        }
      }
    }

    .ngb-dp-weekday {
      color: #5bc0de !important;
    }

    .ngb-dp-weekdays {
      margin-bottom: 2px;
    }

    .ngb-dp-day {
      [ngbDatepickerDayView] {
        width: 26px !important;
        height: 26px !important;
      }
    }
  }

  .calendar-input {
    &.disabled {
      ngb-datepicker {
        pointer-events: none;

        ngb-datepicker-month-view {
          pointer-events: none;

          .ngb-dp-day {
            cursor: not-allowed;
          }
        }
      }
    }

    .title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #3f3a3ad6;
    }
  }

  .bg-light {
    background-color: #f8f9fa !important;
  }

  .btn-light {
    color: #212529;
  }

  .btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}

  .text-white {
    color: #fff !important;
  }

  .bg-primary {
    background-color: #007bff !important;
  }

  .d-block {
    display: block !important;
  }

  .control-btn {
    text-align: center;
    margin-top: 15px;
  }
}
