<svg class="app-item-details">
  <g [style.transform]="'translate(' + x + 'px,' + y + 'px)'">
    <ng-container *ngFor="let detail of details; let i = index">
      <text [attr.y]="i * 20" class="disabled dec-letter-spacing" [class.error]='hasError(i)'>
        {{ detail }}
      </text>
    </ng-container>
  </g>
</svg>
