table {
  width: auto !important;
}
tfoot {
  background: lightgreen;
}
td {
  padding: 5px;
  font-size: 12px;
}

th {
  padding: 5px;
  font-weight: 600;
}
.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}
.font-weight-600 {
  font-weight: 600;
}
tr td:not(:first-child) {
  text-align: right;
  min-width: 80px;
}
tr td:first-child {
  text-align: left;
  min-width: 105px;
}
tr th:not(:first-child) {
  text-align: right;
}
tr th:first-child {
  text-align: left;
}

.percent:after {
  content: '%';
}

.text-left {
  text-align: left !important;
}
