<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Insurance
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="cropInsurances" class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Category</th>
                <th class="text-left">Crop</th>
                <th *ngIf="showCropDetail && columnsDisplaySettings.cropType" class="text-left">Crop Type</th>
                <th *ngIf="showCropDetail" class="text-left"> Irr Prac</th>
                <th *ngIf="showCropDetail && columnsDisplaySettings.cropPrac" class="text-left">Crop Prac</th>
                <th *ngIf="showCropDetail" class="text-left">Plan</th>
                <th *ngIf="showCropDetail" class="text-left">Plan Type</th>
                <th>Acres</th>
                <th>APH</th>
                <th>Price</th>
                <th>Ins Share </th>
                <th>Ins Value</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let crpIns of cropInsurances">
                <tr *ngIf="showCropDetail ? crpIns.isPractieRecord : !crpIns.isPractieRecord">
                  <td>{{crpIns.InsCategory}}</td>
                  <td class="text-left">{{crpIns.CropName}}</td>
                  <td *ngIf="showCropDetail && columnsDisplaySettings.cropType" class="text-left">{{crpIns.CropType}}
                  </td>
                  <td *ngIf="showCropDetail" class="text-left">{{crpIns.Practice}}</td>
                  <td *ngIf="showCropDetail && columnsDisplaySettings.cropPrac" class="text-left">{{crpIns.CropPrac}}
                  </td>
                  <td *ngIf="showCropDetail" class="text-left">{{crpIns.InsPlan}}</td>
                  <td *ngIf="showCropDetail" class="text-left">{{crpIns.InsType}}</td>
                  <td>{{crpIns.Acres | number : '1.1-1'}}</td>
                  <td>{{crpIns.APH | number : '1.0-0'}}</td>
                  <td>{{crpIns.Price | usdPrice }}</td>
                  <td class="percent">{{crpIns.InsSharePer | number : '1.1-1'}}</td>
                  <td>$ {{crpIns.InsValue | number:'1.0-0'}}</td>
                </tr>

              </ng-container>
              <tr *ngFor="let nonCrpIns of nonCropInsurances">
                <td>{{nonCrpIns.InsCategory}}</td>
                <td class="text-left">{{nonCrpIns.CropName}}</td>
                <td *ngIf="showCropDetail && columnsDisplaySettings.cropType" class="text-left">{{nonCrpIns.CropType}}
                </td>
                <td *ngIf="showCropDetail" class="text-left">{{nonCrpIns.Practice}}</td>
                <td *ngIf="showCropDetail && columnsDisplaySettings.cropPrac" class="text-left">{{nonCrpIns.CropPrac}}
                </td>
                <td *ngIf="showCropDetail" class="text-left">{{nonCrpIns.InsPlan}}</td>
                <td *ngIf="showCropDetail" class="text-left">{{nonCrpIns.InsType}}</td>
                <td>{{nonCrpIns.Acres | number : '1.1-1'}}</td>
                <td></td>
                <td></td>
                <td class="percent">{{nonCrpIns.InsSharePer | number : '1.1-1'}}</td>
                <td>$ {{nonCrpIns.InsValue | number:'1.0-0'}}</td>
              </tr>
              <tr class="background-highlight">
                <td>Total</td>
                <td></td>
                <td *ngIf="showCropDetail && columnsDisplaySettings.cropType"></td>
                <td *ngIf="showCropDetail"></td>
                <td *ngIf="showCropDetail && columnsDisplaySettings.cropPrac"></td>
                <td *ngIf="showCropDetail"></td>
                <td *ngIf="showCropDetail"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> $ {{totalInsValue  | number:'1.0-0'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
