table{
    width: unset;

}
tfoot{
    background: lightgreen
}

tr td:not(:first-child) {
    text-align: right;
}
tr td:first-child {
    text-align: left;
}
td{
    padding: 5px;
    font-size: 12px;
}
th{
    padding: 5px;
    font-weight: 600;
    &.fin-rating {
      color: #2cbb9c;
    }
}
tr th {
    min-width: 80px;
}
tr th:not(:first-child) {
    text-align: right;
}
tr th:first-child {
    text-align: left;
    min-width: 105px;
}
tr th:last-child{
    min-width: 135px;
}
tr th:nth-child(5){
    min-width: 105px;
}
.background-highlight{
    background-color: #b4cfed;
    font-weight: 600;
}
