  <mat-accordion>
    <mat-expansion-panel class="custom-mep" [expanded]="expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Financials
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="allDataFetched" class="container" [attr.id]="ID">
        <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Assets</th>
                  <th>Debt</th>
                  <th>Equity</th>
                  <th>Ratios</th>
                  <th>FICO</th>
                  <th class="fin-rating">
                    <span class="arm-only">{{ showARMDetails ? 'Rating' : ''}}</span>
                  </th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let row of rowData, let rowIndex=index" [ngClass]="rowIndex == rowData.length-1 ? 'background-highlight':''">
                  <td class="title">{{row.Financials}}</td>
                  <td>{{row.Assets | currency : 'USD': 'symbol': '1.0-0'}}</td>
                  <td>{{row.Debt  | currency : 'USD': 'symbol': '1.0-0' }}</td>
                  <td>{{row.Equity  | currency : 'USD': 'symbol': '1.0-0'}}</td>
                  <td>{{row.Ratios}}</td>
                  <td>{{row.FICO}}</td>
                  <td>
                    <app-rating-stars class="arm-only" *ngIf="rowIndex ==0 && row.Rating && showARMDetails" [rating]="row.Rating" [inGreenColor]="false"></app-rating-stars>
                    <span *ngIf="rowIndex !=0" style="font-style : italic"> {{row.Rating}}</span>
                  </td>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
