<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container disburse-container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='!adddisabled'>
        <mat-panel-title>
          Disburse
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom under-chev-ag-grid" id='disburse_table'>
          <div style="margin-bottom: 10px;    font-style: italic;">
             {{uploadtext}}
          </div>
          <div class="row" [hidden]="(rowData.length === 0 && !isAdding) || adddisabled">
          <ag-grid-angular
          id="myGrid"
          [ngStyle]="style"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [defaultColDef]="defaultColDef"
          [singleClickEdit]="true"
          suppressColumnVirtualisation=true
          [suppressPropertyNamesCheck]='true'
          [suppressHorizontalScroll]='true'
          [frameworkComponents]="frameworkcomponents"
          [stopEditingWhenGridLosesFocus]="'true'"
          [context]="context"
          [pagination]="false"
          [components]="components"
          [getRowHeight]="getRowHeight"
          (cellEditingStopped)="rowvaluechanged($event)"
          [rowData]="rowData"
          [headerHeight]="0"
          [gridOptions]='gridOptions'
          (gridReady)="onGridReady($event)"
          (displayedColumnsChanged)="adjustToFitAgGrid()"
          [columnDefs]="columnDefs" >
        </ag-grid-angular>
      </div>
      <!-- <app-ag-grid-no-rows-available [hidden]="isAdding || rowData.length !== 0"></app-ag-grid-no-rows-available>-->
      <button (click)="adddisbursement()" [hidden]="adddisabled"  class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</button>
      <!-- <a (click)="submitdisbursement()" class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>Submit</a>  -->

      </div>

      <br>
    </mat-expansion-panel>
  </mat-accordion>
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>



</div>
