.disburse-container {
  .headerclass {
    background-color: #23c8ab;
    color: white !important;
    font-weight: 500;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }

  .ag-theme-balham .ag-header {
    border-bottom: 0px;
  }

  .ag-theme-balham .ag-root {
    border: 0px;
  }

  .totalclass {
    background: #66afc9 !important;
    color: white !important;
    font-weight: bold;
  }

  .statusbar {
    background-color: transparent !important;
    border-width: 0px !important;
    font-weight: 500;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }

  .budgetcell {
    background-color: #8db4e2 !important;
    border-width: 0px !important;
    font-weight: 500;
    color: white !important;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    padding-top: 9px;
  }

  .approvedisburse {
    background-color: #23c8ab !important;
    border-width: 0px !important;
    font-weight: 500;
    color: white !important;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .pendingdisburse {
    background-color: #23c8ab !important;
    border-width: 0px !important;
    font-weight: 500;
    color: white !important;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
    font: 600 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  child-cell {
    [class^='flaticon-']:before,
    [class*=' flaticon-']:before,
    [class^='flaticon-']:after,
    [class*=' flaticon-']:after {
      font-family: Flaticon;
      font-size: 13px !important;
      font-style: normal;
      display: block;
      margin-right: 7px !important;
    }
  }

  body .mat-dialog-container {
    width: 800px !important;
  }
  .pencil-orange {
    font-size: 19px !important;
    color: orange;
  }

  .pencil-red {
    font-size: 19px !important;
    color: red;
  }

  .pencil-blue {
    font-size: 19px !important;
    color: #164c7b ;
  }
}

.mat-tooltip {
  background: rgba(230, 230, 230, 0.9);
  border-style: solid;
  border-width: 1px;
  border-color: #cac4c4;
  color: black !important;
}
.mat-dialog-container{
  width: 800px !important
}
