table {
  width: 97%;
}
tfoot {
  background: lightgreen;
}
input {
  width: 100px;
}

.additional-collateral {
  &__header {
    color: #164c7b;
    font-size: 14px;
    text-transform: uppercase;
    // padding-bottom: 20px;

    mat-icon {
      font-size: 20px !important;
      vertical-align: middle;
      margin-right: 5px;
    }

    &--label {
      display: inline-block;
    }

    button {
      background: none;
      border: none;
      float: right;
      position: absolute;
      right: 25px;
      top: 22px;
      color: #fff;

      span {
        font-size: 30px;
      }
    }
  }

  app-ag-grid-no-rows-available {
    font-weight: 500;
  }

  .btn {
    margin: 15px 0;
    &.fsa-btn {
      width: 75px;
    }
  }

  button.mat-raised-button:disabled {
    background-color: #dedede !important;
  }

  .modal-footer {
    padding: 15px 0px;
    background-color: #fff;
    height: auto;
    display: flex;
    justify-content: space-between;

    div {
      a {
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        &.red {
          background: #d44950 !important;
        }
      }
    }
  }
}
