<div class="additional-collateral" *ngIf='localloanobject'>
  <div class="additional-collateral__header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h2 mat-dialog-title><mat-icon>settings</mat-icon> {{title}}</h2>
  </div>
  <div class="modal-body">
    <div [id]='tableId'>
      <div class="row">
        <ag-grid-angular [hidden]="rowData.length === 0"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [rowClassRules]="rowClassRules"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [context]="context"
          (gridSizeChanged)="onGridSizeChanged($event)"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          [getRowStyle]="getRowStyle"
          [singleClickEdit]="true"
          suppressColumnVirtualisation=true
          [stopEditingWhenGridLosesFocus]="'true'"
          (cellValueChanged) = "cellValueChanged($event)"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (displayedColumnsChanged)="displayColumnsChanged($event)"
          [gridOptions]="gridOptions"
          [suppressPropertyNamesCheck]='true'
          [gridAutoHeight]=true>
        </ag-grid-angular>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div>
      <a [class.disabled]="!isLoanEditable" (click)="addrow()" class="waves-effect fsa-btn waves-light btn"><i class="material-icons left">add</i>Add</a>
    </div>
    <div>
      <a [class.disabled]="!isLoanEditable || !syncRequired" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
      <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
    </div>
  </div>
</div>
