:host {
  width: 100%;
  height: auto;
}
.right {
  font-size: 9px;
}

.ng-arrow-wrapper,
.ng-clear-wrapper {
  display: none;
}

.dropdown-panel {
  width: 200px important;
}
td, th {
  padding: 0px !important;
}
.card{
  position: relative;
  margin: 0px !important;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}
