<ng-select
    #ngSelect
    [items]="landownerlist"
    bindLabel="value"
    bindValue="Code"
    [addTag]="false"
    [multiple]="false"
    [closeOnSelect]="true"
    (change)="itemChange($event)"
    [markFirst]="false"
    [(ngModel)]="selectedlandowner"
    (clickOutside)="onClickedOutside()">
    <ng-template ng-header-tmp>
        <table style='table-layout: fixed;'>
            <tr  style=' background: #23C8AB;width:100%;
            color: white;'> 
                <th style='width:20%'>Landowner</th>
                <th style='width:20%'>State</th>
                <th style='width:20%'>County</th>
                <th style='width:10%'>FSN</th>
                <th style='width:15%'>Section</th>
                <th style='width:15%'>Rated</th>
            </tr>
            </table>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      
                <table style="table-layout: fixed">
                    <tr style='width:100%'>
                        <td style='width:20%'>{{item.Landowner}}</td>
                        <td style='width:20%'>{{item.farmStateName}}</td>
                        <td style='width:20%'>{{item.farmcountyname}}</td>
                        <td style='width:10%'>{{item.FSN}}</td>
                        <td style='width:15%'>{{item.section}}</td>
                        <td style='width:15%'>{{item.rated}}</td>
                    </tr>
                </table>
         
    </ng-template>
</ng-select>
