<div class="borrower-signer-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialog-header">
      <h2 mat-dialog-title>
        Borrower Detail
      </h2>
  </div>


  <div class="container bottom association-grid" [id]="tableId">
    <div class="row">
      <ag-grid-angular
        [ngStyle]="style"
        [hidden]="rowData.length === 0"
        class="ag-theme-balham roboto-font"
        [context]="context"
        [toolPanelSuppressRowGroups]="true"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressPivotMode]="true"
        [enableFilter]="true"
        [enableSorting]="true"
        [frameworkComponents]="frameworkcomponents"
        [components]="components"
        (cellValueChanged)="rowvaluechanged($event)"
        [rowData]="rowData"
        [editType]="editType"
        (gridReady)="onGridReady($event)"
        (displayedColumnsChanged)="adjustToFitAgGrid()"
        [suppressHorizontalScroll]="true"
        [columnDefs]="columnDefs"
        [suppressPropertyNamesCheck]='true'
        [suppressHorizontalScroll]='false'
        [gridOptions]="gridOptions"
        [gridAutoHeight]="true"
        [singleClickEdit]="true"
        [stopEditingWhenGridLosesFocus]="'true'">
      </ag-grid-angular>
      <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
    </div>
  </div>

  <div class="borrower-signer-footer">
    <div>
      <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
    </div>
    <div class="pull-right">
      <!-- <button (click)="onOkClick()"  class="mat-raised-button alertifybtndone green modal-trigger" [ngClass]="{'disabled': !isLoanEditable() }">Confirm</button>
      <button (click)="onCancelClick()" class="alertifybtncancel mat-raised-button modal-close modal-cancel" [ngClass]="{'disabled': !isLoanEditable() }">Cancel</button> -->

      <a [class.disabled]="!isLoanEditable()" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
      <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
    </div>
  </div>
</div>
