app-borrower-signer {
  .bottom {
    padding: 0 0 20px 0px;
    .row {
      margin-bottom: 20px;
      max-height: 500px;
      overflow: auto;
    }
  }

  .waves-light {
    &.btn {
      width: 85px;
    }
  }

  button {
    &.green {
      width: 85px;
      &.alertifybtndone {
        line-height: 31px !important;
        height: 30px !important;
      }
    }

    &.alertifybtncancel {
      width: 85px;
      line-height: 31px !important;
      height: 30px !important;
      border: none !important;
    }

    &.disabled {
      pointer-events: none;
      background-color: #dfdfdf !important;
      box-shadow: none;
      color: #9f9f9f !important;
      cursor: default;
    }
  }

  .mat-raised-button {
    box-shadow: none;
    border-radius: 50px;
  }

  .pull-right {
    float: right;
  }

  .mat-dialog-actions {
    position: initial;
  }

  .dialog-header {
    button {
      float: right;
      font-size: 20px;
      position: relative;
      top: -5px;
    }
  }

  .borrower-signer-footer {
    display: flex;
    justify-content: space-between;
  }
}
