@import './../../../../sass/theme/variables';

.app-schematic-areas {
  .bg-white {
    fill: $white;
  }

  .bg-light-white {
    fill: $light-white;
  }

  .header {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #f2f2f2;
    stroke: #a6a6a6;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .bg-light-green-blue {
    fill: rgb(208, 251, 254);
    stroke: #8080804a;
    stroke-width: 2px;
  }
}
