<svg class="app-schematic-areas">
  <rect x="10" y="10" width="590" height="200" class="bg-white">
  </rect>
  <svg:g app-area-title [marginLeft]="30" [x]="190" [y]="10" [icon]="'#shuffle'" [text]="'CROSS COLLATERAL'"></svg:g>
  <!-- Doc Management -->
  <rect x="610" y="10" width="980" height="200" class="bg-white"></rect>
  <svg:g app-area-title [marginLeft]="30" [x]="950" [y]="10" [icon]="'#attachment'" [text]="'DOC MANAGEMENT'"></svg:g>

  <!-- Working Loan -->
  <rect x="10" y="220" width="1330" height="430" class="bg-white"></rect>
  <svg:g app-area-title [marginLeft]="40" [x]="190" [y]="220" [icon]="'#spanner'" [text]="'WORKING LOAN'"></svg:g>

  <!-- Loan Management -->
  <rect x="1350" y="220" width="240" height="430" class="bg-white"></rect>
  <svg:g app-area-title [marginLeft]="25" [x]="1350" [y]="220" [icon]="'#tools'" [text]="'LOAN MANAGEMENT'"></svg:g>

  <rect x="10" y="660" width="1580" height="200" class="bg-white"></rect>
  <svg:g app-area-title [marginLeft]="55" [x]="700" [y]="660" [icon]="'#rounded-add-button'" [text]="'RESOURCES'"></svg:g>

  <rect class="bg-light-green-blue" rx="15" ry="15" [attr.height]="height" width="600" x="670" y="530"></rect>
</svg>
