<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Projected Income
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="ccAcresReport.crops" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th></th>
                              <th class="ellipsis" *ngFor="let borrower of ccAcresReport.heading.loanBorrower" [title]='borrower'>{{borrower}}</th>
                              <th>{{ccAcresReport.heading.totalHeading}}</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                      <tbody>
                          <tr class="font-weight-600">
                            <td [attr.colspan]="ccAcresReport.heading.loanBorrower?.length + 2">
                              Acres
                            </td>
                            <td>{{ccAcresReport.heading.percentHeading}}</td>
                          </tr>
                          <ng-container *ngFor="let crop of ccAcresReport.crops">
                              <tr *ngIf="crop.isPracticeRow ? reportSettings.isCropDetailEnabled : !reportSettings.isCropDetailEnabled">
                                  <td>
                                      <span >{{crop.name}}</span>
                                      <span *ngIf='columnsDisplaySettings.cropType && reportSettings.isCropDetailEnabled'> | {{crop.cropType}}</span>
                                      <span *ngIf='crop.practiceType && reportSettings.isCropDetailEnabled'> | {{crop.practiceType}}</span>
                                      <span *ngIf='columnsDisplaySettings.cropPrac && reportSettings.isCropDetailEnabled'> | {{crop.cropPracticeType}}</span>
                                  </td>
                                  <td *ngFor="let acre of crop.values">{{acre | number:'1.1-1'}}</td>
                                  <td>{{crop.totalValue | number:'1.1-1'}}</td>
                                  <td class="percent">{{crop.perValue | number:'1.1-1'}}</td>

                              </tr>
                          </ng-container>
                          <tr class="background-highlight">
                              <td>Total Acres</td>
                              <td *ngFor="let acre of ccAcresReport.totalRow.values">{{ acre| number:'1.1-1'}}</td>
                              <td>{{ccAcresReport.totalRow.totalValue | number:'1.1-1'}}</td>
                              <td class="percent">{{ccAcresReport.totalRow.perValue  | number:'1.1-1'}}</td>
                          </tr>
                          <tr>
                            <td [attr.colspan]="ccAcresReport.heading.loanBorrower?.length + 3">&nbsp;</td>
                          </tr>
                          <tr class="font-weight-600">
                            <td [attr.colspan]="ccAcresReport.heading.loanBorrower?.length + 2">
                              Revenue
                            </td>
                            <td>{{prReport.heading.percentHeading}}</td>
                          </tr>
                          <ng-container *ngFor="let crop of prReport.crops">
                              <tr *ngIf="crop.isPracticeRow ? reportSettings.isCropDetailEnabled : !reportSettings.isCropDetailEnabled">
                                  <td>
                                      <span>{{crop.name}}</span>
                                      <span *ngIf='columnsDisplaySettings.cropType && reportSettings.isCropDetailEnabled'> | {{crop.cropType}}</span>
                                      <span *ngIf='crop.practiceType && reportSettings.isCropDetailEnabled'> | {{crop.practiceType}}</span>
                                      <span *ngIf='columnsDisplaySettings.cropPrac && reportSettings.isCropDetailEnabled'> | {{crop.cropPracticeType}}</span>
                                  </td>
                                  <td *ngFor="let revenue of crop.values">$ {{revenue |number: '1.0-0'}}</td>

                                  <td>$ {{crop.totalValue  |number: '1.0-0'}}</td>
                                  <td class="percent">{{crop.perValue | number:'1.1-1'}}</td>
                              </tr>
                          </ng-container>
                          <tr class="secondary-background-highlight">
                              <td>
                                  <b>Total Crop Revenue</b>
                              </td>
                              <td *ngFor="let revenue of prReport.cropRevenue.values"> $ {{revenue  | number:'1.0-0'}}</td>
                              <td> $ {{prReport.cropRevenue.totalValue  | number:'1.0-0'}}</td>
                              <td class="percent"> {{prReport.cropRevenue.perValue | number : '1.1-1'}} </td>
                          </tr>
                          <tr class="font-weight-600">
                              <td [attr.colspan]="ccAcresReport.heading.loanBorrower?.length + 3">
                                  <b>Additional Revenue</b>
                              </td>
                          </tr>
                          <ng-container *ngFor="let row of prReport.other_incomes">
                            <tr *ngIf='row.totalValue > 0'>
                                <td>{{row.name}}</td>
                                <td *ngFor="let value of row.values"> $ {{value  | number:'1.0-0'}}</td>

                                <td> $ {{row.totalValue  | number:'1.0-0'}}</td>
                                <td class="percent"> {{row.perValue  | number:'1.1-1'}}</td>
                            </tr>
                          </ng-container>
                          <ng-container *ngFor="let row of prReport.totalRows">
                              <tr *ngIf='row.totalValue != 0 || row.totalRow' [class.background-highlight]="row.shouldHighlight" [class.secondary-background-highlight]="row.shouldHighlightSecondary" [class.font-weight-600]="row.bolderFont">
                                  <td>{{row.name}}</td>
                                  <td *ngFor="let value of row.values"> $ {{value  | number:'1.0-0'}}</td>

                                  <td> $ {{row.totalValue  | number:'1.0-0'}}</td>
                                  <td class="percent"> {{row.perValue  | number:'1.1-1'}}</td>
                              </tr>
                          </ng-container>
                          <tr class="font-weight-600">
                              <td>
                                  <b>Breakeven</b>
                              </td>
                              <td class="percent" *ngFor="let value of prReport.breakEven"> {{value  | number:'1.1-1'}}</td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>
