	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/03/2019 17:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-online-shopping-cart:before { content: "\f100"; }
.flaticon-to-do-list:before { content: "\f101"; }
.flaticon-heartbeat:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-danger:before { content: "\f104"; }
.flaticon-key:before { content: "\f105"; }
.flaticon-checklist:before { content: "\f106"; }
.flaticon-send:before { content: "\f107"; }
.flaticon-plus:before { content: "\f108"; }
.flaticon-notes:before { content: "\f109"; }
.flaticon-books-stack-of-three:before { content: "\f10a"; }
.flaticon-like:before { content: "\f10b"; }
.flaticon-wedding-planning:before { content: "\f10c"; }
.flaticon-shopping-cart:before { content: "\f10d"; }
.flaticon-chat:before { content: "\f10e"; }
.flaticon-sun:before { content: "\f10f"; }
.flaticon-mail:before { content: "\f110"; }
.flaticon-watering-can:before { content: "\f111"; }
.flaticon-gauge:before { content: "\f112"; }
.flaticon-plant:before { content: "\f113"; }
.flaticon-gear:before { content: "\f114"; }
.flaticon-umbrella:before { content: "\f115"; }
.flaticon-calculator:before { content: "\f116"; }
.flaticon-link:before { content: "\f117"; }
.flaticon-avatar:before { content: "\f118"; }
.flaticon-attachment:before { content: "\f119"; }
.flaticon-paper-clip:before { content: "\f11a"; }
.flaticon-man-user:before { content: "\f11b"; }
.flaticon-warning-sign:before { content: "\f11c"; }
.flaticon-text-file:before { content: "\f11d"; }
.flaticon-corn:before { content: "\f11e"; }
.flaticon-corn-1:before { content: "\f11f"; }
.flaticon-help-round-button:before { content: "\f120"; }
.flaticon-light-bulb:before { content: "\f121"; }
.flaticon-map:before { content: "\f122"; }
.flaticon-error-triangle:before { content: "\f123"; }
.flaticon-star:before { content: "\f124"; }
.flaticon-alarm-clock:before { content: "\f125"; }
.flaticon-soybeans-in-pod:before { content: "\f126"; }
.flaticon-wheat-grain-close-up:before { content: "\f127"; }
.flaticon-cotton:before { content: "\f128"; }
.flaticon-tick:before { content: "\f129"; }
.flaticon-gluten:before { content: "\f12a"; }
.flaticon-letter-with-stamp:before { content: "\f12b"; }
.flaticon-rounded-add-button:before { content: "\f12c"; }
.flaticon-spanner:before { content: "\f12d"; }
.flaticon-shuffle:before { content: "\f12e"; }
.flaticon-cloud-storage-uploading-option:before { content: "\f12f"; }
.flaticon-group-1:before { content: "\f130"; }
.flaticon-invisible-symbol:before { content: "\f131"; }
.flaticon-notepad:before { content: "\f132"; }
.flaticon-stopwatch:before { content: "\f133"; }
.flaticon-old-typical-phone:before { content: "\f134"; }
.flaticon-alarm:before { content: "\f135"; }
.flaticon-export:before { content: "\f136"; }
.flaticon-forward-arrow:before { content: "\f137"; }
.flaticon-multiple-users-silhouette:before { content: "\f138"; }
.flaticon-menu:before { content: "\f139"; }
.flaticon-music-control-settings-button:before { content: "\f13a"; }
.flaticon-right-arrow:before { content: "\f13b"; }
.flaticon-back:before { content: "\f13c"; }
.flaticon-shuffle-1:before { content: "\f13d"; }
.flaticon-star-1:before { content: "\f13e"; }
.flaticon-user:before { content: "\f13f"; }
.flaticon-collaboration:before { content: "\f140"; }
.flaticon-weight-balance:before { content: "\f141"; }
.flaticon-tractor:before { content: "\f142"; }
.flaticon-man-walking-directions-button:before { content: "\f143"; }
.flaticon-dislike-thumb:before { content: "\f144"; }
.flaticon-cancel:before { content: "\f145"; }
.flaticon-exclamation:before { content: "\f146"; }
.flaticon-forbidden-sign-icon:before { content: "\f147"; }
.flaticon-warning:before { content: "\f148"; }
.flaticon-thumbs-up-hand-symbol:before { content: "\f149"; }
.flaticon-thumbs-down-silhouette:before { content: "\f14a"; }
.flaticon-dollar-bills:before { content: "\f14b"; }
.flaticon-refresh-page-option:before { content: "\f14c"; }
.flaticon-group-2:before { content: "\f14d"; }
.flaticon-handshake:before { content: "\f14e"; }