table {
  width: unset;
}
th {
  min-width: 80px;
}
tr th:first-child {
  min-width: 90px;
}

td:not(.title) {
  text-align: right;
}
td.title {
  text-align: left;
}

th:not(.title) {
  text-align: right;
}
th.title {
  text-align: left;
}

td {
  padding: 5px;
  font-size: 12px;
}
th {
  padding: 5px;
  font-weight: 600;
}

.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}

.percent:after {
  content: '%';
}

.subtitle {
  font-weight: 600;
  color: #000;
}
.faded {
  color: lightgray;
}

.ellipsis {
  &.expense-name {
    max-width: 110px;
  }
}
