<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        LOAN BALANCES SUMMARY
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="budgetCommitment" class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <div class="subtitle"  style="padding-left: 1px">
              {{headerText}}
          </div>
          <br>
          <div class="subtitle"  style="padding-left: 1px">
            {{headersubText}}
        </div>
          <br>
          <div class="subtitle"  style="padding-left: 1px">
            Budget Availability
           </div>
          <table class="bordered">
            <thead>
              <tr>
                <th style="text-align: left;width:120px">Expense</th>
                <th style="width:90px">ARM Commit</th>
                <th style="width:90px">Used</th>
                <th style="width:90px" class="faded">Used %</th>
                <th style="width:90px">Available</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let budget of budgetCommitment.budgetCommitments">
                <td style="text-align:left" class="expense-name ellipsis" [title]='budget.expense'>{{budget.expense}}</td>
                <td>$ {{budget.commit | number:'1.0-0'}}</td>
                <td>$ {{budget.used | number:'1.0-0' }}</td>
                <td class="percent faded">{{budget.usedPer | number:'1.1-1' }}</td>
                <td>$ {{budget.available | number:'1.0-0'}}</td>
              </tr>

              <tr class="background-highlight">
                  <td></td>
                  <td>$ {{budgetCommitment.total.commit | number:'1.0-0'}}</td>
                  <td>$ {{budgetCommitment.total.used | number:'1.0-0' }}</td>
                  <td></td>
                  <td>$ {{budgetCommitment.total.available | number:'1.0-0'}}</td>
                </tr>
            </tbody>
          </table>
          <br>

        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
