<ng-container>
  <div>
    <h3 class="dashboard-gear--header">List Versions</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Include Inactive</h4>
      <mat-slide-toggle class="v-middle" (change)='onIncludeInactiveChanged($event)' [(ngModel)]="listSettings.isIncludeInactiveEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Include My Direct Reports</h4>
      <mat-slide-toggle class="v-middle" (change)='toggleIsIncludeMyReportsEnabledChange($event)' [(ngModel)]="listSettings.isIncludeMyReportsEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Include All Versions</h4>
      <mat-slide-toggle class="v-middle" (change)='onIncludeAllLoanVersionChange($event)' [(ngModel)]="listSettings.isLatestLoanVersionEnabled"></mat-slide-toggle>
    </div>

    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Portfolio View</h4>
      <mat-slide-toggle class="v-middle" (change)='togglePortfolioAnalysisSettingsChange($event)' [(ngModel)]="loanListSettings.portfolioAnalysisSettings.isDetailRecordsEnabled"></mat-slide-toggle>
    </div>
  </div>
</ng-container>
