<app-charts-visualization #chart [ngClass]='chart.getViewClass()'></app-charts-visualization>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Summary
    </ng-template>
    <ng-template matTabContent>
      <div class="container">
        <div class="row" style="margin-top: 20px">
          <div class="col">
            <input type="button" class="btn btn-primary" id='summarypdfcapture' value="Capture As Pdf" (click)="captureSummary()" (focus)= "BlurCapture()"/>
          </div>
        </div>
      </div>
      <div id="contentSummary">
        <app-summary-report></app-summary-report>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="loanGroups.length && hasCrossCollatarizedLoan()">
    <ng-template mat-tab-label>
      Cross Collateral
    </ng-template>
   <ng-template matTabContent>
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <input type="button" class="btn btn-primary" value="Capture As Pdf" (click)="captureCrossCollateral()"  (focus)= "BlurCapture1()"/>
        </div>
      </div>
    </div>

    <div id="contentcrosscollateral">
      <app-cross-collateral-report></app-cross-collateral-report>
    </div>
   </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Borrower Summary
    </ng-template>
   <ng-template matTabContent>
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col">
          <input type="button" class="btn btn-primary" value="Capture As Pdf" (click)="captureBorrowerSummary()" />
        </div>
      </div>
    </div>

    <div id="contentBorrowerSummary">
      <app-borrower-summary-report></app-borrower-summary-report>
    </div>
   </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Loan Inventory
    </ng-template>
    <ng-template matTabContent>
      <div class="container">
        <div class="row" style="margin-top: 20px">
          <div class="col">
            <input type="button" class="btn btn-primary" value="Capture As Pdf" (click)="captureLoanInventory()" />
          </div>
        </div>
      </div>

      <div id="contentLoanInventorySummary">
        <app-loan-inventory-report></app-loan-inventory-report>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Balances
    </ng-template>
    <ng-template matTabContent>
      <div class="container">
        <div class="row" style="margin-top: 20px">
          <div class="col">
            <input type="button" class="btn btn-primary" value="Capture As Pdf" (click)="captureBalances()" />
          </div>
        </div>
      </div>

      <div id="contentBalancesSummary">
        <app-balances-report></app-balances-report>
      </div>
    </ng-template>
  </mat-tab>
