<button (click)="onNoClick()" mat-icon-button style="float:right;margin-top: -22px;">
  <mat-icon aria-label="Close">close</mat-icon>
</button>
<br>
<h1 mat-dialog-title>Request History</h1>
<div mat-dialog-content>
  <div>
    <div class="row">
      <div class="col s12">
        <table class="bordered">
          <thead>
            <tr>
              <th>Date & Time</th>
              <th>User</th>
              <th>Role</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>

          <tbody>
            
            <tr *ngFor="let row of rowdata, let rowIndex=index" [ngClass]="rowIndex == rowdata.length-1 ? 'background-highlight':''">
              <td>{{row.Date_Time}}</td>
              <td>{{row.User_Name}}</td>
              <td>{{row.Position}}</td>
              <td>{{row.Status_Ind}}</td>
              <td>{{row.Comments}}</td>
             
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>

  