<div>
  <div class="dashboard-gear__item">
    <h4 class="dashboard-gear__item--label">Questions</h4>
    <mat-slide-toggle [checked]="questionSlider" (change)="onToggleUpdated($event)" class="v-middle"></mat-slide-toggle>
  </div>
</div>
