<div class="copy-loan-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.title}}</h2>

  <div class="clear-both"></div>
  <div [formGroup]="editParamsForms">

    <div class="row">
      <mat-form-field class="input-field col m5">
        <input matInput type="number" placeholder="Crop Year" formControlName="Crop_Year">
        <mat-error>
          Year should be between {{crop_year_start}} and {{crop_year_end}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="row">
      <mat-form-field class="input-field col m2">
        <input matInput placeholder="Region" formControlName="Region_ID">
      </mat-form-field>
    </div> -->

    <div class="row">
      <mat-form-field class="input-field col m5">
        <mat-select placeholder="Office" formControlName="Office_ID" (selectionChange)="assignRegionByOfficeID()">
          <mat-option *ngFor="let ol of officeList" [value]="ol.Office_ID">{{ ol.Office_Name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="input-field col m5">
        <mat-select placeholder="Loan Officer" formControlName="Loan_Officer_ID">
          <mat-option *ngFor="let loanOfficer of loanOfficerList" [value]="loanOfficer.UserID">{{ loanOfficer.LastName }} {{ loanOfficer.LastName ? ', ': '' }} {{ loanOfficer.FirstName }} {{ loanOfficer.MI }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="pull-right">
    <a [class.disabled]="isFarmInvalid" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
    <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
  </div>
</div>
