@import './../../../../sass/theme/variables';

.title {
  margin-top: 15px;
}

.header {
  color: $primary-color;
}

.mw-400 {
  max-width: 400px;
}

.row {
  margin: 0;
}

.m-t-12 {
  margin-top: 12px;
}


.mw-600 {
  max-width: 600px;
}
