<div class="row p-l-15 mw-400">
  <div class="col s12">
    <div class="col s4 title no-padding">
      Dashboard
    </div>
    <div class="col s8">
      <app-dropdown (selectedChanged)="onChartViewUpdated('dashboard', $event)" [selected]="settings.dashboardSettings.dashboard.viewMode"
        [options]="viewModes"></app-dropdown>
    </div>
  </div>
</div>