<div>
  <i>
    Some development practices are listed below that are agreed by developers working on Lenda app. Please abide by these and
  also feel free to discuss any positive changes.
  </i>
</div>
