@import './../../../../../sass/theme/variables';

.row {
  margin-bottom: 0;
}

.title {
  font-size: $font-size-lg;
  color: $primary-color;
}

.subtitle {
  font-size: $font-size-md;
  color: $primary-color;
}

.metadata {
  // color: #999;
  // display: flex;
  align-items: right;

  i {
    font-size: $font-size-md;
    margin-top: 2px;
  }

  label {
    margin-left: 5px;
    font-style: italic;
  }
}

.header-color {
  color: $black-70;
}
.font-14 {
  font-size: 14px;
}

.sliders {
  margin-top: 10px;
}

.disc-val-slider {
  margin-left: 5.5px;
}
