<div class="container">
<div class="row header-color" style="padding: 0 0 20px 0" *ngIf="loanMaster" [attr.id]="ID">
  <div class="col">
    <div  [class.left-margin]="insideChevron" [class.clear-left-margin]="!insideChevron">
      <div class="subtitle">Ag Resource Management</div>
      <div class="title">
        {{(reportName || 'Unnamed')}}
      </div>
      <div class="metadata" *ngIf="!hideBorrowerDetails">
        <div class="flex no-padding">
          <span>
            {{ loanFullID }} {{BorrowerName}}
          </span>
        </div>
      </div>

      <div>
        {{ loanCropYear }} {{ loanTypeAndDistCode }}
      </div>

      <div class="title" *ngIf="subReportName">
          {{(subReportName || 'Unnamed')}}

        </div>
      <div>
        {{today | date:'MM/dd/yyyy hh:mm a' }}
      </div>
    </div>
  </div>
</div>
</div>
