app-farm {
  table {
    width: 97%;
  }
  tfoot {
    background: lightgreen;
  }
  input {
    width: 100px;
  }

  .ag-floating-bottom-container {
    .default-cell {
      background-color: #66afc9 !important;
    }
  }
  .ag-floating-bottom-container > .ag-row > .ag-cell {
    background-color: #66afc9 !important;
    color: white !important;
  }
  .ag-header-cell {
    cursor: pointer;
  }
}

.gear-icon {
  font-size: 15px !important;
  color: #164c7b;
  vertical-align: middle;
  cursor: pointer;

  &.no-crop-share {
    color: #23c8ab;
  }

  &.disabled {
    cursor: not-allowed;
    color: #dfdfdf;
  }
}
