<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>
  <app-association [chevronId]='21' [expanded]="masterSvc.isChevronOpen" [header]="'Landlord'" [associationTypeCode]="'LLD'" [currentPageName]="currentPageName"></app-association>
  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          Farm
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom under-chev-ag-grid" [id]='tableId'>
          <div class="row" [hidden]="rowData.length === 0">
          <ag-grid-angular
          id="myGrid"
          [ngStyle]="style"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableFilter]="true"
          [enableSorting]="true"
          [showToolPanel]="false"
          [getRowStyle]="getRowStyle"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [defaultColDef]="defaultColDef"
          [singleClickEdit]="true"
          [gridAutoHeight]="'true'"
          [sortingOrder]="sortingOrder"
          suppressColumnVirtualisation=true
          [suppressPropertyNamesCheck]='true'
          [suppressHorizontalScroll]='false'
          [stopEditingWhenGridLosesFocus]="'true'"
          [context]="context"
          [pagination]="false"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          (cellValueChanged)="rowvaluechanged($event)"
          (cellClicked)='onCellClicked($event)'
          [rowData]="rowData"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (columnVisible)="displayColumnsChanged($event)"
          (onFilterChanged)="adjustToFitAgGrid()"
          [columnDefs]="columnDefs"
          [pinnedBottomRowData]="pinnedBottomRowData">
        </ag-grid-angular>
      </div>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>

        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a>

        <app-import-file [columnDefs]='columnDefs' [isDisabled]="!isLoanEditable() || excel.validateImportExcel('farm')" (importExcel)='onImportExcel($event)' ></app-import-file>
      </div>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
</div>
