<mat-accordion class="cross-collateral-detail">
  <mat-expansion-panel [expanded]='masterSvc.isChevronOpen'>
    <mat-expansion-panel-header [class.has-data]='collateralizeItems?.length > 0'>
      <mat-panel-title>
        Cross Collateral
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container bottom">
      <div class="row">
        <div class="table-container">
          <table>
            <thead>
              <th class="header-label width-90px align-left">Loan ID</th>
              <th class="header-label align-left">Farmer</th>
              <th class="header-label align-left">Borrower</th>
              <!-- <th class="header-label width-90px">Master</th> -->
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let loan of collateralizeItems; let i = index">
                <td *ngIf="loan.ActionStatus != 3" [ngClass]="{'disabled-Loan-ID': loan.Loan_ID && loan.Loan_ID > 0}">
                  <ng-select  class="loan-selection" id="loanSelection{{i}}"
                    placeholder="Loan ID, Farmer, Borrower"
                    [items]="loanListCopy"
                    bindValue="Loan_ID"
                    bindLabel="View"
                    (change)="updateSelection($event, i)"
                    (blur)="mouseLeave(i)"
                    [(ngModel)]="loan.Loan_ID"
                    [hideSelected]=true
                    [virtualScroll]=true
                    [closeOnSelect]="true">
                  </ng-select>
                  <div (click)="showSelectionChange($event, i)" id="loan-id{{i}}" class="with-selection">
                      {{loan.Loan_ID}}&nbsp;
                  </div>
                </td>
                <td *ngIf="loan.ActionStatus != 3" class="uneditable">
                  <div>
                      {{loan.Farmer}}
                  </div>
                </td>
                <td *ngIf="loan.ActionStatus != 3" class="uneditable">
                  <div>
                      {{loan.Borrower}}
                  </div>
                </td>
                <td class="checkbox" *ngIf="loan.ActionStatus != 3">
                    <ng-container *ngIf="loan.Loan_ID != localloanobject.LoanMaster.Loan_ID">
                        <i class="material-icons grid-action ag-grid-delete" (click)="removeItem(i)">delete</i>
                    </ng-container>
                </td>
              </tr>
              <tr *ngIf="noActiveCollateral()">
                <td colspan="5" class="no-rows">No rows to show.</td>
              </tr>
            </tbody>
          </table>
          <br />
          <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
