.cross-collateral-detail{

    .mat-expansion-panel{
        overflow: visible;
    }

    .table-container{
        margin-left: 13px;

        .search-container{
            display: inline-block;
            border: 1px solid gray;
            width: 190px;
            margin-left: 315px;
            vertical-align: middle;
            border-radius: 8px;
            position: relative;
            margin-bottom: 10px;

            &--input{
                width: 80%;
                left: 0;
                vertical-align: middle;
                border: 0;
                padding: 2px 5px;
                margin-top: 3px;
                position: absolute;
                margin-left: 5px;
            }

            .mat-icon{
                float: right;
                color: gray;
            }
        }
    }

    table{
        width: auto;
        max-height: 500px;
        // min-height: 500px;
        // overflow-y: scroll;
        // display: inline-block;
        // overflow-y: scroll;
        thead{
            background-color: #23C8AB;
            .header-label{
                padding: 7px 10px;
                font-weight: 500;
                width: 180px;
                text-align: center;
                color: #fff;                
            }

            .align-left{
                text-align: left;
            }
        }

        tbody{
            td{
                border: 1px solid #d8d2d2;
                padding: 0;
                width: 180px;
                max-width: 180px;

                div{
                    padding: 0 10px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    
                }

                div.with-selection{
                    cursor: pointer;
                }

                div.selection-active{
                    display: none;
                }

                div.master-selection{
                    text-align: center;
                    color: #1a61df;
                }
            } 
        }

        .checkbox{
            width: 20px !important;
            text-align: center;
            height: 28px;
        }

        .uneditable{
            background: #F6F5F5;
        }

        .width-90px{
            width: 90px !important;
            max-width: 90px !important;
        }

        span.mat-checkbox-label{
            display: none!important;
        }
    }

    .no-rows{
        text-align: center;
        font-weight: 500;
        padding: 10px !important;
    }

    .mat-checkbox-label{
        display: none!important;
    }

    .align-left{
        text-align: left;
    }

    .loan-selection.ng-select{
        width: 580px!important;
        display : none;
    }

    .loan-master-selection.ng-select{
        display: none;
        color: #1a61df;
    }

    .ng-select.loan-selection-active{
        display : inline-block;
        cursor: pointer;
        width: 100%;
    }

    .disabled-Loan-ID{
        cursor: default!important;
        pointer-events: none;
        background-color: #f6f5f5;
    }
}