<div class="pending-action-ghosting-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Pending Action Ghosting</h2>
  <div class="modal-content">
    <div class="modal-body">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Selected User" aria-label="User" [matAutocomplete]="auto" [formControl]="userCtrl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            <span>{{user.LastName ? user.LastName + ', ' : ''}}</span>
            <span>{{user.FirstName}}</span>
            (<span>{{user.Username}}</span>)
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <div class="mat-footer-inner">
        <a [class.disabled]="userCtrl.invalid || !userCtrl.value?.UserID" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
        <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
      </div>
    </div>
  </div>
</div>
