<div class="additional-collateral">
  <div class="additional-collateral__header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h2 mat-dialog-title>
      <mat-icon>settings</mat-icon> Farm Detail
    </h2>
    <button type="button" class="close hide" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="row farm-crops" [formGroup]="farmOverrideForm">
      <div class="irr-arces tb">
        <span>Irrigated Acres</span>
        <h6 *ngIf="irrCrops.controls.length == 0"> -- No Crops Available -- </h6>
        <table *ngIf="irrCrops.controls.length != 0">
          <thead>
            <th class="w-40">Include</th>
            <th class="w-120">Crop</th>
            <th class="w-120" *ngIf='columnsDisplaySettings.cropType'>Crop Type</th>
            <th class="w-120">Irr Prac</th>
            <th class="w-120" *ngIf='columnsDisplaySettings.cropPrac'>Crop Prac</th>
            <th class="w-120">Rent %</th>
          </thead>
          <tbody>
            <tr *ngFor="let irrC of irrCrops.controls; let i = index;" [formGroup]="irrCrops.controls[i]">
              <td class="irr-chk-include">
                <input type="checkbox" formControlName="Share_Rent_Override" (click)="checkCropInclusion(irrCrops.controls, i, irrC.controls.Share_Rent_Override)"/>
              </td>
              <td [ngClass]="{'disable-override' : !irrC.controls.Share_Rent_Override.value}">
                {{ irrC.controls.crop.value }}
              </td>
              <td [ngClass]="{'disable-override' : !irrC.controls.Share_Rent_Override.value}" *ngIf='columnsDisplaySettings.cropType'>
                {{ irrC.controls.crop_type.value }}
              </td>
              <td [ngClass]="{'disable-override' : !irrC.controls.Share_Rent_Override.value}">
                {{ irrC.controls.irr_prac.value }}
              </td>
              <td [ngClass]="{'disable-override' : !irrC.controls.Share_Rent_Override.value}" *ngIf='columnsDisplaySettings.cropPrac'>
                {{ irrC.controls.crop_prac.value }}
              </td>
              <td class="rent-percent" [ngClass]="{'disable-override' : !irrC.controls.Share_Rent_Override.value}">
                <input type="text" class="rp-input" currencyMask [options]="customMaskConfig" formControlName="Share_Rent_Percent"
                (click)="checkRentValue(irrCrops.controls, i, irrC.controls.Share_Rent_Percent, $event)"
                (keyup)="checkRentValue(irrCrops.controls, i, irrC.controls.Share_Rent_Percent, $event)" maxlength="6">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="nir-arces tb">
        <span>Non-Irrigated Acres</span>
        <h6 *ngIf="nirCrops.controls.length == 0"> -- No Crops Available -- </h6>
        <table *ngIf="nirCrops.controls.length != 0">
          <thead>
            <th class="w-40">Include</th>
            <th class="w-120">Crop</th>
            <th class="w-120" *ngIf='columnsDisplaySettings.cropType'>Crop Type</th>
            <th class="w-120">Irr Prac</th>
            <th class="w-120" *ngIf='columnsDisplaySettings.cropPrac'>Crop Prac</th>
            <th class="w-120">Rent %</th>
          </thead>
          <tbody>
            <tr *ngFor="let nirC of nirCrops.controls; let i = index;" [formGroup]="nirCrops.controls[i]">
              <td class="nir-chk-include">
                <input type="checkbox" formControlName="Share_Rent_Override" (click)="checkCropInclusion(nirCrops.controls, i, nirC.controls.Share_Rent_Override)"/>
              </td>
              <td [ngClass]="{'disable-override' : !nirC.controls.Share_Rent_Override.value}">
                {{ nirC.controls.crop.value }}
              </td>
              <td [ngClass]="{'disable-override' : !nirC.controls.Share_Rent_Override.value}" *ngIf='columnsDisplaySettings.cropType'>
                {{ nirC.controls.crop_type.value }}
              </td>
              <td [ngClass]="{'disable-override' : !nirC.controls.Share_Rent_Override.value}">
                {{ nirC.controls.irr_prac.value }}
              </td>
              <td [ngClass]="{'disable-override' : !nirC.controls.Share_Rent_Override.value}" *ngIf='columnsDisplaySettings.cropPrac'>
                {{ nirC.controls.crop_prac.value }}
              </td>
              <td class="rent-percent" [ngClass]="{'disable-override' : !nirC.controls.Share_Rent_Override.value}">
                <input type="text" class="rp-input" currencyMask [options]="customMaskConfig" formControlName="Share_Rent_Percent"
                (click)="checkRentValue(nirCrops.controls, i, nirC.controls.Share_Rent_Percent, $event)"
                (keyup)="checkRentValue(nirCrops.controls, i, nirC.controls.Share_Rent_Percent, $event)" maxlength="6">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<div class="pull-right">
  <a [class.disabled]="!isLoanEditable || !this.farmOverrideForm.dirty" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
  <a (click)="closeModal()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
</div>
