table {
  width: 97%;
}

tfoot {
  background: lightgreen;
}

input {
  width: 100px;
}

.additional-collateral {
  &__header {
    color: #164c7b;
    font-size: 14px;
    text-transform: uppercase;

    mat-icon {
      font-size: 20px !important;
      vertical-align: middle;
      margin-right: 5px;
    }

    &--label {
      display: inline-block;
    }

    button {
      background: none;
      border: none;
      float: right;
      position: absolute;
      right: 25px;
      top: 22px;
      color: #fff;

      span {
        font-size: 30px;
      }
    }
  }

  app-ag-grid-no-rows-available {
    font-weight: 500;
  }

  .btn {
    margin: 15px 0;
  }

  .farm-crops {
    display: flex;
    flex-direction: row;

    span {
      color: #000000;
      font-weight: 500;
    }

    .tb {
      margin: 0px 5px;

      table {
        width: 100% !important;

        td {
          border: 1px solid #ddd;
          padding: 6px 6px;
          border-radius: unset;

          .chk-include {
            align-content: center;
          }
        }
      }

      table > thead > th {
        color: #ffffff !important;
        border: 1px solid #e2e2e296;
        border-radius: unset;
        padding: 6px 6px;
        text-align: center;
      }

      .w-40 {
        width: 40px;
      }

      .w-120 {
        width: 120px;
      }

      .rent-percent {
        padding: unset;
        .rp-input {
          text-align: end;
        }

        .rp-input-border-none {
          border: none;
          width: 100%;
          padding: 0px 6px;
        }
      }

      .nir-chk-include,
      .irr-chk-include {
        text-align: center;
      }

      .disable-override {
        pointer-events: none;
        background-color: #e6e6e6;

        .rp-input {
          border: none;
          background-color: #e6e6e6;
        }
      }
    }

    .irr-arces {
      flex-grow: 1;
      min-width: 420px;

      thead {
        background-color: #23c8ab;
      }
    }

    .nir-arces {
      flex-grow: 1;
      min-width: 420px;

      thead {
        background-color: #8db4e2;
      }
    }
  }
}

.mat-raised-button {
  box-shadow: none;
  border-radius: 50px;
}

.pull-right {
  margin-top: 20px;
  float: right;
}

.hide {
  display: none;
}
