<h1 mat-dialog-title>Verify Source Document</h1>
<div mat-dialog-content>
    <div class="additional-collateral">

        <div class="col s12">
            <br>
            
              <mat-radio-group  required (change)="radioButtonSelected($event)"  class="example-radio-group" [(ngModel)]="popmodel.Verifytype">
                <mat-radio-button class="example-radio-button"  [value]="2">
                  AIP
                </mat-radio-button>
                <mat-radio-button class="example-radio-button"  [value]="1">
                  FSA
                </mat-radio-button>
              </mat-radio-group>
             <br>
             <br>
             <mat-form-field class="example-full-width">
              <mat-label>Select Document</mat-label>
              <mat-select [(value)]="popmodel.DocID">
                <mat-option *ngFor="let doc of _documents" [value]="doc.id">
                  {{doc.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
              <span class='errorText'>{{errorText}}</span>

        </div>
      </div>
    </div>
  <div class="alertModal modal-footer">
    <div class="mat-footer-inner">

        <div class="pull-right">
            <button matDialogClose (click)="onyesClick()" [disabled]="popmodel.Verifytype==undefined || _documents.length==0 || popmodel.DocID==undefined" class="mat-raised-button green alertifybtndone modal-trigger" >Confirm</button>
            <button matDialogClose (click)="onNoClick()" style="background-color:#d44950 !important;border: none;
            width: 70px;" class="alertifybtndone btn-outline modal-close modal-cancel">Cancel</button>
          </div>
     
    </div>
   </div>
