.example-radio-button{
    margin-right:10px
}

.green{
    background:#29a979 !important;
}

.mat-raised-button {
    box-shadow: none;
    border-radius: 50px;
}

.errorText{
    color:red;
    font-weight: 600;
}