.standard {
  height: 50%;
  padding: 10px;

  &:first-child {
    border-bottom: 1px solid #eee;
    height: calc(50% - 5px);
  }
}

.condensed,
.super-condensed {
  &:first-child {
    border-bottom: none;
  }
}

.super-condensed,
.condensed {
  padding: 10px;
}
