<div class="row-section" [ngClass]="viewMode" *ngIf='isARM'>
  <app-risk-chart [isARM]='isARM' [viewMode]="viewMode"></app-risk-chart>
</div>

<div class="row-section" [ngClass]="viewMode" *ngIf="viewMode == 'standard' || !isARM">
  <app-commitment-chart [isARM]='isARM' [viewMode]="viewMode"></app-commitment-chart>
</div>