<div class='icons' [class.disabled]='!canVote || !canVoteOnLoan'>
  <ng-container *ngIf="IsLoggedInUser && (params.data.Vote == 0 || params.data.Vote == 3) && params.data.CM_Role == 1">
      <!-- <i class="flaticon-thumbs-up-hand-symbol" ></i> -->
      <i (click)="vote(1)" class="material-icons approve-icon" title='Approve'>thumb_up</i>

      <i (click)="vote(2)" class="material-icons error-icon" title='Decline'>
        thumb_down
      </i>

      <i class="material-icons yellow" (click)='openEmojiDialog()' title='Vote by Selecting Emoji'>
        mood
      </i>

      <ng-container *ngIf='isCrossCollaterized'>
         <ng-container [ngTemplateOutlet]='crollCol'></ng-container>
      </ng-container>

  </ng-container >

  <ng-container *ngIf="!IsLoggedInUser">
    <i *ngIf="(params.data.Vote == 0 || params.data.Vote == 3) && params.data.CM_Role == 1" class="material-icons disabled" title="Pending">help</i>
  </ng-container>


  <ng-container *ngIf="params.data.CM_Role == 1">
    <!-- <i *ngIf="params.data.Vote == 1" class="flaticon-thumbs-up-hand-symbol disabled" style="color : gray" title='Approved'></i> -->
    <i *ngIf="params.data.Vote == 1" class="material-icons disabled" title='Approve'>thumb_up</i>

    <i *ngIf="params.data.Vote == 2" class="material-icons disabled" title="Declined">thumb_down</i>

    <ng-container *ngIf="IsLoggedInUser && (params.data.Vote == 2 || params.data.Vote == 1)">
      <i class="material-icons error-icon" (click)='rescindVote(params.data.CM_ID, params.data.User_ID)' title='Rescind Vote'>replay</i>

      <ng-container *ngIf='isCrossCollaterized'>
        <ng-container [ngTemplateOutlet]='crollCol'></ng-container>
      </ng-container>

    </ng-container>

  </ng-container>

</div>

<ng-template #crollCol>
  <mat-checkbox (change)='changeCrossCol($event)' disableRipple class="cross-col">
    <svg id="shuffle" viewBox="0 0 512 512" width="20" height="17" style="transform: translate(0px, 4px);">
      <g>
        <g>
          <path d="M512,387.67L405.406,281.024v84.694h-10.435c-68.152,0-102.461-56.146-142.191-121.157 c-40.72-66.633-86.875-142.158-179.637-142.158H0v43.886h73.143c68.152,0,102.461,56.146,142.191,121.157 c40.72,66.633,86.875,142.158,179.637,142.158h10.435v84.686L512,387.67z"></path>
        </g>
      </g>
      <g>
        <g>
          <path d="M512,124.355L405.406,17.71v84.695h-10.435c-66.714,0-109.319,39.063-143.135,85.788 c9.055,13.584,17.433,27.249,25.391,40.268c31.024-46.945,63.77-82.172,117.744-82.172h10.435v84.686L512,124.355z"></path>
        </g>
      </g>
      <g>
        <g>
          <path d="M190.887,283.548c-31.024,46.943-63.77,82.17-117.744,82.17H0v43.886h73.143c66.714,0,109.319-39.063,143.135-85.788 C207.222,310.232,198.845,296.567,190.887,283.548z"></path>
        </g>
      </g>
    </svg>
  </mat-checkbox>
</ng-template>
