.btn {
  line-height: 0.1;
}

.icons {
  display: flex;
  flex-direction: row;
  height: 28px;
  i {
    cursor: pointer;
    top: 1px;
    position: relative;

    &.disabled {
      cursor: default;
      color: gray;
    }

    &.disabled {
      text-decoration: unset !important;
    }

    &.approve-icon {
      color: green;
    }

    &.error-icon {
      color: #d44950;
    }

    &.yellow {
      color: rgb(255, 192, 0);
    }

    margin-left: 5px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }

    &:not(.disabled):hover {
      transform: scale(1.15);
      opacity: 1;
    }
  }

  &.disabled {
    i {
      color: gray !important;
      pointer-events: none;
      cursor: default;
    }
  }
}
