<svg class="resources-panel">
  <g transform="translate(10, 620)">
    <g transform="translate(1000, 20)">
      <g id="icon-risk-team">
        <use x="0" y="70" class="st14" width="80" height="48" xlink:href="#domo" />
      </g>
      <text transform="translate(10, 120)">
        <tspan x="-20" y="10">Management</tspan>
        <tspan x="-10" y="30">Dashboard</tspan>
      </text>

      <g id="icon-systems-documentation">
        <use x="130" y="80" class="success" width="36" height="28" xlink:href="#books-stack-of-three" />
      </g>
      <text transform="translate(130, 120)">
        <tspan x="-8" y="10">Product</tspan>
        <tspan x="-5" y="30">Manual</tspan>
      </text>

      <g id="icon-policy-manual">
        <svg>
          <use x="230" y="80" class="warning" width="36" height="28" xlink:href="#books-stack-of-three" />
        </svg>
      </g>
      <text transform="translate(230, 120)">
        <tspan x="-3" y="10">Policy</tspan>
        <tspan x="-8" y="30">Manual</tspan>
      </text>

      <g id="icon-operations-manual">
        <svg>
          <use x="330" y="80" class="primary" width="36" height="28" xlink:href="#books-stack-of-three" />
        </svg>
      </g>
      <text transform="translate(330, 120)">
        <tspan x="-20" y="10">Operations</tspan>
        <tspan x="-5" y="30">Manual</tspan>
      </text>

      <g id="icon-systems-manual">
        <svg>
          <use x="430" y="80" class="disabled" width="36" height="28" xlink:href="#books-stack-of-three" />
        </svg>
      </g>
      <text transform="translate(430, 120)">
        <tspan x="-8" y="10">Systems</tspan>
        <tspan x="-24" y="30">Documentation</tspan>
      </text>
    </g>

    <!-- Icons -->
    <!-- Apply -->
    <g id="icon-apply" data-tooltip-source="apply" transform="translate(150, 87)">
      <use x="0" y="0" [ngClass]="schematicSettings.apply.iconStatus" width="32" height="32" xlink:href="#alarm-clock" />
      <svg:g app-info-bubble class="icon" [item]="schematicSettings.apply" [x]="20" [y]="-12" [cy]="5" [source]="'apply'">
      </svg:g>
      <svg:g app-critical-info [x]="'40'" [y]="'0'" [settings]="schematicSettings.apply"></svg:g>
      <text [ngClass]="schematicSettings.apply.iconStatus" transform="translate(-3, 55)">
        Apply
      </text>
      <!-- Timing -->
      <g *ngIf="schematicPreferences.isEnhanceDetailActive" transform="translate(-15, 75)">
        <text class="warning dec-letter-spacing" x="-12" y="5">{{ datediff?.days }} Days {{ datediff?.hours }}:{{ datediff?.minutes }}</text>
      </g>
    </g>

    <!-- Verification -->
    <g id="icon-verification" data-tooltip-source="insuranceVerification" transform="translate(300, 87)">
      <use x="0" y="0" [ngClass]="schematicSettings.insuranceVerification.iconStatus" width="32" height="32" xlink:href="#tick"
      />
      <svg:g app-critical-info [x]="'40'" [y]="'0'" [settings]="schematicSettings.insuranceVerification"></svg:g>
      <svg:g app-info-bubble class="icon" [item]="schematicSettings.insuranceVerification" [x]="20" [y]="-12" [cy]="5" [source]="'insuranceVerification'"></svg:g>
      <text [ngClass]="schematicSettings.insuranceVerification.iconStatus" transform="translate(-5, 55)">
        Verify
      </text>
      <g transform="translate(0, 75)" *ngIf="schematicPreferences.isEnhanceDetailActive">
        <g>
          <use x="-20" y="-7" class="error" width="14" height="14" xlink:href="#tick" />
          <text class="dec-letter-spacing error" x="0" y="5">Policy</text>
        </g>
        <g transform="translate(0, 20)">
          <use x="-20" y="-7" class="warning" width="14" height="14" xlink:href="#tick" />
          <text class="dec-letter-spacing warning" x="0" y="5">APH</text>
        </g>
        <g transform="translate(0, 40)">
          <use x="-20" y="-7" class="disabled" width="14" height="14" xlink:href="#tick" />
          <text class="dec-letter-spacing disabled" x="0" y="5">Acres</text>
        </g>
      </g>
    </g>
    <!-- Reconciliation -->
    <g id="icon-reconciliation" data-tooltip-source="reconciliation" transform="translate(450, 87)">
      <use x="-3.3" y="0" [ngClass]="schematicSettings.reconciliation.iconStatus" width="36" height="32" xlink:href="#reconcile" />
      <svg:g app-info-bubble class="icon" [item]="schematicSettings.reconciliation" [x]="20" [y]="-12" [cy]="5" [source]="'reconciliation'">
      </svg:g>
      <svg:g app-critical-info [x]="'40'" [y]="'0'" [settings]="schematicSettings.reconciliation"></svg:g>
      <text [ngClass]="schematicSettings.reconciliation.iconStatus" transform="translate(-15, 55)">
        Reconcile
      </text>
      <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [details]="schematicSettings.reconciliation.details"
        [x]="-10" [y]="80"></svg:g>
    </g>

    <g transform="translate(620, 142)" *ngIf="schematicPreferences.isEnhanceDetailActive">
      <!-- Addendum History -->
      <g transform='translate(-20, 0)'>
        <text class="error" x="20" y="0">Addendum History</text>
        <g transform="translate(10, 0)">
          <g *ngFor='let loan of loans; index as i'>
            <text class="warning dec-letter-spacing" x="30" [attr.y]="(20 * i) + 25">{{loan?.LoanMaster?.Crop_Year}} {{loan?.LoanMaster?.Delta_Current_Addendum_Percent >= 0  ? '+ ' : '- '}}{{abs(loan?.LoanMaster?.Delta_Current_Addendum_Percent || 0) | number : '1.1-1'}}%</text>
          </g>
        </g>
      </g>
      <!-- LO Stats -->
      <g transform="translate(230, 0)">
        <text class="warning" x="0" y="0">LO Stats</text>
        <text class="disabled dec-letter-spacing" x="0" y="25">{{schematicSettings.lostats.details[0]}} {{schematicSettings.lostats.details[1] | money : 2}}</text>
        <text class="disabled dec-letter-spacing" x="0" y="45">Avg Close {{schematicSettings.lostats.details[2]}} days</text>
        <text class="warning dec-letter-spacing" x="0" y="65"></text>
      </g>
    </g>
  </g>
</svg>
