<div class="copy-loan-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{headerLabel}}</h2>
  <h3>
      <ng-container *ngIf="!data.fromCrossCollateral && localloanobject.LoanMaster.Prev_Year_Loan_Full_ID">
        {{localloanobject.LoanMaster.Prev_Year_Loan_Full_ID}};
        &nbsp;{{localloanobject.LoanMaster.Borrower_First_Name}}  {{localloanobject.LoanMaster.Borrower_Last_Name}};&nbsp;
        <!-- {{localloanobject.LoanMaster.Crop_Year}}  -->
        2018 {{ LoanTypeAndDistCode }}
      </ng-container>
      <ng-container *ngIf="data.fromCrossCollateral && collateralizeItems.length > 0">
        Cross Collateralized Loan:
        <ng-select class="loan-id-selection"
          placeholder="Loan Full ID, Farmer, Borrower"
          [items]="collateralizeItems"
          bindValue="Loan_Full_ID"
          bindLabel="View"
          [hideSelected]=true
          [virtualScroll]=true
          [closeOnSelect]="true"
          [(ngModel)]="model.FromLoanFullID">
        </ng-select>
      </ng-container>
      <ng-container *ngIf="data.fromCrossCollateral && collateralizeItems.length < 1">
        No Collateralized Loans.
      </ng-container>
      <ng-container *ngIf="!data.fromCrossCollateral && !localloanobject.LoanMaster.Prev_Year_Loan_Full_ID">
        No Previous Loans.
      </ng-container>
  </h3>
  <!-- <div class="header-btn-section">
    <button (click)="onPrevLoanClick()" [class.dark-blue]="model.copypreviousloan" [class.gray]="!model.copypreviousloan" class="mat-raised-button alertifybtndone modal-trigger header-btn">Prev
      Loan</button>
  </div>
  <div class="header-btn-section">
    <button matDialogClose mat-raised-button (click)="onOkClick()" class="mat-raised-button alertifybtndone dark-blue modal-trigger header-btn">
      <i class="material-icons"> swap_horiz </i> Loan
      Input</button>
  </div> -->
  <div class="clear-both"></div>
  <div mat-dialog-content *ngIf="showContent">
    <!-- ng s  -->
    <div class="alertModal">
      <!-- Modal content -->
      <section class=" grand-parent">
        <mat-checkbox (change)="toggelAll()" [(ngModel)]="selectAll">
          All Eligible Loan Input
        </mat-checkbox>
      </section>
      <!--Borrowers Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllBorrower" (change)="toggelAllBorrowers()">
          Borrower
        </mat-checkbox>
      </section>
      <section *ngFor="let brw of borrowerOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="brw.checked" (change)="toggelCheckbox(brw,  'borrowers', borrowerOptions)">
          {{brw.name}}
        </mat-checkbox>
        <label *ngIf="brw.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Borrowers Ends-->

      <!--Crops Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllCrop" (change)="toggelAllCrops()">
          Crop
        </mat-checkbox>
      </section>
      <section *ngFor="let crp of cropOptions; let i = index" class="child ">
        <mat-checkbox [(ngModel)]="crp.checked" (change)="toggelCheckbox(crp, 'crops', cropOptions)">
          {{crp.name}}
        </mat-checkbox>
        <label *ngIf="crp.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Crops Ends-->

      <!--Farms Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllFarm" (change)="toggelAllFarms()">
          Farm
        </mat-checkbox>
      </section>
      <section *ngFor="let frm of farmOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="frm.checked" (change)="toggelCheckbox(frm, 'farms', farmOptions)">
          {{frm.name}}
        </mat-checkbox>
        <label *ngIf="frm.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Farms Ends-->

      <!--Insurances Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllInsurance" (change)="toggelAllInsurances()">
          Insurance
        </mat-checkbox>
      </section>
      <section *ngFor="let ins of insuranceOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="ins.checked" (change)="toggelCheckbox(ins, 'insurances', insuranceOptions)">
          {{ins.name}}
        </mat-checkbox>
        <label *ngIf="ins.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Insurances Ends-->

      <!--Budgets Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllBudget" (change)="toggelAllBudgets()">
          Budget
        </mat-checkbox>
      </section>
      <section *ngFor="let bgt of budgetOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="bgt.checked" (change)="toggelCheckbox(bgt, 'budgets', budgetOptions)">
          {{bgt.name}}
        </mat-checkbox>
        <label *ngIf="bgt.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Budgets Ends-->

      <!--Optimizers Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllOptimizer" (change)="toggelAllOptimizers()">
          Optimizer
        </mat-checkbox>
      </section>
      <section *ngFor="let opt of optimizerOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="opt.checked" (change)="toggelCheckbox(opt, 'optimizers', optimizerOptions)">
          {{opt.name}}
        </mat-checkbox>
        <label *ngIf="opt.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Optimizers Ends-->

      <!--Collaterals Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllCollateral" (change)="toggelAllCollaterals()">
          Collateral
        </mat-checkbox>
      </section>
      <section *ngFor="let clt of collateralOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="clt.checked" (change)="toggelCheckbox(clt, 'collaterals', collateralOptions)">
          {{clt.name}}
        </mat-checkbox>
        <label *ngIf="clt.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Collaterals Ends-->

      <!--Committee Starts-->
      <section class="parent">
        <mat-checkbox [(ngModel)]="selectAllCommittee" (change)="toggelAllCommittees()">
          Committee
        </mat-checkbox>
      </section>
      <section *ngFor="let cmt of committeeOptions; let i = index" class="child">
        <mat-checkbox [(ngModel)]="cmt.checked" (change)="toggelCheckbox(cmt, 'committees', committeeOptions)">
          {{cmt.name}}
        </mat-checkbox>
        <label *ngIf="cmt.dataExists" class="alert-text pull-right">{{warningMessage}}</label>
      </section>
      <!--Committee Ends-->
    </div>
  </div>
  <div mat-dialog-actions class="pull-right">
    <a [class.disabled]="!model.FromLoanFullID" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
    <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
  </div>
</div>
