.mat-dialog-content {
  max-height: 50vh !important;
}
.mat-dialog-actions {
  position: relative;
}
.grand-parent {
  font-weight: 700;
}
.parent {
  padding-left: 25px;
  // margin-top: 15px;
  font-weight: 500;
}
.child {
  padding-left: 53px;
}
.dark-blue {
  background-color: #164c7b !important;
  color: #fff;
}
.gray {
  background-color: #aaa !important;
  color: #fff;
}

.header-btn-section {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.alert-text {
  padding-left: 10px;
  color: #ed7d31;
  font-size: 10px;
  padding-right: 45px;
}

.mat-raised-button {
  box-shadow: none;
  border-radius: 50px;
}

.pull-right {
  float: right;
}

.mat-checkbox-layout .mat-checkbox-label {
  min-width: 120px;
}

.copy-loan-container {
  .loan-id-selection {
    display: inline-block;
    width: 68.8%;
    vertical-align: middle;
    margin-left: 5px;

    .ng-select.ng-select-single .ng-select-container {
      color: gray;
    }
  }

  button.mat-raised-button:disabled {
    background-color: #dedede!important;
  }
}
