<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Documents
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="documents" class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12" *ngIf="showDocuments">
          <ul>
            <li class="list-item" *ngFor="let condition of documents">
              {{ condition }}
            </li>
          </ul>
        </div>
        <div class="col s12" *ngIf="!showDocuments">
          <ul>
            <li class="list-item" *ngFor="let condition of refDocuments">
              {{ condition }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
