<svg class="o-visible" [class.circle]='level == 0'>
  <g [style.transform]="'translate(' + x + 'px,' + y + 'px)'">
    <!-- Validation => Circle -->
    <ng-container *ngIf='level == 0'>
      <circle [ngClass]="type" [attr.cx]="5" [attr.cy]="10" r="9" />
      <text class="default" [class.more]='number > 9' [style.transform]="'translate(' + getX() + 'px, 14px)'"> {{ number }} </text>
    </ng-container>

    <!-- Exception => Warning Sign -->
    <ng-container *ngIf='level == 1'>
      <use [ngClass]="type" [attr.x]="0" [attr.y]="0" width="20" height="20" xlink:href="#warning-sign" />
      <text transform="matrix(1 0 0 1 15 5)" class="st10" [ngClass]="type">{{ number }}</text>
    </ng-container>
  </g>
</svg>
