<div>

    <div class="basic-container Summary-report">
      <app-report-header [ID]="'SummaryReportHeader'" [reportName]="'Loan Summary'"> </app-report-header>
      <app-loan-information [ID]="'SummaryLoanInfo'" [expanded]='masterSvc.isChevronOpen'></app-loan-information>

      <!-- Validation Report -->
      <app-validation-report class="arm-only"  [ID]="'SummaryValidationReport'" [expanded]='masterSvc.isChevronOpen' *ngIf="loanSetting.reportsSettings.isArmDetailEnabled" ></app-validation-report>

      <!-- Exception Report -->
      <app-exception-report  class="arm-only" [ID]="'SummaryExcceptionReport'" [expanded]='masterSvc.isChevronOpen'  *ngIf="loanSetting.reportsSettings.isArmDetailEnabled" ></app-exception-report>

      <!-- Loan Comment -->
      <app-loan-comment [ID]="SummaryLoanComment" [expanded]='masterSvc.isChevronOpen'></app-loan-comment>

      <!-- Financials here -->
      <app-financials [ID]="'SummaryFinancials'" [expanded]='masterSvc.isChevronOpen' [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled"></app-financials>
      <app-yield-report [ID]="'SummaryYieldReport'" [expanded]='masterSvc.isChevronOpen' [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-yield-report>
      <app-projectedincome [ID]="'SummaryProjectedIncome'" [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay" [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-projectedincome>
      <app-budget-report [ID]="'SummaryBudgetReport'" [expanded]='masterSvc.isChevronOpen' [withRevenue]="true"></app-budget-report>
      <app-crop-insurance [ID]="'SummaryCropInsurance'" [expanded]='masterSvc.isChevronOpen' [colToDisplay]="tableColToDisplay" [showCropDetail]="loanSetting.reportsSettings.isCropDetailEnabled"></app-crop-insurance>

      <!-- Loan Documents -->
      <app-documents-report [ID]="'SummaryConditionReport'" [expanded]='masterSvc.isChevronOpen' [showDocuments]="loanSetting.reportsSettings.isConditionDetailEnabled"></app-documents-report>

      <!-- Budget -->
      <app-commitment [ID]="'SummaryCommitment'" [expanded]='masterSvc.isChevronOpen' [displayWeightedPercent]="true" ></app-commitment>

      <!-- Collateral -->
      <app-collateral-value [ID]="'SummaryCollateralValue'" [expanded]='masterSvc.isChevronOpen' [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled" [showDiscValues]="loanSetting.reportsSettings.isDiscValueEnabled"></app-collateral-value>

      <!-- Related Loans Report -->
      <app-related-loan-list [ID]="'SummaryCurrentLoans'" [expanded]='masterSvc.isChevronOpen' [type]="RelatedLoanListType.Current" [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled"></app-related-loan-list>
      <app-related-loan-list [ID]="'SummaryPreviousLoans'" [expanded]='masterSvc.isChevronOpen' [type]="RelatedLoanListType.Previous" [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled"></app-related-loan-list>
      <app-related-loan-list [ID]="'SummaryCCLoans'" [expanded]='masterSvc.isChevronOpen' [type]="RelatedLoanListType.CrossCollateralized" [showARMDetails]="loanSetting.reportsSettings.isArmDetailEnabled"></app-related-loan-list>
      <app-related-loan-list class="arm-only" [ID]="'SummaryAffLoans'" [expanded]='masterSvc.isChevronOpen' [type]="RelatedLoanListType.Affiliated" *ngIf="loanSetting.reportsSettings.isArmDetailEnabled"></app-related-loan-list>
      <!-- <app-commitment  [displayReturnInDetail]="true" [type]="CommitmentType.RETURN"></app-commitment> -->

    </div>
  </div>
