<ng-container *ngIf='exception && localLoanObject'>
  <div class="col m12 exception-text-row">
    <div class="col m6">
        <div [class.high-severity-text]="exception.Exception_ID_Level == 2" [class.low-severity-text]="exception.Exception_ID_Level == 1" class="exception-text">
          <mat-icon class="edit" matRipple matRippleRadius='12' matRippleCentered='true' [class.editable]='!exception.Mitigation_Text' (click)='showHideTextarea()'> edit </mat-icon>
          {{exception.Exception_ID_Text}}
        </div>
    </div>
    <div class="col m6"  *ngIf='exception.Support_Ind == 1'>
        <div class="support-actions">
            <!-- Role 1 -->
            <ng-container *ngIf='exception.Support_Role_Type_Code_1'>
              <div class="support">
                  <button
                    class='waves-effect support-btn waves-light btn tooltip'
                    [class.success]='exception.Support_User_ID_1'
                    (click)='submit(exception, 1)'
                    [disabled]='!canComment(exception.Support_Role_Type_Code_1, exception.Support_User_ID_1)'
                  >
                    <div>
                      <ng-container *ngIf='!exception.Support_User_ID_1'>
                          <i class="flaticon flaticon-handshake inline" ></i>
                          {{exception.Support_Role_Type_Code_1}}
                      </ng-container>
                      <ng-container *ngIf='exception.Support_User_ID_1'>
                          <mat-icon >done</mat-icon>
                          {{exception.Support_Role_Type_Code_1}}
                          <span class="tooltiptext">
                            <div class="ellipsis text">{{exception.Support_User_Name_1}} </div>
                            <span class="text">{{exception.Support_Date_Time_1 | date : 'MM/dd/yyyy hh:mm a'}}</span>
                          </span>
                      </ng-container>
                    </div>
                  </button>
              </div>
            </ng-container>

            <!-- Role 2 -->
            <ng-container *ngIf='exception.Support_Role_Type_Code_2'>
              <div class="support">
                  <button
                    class='waves-effect support-btn waves-light btn tooltip'
                    [class.success]='exception.Support_User_ID_2'
                    (click)='submit(exception, 2)'
                    [disabled]='!canComment(exception.Support_Role_Type_Code_2, exception.Support_User_ID_2)'
                  >
                    <div>
                        <ng-container *ngIf='!exception.Support_User_ID_2'>
                            <i class="flaticon flaticon-handshake inline" ></i>
                            {{exception.Support_Role_Type_Code_2}}
                        </ng-container>
                        <ng-container *ngIf='exception.Support_User_ID_2'>
                            <mat-icon >done</mat-icon>
                            {{exception.Support_Role_Type_Code_2}}
                            <span class="tooltiptext">
                              <div class="ellipsis text">{{exception.Support_User_Name_2}} </div>
                              <span class="text">{{exception.Support_Date_Time_2 | date : 'MM/dd/yyyy hh:mm a'}}</span>
                            </span>
                        </ng-container>
                    </div>
                  </button>
              </div>
            </ng-container>

            <!-- Role 3 -->
            <ng-container *ngIf='exception.Support_Role_Type_Code_3'>
              <div class="support">
                  <button
                    class='waves-effect support-btn waves-light btn tooltip'
                    [class.success]='exception.Support_User_ID_3'
                    (click)='submit(exception, 3)'
                    [disabled]='!canComment(exception.Support_Role_Type_Code_3, exception.Support_User_ID_3)'
                  >
                    <div>
                        <ng-container *ngIf='!exception.Support_User_ID_3'>
                            <i class="flaticon flaticon-handshake inline" ></i>
                            {{exception.Support_Role_Type_Code_3}}
                        </ng-container>
                        <ng-container *ngIf='exception.Support_User_ID_3'>
                            <mat-icon >done</mat-icon>
                            {{exception.Support_Role_Type_Code_3}}
                            <span class="tooltiptext">
                              <div class="ellipsis text">{{exception.Support_User_Name_3}} </div>
                              <span class="text">{{exception.Support_Date_Time_3 | date : 'MM/dd/yyyy hh:mm a'}}</span>
                            </span>
                        </ng-container>
                    </div>
                  </button>
              </div>
            </ng-container>

            <!-- Role 4 -->
            <ng-container *ngIf='exception.Support_Role_Type_Code_4'>
              <div class="support">
                  <button
                    class='waves-effect support-btn waves-light btn tooltip'
                    [class.success]='exception.Support_User_ID_4'
                    (click)='submit(exception, 4)'
                    [disabled]='!canComment(exception.Support_Role_Type_Code_4, exception.Support_User_ID_4)'
                  >
                    <div>
                      <ng-container *ngIf='!exception.Support_User_ID_4'>
                          <i class="flaticon flaticon-handshake inline" ></i>
                          {{exception.Support_Role_Type_Code_4}}
                      </ng-container>
                      <ng-container *ngIf='exception.Support_User_ID_4'>
                          <mat-icon >done</mat-icon>
                          {{exception.Support_Role_Type_Code_4}}
                          <span class="tooltiptext">
                            <div class="ellipsis text">{{exception.Support_User_Name_4}} </div>
                            <span class="text">{{exception.Support_Date_Time_4 | date : 'MM/dd/yyyy hh:mm a'}}</span>
                          </span>
                      </ng-container>
                    </div>
                  </button>
              </div>
            </ng-container>
          </div>
    </div>
  </div>
  <div class="col m12" [hidden]='!showTextarea'>
    <div class="input-field col m6 exception-container__text-area">
      <mat-form-field class="example-full-width" [class.low]="exception.Exception_ID_Level  == 1" [class.high]="exception.Exception_ID_Level  == 2" [class.excec-err]="!exception.Mitigation_Text && exception.Mitigation_Ind == 1">
        <textarea [readonly]="!isLoanEditable()" class="exception-container--text-area" rows="5" matInput placeholder="Mitigation" [(ngModel)]="exception.Mitigation_Text" (change)="onBlur(exception)"></textarea>
      </mat-form-field>
    </div>
  </div>
</ng-container>
