app-exception-item {
  mat-icon {
    &.edit {
      cursor: pointer;
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin-right: 5px;
      color: #1a61df;
      position: relative;
      top: 1px;
    }
  }

  .high-severity-text {
    mat-icon {
      &.edit {
        &.editable {
          color: #d44950;
        }
      }
    }
  }

  .low-severity-text {
    mat-icon {
      &.edit {
        &.editable {
          color: #ed7d31;
        }
      }
    }
  }
}
