<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container">

  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <!-- Distributor -->
  <app-association [chevronId]='28' [expanded]="masterSvc.isChevronOpen" [header]="'Distributor'" [firstColumnHeader]="'Business Name'"  [associationTypeCode]="'DIS'" [currentPageName]="currentPageName"></app-association>

  <!-- Third Party -->
  <app-association [chevronId]='29' [expanded]="masterSvc.isChevronOpen" [header]="'Third Party'" [firstColumnHeader]="'Business Name'"  [associationTypeCode]="'THR'" [currentPageName]="currentPageName"></app-association>

  <!-- Harvester -->
  <app-association [chevronId]='30' [expanded]="masterSvc.isChevronOpen" [header]="'Harvester'" [firstColumnHeader]="'Business Name'"  [associationTypeCode]="'HAR'" [currentPageName]="currentPageName"></app-association>

  <!-- Equiment Provider -->
  <app-association [chevronId]='70' [expanded]="masterSvc.isChevronOpen" [header]="'Equipment Provider'" [firstColumnHeader]="'Business Name'"  [associationTypeCode]="'EQP'" [currentPageName]="currentPageName"></app-association>

  <!-- Questions -->
  <app-questions [chevronId]="Chevron.Budget" [expanded]='masterSvc.isChevronOpen'  [currentPageName]="currentPageName"></app-questions>

  <!-- Total Budget -->
  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          Total Budget
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container bottom under-chev-ag-grid">
        <div>
          <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="AllInClicked()" class="waves-effect waves-light btn">All-In</a>
          <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="AgproClicked()" class="waves-effect waves-light btn">Ag-Input</a>
        </div>
         <br>
        <!-- <div>

        </div> -->
        <div class="row" id="Total_Budget">
          <ag-grid-angular [hidden]="rowData.length === 0" [ngStyle]="style" class="ag-theme-balham roboto-font" [animateRows]="true" [enableSorting]="false"
            [enableFilter]="true" [showToolPanel]="false" [toolPanelSuppressRowGroups]="true" [toolPanelSuppressValues]="true"
            [toolPanelSuppressPivots]="true" [toolPanelSuppressPivotMode]="true" [singleClickEdit]="true"
            suppressColumnVirtualisation=true [stopEditingWhenGridLosesFocus]="'true'" [rowData]="rowData" (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs" [getRowStyle]="getRowStyle" [gridOptions]="gridOptions" [gridAutoHeight]=true
            (cellValueChanged)="rowvaluechanged($event)" [pinnedBottomRowData]="pinnedBottomRowData" (displayedColumnsChanged)="adjustToFitAgGrid()">
          </ag-grid-angular>
          <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
        </div>
        <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a> -->
      </div>
      <br>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Fixed Expenses -->
  <app-fixed-revenue [expanded]="masterSvc.isChevronOpen"></app-fixed-revenue>

  <!-- Crop Budgets -->
  <ng-container *ngFor=" let cp of cropPractices">
    <ng-container *ngIf='isValidCropPractice(cp)'>
        <app-loanbudget  [cropPractice]="cp" [allCropPractices]="cropPractices" [expanded]="masterSvc.isChevronOpen"></app-loanbudget>
    </ng-container>
  </ng-container>

</div>
<br/>
