<!-- <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 0 18px;"  ><i class="material-icons left">cloud</i>Publish</a> -->

<div class="container bottom borrower-income-history-grid">
  <div class="row">
    <ag-grid-angular
      [ngStyle]="style"
      class="ag-theme-balham roboto-font"
      [animateRows]="true"
      [enableSorting]="true"
      [enableFilter]="true"
      [toolPanelSuppressRowGroups]="true"
      [toolPanelSuppressValues]="true"
      [toolPanelSuppressPivots]="true"
      [toolPanelSuppressPivotMode]="true"
      [context]="context"
      [components]="components"
      [singleClickEdit]="true"
      [gridAutoHeight]="true"
      [stopEditingWhenGridLosesFocus]="'true'"
      [context]="context"
      [frameworkComponents]="frameworkcomponents"
      [components]="components"
      (cellEditingStopped)="rowvaluechanged($event)"
      (displayedColumnsChanged)="adjustToFitAgGrid()"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs" >
    </ag-grid-angular>
  </div>
</div>

