<mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          YIELD
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 00px 18px;"  ><i class="material-icons left">cloud</i>Publish</a> -->
      <!-- <button (click)="addrow()" mat-raised-button color="primary">Add </button> -->

          <div class="container bottom under-chev-ag-grid">
        <div [hidden]="rowData.length === 0" class="row">

          <ag-grid-angular
            id="myGrid"
            [ngStyle]="style"
            class="ag-theme-balham roboto-font"
            [animateRows]="true"
            [enableSorting]="true"
            [enableFilter]="true"
            [showToolPanel]="false"
            [toolPanelSuppressRowGroups]="true"
            [toolPanelSuppressValues]="true"
            [toolPanelSuppressPivots]="true"
            [toolPanelSuppressPivotMode]="true"
            [defaultColDef]="defaultColDef"
            [singleClickEdit]="true"
            [gridOptions]="gridOptions"
            [gridAutoHeight]="true"
            suppressColumnVirtualisation=true
            [suppressPropertyNamesCheck]='true'
            (columnVisible)='columnVisible($event)'
            [stopEditingWhenGridLosesFocus]="'true'"
            [context]="context"
            [frameworkComponents]="frameworkcomponents"
            [components]="components"
            (cellValueChanged)="rowvaluechanged($event)"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs"
            [suppressHorizontalScroll]='false'>
          </ag-grid-angular>
        </div>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a>
        <app-import-file [columnDefs]='columnDefs' [isDisabled]="excel.validateImportExcel('crop')" (importExcel)='onImportExcel($event)' ></app-import-file> -->
      </div>


      <br>
    </mat-expansion-panel>
  </mat-accordion>
