app-yield {    
      .ag-header-cell{
          cursor: pointer;
      }
    // table {
    //     width: 97%;
    // }
    // tfoot{
    //     background: lightgreen
    // }
    // input{
    //     width:100px
    // }

    // .ag-layout-auto-height.ag-body-container {
    //     min-height: 28px;
    // }

    // .ag-header-cell-label {
    //     text-overflow: clip;
    //     overflow: visible;
    //     white-space: normal;
    // }
    // .ag-theme-balham .ag-header-cell::after, 
    // .ag-theme-balham .ag-header-group-cell::after {
    //     // height: 30px;
    // }
}
