<div class="profile_page_wrapper">
  <div class="profile_page_content_wrapper">
    <layout-sidebar></layout-sidebar>
    <div class="pageContent">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
</div>
