<ng-select
  #ngSelect
  [items]="cropList"
  bindLabel="value"
  bindValue="Crop_Code"
  [addTag]="false"
  [multiple]="false"
  [closeOnSelect]="true"
  (change)="itemChange($event)"
  appendTo="body"
  [markFirst]="false"
  [(ngModel)]="selectedCrop"
  (clickOutside)="onClickedOutside($event)"
>
  <ng-template ng-option-tmp let-item="item">
    <div title="{{ item.value }}">{{ item.value }}</div>
  </ng-template>
</ng-select>
