<div class="countr-control" [class.disabled]="disabled">
  <button (click)="decrease()" [disabled]="disabled">
    <i class="material-icons">remove</i>
  </button>

  <ng-container *ngIf='!disabled'>
    <div class="input-value" *ngIf="INPUT_TYPE == 'DAYS'">
      <mat-form-field class="input-ctrl">
        <input matInput [ngModel]='input' (ngModelChange)='modelUpdate($event)' />
        <span matSuffix>Days</span>
      </mat-form-field>
    </div>

    <div class="input-value" *ngIf="INPUT_TYPE == 'PERCENT'">
      <mat-form-field class="input-ctrl">
        <input matInput [(ngModel)]='input' (keydown)='valueChange($event)' (ngModelChange)='modelUpdate($event)'/>
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </ng-container>

  <div class="value" *ngIf="!INPUT_TYPE || disabled">{{ val }}</div>

  <button (click)="increase()" [disabled]="disabled">
    <i class="material-icons">add</i>
  </button>
</div>
