app-btn-counter {
  .countr-control {
    display: flex;
    flex-direction: row;

    button {
      background-color: #555;
      color: white;
      text-align: center;
      align-items: center;
      align-content: center;
      align-self: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border: #555;
      text-decoration: none;
      text-align: center;
      letter-spacing: 0.5px;
      transition: 0.2s ease-out;
      padding: 0px 4px 0.5px 4px;

      i.material-icons {
        position: relative;
        top: 4px;
      }

      &:hover {
        background-color: #1aafd0;
        color: #fff;
      }

      &:disabled {
        cursor: not-allowed;
        &:hover {
          background-color: #555;
        }
      }
    }

    &.disabled {
      opacity: 0.7;
    }
  }

  .mat-form-field {
    &.input-ctrl {
      padding-bottom: 0;
      .mat-form-field-wrapper {
        padding-bottom: 0;
        height: 31px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

        .mat-form-field-underline {
          bottom: 0;
          display: none;
          height: 0;
        }

        .mat-form-field-infix {
          width: 60px;
          padding: 0;
          border-top: 7px solid transparent;
        }

        .mat-form-field-suffix {
          padding-right: 17px;
          margin-left: 3px;
        }

        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }
  }

  &.committee {
    .countr-control {
      button {
        padding: 3px 4px 1.5px 4px;

        i.material-icons {
          position: relative;
          top: 1.8px;
        }
      }

      .value {
        text-align: right;
        padding-right: 15px !important
      }

      &.disabled {
        opacity: 0.7;
        width: 153px;
        height: 31px;
        .value {
          padding: 5px 6px 6px;
        }
      }
    }
  }

  .value {
    width: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 6px;
  }
}
