<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schedule of Insurance Policies
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="loanPolicies" class="container">
        <div class="row">
          <div class="col s12" style="width:100%;overflow-x:auto">
            <table class="bordered">
              <thead>
                <tr>
                  <th>State | County</th>
                  <th class="text-left" >Crop</th>
                  <th class="text-left" *ngIf="columnsDisplaySettings.cropType">Crop Type</th>
                  <th class="text-left" >Irr Prac</th>
                  <th class="text-left" *ngIf='columnsDisplaySettings.cropPrac'>Crop Prac</th>
                  <th class="text-left">HR</th>
                  <th class="text-left">Plan</th>
                  <th class="text-left">Type</th>
                  <th class="text-left">Unit </th>
                  <th class="text-left">Options</th>
                  <th>Price</th>
                  <th>Upper %</th>
                  <th>Lower %</th>
                  <th>Yield %</th>
                  <th>Price %</th>
                  <th>FCMC</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let policy of loanPolicies">
                    <td class="state-country">{{policy.FC_StateAbbr}} | {{policy.FC_CountyName}}</td>
                    <td class="text-left">{{policy.FC_CropName}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropType"> {{policy.Crop_Type_Code}} </td>
                    <td class="text-left">{{policy.Irr_Practice_Type_Code}}</td>
                    <td class="text-left" *ngIf='columnsDisplaySettings.cropPrac'>{{policy.Crop_Practice_Type_Code}}</td>
                    <td class="text-left">{{ policy.HR_Exclusion_Ind ? 'HR' : '' }}</td>
                    <td class="text-left">{{policy.Ins_Plan}}</td>
                    <td class="text-left">{{policy.Ins_Plan_Type}}</td>
                    <td class="text-left">{{policy.Ins_Unit_Type_Code}}</td>
                    <td class="text-left">{{policy.Option}}</td>
                    <td> $ {{ (policy.Price || 0) | number:'1.4-4'}}</td>
                    <td class="percent"> {{(policy.Upper_Level || 0) | number:'1.0-0'}}</td>
                    <td class="percent"> {{(policy.Lower_Level || 0) | number:'1.0-0'}}</td>
                    <td class="percent"> {{(policy.Yield_Percent || 0 ) | number:'1.0-0'}}</td>
                    <td class="percent"> {{(policy.Price_Percent || 0 ) | number:'1.0-0'}}</td>

                    <td *ngIf='policy.Custom1 > 0'>  {{ policy.Custom1 | usdCurrency }}</td>
                    <td *ngIf='!policy.Custom1'> - </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>
