table {
    width: unset;
    
}
tfoot{
    background: lightgreen
}
td{
    padding: 5px;
    font-size: 12px;
}

th{
    padding: 5px;
    font-weight: 600;
    min-width: 60px;
   
}

th.wider{
    min-width : 100px;
}
.background-highlight{
    background-color: #b4cfed;
    font-weight: 600;
  }
.font-weight-600{
    font-weight: 600;
}
tr td:not(:first-child) {
    text-align: right;
}
tr td:first-child {
    text-align: left;
}
tr th:not(:first-child) {
    text-align: right;
}
tr th:first-child {
    text-align: left;
}

.percent:after{
    content : '%';
    
}

.text-left{
    text-align: left !important;
}

.state-country {
    width: 110px;
    max-width: 110px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

