<div class="section-one row-section">
    <div class="col s12 p-0 row-1" [class.border]='viewMode == _ViewMode.standard && isARM'>
      <div class="p-10">
        <div class="col s12 p-0">
          <div class="col s9 p-0">
            <div class="flex">
              <i class="material-icons">person</i>
              <span class="title farmer ellipsis" title="{{ BorrowerName }}">
                {{ BorrowerName }}
              </span>
              <svg id="shuffle" *ngIf='isCrossCollaterized' viewBox="0 0 512 512" width="30" height="15" style="transform: translate(0px, 3px);">
                <g>
                  <g>
                    <path d="M512,387.67L405.406,281.024v84.694h-10.435c-68.152,0-102.461-56.146-142.191-121.157 c-40.72-66.633-86.875-142.158-179.637-142.158H0v43.886h73.143c68.152,0,102.461,56.146,142.191,121.157 c40.72,66.633,86.875,142.158,179.637,142.158h10.435v84.686L512,387.67z"></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M512,124.355L405.406,17.71v84.695h-10.435c-66.714,0-109.319,39.063-143.135,85.788 c9.055,13.584,17.433,27.249,25.391,40.268c31.024-46.945,63.77-82.172,117.744-82.172h10.435v84.686L512,124.355z"></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M190.887,283.548c-31.024,46.943-63.77,82.17-117.744,82.17H0v43.886h73.143c66.714,0,109.319-39.063,143.135-85.788 C207.222,310.232,198.845,296.567,190.887,283.548z"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="flex" *ngIf="viewMode != _ViewMode.supercondensed">
              <i class="material-icons">group</i>
              <span class="title borrower ellipsis"  title="{{ FarmerName }}">
                {{ FarmerName }}
              </span>
            </div>
          </div>
          <div class="col s3 p-0 right-aligned" *ngIf='isARM'>
            <app-rating-stars [rating]="starsCount"></app-rating-stars>
          </div>
        </div>
        <div class="col s12 p-0" *ngIf="viewMode != _ViewMode.supercondensed">
          <div class="col s6 p-0">
            <div class='flex address-map'>
              <i class="material-icons" [class.link]='isDevAdmin' (click)="syncloanforce()" [class.map]='!info.Local_Ind'>place</i>
              <div class="title ellipsis">{{address}}</div>
            </div>
          </div>
          <div class="col s4 push-s2 right-aligned" [class.pull-top]='!isARM'>
            <div class="farm-info ">
              <div class="col s6">
                <span class="ellipsis">FARMing</span>
                <span class="ellipsis"> {{ info.FARMing + ' yrs' }}</span>
              </div>
              <div class="col s6">
                <span class="ellipsis">ARMing</span>
                <span class="ellipsis">{{ info.ARMing + ' yrs' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 p-0" *ngIf="viewMode != _ViewMode.supercondensed">
          <div class="col s6 p-0">
            <div class="flex loan-type">
              <i class="material-icons" [class.disabled]='!info.Controlled_Disbursement_Ind'>control_camera</i>
              <span class="title ellipsis"> {{info.cropYear}} {{loantype}} {{ info.loanFullId}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 p-0" *ngIf='viewMode == _ViewMode.standard && isARM'>
      <app-progress-chart></app-progress-chart>
    </div>
  </div>
