@import './../../../../sass/theme/variables';

.section-one {
  height: 100%;
  position: relative;

  .p-0 {
    padding: 0 !important;
  }

  .p-10 {
    padding: 10px;
  }

  .row-1{
    // min-height: 112px;
    // height: 112px;
    height: auto;
    &.border {
      border-bottom: 1px solid #eee;
    }
  }
}


.title {
  font-size: $font-size-md;
  font-weight: 500;
  &.borrower {
    font-size: 13px;
  }
  &.farmer {
    max-width: 250px;
  }
}

.flex {
  .material-icons {
    margin-top: -2px;
    padding-right: 10px;
    &.disabled {
      color: #bbb;
    }

    &.rotate-90 {
      transform: rotate(-90deg);
    }

    &.cross {
      margin-top: -12px;
      margin-left: 5px;
      color: #888;
    }
  }
}

.chart-wrapper {
  position: relative;
}

.farm-info {
  padding: 0px;
  > div {
    span {
      font-size: 12px;
      &:first-child {
        font-weight: 600;
        display: block;
      }
      &:last-child {
        text-transform: capitalize;
      }
    }
  }

  .col {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.address-map {
  .material-icons {
    color: rgba(0, 0, 0, 0.20);
    font-size: 20px;
    padding-right: 14px;
    &.map {
      color: #d44950;
    }
  }
  .title {
    font-size: 11px;
  }
}

.loan-type {
  .title {
    font-style: italic;
    font-size: 11px;
  }

  .material-icons {
    font-size: 20px;
    margin-top: -6px;
    color: #d44950;

    &.disabled {
      color: rgba(0, 0, 0, 0.20);
    }
  }
}

.pull-top {
  top: -20px;
}

.right-aligned {
  text-align: right;
}
