<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Budget
          </mat-panel-title>
      </mat-expansion-panel-header>


      <div class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th class="title">Expense</th>
                              <th class="ellipsis" *ngFor="let borrower of ccBudgetReport.borrowers" [title]='borrower'>{{borrower}}</th>
                              <th>Total</th>
                              <th> Budget %</th>
                          </tr>
                      </thead>

                      <tbody>
                          <ng-container *ngFor="let budget of ccBudgetReport.budgetTypes">
                              <tr>
                                  <td class="title">{{budget.name}}</td>
                                  <td *ngFor="let value of budget.budgets"> {{ value ? '$ '+(value.toFixed(0) | number) : '-' }} </td>
                                  <td> {{ budget.totalBudget ? '$ '+(budget.totalBudget.toFixed(0) | number) : '-' }} </td>
                                  <td class="percent"> {{ budget.perBudget ? budget.perBudget.toFixed(1) : '0.0' }}</td>
                              </tr>
                          </ng-container>

                          <tr class="background-highlight">
                              <td class="title">Total</td>
                              <td *ngFor="let value of ccBudgetReport.budgetTotal.budgets"> {{ value ? '$ '+(value.toFixed(0) | number) : '-' }} </td>
                              <td> {{ ccBudgetReport.budgetTotal.totalBudget ? '$ '+(ccBudgetReport.budgetTotal.totalBudget.toFixed(0) | number) : '-' }} </td>
                              <td class="percent"> {{ ccBudgetReport.budgetTotal.perBudget ? ccBudgetReport.budgetTotal.perBudget.toFixed(1) : '0.0' }}</td>
                          </tr>
                          <tr>
                              <td class="title">Estimated Interest</td>
                              <td *ngFor="let value of ccBudgetReport.feeAndInterest.budgets"> {{ value ? '$ '+(value.toFixed(0) | number) : '-' }} </td>
                              <td> {{ ccBudgetReport.feeAndInterest.totalBudget ? '$ '+(ccBudgetReport.feeAndInterest.totalBudget.toFixed(0) | number) : '-' }} </td>
                              <td class="percent"> {{ ccBudgetReport.feeAndInterest.perBudget ? ccBudgetReport.feeAndInterest.perBudget.toFixed(1) : '0.0' }}</td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>
