table {
  width: unset;
}
tfoot {
  background: lightgreen;
}
td:not(.title) {
  text-align: right;
}
th:not(.title) {
  text-align: right;
  max-width: 120px;
}
th.title {
  text-align: left;
}
td {
  padding: 5px;
  font-size: 12px;
}
th {
  padding: 5px;
  font-weight: 600;
  text-align: center;
  min-width: 110px;
}

tr th:first-child {
  min-width: 165px;
}
.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}

.percent:after {
  content: '%';
}
