@import './../../../sass/theme/variables';

.mat-slide-toggle {
  margin: 0;
}

.relative {
  position: relative;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.context-menu-item {
  display: flex;
  margin: 5px 0;

  > span {
    min-width: 175px;
    width: 175px;
    display: inline-block;
  }
}

app-loan-list {
  .c-error {
    color: $error-color;
  }

  .pending-action-icon {
    width: 20px;
    top: 2px !important;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 2px;
  }

  .flaticon-exclamation {
    float: left;
    padding-right: 6px;
    position: relative;
    top: -2px;
    left: 1px;
    cursor: pointer;

    &:before {
      font-size: 18px;
    }
  }

  .flaticon-filled-warning-icon,
  .flaticon-empty-warning-icon,
  .pending-action-icon {
    float: left;

    &:before {
      font-size: 16px;
      cursor: pointer;
    }
  }

  .cdk-column-Loan_Pending_Action_Type_Code {
    float: right !important;

    & .mat-sort-header-container {
      padding-left: 5px;
    }
  }
  .muted {
    background: #999;
    text-decoration: line-through;
  }

  .corner-right {
    position: absolute;
    right: 0px;
    background: $primary-color;
    border: 1px solid #333;
    border-radius: 0.2em;
    border-top: none;
    padding: 3px;
    margin-top: -17px;
    cursor: pointer;
  }

  .flaticon-setting {
    font-size: $font-size-md;
    display: block;
    color: #eee;

    &.rotating {
      animation: rotating 4s linear infinite;
    }
  }

  .mw-100 {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
  }

  .title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 130px;
  }

  .hidden {
    display: none !important;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow: scroll;
    border: 1px solid #ccc;
    max-height: calc(100vh - 160px);
    height: calc(100vh - 160px);

    .mat-header-row {
      position: sticky;
      top: 0px;
    }

    .mat-footer-row {
      position: sticky;
      bottom: 0px;
      border-top: 1px solid #ccc;

      &.hide-footer {
        position: absolute;
        height: 0;

        mat-footer-cell {
          display: none;
        }
      }

      &::after {
        content: ' ';
        position: absolute;

        // background: url('/assets/images/bg/bg.jpg');
        background: #ccc;
        background-position: center left;
        background-size: 15%;

        // background-color: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.25;
        z-index: -1;
      }

      .meta-text {
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 10px;
        border-radius: 5px;
        background: #fff;
        padding: 0px 5px;
        border: 1px dotted;

        // &.sum {
        //   top: 5px;
        // }
      }

      .min {
        color: $error-color;
        font-size: 12px;
        position: relative;
      }

      .max {
        font-size: 12px;
        color: $success-color;
        position: relative;
      }

      .total {
        font-size: 12px;
        position: relative;
        color: $primary-color;
      }

      .average {
        font-size: 12px;
        position: relative;

        // color: $warning-color;
        color: magenta;
      }
    }

    .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
    }

    // .mat-row,
    // .mat-header-row,
    // .mat-footer-row {
    //     // display: table-row;

    // }

    .mat-cell,
    .mat-header-cell,
    .mat-footer-cell {
      position: relative;
      word-wrap: initial;

      // display: table-cell;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      padding: 15px 5px 0 0;

      &.p-l-5,
      .p-l-5 {
        padding-left: 5px;
      }
    }

    .mat-footer-cell {
      // font-weight: 500;
      font-size: 12px;
      padding: 5px 0;

      div {
        margin-right: 15px;
      }

      &.cdk-column-Borrower_Rating {
        div:not(.total) {
          margin-right: 0px;
        }

        div.total {
          margin-right: 10px;
        }
      }
    }
  }

  .mw-150 {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
  }

  .text-center {
    text-align: center;

    .mat-sort-header-container {
      justify-content: center;
    }
  }

  .header-center {
    .mat-sort-header-container {
      justify-content: center;
    }
  }

  .header-right {
    .mat-sort-header-container {
      justify-content: flex-end;
    }
  }

  .right-align {
    span {
      margin-right: 15px;
    }

    .mat-sort-header-container {
      position: relative;

      .mat-sort-header-button {
        position: absolute;
        right: 0;
        margin-top: 10px;
      }

      .mat-sort-header-arrow {
        position: absolute;
        right: 0;
        margin-top: 10px;
      }
    }
  }

  .mat-header-cell {
    padding-left: 10px;

    .mat-sort-header-arrow {
      margin: 1px 0 0 5px;
      color: white;
    }
  }

  .icon-center {
    text-align: center;
    display: block;

    app-icon-loan-status i {
      display: inline-block;
      margin-left: -17px;
      margin-top: -8px;
    }

    app-icon-pending-action-status i {
      display: inline-block;
      margin-left: -10px;
      margin-top: -5px;
    }
  }

  .text-right {
    text-align: right;
  }

  .success {
    color: $success-color;
  }

  .mat-cell {
    font-size: $base-font-size;
    padding-left: 11px;
  }

  .name-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td,
  th {
    width: 25%;
  }

  .mat-row:hover {
    background: #eee;
  }

  .loan-list-container {
    padding: 2% 0%;
    width: 90%;

    &--no-loan {
      height: 50px;
      vertical-align: middle;
      text-align: center;
      font-weight: 500;

      div {
        margin-top: 20px;
      }
    }

    .search-bar {
      margin-bottom: 25px;

      .waves-light.btn {
        width: 130px;
      }

      .m-r-30 {
        margin-right: 30px;
      }

      &__date-filter {
        float: left;
        width: 48%;
        text-align: left;
      }

      &__text-filter {
        float: right;
        width: 48%;
        text-align: right;

        &--label {
          font-weight: 500;
          vertical-align: middle;
        }

        .search-container {
          display: inline-block;
          border: 1px solid gray;
          width: 55%;
          margin-left: 10px;
          vertical-align: middle;
          border-radius: 8px;
          position: relative;

          ::-webkit-input-placeholder {
            font-style: italic;
          }

          :-moz-placeholder {
            font-style: italic;
          }

          ::-moz-placeholder {
            font-style: italic;
          }

          :-ms-input-placeholder {
            font-style: italic;
          }

          mat-icon {
            color: gray;
          }
        }

        &--input {
          width: 85%;
          left: 0;
          vertical-align: middle;
          border: 0;
          padding: 2px 5px;
          margin-top: 3px;
          position: absolute;
          margin-left: 5px;
        }
      }
    }

    .mat-header-row,
    .mat-row {
      // border: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 0;
    }

    mat-header-row {
      background-color: #2478b2;
      z-index: 1;

      mat-header-cell {
        color: #fff;
        font-weight: 500;
        font-size: 15px;

        .mat-sort-header-button {
          letter-spacing: 0.5px;
        }

        mat-sort-header-arrow {
          color: #fff !important;
          opacity: 1;

          .mat-sort-header-arrow {
            opacity: 1 !important;
          }
        }
      }
    }

    mat-row.highlight-cell {
      background-color: rgba(239, 239, 239, 0.5);
    }

    // mat-row{
    //   mat-cell{
    //     text-align: center;
    //   }
    // }
  }
}
