<div class="row loan-list-container">

  <div class="search-bar">
    <a class="waves-effect waves-light btn" (click)="exportToExcel()" [ngClass]="{'disabled': isExportEnable }">
      <i class="material-icons left">get_app</i>Export to Excel
    </a>

    <div class="search-bar__text-filter">
      <span class="search-bar__text-filter--label">Search</span>
      <div class="search-container">
        <input #input class="search-bar__text-filter--input" type="text" placeholder="Loan ID, Date, Borrower Name"
         #input >
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="col-sm-12 relative">
    <div class="table-responsive" *ngIf="refDataReceived" #TABLE>
      <mat-table #table [dataSource]="loanlist" matSort [matSortActive]="sortColumn" matSortDirection="asc">
        <ng-container *ngFor="let col of headers" matColumnDef={{col}}>
          <!-- Loan_Full_ID column -->
          <span *ngIf="col === 'Loan_Full_ID'">
            <mat-header-cell class="mw-150 p-l-5" *matHeaderCellDef mat-sort-header>
              {{ headersTitles[col] }}
            </mat-header-cell>
            <mat-cell class="mw-150 p-l-5" *matCellDef="let row"> {{ row[col] }}</mat-cell>
            <mat-footer-cell class="mw-150" *matFooterCellDef>
              <app-footer-column *ngIf='isNumericColAvailable'
                [footerSettings]='loanListSettings?.portfolioAnalysisSettings'
                sum="Sum: {{loanlist?.filteredData?.length}}" max="{{ 'Max' }}" avg="{{ 'Avg' }}" min="{{ 'Min' }}">
              </app-footer-column>
            </mat-footer-cell>
          </span>

          <!-- Loan_Status column -->
          <span *ngIf="col === 'Loan_Status'">
            <mat-header-cell class="header-center mw-150" *matHeaderCellDef mat-sort-header>
              {{ headersTitles[col] }}
            </mat-header-cell>
            <mat-cell class="icon-center mw-150" *matCellDef="let row">
              <app-icon-loan-status [loanStatus]="row[col]" [tolerance]="row['Loan_Tolerance_Level_Ind']">
              </app-icon-loan-status>
            </mat-cell>
            <mat-footer-cell class="mw-150" *matFooterCellDef>
            </mat-footer-cell>
          </span>
          <!-- Is_Latest column: Hidden column -->
          <span *ngIf="col === 'Loan_Tolerance_Level_Ind' || col == 'Reminder_Ind'">
            <mat-header-cell class="hidden" *matHeaderCellDef mat-sort-header>
            </mat-header-cell>
            <mat-cell class="hidden" *matCellDef="let row">
            </mat-cell>
            <mat-footer-cell class="hidden" *matFooterCellDef>
            </mat-footer-cell>
          </span>

          <!-- Loan_Pending_Action_Type_Code column -->
          <span *ngIf="col === 'Loan_Pending_Action_Type_Code'">
            <ng-container>
              <mat-header-cell *matHeaderCellDef class="header-center mw-150">
                <img class="pending-action-icon" src="assets/images/icons/warning.png" *ngIf="isPendingActionEnabled"
                  (click)="togglePendingAction()" />
                <i *ngIf="!isPendingActionEnabled" class="flaticon-exclamation inline"
                  (click)="togglePendingAction()"></i>
                <span>{{ headersTitles[col] }}</span>
              </mat-header-cell>
            </ng-container>

            <mat-cell class="icon-center mw-150" *matCellDef="let row">
              <app-icon-pending-action-status [refData]='refdata' [status]="row[col]"
                [Reminder_Ind]='row.Reminder_Ind || 0' (reminderChange)='updateReminderInd(row.Loan_Full_ID, $event)'>
              </app-icon-pending-action-status>
            </mat-cell>
            <mat-footer-cell class="mw-150" *matFooterCellDef>
            </mat-footer-cell>
          </span>

          <!-- Pending_Action_Sort_Order column: Hidden column (only for sorting) -->
          <span *ngIf="col === 'Pending_Action_Sort_Order'">
            <mat-header-cell class="hidden" *matHeaderCellDef mat-sort-header>
            </mat-header-cell>
            <mat-cell class="hidden" *matCellDef="let row">
            </mat-cell>
            <mat-footer-cell class="hidden" *matFooterCellDef>
            </mat-footer-cell>
          </span>

          <!-- Is_Latest column: Hidden column (only for sorting) -->
          <span *ngIf="col === 'Is_Latest'">
            <mat-header-cell class="hidden" *matHeaderCellDef mat-sort-header>
            </mat-header-cell>
            <mat-cell class="hidden" *matCellDef="let row">
            </mat-cell>
            <mat-footer-cell class="hidden" *matFooterCellDef>
            </mat-footer-cell>
          </span>

          <!-- Generic solution for rest of the columns -->
          <span *ngIf="col !== 'Loan_Status' && col != 'Reminder_Ind'">
            <!-- Formatting for numbers-->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'number'">
              <mat-header-cell class="right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align mw-150" *matCellDef="let row">
                  <span>{{ row[col] }}</span>
                </mat-cell>
              </span>
              <mat-footer-cell class="mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
              </mat-footer-cell>
            </span>

            <!-- Formatting for currency-->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'currency'">
              <mat-header-cell class="right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align mw-150" *matCellDef="let row">
                  <span>{{ row[col] | currency:'USD' :'symbol':'1.0-0' }}</span>
                </mat-cell>
              </span>
              <mat-footer-cell class="right-align mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <app-footer-column [footerSettings]='loanListSettings?.portfolioAnalysisSettings'
                  sum="{{ footerItems.totals[col] | currency:'USD' :'symbol':'1.0-0' }}"
                  max="{{ footerItems.max[col] | currency:'USD' :'symbol':'1.0-0' }}"
                  avg="{{ footerItems.average[col] | currency:'USD' :'symbol':'1.0-0' }}"
                  min="{{ footerItems.min[col] | currency:'USD' :'symbol':'1.0-0' }}">
                </app-footer-column>
              </mat-footer-cell>
            </span>

            <!-- Formatting for percent -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'percent'">
              <mat-header-cell class="right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align mw-150" *matCellDef="let row">
                  <span> {{ (row[col] || 0) | number:'1.1-1' }}% </span>
                </mat-cell>
              </span>
              <mat-footer-cell class="right-align mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <app-footer-column [footerSettings]='loanListSettings?.portfolioAnalysisSettings' [sum]="'-'"
                  max="{{ footerItems.max[col] | number:'1.1-1' }}%"
                  avg="{{ footerItems.average[col] | number:'1.1-1' }}%"
                  min="{{ footerItems.min[col] | number:'1.1-1' }}%">
                </app-footer-column>
              </mat-footer-cell>
            </span>

            <!-- Formatting for Fee/Interest -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'interest'">
              <mat-header-cell class="right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align mw-150" *matCellDef="let row">
                  <span> {{ (row[col] || 0) | number:'1.2-2' }}% </span>
                </mat-cell>
              </span>
              <mat-footer-cell class="right-align mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <app-footer-column [footerSettings]='loanListSettings?.portfolioAnalysisSettings' [sum]="'-'"
                  max="{{ footerItems.max[col] | number:'1.1-1' }}%"
                  avg="{{ footerItems.average[col] | number:'1.1-1' }}%"
                  min="{{ footerItems.min[col] | number:'1.1-1' }}%">
                </app-footer-column>
              </mat-footer-cell>
            </span>

            <!-- Formatting for Acres -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'acres'">
              <mat-header-cell class="right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align mw-150" *matCellDef="let row">
                  <span> {{ row[col] | number:'1.1-1' }} </span>
                </mat-cell>
              </span>
              <mat-footer-cell class="right-align mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <app-footer-column [footerSettings]='loanListSettings?.portfolioAnalysisSettings'
                  sum="{{ footerItems.totals[col] | number:'1.1-1' }}" max="{{ footerItems.max[col] | number:'1.1-1' }}"
                  avg="{{ footerItems.average[col] | number:'1.1-1' }}"
                  min="{{ footerItems.min[col] | number:'1.1-1' }}">
                </app-footer-column>
              </mat-footer-cell>
            </span>

            <!-- Formatting for rating -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'rating'">
              <mat-header-cell class=" right-align mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="right-align name-ellipsis mw-150" *matCellDef="let row">
                  <app-rating-stars [rating]="row[col]"></app-rating-stars>
                </mat-cell>
              </span>
              <mat-footer-cell class="right-align mw-150" *matFooterCellDef>
                <div class="total" *ngIf='loanListSettings?.portfolioAnalysisSettings?.isSumRowEnabled'>
                  -
                </div>
                <div class="max" *ngIf='loanListSettings?.portfolioAnalysisSettings?.isMaxRowEnabled'>
                  <app-rating-stars [rating]="footerItems.max[col]"></app-rating-stars>
                </div>
                <div class="average" *ngIf='loanListSettings?.portfolioAnalysisSettings?.isAverageRowEnabled'>
                  <app-rating-stars [rating]="footerItems.average[col]"></app-rating-stars>
                </div>
                <div class="min" *ngIf='loanListSettings?.portfolioAnalysisSettings?.isMinRowEnabled'>
                  <app-rating-stars [rating]="footerItems.min[col]"></app-rating-stars>
                </div>
              </mat-footer-cell>
            </span>

            <!-- Date Column -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'date'">
              <mat-header-cell class="mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="name-ellipsis mw-150" *matCellDef="let row"> {{ row[col] | date:'dd/MM/yyyy'}}
                </mat-cell>
              </span>
              <mat-footer-cell class="mw-150" *matFooterCellDef>
              </mat-footer-cell>
            </span>

            <!-- Ind Column -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'Indicator'">
              <mat-header-cell class="mw-150 text-center" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="name-ellipsis mw-150 text-center" *matCellDef="let row"> {{ row[col]}}</mat-cell>
              </span>
              <mat-footer-cell class="mw-150 text-center" *matFooterCellDef>
              </mat-footer-cell>
            </span>

            <!-- Legacy_Loan_ID Column -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'Legacy_Loan_ID'">
              <mat-header-cell class="mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="name-ellipsis mw-150" *matCellDef="let row">
                  <span *ngIf='row[col] > 0'>
                    {{ row[col] }}
                  </span>
                </mat-cell>
              </span>
              <mat-footer-cell class="mw-150" *matFooterCellDef>
              </mat-footer-cell>
            </span>

            <!-- Formatting for string -->
            <span *ngIf="listSettings.loanMasterSettings[col]?.displayType === 'string'">
              <mat-header-cell class="mw-150" *matHeaderCellDef mat-sort-header
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
                <span title="{{ headersTitles[col] }}" class='title-text'>{{ headersTitles[col] }}</span>
              </mat-header-cell>
              <span>
                <mat-cell class="name-ellipsis mw-150" *matCellDef="let row">
                  <span title="{{ row[col] }}">
                    {{ row[col] }}
                  </span>
                </mat-cell>
              </span>

              <mat-footer-cell class="mw-150" *matFooterCellDef
                [ngClass]="{'hidden': !listSettings.loanMasterSettings[col].isDisplayEnabled}">
              </mat-footer-cell>
            </span>
          </span>
        </ng-container>
        <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
        <mat-row style="cursor: pointer" [class.highlight-cell]="i%2 !== 0" (click)="navigatetoloan(row.Loan_Full_ID)"
          *matRowDef="let row; columns: getDisplayedColumns(headers);let i = index"></mat-row>
        <mat-footer-row [class.hide-footer]='hideFooter' *matFooterRowDef="headers"></mat-footer-row>
      </mat-table>
      <div class="loan-list-container--no-loan" *ngIf="loanlist.filteredData.length == 0">
        <div>No Loans found.</div>
      </div>
    </div>
  </div>
</div>
