<div>

  <div class="basic-container loan-inventory">
    <app-report-header [ID]="'LoanInventoryReportHeader'" [reportName]="'Loan Inventory'"
      (onDetailChange)="onDetailChange($event)"></app-report-header>
    <app-loan-information [ID]="'LoanInventoryLoanInfo'" [expanded]='masterSvc.isChevronOpen'></app-loan-information>

    <app-inventory-borrower [ID]="'LoanInventoryBorrowerInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled"></app-inventory-borrower>
    <app-inventory-crop [ID]="'LoanInventoryCropInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-crop>
    <app-inventory-farm [ID]="'LoanInventoryFarmInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-farm>
    <app-inventory-insurance [ID]="'LoanInventoryInsuranceInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-insurance>
    <app-inventory-budget [ID]="'LoanInventoryBudgetInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-budget>
    <app-inventory-optimizer [ID]="'LoanInventoryOptimizerInfo'" [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-optimizer>
    <app-inventory-collateral [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-collateral>
    <app-inventory-committee [expanded]='masterSvc.isChevronOpen' [showDetail]="loanSetting.reportsSettings.isShowCompletedEnabled" ></app-inventory-committee>
    <app-inventory-conditions [expanded]='masterSvc.isChevronOpen'></app-inventory-conditions>
  </div>
</div>
