 <mat-accordion  *ngIf="colInv.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Collateral
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr [ngClass]="{'error-validation': colInv.Lienholder==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Lienholder</td>

								<td> {{prepareStatus(colInv.Lienholder)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': colInv.Buyer==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Buyer</td>

								<td> {{prepareStatus(colInv.Buyer)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': colInv.Guarantor==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Guarantor</td>

								<td> {{prepareStatus(colInv.Guarantor)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': colInv.CropCollateral==0}">
								<td class="chevron">Crop Collateral</td>

								<td> {{prepareStatus(colInv.CropCollateral)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': colInv.AdditionalCollateral==0}">
								<td class="chevron">Additional Collateral</td>

								<td> {{ prepareStatus(colInv.AdditionalCollateral)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': colInv.Contracts==0}">
								<td class="chevron">Contracts</td>

								<td> {{prepareStatus(colInv.Contracts)}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
