
table {
    width: unset;
    
}

td{
    padding: 5px;
    font-size: 12px;
}

th{
    padding: 5px;
    font-weight: 600;
}
tr th:not(:first-child) {
    min-width: 100px;
}
tr th:first-child {
    width: 370px;
}

tr th:nth-child(2) {
    width: 110px;
}

.chevron:before {
    content: '▶ ';
    font-size: 16px;
    margin-left: 2px;
}
