<div class="auth-page {{ backgroundClass }}">
  <div class="overlay">
    <div class="login-card mat-elevation-z14">

      <div class="login-header">
        <div>
          <div class="logo-header">
            <img src="assets/images/synthesis.white-1.png" class="logo" alt="Lenda Logo">
          </div>
        </div>
      </div>

      <div class="login-content">
        <form #loginForm="ngForm">
          <div class="login-form-input">
              <div class="login-inputs">
                <span>username</span>
                <input id="inputEmail" name="LoginId" #LoginId="ngModel" [(ngModel)]="username" [ngClass]="LoginId.invalid && !isValidForm?'errorlogin':''"
                placeholder="" type="text" md-no-asterisk required>
              </div>

              <div class="login-inputs">
                <span>password</span>
                <input id="inputPassword" name="Password" #Password="ngModel" [(ngModel)]="password" [ngClass]="Password.invalid && !isValidForm?'errorlogin':''"
                placeholder="" type="password" md-no-asterisk required>
                <mat-checkbox class="chk-remember-me" >remember me</mat-checkbox>
              </div>
          </div>

          <div class="login-actions">
            <!-- <mat-checkbox class="chk-remember-me" >REMEMBER ME</mat-checkbox> -->
            <button (click)="loginByUsernameAndPassword()" class="btn btn-lg btn-block btn-signin" type="submit" [disabled]='isLoginInProgress'>Login</button>

            <!-- <div class="other-login-opt">
              <span class="forgot-password">FORGOT PASSWORD?</span><br/>
              DONT'T HAVE AN ACCOUNT? <span class="register">REGISTER HERE</span>
            </div> -->

            <div class="other-login-opt">
              <span class="forgot-password">Forgot password?</span><br/>
              <span class="register">Need an account? Register Here</span>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

<img src="assets/images/icons/arm_lets_grow.png" class="fab-arm" alt="arm_lets_grow">
