.auth-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.auth-page {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg1 {
  background-image: url('../../assets/images/bg/arm-bg.png');
}

.bg2 {
  background-image: url('../../assets/images/bg/arm-bg2.png');
}

.bg3 {
  background-image: url('../../assets/images/bg/arm-bg3.png');
}

.bg4 {
  background-image: url('../../assets/images/bg/arm-bg4.png');
}

.plus {
  color: #2ebda3;
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
}

h5 {
  color: #bdcffd;
  text-align: center;
  font-weight: 500;
}

.login-card {
  border-radius: 5px;
  animation: fade-in 2s forwards 0s ease;
}

.login-header {
  height: 90px;
  background-color: rgb(76, 135, 218);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  .logo-header {
    margin: 10px 0px;
    text-align: center;
    img.logo {
      width: auto;
      height: 70px;
      margin-top: 10px;
    }
  }
}

.login-content > form {
  height: 450px;
  width: 380px;
  background-image: url('../../assets/images/bg/login-body.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  margin: 10px 0px;
  color: #4980c7;
  font-weight: 500;
  text-align: center;
}

.mat-form-field-underline {
  height: 2px !important;
}

@keyframes fade-in {
  0% {
    transform: rotate(0) translateY(-20%);
    display: none;
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0%);
    display: block;
  }
}

.login-form-input {
  margin-top: 50px;
  width: 320px;
  flex-grow: 1;
}

.chk-remember-me {
  margin: 0px;
}

.btn-signin {
  width: 105px;
  height: 35px;
  font-size: 13px;
  font-weight: 500;
  background-color: #3177e6;
  margin-bottom: 90px;
  box-shadow: 0px -1px 2px 0 #5091e5 inset, 0px 1px 2px 3px #065881;
}

.btn-signin:hover {
  background-color: #1db796;
  box-shadow: 0px -1px 2px 0 #2f8272 inset, 0px 1px 2px 3px #2e8271;
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  flex-grow: 1;
}

.other-login-opt {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password {
  font-size: 12px;
}

.register {
  /* color: #2cbb9c;
    text-align: center; */
  text-decoration: underline;
}

.fab-arm {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 7vh;
}

.login-inputs {
  margin: 10px 0px;
}

.login-inputs > span {
  color: #ffffff;
}

.login-inputs > input {
  height: 35px;
  width: 100%;
  padding: 5px;
  border: 2px solid #5091e5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .login-content > form {
    height: 400px;
    width: 300px;
  }

  .login-form-input {
    width: 280px;
  }
}


.btn-signin {
  &.btn[disabled] {
    box-shadow: 0px 0px 2px 0 #9f9f9f inset, 0px 1px 1px 1px #9f9f9f;
    cursor: not-allowed;
  }
}
