<svg *ngIf="rating != undefined || rating != null" [attr.height]="height" [attr.width]="width" preserveAspectRatio="xMinYMin meet">
  <g [class.right-star]='!isSmallSize'>
    <g *ngFor="let number of [1,2,3,4,5]">
      <image *ngIf="number <= rating"  [attr.x]="(number-1) * x + y"  y="0" [attr.width]="imageWidth" [attr.height]="imageHeight" [attr.xlink:href]="inGreenColor ? 'assets/images/svg-icons/green-star.svg' : 'assets/images/svg-icons/blue-star.svg'"
      />
      <image  *ngIf="number > rating" [attr.x]="(number-1) * x + y"  y="0" [attr.width]="imageWidth" [attr.height]="imageHeight" xlink:href="assets/images/svg-icons/gray-star.svg"
      />
    </g>
  </g>
</svg>
