<mat-accordion>
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header [class.has-data]='cropPractice?.LCP_Acres > 0 && rowData?.length > 0'>
			<mat-panel-title>
				Budget: {{getBudgetName(cropPractice)}} ({{ getAcres(cropPractice) }} Acres)
			</mat-panel-title>

		</mat-expansion-panel-header>
		<div class="container bottom under-chev-ag-grid">
			<div class="row col-md-12">
				<a (click)="copyIRRData()" class="waves-effect waves-light btn" *ngIf="(cropPractice.FC_PracticeType=='NI' && isprebuttonenabled)">Prev Prac</a>
			</div>
			<div class="row col-md-12" [id]="'Crop_Budget_' + cropPractice.Crop_Practice_ID">
        <ag-grid-angular [ngStyle]="style" class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [singleClickEdit]="true"
          [gridAutoHeight]="true"
          suppressColumnVirtualisation=true
          [stopEditingWhenGridLosesFocus]="'true'"
          [context]="context"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          (cellValueChanged)="rowvaluechanged($event)"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
          [gridOptions]="gridOptions"
          [columnDefs]="columnDefs"
          [getRowStyle]="getRowStyle"
          [suppressPropertyNamesCheck]='true'
          [pinnedBottomRowData]="pinnedBottomRowData"
          (displayedColumnsChanged)="adjustToFitAgGrid()">
				</ag-grid-angular>
			</div>
			  <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
			  <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a> -->
		</div>
		<br>
	</mat-expansion-panel>
</mat-accordion>
