<div class="basic-container association-header" *ngIf="header && associationTypeCode">

  <mat-accordion *ngIf="!withoutChevron">
    <mat-expansion-panel [expanded]="expanded" hideToggle>
      <mat-expansion-panel-header [class.has-data]='hasData'>
        <mat-panel-title>

          <div> <i class="material-icons expansion-panel-icon">account_circle</i> {{header}} </div>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngTemplateOutlet="associationGrid"></ng-container>
      <br>
    </mat-expansion-panel>
  </mat-accordion>

<ng-container *ngIf="withoutChevron">
  <h4> {{header}}</h4>
  <ng-container *ngTemplateOutlet="associationGrid"></ng-container>
</ng-container>
</div>


<ng-template #associationGrid >
  <div class="container bottom association-grid" [id]="tableId">
    <div class="row">
      <ag-grid-angular
        [ngStyle]="style"
        [hidden]="rowData.length === 0"
        class="ag-theme-balham roboto-font"
        [context]="context"
        [toolPanelSuppressRowGroups]="true"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressPivotMode]="true"
        [enableFilter]="true"
        [enableSorting]="true"
        [frameworkComponents]="frameworkcomponents"
        [components]="components"
        (cellValueChanged)="rowvaluechanged($event)"
        [rowData]="rowData"
        [editType]="editType"
        (gridReady)="onGridReady($event)"
        (displayedColumnsChanged)="adjustToFitAgGrid()"
        [suppressHorizontalScroll]="true"
        [columnDefs]="columnDefs"
        [suppressPropertyNamesCheck]='true'
        [suppressHorizontalScroll]='false'
        [gridOptions]="gridOptions"
        [gridAutoHeight]="true"
        [singleClickEdit]="true"
        [stopEditingWhenGridLosesFocus]="'true'">
    </ag-grid-angular>
    <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
  </div>

  <ng-container *ngIf='!isViewOnly'>
    <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
  </ng-container>

  <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a> -->
</div>
</ng-template>
