.bottom{
    padding-bottom: 10px
}

.association-grid{
    padding: 0px 33px 10px;
}

.association-header{
    mat-expansion-panel-header{
        overflow: visible;
        padding-left: 11px;
        .mat-content{
            margin-left: -5px;
        }

        .mat-expansion-panel-header-title:before{
            right: 0;
            margin-left: 22px;
        }
    }

    .material-icons.expansion-panel-icon{
        margin-right: 2.5px;
        width: 16px;
    }
}