app-aph {
    .icon-green{
        color:green !important
    }

    .icon-yellow{
        color:black !important
    }

    i.tiny{
        font-size:1em;
        margin-right:-10px;
        margin-top:6px;
        float:right;
        vertical-align: middle;
    }
      .ag-header-cell{
          cursor: pointer;
      }
}
