<div class="basic-container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='hasData'>
        <mat-panel-title>
          APH
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <button (click)="synctoDb()" class="btn-unstyle" [disabled]="!syncenabled()">
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
      </button> -->

      <div class="container bottom under-chev-ag-grid">
        <!-- <div>
            <a [ngStyle]="btnVaph" (click)="verifyClicked()" class="waves-effect waves-light btn">{{verifyButtonStage.replace('_','').toString()}}</a>
        </div> -->
        <div [hidden]="rowData.length === 0" class="row" id='Aph_'>
        <ag-grid-angular
        [ngStyle]="style"
        id="myGrid"
        class="ag-theme-balham roboto-font"
        [animateRows]="true"
        [enableSorting]="true"
        [context]="context"
        [enableFilter]="true"
        [showToolPanel]="false"
        (sortChanged)='sort($event)'
        [toolPanelSuppressRowGroups]="true"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressPivotMode]="true"
        (bodyScroll)="bodyScroll($event)"
        [components]="components"
        [singleClickEdit]="true"
        suppressColumnVirtualisation=true
        [stopEditingWhenGridLosesFocus]="'true'"
        [frameworkComponents]="frameworkComponents"
        (cellValueChanged)="rowvaluechanged($event)"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (cellClicked)='onCellClicked($event)'
        (columnVisible)="displayColumnsChanged($event)"
        [suppressPropertyNamesCheck]='true'
        [columnDefs]="columnDefs"
        [gridAutoHeight]=true>
        </ag-grid-angular>
        </div>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addRownew()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a>
        <app-import-file [columnDefs]='columnDefs' [isDisabled]="!isLoanEditable() || excel.validateImportExcel('aph')" (importExcel)='onImportExcel($event)'></app-import-file>
      </div>


    </mat-expansion-panel>
  </mat-accordion>

</div>

