<svg>
  <!-- Knowledge Lake and Wolters Kluwer -->
  <g transform="translate(1400, -40)">
    <image x="0" y="15" xlink:href="assets/images/schematics/knowledge-lake.svg" (click)='gotoKL()' width="150px" />
    <!-- <image x="3" y="110" xlink:href="assets/images/schematics/wolters.svg" width="24px" (click)='gotoKluwer()' />
    <text class="wolters" x="30" y="130" (click)='gotoKluwer()'>
      Wolters Kluwer
    </text> -->
  </g>

  <!-- Icons -->
  <!-- Underwriting Documents-->
  <g id="icon-underwriting-documents" data-tooltip-source="underwriting" transform="translate(775, 80)">
    <use [ngClass]="schematicSettings.underwriting.iconStatus" *ngIf="!schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <use class='loan-icon' [ngClass]="schematicSettings.underwriting.iconStatus" *ngIf="schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <svg:g app-critical-info  *ngIf="schematicPreferences.isEnhanceDetailActive" [x]="'30'" [y]="'-12'" [settings]="schematicSettings.underwriting"></svg:g>
    <svg:g app-info-bubble class="icon" [item]="schematicSettings.underwriting" [x]="15" [y]="-5" [cy]="5" [source]="'underwriting'"></svg:g>
    <text (click)="redirectTo('checkout')" class="link" [ngClass]="schematicSettings.underwriting.iconStatus" transform="translate(-23, 50)">
      <tspan x="0" y="0">Underwriting</tspan>
      <tspan x="4" y="16">Documents </tspan>
    </text>
  </g>
  <!-- Prerequisite Documents -->
  <g id="icon-prerequisite-conditions" data-tooltip-source="prerequisiteConditions" transform="translate(1077, 80)">
    <use [ngClass]="schematicSettings.prerequisiteConditions.iconStatus" *ngIf="!schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <use class='loan-icon' [ngClass]="schematicSettings.prerequisiteConditions.iconStatus" *ngIf="schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <svg:g app-critical-info  *ngIf="schematicPreferences.isEnhanceDetailActive" [x]="'30'" [y]="'-15'" [settings]="schematicSettings.prerequisiteConditions"></svg:g>
    <svg:g app-info-bubble class="icon" [item]="schematicSettings.prerequisiteConditions" [x]="15" [y]="-5" [cy]="5" [source]="'prerequisiteConditions'"></svg:g>
    <text (click)="redirectTo('checkout')" class="link" [ngClass]="schematicSettings.prerequisiteConditions.iconStatus" transform="translate(-25, 50)">
      <tspan x="0" y="0">Prerequisite</tspan>
      <tspan x="4" y="16">Documents </tspan>
    </text>
  </g>
  <!-- Closing Documents -->
  <g id="icon-closing-conditions" data-tooltip-source="closing" transform="translate(1160, 80)">
    <use [ngClass]="schematicSettings.closing.iconStatus" *ngIf="!schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <use class='loan-icon' [ngClass]="schematicSettings.closing.iconStatus" *ngIf="schematicPreferences.isEnhanceDetailActive" x="0" y="0" width="32" height="32" xlink:href="#paper-clip" />
    <svg:g app-critical-info  *ngIf="schematicPreferences.isEnhanceDetailActive" [x]="'30'" [y]="'-15'" [settings]="schematicSettings.closing"></svg:g>
    <svg:g app-info-bubble class="icon" [item]="schematicSettings.closing" [x]="15" [y]="-5" [cy]="5" [source]="'closing'"></svg:g>
    <text (click)="redirectTo('checkout')" class="link" [ngClass]="schematicSettings.closing.iconStatus" transform="translate(-10, 50)">
      <tspan x="0" y="0">Closing</tspan>
      <tspan x="-10" y="16">Documents </tspan>
    </text>
  </g>
</svg>
