.wolters {
  font-size: 18px;
  letter-spacing: -0.25px;
  cursor: pointer;
}

image {
  cursor: pointer;
}

text.link {
  cursor: pointer;
}

.loan-icon {
  pointer-events: bounding-box;
  cursor: pointer;
}
