<div class="basic-container">
  <span class="page-title"> Create Loan</span>



  <h3>Farmer</h3>
  <div class="container bottom width-auto">
    <div class="row">
      <div class="col">
        <mat-checkbox [(ngModel)]="userBorrower" (ngModelChange)="useBorrowerChange($event)">Use Borrower Information</mat-checkbox>
      </div>
    </div>
    <app-farmer-info [farmerInfo]='farmerInfo' [allowIndividualSave]="false" [mode]="'create'" (onFormValueChange)="onFarmerFormValueChange($event)"></app-farmer-info>
  </div>

  <h3>Borrower</h3>
  <div class="container bottom width-auto">
    <div class="row">
      <div class="col">
        <mat-checkbox [(ngModel)]="useFarmer" (ngModelChange)="useFarmerChange($event)">Use Farmer Information</mat-checkbox>
      </div>
    </div>
    <app-borrower-info-form [borrowerInfo]="borrowerInfo" (onFormValueChange)="onBorrowerFormValueChange($event)"></app-borrower-info-form>
    <!-- <div class="row">
      <div class="input-field col m2">
        <mat-form-field>
          <input matInput type="number" placeholder="Crop Year" [(ngModel)]="cropYear" [required]="true" validateRange start="2010" end="2020" #cyear="ngModel">
          <mat-error *ngIf="cyear.errors?.notInRange">
            Year should be between 2010 and 2020
          </mat-error>
        </mat-form-field>
      </div>
    </div> -->
  </div>
  <!-- <a class="waves-effect waves-light btn create-loan" (click)="onSave($event)" style="margin-bottom: 50px"
    [class.disabled]="!farmerParamsObj.isValid || !borrowerParamsObj.isValid || !cropYear || cyear.errors?.notInRange">
    Save and Continue
  </a> -->

  <ng-container *ngIf='btnEnabled'>
      <a class="btn-floating floating-create-loan" title="Create Loan and Continue" (click)="onSave($event)"
        [class.disabled]="!farmerParamsObj.isValid || !borrowerParamsObj.isValid">
          <i class="material-icons left">cloud</i>
      </a>
  </ng-container>

  <br/>
</div>
