app-policies {
   


    // .ag-cell{
    //     border-style: solid !important;
    // border-color: #e4dede !important;
    // border-width: 0px .02px 0px 0px !important;
    // }

      .ag-header-cell{
          cursor: pointer;
      }
    .cuppa-dropdown{
        width:100px !important
    }

    // numeric-cell input {
    //     width: 100%;
    //     height: 100%;
    // }

    .pinnededitable>span{
        
        color:blue !important
    }
    .pinnededitable{
        background-color:white !important;
    }
    .ag-floating-bottom-container > .ag-row > .ag-cell{
        background-color:#F6F5F5;
        color:black !important; 
    }
    input{
        width:auto !important
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow:none !important
    } 

    .ins-pol-star { 
        font-size: 14px;
    }
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
    .verifycell
    {
        background: yellowgreen
    }
    .blackcell{
        background: black !important;
        color:black !important;
    }
    .verification-error{
        background: yellow !important
    }
    .mat-slide-toggle{
        margin-left:5px
    }
    
    .icon-yellow{
        color:black !important
    }
    .graycell{
        color:#F6F5F5;
        background-color:#F6F5F5;

    }
    .wfrpmessage{
        float: right;
        padding-right: 255px;
        color: red;
    }

    
    i.tiny{
        font-size:1em;
        margin-right:-10px;
        margin-top:6px;
        float:right;
        vertical-align: middle;
    }
    
      
}

