<div class="basic-container">

    <mat-accordion>
      <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
        <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
          <mat-panel-title>
            Policies
          </mat-panel-title>
        </mat-expansion-panel-header>

    <div class="container bottom under-chev-ag-grid" id='Table_Policies'>
        <div>
      <ag-grid-angular [hidden]="rowData.length === 0"
        [ngStyle]="style"
        class="ag-theme-balham roboto-font"
        [animateRows]="true"
        [enableSorting]="true"
        [enableFilter]="true"
        [frameworkComponents]="frameworkcomponents"
        [components]="components"
        [suppressColumnVirtualisation]="true"
        [pinnedBottomRowData]="pinnedBottomRowData"
        [rowClassRules]="rowClassRules"
        (cellClicked)='onCellClicked($event)'
        [singleClickEdit]="true"
        (cellEditingStopped)="rowvaluechanged($event)"
        [rowData]="rowData"
        [context]="context"
        [suppressPropertyNamesCheck]='true'
        [gridAutoHeight]=true
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        (columnVisible)="displayColumnsChanged($event)"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions">
     </ag-grid-angular>
      <span class="wfrpmessage" [style.width]="wfrpmessagewidth()" *ngIf="getwfrpmessagevis() "> <mat-icon style="font-size: 16px">warning</mat-icon> WFRP eligibilty requires Borrower Income History</span>
     <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
     <br>
      </div>
    <div>
      <!-- //actual -->
     <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addRow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a> -->
     <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export to Excel</a> -->
    </div>
     </div>
       <br>
    </mat-expansion-panel>
</mat-accordion>

</div>
