<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Schedule of Crop Mix
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div *ngIf="CropMixArray" class="container">
        <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                  <th class="text-left wider">Crop</th>
                  <th class="text-left" *ngIf="columnsDisplaySettings.cropType">Crop Type</th>
                  <th class="text-left">Irr Prac</th>
                  <th class="text-left" *ngIf="columnsDisplaySettings.cropPrac"> Crop Prac</th>
                  <th class="text-left">State | County</th>
                  <th class='text-center wider-1'>Prod %</th>
                  <th class="text-left wider" >Landlord</th>
                  <th class="text-left wider" >FSN</th>
                  <th class="text-left" *ngIf="columnsDisplaySettings.section">Section</th>
                  <th class="text-left" *ngIf="columnsDisplaySettings.rated">Rated</th>
                  <th >Acres</th>

                </tr>
              </thead>
              <tbody *ngFor="let crop of CropMixArray">
                  <tr *ngFor="let cm of crop.cropIRRMixArray">

                    <td class="text-left">{{cm.crop}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropType">{{cm.cropType}}</td>
                    <td class="text-left">{{cm.practiceType}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropPrac">{{cm.practiceType}}</td>
                    <td class="text-left state-country">{{cm.stateAbbrev}} | {{cm.county}}</td>
                    <td class="percent text-center wider-1">{{cm.prodPer}}</td>
                    <td class="text-left lld" title="{{cm.landlord}}">
                      <span class="ellipsis">{{cm.landlord}}</span>
                    </td>
                    <td class="text-left">{{cm.fsn}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.section">{{cm.section}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.rated">{{cm.rated}}</td>
                    <td>{{cm.acres | number:'1.1-1'}}</td>
                  </tr>

                  <tr class="secondary-background-highlight">
                    <td class="text-left">{{crop.totalIRRAcres.crop}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropType">{{crop.totalIRRAcres.cropType}}</td>
                    <td class="text-left">{{crop.totalIRRAcres.practiceType}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropPrac">{{crop.totalIRRAcres.practiceType}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td *ngIf="columnsDisplaySettings.section"></td>
                    <td *ngIf="columnsDisplaySettings.rated"></td>
                    <td>{{crop.totalIRRAcres.acres | number:'1.1-1'}}</td>
                  </tr>

                  <tr *ngFor="let cm of crop.cropNIRMixArray">

                    <td class="text-left">{{cm.crop}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropType">{{cm.cropType}}</td>
                    <td class="text-left">{{cm.practiceType}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.cropPrac">{{cm.practiceType}}</td>
                    <td class="text-left state-country">{{cm.stateAbbrev}} | {{cm.county}}</td>
                    <td class="percent text-center wider-1">{{cm.prodPer}}</td>
                    <td class="text-left lld" title="{{cm.landlord}}">
                      <span class="ellipsis">{{cm.landlord}}</span>
                    </td>
                    <td class="text-left">{{cm.fsn}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.section">{{cm.section}}</td>
                    <td class="text-left" *ngIf="columnsDisplaySettings.rated">{{cm.rated}}</td>
                    <td>{{cm.acres | number:'1.1-1'}}</td>
                </tr>

                <tr class="secondary-background-highlight">
                  <td class="text-left">{{crop.totalNIRAcres.crop}}</td>
                  <td class="text-left" *ngIf="columnsDisplaySettings.cropType">{{crop.totalNIRAcres.cropType}}</td>
                  <td class="text-left">{{crop.totalNIRAcres.practiceType}}</td>
                  <td class="text-left" *ngIf="columnsDisplaySettings.cropPrac">{{crop.totalNIRAcres.practiceType}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td *ngIf="columnsDisplaySettings.section"></td>
                  <td *ngIf="columnsDisplaySettings.rated"></td>
                  <td>{{crop.totalNIRAcres.acres | number:'1.1-1'}}</td>
                </tr>
                <tr class="total">
                  <td>{{ crop.totalIRRAcres.crop }}</td>
                  <td *ngIf="columnsDisplaySettings.cropType"></td>
                  <td></td>
                  <td *ngIf="columnsDisplaySettings.cropPrac"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td *ngIf="columnsDisplaySettings.section"></td>
                  <td *ngIf="columnsDisplaySettings.rated"></td>
                  <td>{{crop.totalAcres | number:'1.1-1'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


  </mat-expansion-panel>
</mat-accordion>
