table {
  width: unset;
}
tfoot {
  background: lightgreen;
}
td {
  padding: 5px;
  font-size: 12px;
  &.wider-1 {
    min-width: 65px;
  }
}

th {
  padding: 5px;
  font-weight: 600;
  min-width: 70px;
}
.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}
.font-weight-600 {
  font-weight: 600;
}
tr td:not(:first-child) {
  text-align: right;
}
tr td:first-child {
  text-align: left;
}
tr th:not(:first-child) {
  text-align: right;
}
tr th:first-child {
  text-align: left;
}

.percent:after {
  content: '%';
}

th.wider {
  min-width: 105px;
  &-1 {
    min-width: 65px;
  }
}
.text-left {
  text-align: left !important;
}

.total td {
  background-color: #b4cfed;
  font-weight: 600;
}

.secondary-background-highlight {
  background-color: #e9e9e9;
  font-weight: 600;
}

.state-country {
  width: 110px;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center !important;
}

.lld {
  .ellipsis {
    max-width: 120px;
    display: block;
  }
}
