<ng-container>
  <app-dashboard-settings></app-dashboard-settings>
  <div>
    <h3 class="dashboard-gear--header">Schematic</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Enhanced Detail</h4>
      <mat-slide-toggle class="v-middle" (change)='toggleChange($event)' [ngModel]="schematicPreferences.isEnhanceDetailActive"></mat-slide-toggle>
    </div>
  </div>
</ng-container>