<svg>
  <g>
    <!-- Working -->
    <use *ngIf="Loan_Status == 'W'" [ngClass]="'success'" width="32" height="32" xlink:href="#working" />

    <!-- Withdrawn -->
    <use *ngIf="Loan_Status == 'Y'" [ngClass]="'error'" width="32" height="32" xlink:href="#withdrawn" />

    <!-- Recommended -->
    <use *ngIf="Loan_Status == 'R'" [ngClass]="'primary'" width="32" height="32" xlink:href="#recommended" />

    <!-- Approved -->
    <use *ngIf="Loan_Status == 'A'" [ngClass]="'primary'" width="32" height="32" xlink:href="#approved" />

    <!-- Declined -->
    <use *ngIf="Loan_Status == 'Z'" [ngClass]="'error'" width="32" height="32" xlink:href="#declined" />

    <!-- Uploaded -->
    <use *ngIf="Loan_Status == 'U'" [ngClass]="'primary'" width="32" height="32" xlink:href="#uploaded" />

    <!-- Paid -->
    <!-- <use *ngIf="Loan_Status == 'P'" [ngClass]="'error'" width="32" height="32" xlink:href="#paid" /> -->
    <use *ngIf="Loan_Status == 'P'" [ngClass]="'paid-loan'" width="32" height="32" xlink:href="#paid" />

    <!-- Written Off -->
    <use *ngIf="Loan_Status == 'X'" [ngClass]="'error'" width="32" height="32" xlink:href="#written-off" />

    <!-- Voided -->
    <use *ngIf="Loan_Status == 'V'" [ngClass]="'error'" width="32" height="32" xlink:href="#voided" />

    <!-- Historical -->
    <use *ngIf="Loan_Status == 'H'" [ngClass]="'error'" width="32" height="32" xlink:href="#historical" />
  </g>
</svg>
