<app-btn-save-settings (save)="onSave()"></app-btn-save-settings>

<section class="copy-default arm-right-align">
  <mat-form-field>
    <mat-label>Select Default User</mat-label>
    <mat-select [(value)]="selectedAdminUser">
      <ng-container *ngFor='let u of adminUsers'>
        <mat-option value="{{u.User_ID}}">{{u.Name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <button class="btn btn-primary" [disabled]='!selectedAdminUser' (click)="resetToFactorySettings()">Copy Default</button>
</section>
<!-- <input hidden type="button" class="btn btn-primary arm-right-align" value="ARM Default" (click)="resetToFactorySettings()" /> -->

<mat-tab-group (selectChange)="activeTab=$event.index">
  <mat-tab>
    <ng-template mat-tab-label>
      Loan List
    </ng-template>
    <app-loan-list [(settings)]="preferences.loanListSettings"></app-loan-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Initial Loan Settings
    </ng-template>
    <app-loan-settings [(settings)]="preferences.loanSettings"></app-loan-settings>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      User Settings
    </ng-template>
    <app-user-settings [userTypeCode]="user?.User_Type_ID" [(settings)]="preferences.userSettings"></app-user-settings>
  </mat-tab>
</mat-tab-group>
