.copy-default {
  &.arm-right-align {
    display: flex;
    align-items: baseline;
    position: absolute;
    right: 15px;
    top: 55px;
    z-index: 10;

    .btn {
      width: 150px;
      margin-left: 15px;
    }
  }
}
