<div>
  <h3 class="dashboard-gear--header">Dashboard</h3>
  <div class="dashboard-gear__item">
    <h4 class="dashboard-gear__item--label">Standard</h4>
    <mat-slide-toggle class="v-middle" [(ngModel)]="isStandard" (change)="setView('standard')"></mat-slide-toggle>
  </div>
  <div class="dashboard-gear__item">
    <h4 class="dashboard-gear__item--label">Condensed</h4>
    <mat-slide-toggle class="v-middle" [(ngModel)]="isCondensed" (change)="setView('condensed')"></mat-slide-toggle>
  </div>
  <div class="dashboard-gear__item">
    <h4 class="dashboard-gear__item--label">Super-Condensed</h4>
    <mat-slide-toggle class="v-middle" [(ngModel)]="isSuperCondensed" (change)="setView('super-condensed')"></mat-slide-toggle>
  </div>
</div>