<div class="row rating-component borrower-rating">
  <div *ngIf="data.partOne">
    <div class="row table-row">
        <ng-container *ngFor="let row of data.partOne; let first = first; let last = last; let rowInd = index">
            <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && settings.isConstantPercentEnabled)">
              <div class="col m2 label">
                <div class="cell text-left p-lr-10" [ngClass]="{'text-disabled' : row.isConstantPercentItem}" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
              </div>
              <div class="col m9 rating-header">
                <app-cell-value [ngClass]="{'text-disabled' : row.isConstantPercentItem}" *ngFor="let val of row.staticValues, let i = index; let lastStatic = last"
                    [value]="row.hideScale && !settings.isScaleEnabled ? emptyString : val"
                   [isStar]="val.star" [ratingCount]="ratingCount" [disableText]="row.disableText" [emptyDefault]="row.emptyDefault" [valueType]="row.valueType" [backgroundHighlight]="row.hightlightRow" [cellHighlight]="(5 - ratingCount) === i"></app-cell-value>
                <ng-container *ngIf="!first">
                  <ng5-slider  [(value)]="row.value" [options]="row.options"></ng5-slider>
                </ng-container>
              </div>
            </div>
          </ng-container>
    </div>
  </div>
  <div class="row" *ngIf="data.partTwo!=undefined" [class.toggle]='toggle'>
    <div class="row table-row">
      <ng-container *ngFor="let row of data.partTwo; let last = last; let rowInd = index">
        <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && settings.isConstantPercentEnabled)">
          <div class="col m2 label">
            <div class="cell text-left p-lr-10" [ngClass]="{'text-disabled' : row.isConstantPercentItem}" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
          </div>
          <div class="col m9" [class.rating-header]='row.totalRow' [class.total-row]='row.totalRow' [class.invalid-row]='row.isinvalid' >
            <app-cell-value [ngClass]="{'text-disabled' : row.isConstantPercentItem || row.disableText}" *ngFor="let val of row.staticValues, let i = index"
              [value]="val" [valueType]="row.valueType"
              [emptyDefault]="row.emptyDefault"
              [backgroundHighlight]="row.hightlightRow" [cellHighlight]="(5 - ratingCount) === i"></app-cell-value>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="row" *ngIf="data.partThree!=undefined" [class.toggle]='toggle'>
    <div class="row table-row">
      <ng-container *ngFor="let row of data.partThree; let rowInd= index">
        <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && settings.isConstantPercentEnabled)">
          <div class="col m2 label">
            <div class="cell text-left" [ngClass]="{'text-disabled' : row.isConstantPercentItem}" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
          </div>
          <div class="col m9" [class.rating-header]='row.totalRow' [class.total-row]='row.totalRow' >
            <ng-container *ngFor="let val of row.staticValues, let i = index">
              <app-cell-value *ngIf="!row.showInput" [ngClass]="{'text-disabled' : row.isConstantPercentItem}" [emptyDefault]="row.emptyDefault"
              [value]="val" [valueType]="row.valueType" [backgroundHighlight]="row.hightlightRow" [cellHighlight]="(5 - ratingCount) === i"></app-cell-value>

              <div class="col m2 cell text-right cell-value-component rate-input" *ngIf="row.showInput">
                <ng-container *ngIf="row.showInput && ((5 - ratingCount) === i)">
                  <input currencyMask [readonly]="!isLoanEditable()"
                  class="requested-credit--input" type="tel"
                  [(ngModel)]="agProReqCredit"
                  [options]="{precision: 0}"
                  name="AG_PRO_Requested_Credit"
                  [ngClass]="{'cell-validation validation-2' : !isReqCreditValid(agProReqCredit, data.partThree[3].staticValues[i])}"
                  (blur)="updateLocalStorage(agProReqCredit, data.partThree[3].staticValues[i])">
                </ng-container>
              </div>

            </ng-container>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
