// app-rating {
.bottom {
  padding-bottom: 20px;
}

.width-auto {
  width: auto !important;
}

.cell {
  padding: 5px 10px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
  white-space: nowrap;
}
.table-row {
  margin-bottom: 0;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}
.background-highlight {
  // background-color: #b4cfed;
  font-weight: 600;
}

.font-weight-600 {
  font-weight: 600;
}

.column-header {
  font-size: 11px;
  text-decoration: underline;
}

.section-heading {
  font-size: 16px;
}

.border-right {
  border-right: 1px solid;
}
.background-green {
  background-color: lightgreen;
}
.color-red {
  color: red;
}

.rating-component {
  width: 75%;
  margin-left: 0;
  min-width: 1000px;

  @media only screen and (min-width: 1400px) {
    width: 70%;
  }

  @media only screen and (min-width: 1500px) {
    width: 60%;
  }

  @media only screen and (min-width: 1500px) {
    width: 55%;
  }

  ng5-slider {
    width: 600px;
  }

  .row {
    margin-bottom: 0;
  }

  .requested-credit {
    margin-top: 15px;

    .col.m2.label {
      border: none;
    }

    &--label {
      font-weight: 600;
    }

    &--input {
      text-align: right;
      padding: 5px 10px;
      border: 1px solid gray;
      color: #1a61df;
      width: 100%;

      &:focus,
      &:active {
        border: 1px solid #29a979;
      }
    }

    &--input.text-valitation-error {
      &:focus,
      &:active {
        border: 1px solid red;
      }
    }
  }

  .col.m2 {
    width: 120px;
  }

  .col.m2.label {
    padding-right: 0px;
    border: 1px solid transparent;
    padding-left: 0;
    width: 180px;

    .bold-label {
      font-weight: 600;
    }

    // &:read-only{
    //   border: 1px solid gray;
    //   color: #000000;
    // }
  }

  .col.m9 {
    padding-left: 0px;
  }

  .text-valitation-error {
    border-color: red;
  }
}

.ng5-slider {
  margin: 0 !important;
  margin-top: 3.31% !important;
  display: block !important;
}

.ng5-slider-span.ng5-slider-bubble.ng5-slider-model-value {
  color: #91b9e5;
  font-weight: bold;
}

.ng5-slider .ng5-slider-pointer {
  width: 0 !important;
  height: 0 !important;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid #000000 !important;
  top: -10px !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}

.ng5-slider .ng5-slider-pointer:after,
.ng5-slider .ng5-slider-pointer:hover:after {
  background: dodgerblue !important;
}

.ng5-slider .ng5-slider-bar {
  background: gray !important;
  height: 1px !important;
}

.ng5-slider .ng5-slider-pointer:after {
  display: none !important;
}

.rate-input {
  padding: 0 !important;
  margin-top: 5px !important;
}
// }
