<div class="row mw-600 no-margin">
  <div class="container">
    <table class="user-settings-table" mat-table [dataSource]="dataSource">
      <!-- Heading Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'level2': element.level === 'two', 'level3': element.level === 'three'}"> {{element.title}} </td>
      </ng-container>

      <!-- isArmUserCommitteeEnabled Column -->
      <ng-container matColumnDef="isArmUserCommitteeEnabled">
        <th mat-header-cell *matHeaderCellDef class="mw-150 center"> ARM User Committee </th>
        <td mat-cell *matCellDef="let element" class="mw-150 center">
          <mat-checkbox [(ngModel)]="element.setting.isArmUserCommitteeEnabled"></mat-checkbox>
        </td>
      </ng-container>

      <!-- isArmUserLoEnabled Column -->
      <ng-container matColumnDef="isArmUserLoEnabled">
        <th mat-header-cell *matHeaderCellDef class="mw-150 center"> ARM User LO </th>
        <td mat-cell *matCellDef="let element" class="mw-150 center">
          <mat-checkbox [(ngModel)]="element.setting.isArmUserLoEnabled"></mat-checkbox>
        </td>
      </ng-container>

      <!-- isArmUserManagementEnabled Column -->
      <ng-container matColumnDef="isArmUserManagementEnabled">
        <th mat-header-cell *matHeaderCellDef class="mw-150 center"> ARM User Mgt </th>
        <td mat-cell *matCellDef="let element" class="mw-150 center">
          <mat-checkbox [(ngModel)]="element.setting.isArmUserManagementEnabled"></mat-checkbox>
        </td>
      </ng-container>

      <!-- isDistEnabled Column -->
      <ng-container matColumnDef="isDistEnabled">
        <th mat-header-cell *matHeaderCellDef class="mw-150 center"> Dist </th>
        <td mat-cell *matCellDef="let element" class="mw-150 center">
          <mat-checkbox [(ngModel)]="element.setting.isDistEnabled"></mat-checkbox>
        </td>
      </ng-container>

      <!-- isBorrowerEnabled Column -->
      <ng-container matColumnDef="isBorrowerEnabled">
        <th mat-header-cell *matHeaderCellDef class="mw-150 center"> Borrower </th>
        <td mat-cell *matCellDef="let element" class="mw-150 center">
          <mat-checkbox [(ngModel)]="element.setting.isBorrowerEnabled"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br />
  </div>
</div>
