<ng-container>
  <app-dashboard-settings></app-dashboard-settings>

  <div>
    <h3 class="dashboard-gear--header">Display Detail</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">ARM Detail</h4>
      <mat-slide-toggle class="v-middle" (click)="onReportsSettingsToggled($event)" [(ngModel)]="loanSetting.reportsSettings.isArmDetailEnabled"></mat-slide-toggle>
    </div>

    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Crop Detail</h4>
      <mat-slide-toggle class="v-middle" (click)="onReportsSettingsToggled($event)" [(ngModel)]="loanSetting.reportsSettings.isCropDetailEnabled"></mat-slide-toggle>
    </div>

    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Document Detail</h4>
      <mat-slide-toggle class="v-middle" (click)="onReportsSettingsToggled($event)" [(ngModel)]="loanSetting.reportsSettings.isConditionDetailEnabled"></mat-slide-toggle>
    </div>

    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Disc Values</h4>
      <mat-slide-toggle class="v-middle" (click)="onReportsSettingsToggled($event)" [(ngModel)]="loanSetting.reportsSettings.isDiscValueEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Show Completed</h4>
      <mat-slide-toggle class="v-middle" (click)="onReportsSettingsToggled($event)" [(ngModel)]="loanSetting.reportsSettings.isShowCompletedEnabled"></mat-slide-toggle>
    </div>
  </div>
</ng-container>
