<svg *ngIf="uid">
  <defs>
    <marker [attr.id]="uid" markerWidth="10" markerHeight="10" refX="0" refY="2" orient="auto" markerUnits="strokeWidth">
      <path d="M0,0 L0,4 L2.35,2" class="marker" [ngClass]="{'filled': isStepCompleted}" />
    </marker>
  </defs>
  <line [attr.id]='uid' [ngClass]="{'filled': isStepCompleted}" *ngIf="isMarkerVisible" [attr.x1]="startX" [attr.y1]="startY" [attr.x2]="endX"
    [attr.y2]="endY" class="arrow" [attr.marker-end]="getArrowMarker()" />
  <line [attr.id]='uid' [ngClass]="{'filled': isStepCompleted}" *ngIf="!isMarkerVisible" [attr.x1]="startX" [attr.y1]="startY" [attr.x2]="endX"
    [attr.y2]="endY" class="arrow" />
</svg>
