@import "./../../../../../sass/theme/variables";

.marker {
  fill: $light-grey;
  &.filled {
    fill: $primary-color-40;
  }
}

.arrow {
  stroke: $light-grey;
  stroke-width: 6;
  &.filled {
    stroke: $primary-color-40;
  }
}
