<svg class="o-visible" *ngIf="criticalInfos">
  <g [style.transform]="'translate(' + x + 'px,' + y + 'px)'">
    <!-- Both errors and warnings exist -->
    <!-- <g *ngIf="settings.warnings.length !== 0 && settings.errors.length !== 0">
      <svg:g app-critical-item data-source='warnings' [type]="'warning'" x="0" y="3" [number]="settings.warnings.length"></svg:g>
      <svg:g app-critical-item data-source='errors' [type]="'error'" x="25" [y]="3" [number]="settings.errors.length"></svg:g>
    </g> -->
    <!-- Only error -->
    <!-- <g *ngIf="settings.errors.length !== 0 && settings.warnings.length === 0">
      <svg:g app-critical-item data-source='errors' [type]="'error'" x="0" y="3" [number]="settings.errors.length"></svg:g>
    </g> -->
    <!-- Only warning -->
    <!-- <g *ngIf="settings.warnings.length !== 0 && settings.errors.length === 0">
      <svg:g app-critical-item data-source='warnings' [type]="'warning'" x="0" y="3" [number]="settings.warnings.length"></svg:g>
    </g> -->

    <g>
      <ng-container *ngFor="let info of criticalInfos; let i = index">
        <svg:g app-critical-item [attr.data-source]='info.source' (click)='redirectTo(info.level)' [attr.data-source-level]='info.level' [type]="info.type" [x]="getX(info.level, i)" y="3" [level]='info.level' [number]="info.items.length"></svg:g>
      </ng-container>
    </g>
  </g>
</svg>
