<div class="comment-container">
  <div class="loan-borrower-info">{{ loanFD }} {{ bName }}</div>
  <div class="comment-type">
    <i
      *ngIf="commentType == 0"
      class="flaticon-multiple-users-silhouette"
      style="color: #23b4ad"
    ></i>
    <i
      *ngIf="commentType == 1"
      class="flaticon-multiple-users-silhouette"
      style="color: #FFBB19;"
    ></i>
    <mat-icon
      *ngIf="commentType == 2"
      class="mat-icon material-icons"
      role="img"
      aria-hidden="true"
      style="color: #FFBB19;"
      >mode_edit</mat-icon
    >
    <i
      *ngIf="commentType == 3"
      class="flaticon-alarm"
      style="color: #164c7b;"
    ></i>
    <i
      *ngIf="commentType == 4"
      class="flaticon-old-typical-phone"
      style="color: #d2162a;"
    ></i>
  </div>
  <div class="speech-bubble">
    <div class="media-article">
      <span class="bg-white stateCountyHover">
        <i class="material-icons account"> account_circle </i>
        <span *ngIf="loffice != ''" class="stateCounty">{{ loffice }}</span>
      </span>
      <div class="info">
        <div class="title">
          <div class="commentAuth">{{ title }}</div>
          <div class="status-icon">
            <span class="date">
              <button
                mat-icon-button
                (click)="onRead()"
                *ngIf="isRead == -1 && commentType == 1"
              >
                <mat-icon class="unread">done</mat-icon>
              </button>
            </span>
            <span class="date" *ngIf="isRead == 1 && commentType == 1">
              <mat-icon class="read">done_all</mat-icon>
            </span>
          </div>
        </div>
        <div class="text">
          <i *ngIf="isEmoji" class="em" [ngClass]="icon"></i>
          <i *ngIf="isMaterial" class='material-icons' [ngClass]='emojiIcon'>{{ emojiIcon }}</i>
          <i *ngIf="isFlaticon" [ngClass]="emojiIcon"></i>
          <span *ngIf='systemText' class="system-message"> {{getEmojiText()}} {{ systemText }} <br /> </span>
          <span>{{ text }}</span>
        </div>

        <div class="cad">
          <div class="b-name">
            <div class="date cust-date">{{ date }}</div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
