@import "./../../../../../sass/theme/variables";

.media-article {
  display: flex;
  background: $white-90;
  border-radius: 0.25em;
  // padding: 10px;
  font-weight: bold;
  font-size: $font-size-sm;
  color: $black-70;
  margin: 5px 0;
  // border: 1px solid #eee;
  // .text {
  //   margin-top: 5px;
  //   margin-left: 10px;
  // }

  .forum {
    color: #21d2ac;
  }

  .bar_chart {
    color: #fe8a0b;
  }

  .account {
    color: #247ab1;
  }

  .info {
    margin-left: 10px;
  }

  .title {
    font-size: $font-size-sm;
    width: 200px;
    word-wrap: break-word;
  }

  .text {
    margin-top: 25px;
  }

  .date {
    color: #ccc;
    font-weight: normal;
    font-size: $font-size-sm;
    display: block;
    float: right;
  }

  .cad {
    margin-top: 10px;
    color: #ccc;
    font-weight: normal;
    font-size: $font-size-sm;
    word-wrap: break-word;
    text-align: right;
    float: right;
  }

  .b-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }

  .commentAuth {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    float: left;
  }
}

.loan-borrower-info {
  color: #ccc;
  font-weight: normal;
  font-size: 10px;
  word-wrap: break-word;
  margin-left: 10px;
  float: left;
}

.comment-type {
  margin-right: 8px;
  float: right;
}

.status-icon,
.comment-type > i:before,
.comment-type > mat-icon {
  font-size: 14px !important;
  margin-bottom: -4px;
}

.comment-container {
  width: 248px;
}

.status-icon {
  float: right;

  .mat-icon-button {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }

  mat-icon {
    font-size: 15px;

  }

  .mat-icon-button .mat-icon {
    line-height: 15px;
  }
}

.cust-date {
  margin-bottom: -3px;
}

.message-icon {
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.comment-message {
  white-space: pre-line;
}

.rescind-btn {
  font-size: 16px;
  position: relative;
  top: 2px;
}

// DECIDE FONT COLOR FOR SYSTEM MESSAGE
.system-message {
  color: #247ab1;
}

.stateCounty{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color: #247ab1;
  padding:3px;
  color:#000;
  font-weight: bold;
  top:35px;
  left:0px;
  font-size: 10px
}

.stateCountyHover:hover span.stateCounty{
  display:block;
  cursor: pointer;
}

.replay {
  height: 16px;
  width: 16px;
  font-size: 16px;
  position: relative;
  top: 4px;
  color: #d44950;
}
