@import "./../../../../sass/theme/variables";

.header-label, .header-value {
  font-weight: bold;
}

.header-value {
  font-size: 12px;
}

.header-label {
  min-width: 75px;
  display: inline-block;
  color: #aaa;
  font-weight: 500;
}

.budget-doughnut {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
}

.row-section {
  padding: 10px;
  position: relative;
  height: 100%;

  .total {
    padding: 0px;
  }

  .p-top-20 {
    padding: 0px;
    padding-top: 15px;

    &.margin-percent {
      padding-left: 5px;
    }
  }

  .col:not(.s12) {
    display: flex;
    flex-direction: column;
  }

  .col.s12 {
    padding: 0;
  }
}

.concise {
  padding: 15px;
  position: relative;
}

.cash-flow {
  padding-left: 25px;
}

.muted-label {
  color: #aaa;
  font-weight: 500;
}
