<div class="row-section">
  <div class="col s12">
    <div class='col s4 total'>
      <span class="header-label ellipsis">Total Commit</span>
      <span class="header-value ellipsis">{{ info.budget | currency:'USD':'symbol':'1.0-1'}}</span>
    </div>

    <div class='col s3'>
      <span class="header-label ellipsis">Break Even</span>
      <span class="header-value ellipsis">{{ info.breakEven | number: '1.1-1' }} %</span>
    </div>

    <div class='col s5 cash-flow'>
      <span class="header-label ellipsis">Cash Flow</span>
      <span class="header-value ellipsis">{{ info.cashFlow | currency:'USD':'symbol':'1.0-0'}} &nbsp;
        <span class="muted-label">
            {{ info.cashFlowPercentage | number: '1.1-1'}}%
        </span>
      </span>
    </div>
  </div>

  <div class="col s12">
    <div class="col s6 p-top-20" *ngIf="viewMode == 'condensed' && isARM">
      <span class="header-label ellipsis">Margin</span>
      <span class="header-value">{{ info.excessIns | currency:'USD':'symbol':'1.0-0' }} &nbsp;
        <span class="muted-label">
            {{info.excessInsPercent}}
        </span>
      </span>
    </div>

    <div class="col s6" *ngIf="viewMode == 'condensed' || (!isARM && viewMode != 'super-condensed')">
      <app-progress-chart width="100" [viewMode]="viewMode" [isSmallSize]='true'></app-progress-chart>
    </div>
  </div>


  <div class="budget-doughnut" *ngIf="viewMode == 'standard' && isARM">
    <canvas *ngIf="doughnutChartData && doughnutChartData.length !== 0" baseChart [colors]="chartColors" [options]="chartOptions"
      [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
  </div>
</div>
