<mat-accordion *ngIf='loanList && loanList.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ header || 'Loan List'}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="loanList && openChevron" class="container" [attr.id]="ID">
        <div class="row">
          <div class="col s12" style="width: 100%;overflow-x:auto">
            <table class="bordered" [class.color-green]="type === RelatedLoanListType.Affiliated">
              <thead>
                <tr [class.color-green]="type === RelatedLoanListType.Affiliated">
                  <th>Loan ID</th>
                  <th class="align-left" *ngIf="[RelatedLoanListType.Affiliated,RelatedLoanListType.CrossCollateralized].includes(this.type)">Borrower</th>
                  <th *ngIf="[RelatedLoanListType.Current,RelatedLoanListType.Previous].includes(type)" class="align-left"> Status </th>
                  <!-- <th>Close Date</th> -->
                  <th>Maturity</th>
                  <th>Acres</th>
                  <th>ARM Commit</th>
                  <th>Dist Commit</th>
                  <th>Total Commit</th>
                  <th *ngIf="[RelatedLoanListType.Current,RelatedLoanListType.Previous].includes(type) ">Addendum %</th>
                  <th *ngIf="showARMDetails" class="arm-only">Orig Fee</th>
                  <th *ngIf="showARMDetails" class="arm-only">Service Fee</th>
                  <th *ngIf="showARMDetails" class="arm-only">Extension Fee</th>
                  <th *ngIf="showARMDetails" class="arm-only">Total Fee</th>
                  <!-- <th *ngIf="showARMDetails">Risk Cushion %</th>
                  <th *ngIf="showARMDetails">Return %</th> -->
                  <th *ngIf="showARMDetails" class="arm-only">Outstanding</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngIf = "[RelatedLoanListType.Current,RelatedLoanListType.Previous].includes(type) && loanList.length">
                  <td></td>
                  <td class="align-left delta-icon">
                      <i class="material-icons">change_history</i>
                  </td>
                  <td></td>
                  <!-- <td></td> -->
                  <td>{{(loanList[0].Delta_Crop_Acres ||0) | number : '1.1-1'}}</td>
                  <td>$ {{(loanList[0].Delta_ARM_Commitment || 0) | number:'1.0-0'}}</td>
                  <td>$ {{(loanList[0].Delta_Dist_Commitment || 0) | number:'1.0-0'}}</td>
                  <td>$ {{(loanList[0].Delta_Total_Commitment || 0) | number:'1.0-0'}}</td>
                  <td> {{(loanList[0].Delta_Current_Addendum_Percent || 0)  | number:'1.1-1'}}%</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loanList[0].Delta_Origination_Fee_Amount || 0) | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loanList[0].Delta_Service_Fee_Amount || 0) | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loanList[0].Delta_Extension_Fee_Amount || 0)| number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loanList[0].Delta_Total_Return_Fee || 0) | number:'1.0-0'}}</td>
                  <!-- <td *ngIf="showARMDetails" class="color-green">{{ (loanList[0].Delta_Risk_Cushion_Percent || 0) | number:'1.1-1'}}%</td>
                  <td *ngIf="showARMDetails" class="color-green"> {{ (loanList[0].Delta_Return_Percent || 0) | number:'1.1-1'}}%</td> -->
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(0) | number:'1.0-0'}}</td>
                </tr>

                <tr *ngFor="let loan of loanList">
                  <td class="align-left">{{loan.Loan_Full_ID}}</td>
                  <td class="align-left ellipsis bor-name"
                    *ngIf="[RelatedLoanListType.Affiliated,RelatedLoanListType.CrossCollateralized].includes(type)"
                    title="{{getBorrowerName(loan)}}"
                  >
                    {{getBorrowerName(loan)}}
                  </td>
                  <td *ngIf="[RelatedLoanListType.Current,RelatedLoanListType.Previous].includes(type)" class="align-left">
                    <app-icon-loan-status cssClass='related-loan-list'  [loanStatus]='loan.Loan_Status'></app-icon-loan-status>
                  </td>

                  <!-- <td>{{ formateDate(loan.Close_Date)}}</td> -->
                  <td>{{ formateDate(loan.Maturity_Date)}}</td>
                  <td>{{ loan.Total_Crop_Acres | number:'1.1-1'}}</td>
                  <td>$ {{loan.ARM_Commitment | number:'1.0-0'}}</td>
                  <td>$ {{loan.Dist_Commitment | number:'1.0-0'}}</td>
                  <td>$ {{loan.Total_Commitment | number:'1.0-0'}}</td>
                  <td *ngIf = "(type === RelatedLoanListType.Current)"> {{(loan.Current_Addendum_Percent || 0) | number:'1.1-1'}}%</td>
                  <td *ngIf="(type === RelatedLoanListType.Previous)"> {{(loan.Prev_Addendum_Percent || 0)  | number:'1.1-1'}}%</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{loan.Origination_Fee_Amount | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{loan.Service_Fee_Amount | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loan.Extension_Fee_Amount || 0)| number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{((loan.Total_ARM_Fees_And_Interest ||0)) | number:'1.0-0'}}</td>
                  <!-- <td *ngIf="showARMDetails" class="color-green">{{ (loan.Risk_Cushion_Percent || 0) | number:'1.1-1'}}%</td>
                  <td *ngIf="showARMDetails" class="color-green"> {{ (loan.Return_Percent || 0) | number:'1.1-1'}}%</td> -->
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(loan.Outstanding_Balance || 0) | number:'1.0-0'}}</td>
                </tr>
                <tr class="background-highlight" *ngIf="[RelatedLoanListType.Affiliated,RelatedLoanListType.CrossCollateralized].includes(this.type)">
                  <td>Total</td>
                  <td> </td>
                  <!-- <td></td> -->
                  <td></td>
                  <td>{{totalRow.Acres | number : '1.1-1'}}</td>
                  <td>$ {{totalRow.ARMCommit | number:'1.0-0'}}</td>
                  <td>$ {{totalRow.DistCommit | number:'1.0-0'}}</td>
                  <td>$ {{totalRow.TotalCommit | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{totalRow.OrgiFee | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{totalRow.ServiceFee | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{(totalRow.ExtensionFee ||0) | number:'1.0-0'}}</td>
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{totalRow.TotalFee | number:'1.0-0'}}</td>
                  <!-- <td *ngIf="showARMDetails" class="color-green">{{ (totalRow.RiskCusion || 0) | number:'1.1-1'}}%</td>
                  <td *ngIf="showARMDetails" class="color-green"> {{ (totalRow.Return || 0) | number:'1.1-1'}}%</td> -->
                  <td *ngIf="showARMDetails" class="color-green arm-only">$ {{totalRow.Outstanding | number:'1.0-0'}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>
