table {
  width: unset;
}
td {
  padding: 5px;
  font-size: 12px;
  &.delta-icon {
    i {
      line-height: 0;
      position: relative;
      top: 7px;
    }
  }
}

th {
  padding: 5px;
  font-weight: 600;
}
.background-highlight {
  background-color: #b4cfed;
  font-weight: 600;
}
.font-weight-600 {
  font-weight: 600;
}
tr td:not(:first-child) {
  text-align: right;
}
tr th:not(:first-child) {
  text-align: right;
  min-width: 100px;
}
tr th:first-child {
  text-align: left;
  min-width: 105px;
}

.align-left {
  text-align: left !important;
}
.percent:after {
  content: '%';
}

.color-green {
  color: green !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.bor-name {
    max-width: 300px;
  }
}
