<h1 mat-dialog-title>Select Verification Document</h1>
<div mat-dialog-content>
  <div class="additional-collateral">
    <div class="col s12">
      <mat-form-field>
        <mat-select #ddldocs placeholder="Select Document" [(ngModel)]="popmodel.DocID">
          <mat-option *ngFor="let Doc of Documents" [title]="Doc.Document_Name" [value]="Doc.Loan_Document_ID">
            {{ Doc.Document_Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="alertModal modal-footer">
  <div class="mat-footer-inner">
      <div class="pull-right">
          <button matDialogClose (click)="onyesClick()" [disabled]="Documents.length==0"  class="mat-raised-button green alertifybtndone modal-trigger" >Confirm</button>
          <button matDialogClose (click)="onNoClick()" style="background-color:#d44950 !important;border: none;
          width: 70px;" class="alertifybtndone btn-outline modal-close modal-cancel">Cancel</button>
        </div>



  </div>
</div>
