<mat-accordion *ngIf="farmInventory.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Farm
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
								<tr [ngClass]="{'error-validation': farmInventory.Landlord==0}">
										<td><i class="material-icons expansion-panel-icon">account_circle</i> Landlord</td>
										<td> {{prepareStatus(farmInventory.Landlord)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': farmInventory.Farm==0}">
										<td class="chevron">Farm</td>
										<td> {{prepareStatus(farmInventory.Farm)}}</td>
									</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
