<mat-sidenav #adminSidebar class="arm-sidenav" [ngClass]="{'expanded': isExpanded}" id="arm-sidenav" [mode]="'over'" opened="true">
  <mat-nav-list class="arm-sidenav-main">
    <mat-list-item routerLinkActive="active" [routerLink]="['crop-list']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-menu"></i></mat-icon>
      <p matLine>Crop List</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon><i class="flaticon flaticon-user"></i></mat-icon>
      <p matLine>Page 2</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon><i class="flaticon flaticon-user"></i></mat-icon>
      <p matLine>Page 3</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon><i class="flaticon flaticon-user"></i></mat-icon>
      <p matLine>Page 4</p>
    </mat-list-item>        
  </mat-nav-list>  
</mat-sidenav>
