// Margins and Paddings

.inv-mt-10 {
  margin-top: -10px;
}

.inv-mt-15 {
  margin-top: -15px;
}

.m-0 {
  margin: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-25 {
  margin-left: 25px;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-lr-5 {
  padding: 0 5px !important;
}

.p-lr-7 {
  padding: 0 7px;
}

.p-tb-10 {
  padding: 10px 0;
}

.m-t-4 {
  margin-top: 4px;
}

.m-tb-5 {
  margin: 5px 0;
}

.m-tb-10 {
  margin: 10px 0;
}

.m-tb-15 {
  margin: 15px 0;
}

.p-l-15 {
  padding-left: 15px;
}

.p-lr-10 {
  padding: 0 10px;
}

.p-lr-15 {
  padding: 0 15px;
}

.w-100 {
  width: 100%;
}

.text-muted {
  color: rgba(255, 255, 255, 0.75);
}

.text-disabled {
  color: #aaa;
}

.label-muted {
  color: #aaa;
}

// Colors
.primary {
  color: $primary-color;
}

.icon-disabled {
  color: #555;
}

.warning {
  color: $warning-color;
}

// Max width settings
.mw-400 {
  max-width: 400px;
}

// Icons
.flaticon {
  color: $icon-color;
}

.flaticon-primary {
  &:before {
    color: $primary-color;
  }
}

.flaticon-icon-disabled {
  color: grey;
  pointer-events: none;
}

.flaticon-warning {
  &:before {
    color: #f79647;
  }
}

.flaticon-error {
  &::before {
    color: $error-color;
  }
}

.flaticon-success {
  &:before {
    color: #28a745;
  }
}

.flaticon-danger {
  &:before {
    color: #d44950;
  }
}

.flaticon-black {
  &:before {
    color: #333333a8;
  }
}

.inline {
  &[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
  &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
      display: inline;
  }
}

// Buttons
.btn-flat {
  border-radius: 0px;
  margin: 5px;
  min-width: 100px;
}

.btn-secondary {
  background-color: $black-70;
}

// Layout helpers
.flex {
  display: flex;
}

.flex-center {
  align-content: center;
}

// Custom style for flat style input
.input-group-flat {
  position: relative;
  mat-icon {
    position: absolute;
    top: 10px;
    font-size: $font-size-lg;
    left: 10px;
  }
  .input-flat-form-control {
    border-radius: 0.25em;
    font-size: $base-font-size;
    color: $white-90;
    background: $white-30;
    border: none;
    font-size: $font-size-md;
    font-weight: 300;
    padding: 5px 40px;
    min-width: 480px;
  }
}

// TODO: Check following where these are used
// ========
.error{
    background-color: red;
}

.lenda-editable-field{
  color: blue;
}

.lenda-cellEdit-color{
  background-color: yellow;
}

.arm-recent-record:nth-child(1){
  margin-top: 20px;

}

.arm-recent-record{
  padding-left: 30px;
}


#notification-header {
  background: rgba(36, 112, 179, 1);
  background: -moz-linear-gradient(left, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36, 112, 179, 1)), color-stop(100%, rgba(35, 209, 171, 1)));
  background: -webkit-linear-gradient(left, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  background: -o-linear-gradient(left, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  background: -ms-linear-gradient(left, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  background: linear-gradient(to right, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2470b3', endColorstr='#23d1ab', GradientType=1);
  height: 35px;
  margin-bottom: 2px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
}

.rag-green{
  background-color: red;

}

.showdetails{
 color:white;
 font-size: 11px;
}

.side-margin{
  margin : $nesting-margin !important;
}
// ===========

.no-shadow {
  text-shadow: none;
}

.no-margin {
  margin: 0;
}

// Visibility
// ===

.hidden {
  display: none;
}

// ===

.text-success {
  color: #02af47!important;
}

.text-danger {
  color: #d2162a!important;
}

.text-primary {
  color: #007bff!important;
}

.text-warning {
  color: #e9a30c!important;
}

.text-muted {
  color: #9e9898 !important;
}


.expansion-panel-icon {
  font-size: 16px;
  position: relative;
  top: 3px;
}
