<div class="basic-container cross-collateral-report">
  <app-report-header [reportName]="'Cross Collateral Loan Summary'" [ID]="'CCReportHeader'"  [hideBorrowerDetails]="true"></app-report-header>

  <app-acres-report [ID]="'CCAcres'" [expanded]='masterSvc.isChevronOpen'></app-acres-report>

  <div class="pagebreak">
      <app-cc-budget-report [ID]="'CCBudgetReport'" [expanded]='masterSvc.isChevronOpen'></app-cc-budget-report>
  </div>

  <app-cc-commitment [ID]="'CCCommitment'" [expanded]='masterSvc.isChevronOpen'></app-cc-commitment>

  <app-cc-collateral-value [ID]="'CCCollateralValues'" [expanded]='masterSvc.isChevronOpen' [header]="'Collateral Value'" [showARMDetails]="loanSetting?.reportsSettings?.isArmDetailEnabled"></app-cc-collateral-value>

  <app-cc-commitment [ID]="'CCReturn'" [expanded]='masterSvc.isChevronOpen' *ngIf="showARMDetails" [type]="CommitmentType.RETURN"></app-cc-commitment>
</div>
