@import './../../../../../sass/theme/variables';

.standard {
  padding: 10px 20px 0px 20px;
}

.muted-label {
  color: #aaa;
  font-weight: 500;
}

.risk-return-value {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  span:nth-child(2) {
    margin: 0 10px;
  }
}

text {
  font-weight: 500;
}

.margin-value {
  padding-left: 0px;
  padding-right: 0px;
  .col {
    padding-left: 0px;
  }
}
