<div #commitChart>
  <div class="col s12 complete margin-value" >
    <span class="muted-label">
        Margin
      </span>
    <p class="risk-return-value">
      {{ info.excessIns | currency:'USD':'symbol':'1.0-0' }} &nbsp;
      <span class="muted-label">
        {{info.excessInsPercent | number : '1.1-1'}}%
      </span>
    </p>
  </div>
  <div class="col s12 complete margin-value" [hidden]="viewMode == 'super-condensed' && !isARM">
    <svg height="75" class="w-100">
      <!-- Gridlines -->
      <g id="grid-0"></g>
      <g id="grid-1"></g>
      <g id="grid-2"></g>
      <g id="grid-3"></g>
      <g id="grid-4"></g>
      <g id="grid-5"></g>
      <g id="grid-6"></g>
      <g id="grid-7"></g>
      <g id="grid-8"></g>

      <!-- Bars -->
      <g id="arm"></g>
      <g id="dist"></g>
      <g id="excess"></g>

      <!-- Bar Texts -->
      <!-- ARM Dist -->
      <text *ngIf='info.armCommitment > 0 && (info.armWidth >= info.armTextWidth)' [attr.x]="info.armX" y="21" font-family="roboto" font-size="10px" fill="#fff">{{ info.armCommitment | usdCurrency}}</text>

      <!-- Dist Commit -->
      <text *ngIf='info.distCommitment > 0 && (info.distTextWidth <= info.distWidth)' [attr.x]="info.distX" y="21" font-family="roboto" font-size="10px" fill="#fff">{{ info.distCommitment | usdCurrency}}</text>
      <text *ngIf='info.distCommitment > 0 && info.distTextWidth > info.distWidth' [attr.x]="info.armWidth + info.distWidth + 5" y="21" font-family="roboto" font-size="10px" fill="#000">{{ info.distCommitment | usdCurrency}}</text>

      <!-- Margin Text -->
      <text *ngIf='info.marginWidth >= info.marginTextWidth' [attr.x]="info.marginX" y="36" font-family="roboto" font-size="10px" fill="#000">{{ info.excessIns | usdCurrency}}</text>
      <text *ngIf='info.marginTextWidth > info.marginWidth && info.excessIns > 0 && totalWidth >= 3 + info.armWidth + info.distWidth + info.marginWidth + info.marginTextWidth' [attr.x]="info.armWidth + info.distWidth + 5 + info.marginWidth" y="36" font-family="roboto" font-size="10px" fill="#000">{{ info.excessIns | usdCurrency}}</text>
      <text *ngIf='info.marginTextWidth > info.marginWidth && info.excessIns < 0 && totalWidth >= info.armWidth + info.distWidth + 5' [attr.x]="info.armWidth + info.distWidth + 5" y="36" font-family="roboto" font-size="10px" fill="#000">{{ info.excessIns | usdCurrency}}</text>

      <!-- Legends -->
      <rect width="10" height="10" x="5" y="50" [ngStyle]="{'fill': armCommit}" />
      <text x="20" y="60" font-family="roboto" font-size="11px" fill="#000">ARM Commit</text>

      <rect width="10" height="10" x="105" y="50" [ngStyle]="{'fill': distCommit}" />
      <text x="120" y="60" font-family="roboto" font-size="11px" fill="#000">Dist Commit</text>

      <rect width="10" height="10" x="205" y="50" [ngStyle]="{'fill': excessIns}" />
      <text x="220" y="60" font-family="roboto" font-size="11px" fill="#000">Margin</text>

      <text font-style = "italic" [attr.x]="info.scaleTextPosition" y="60" font-family="roboto" font-size="11px" fill="#000">{{getScale()}}</text>
    </svg>
  </div>
</div>
