  <mat-accordion>
    <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          Fixed Expenses
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom under-chev-ag-grid">
        <div class="row" id="Fixed_Expenses">
          <ag-grid-angular [hidden]="rowData.length === 0"
            [ngStyle]="style"
            class="ag-theme-balham roboto-font"
            [animateRows]="true"
            [context]="context"
            [enableSorting]="false"
            [enableFilter]="true"
            [showToolPanel]="false"
            [toolPanelSuppressRowGroups]="true"
            [toolPanelSuppressValues]="true"
            [toolPanelSuppressPivots]="true"
            [toolPanelSuppressPivotMode]="true"
            [singleClickEdit]="true"
            suppressColumnVirtualisation=true
            [frameworkComponents]="frameworkcomponents"
            [components]="components"
            (cellValueChanged)="rowvaluechanged($event)"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs"
            [getRowStyle]="getRowStyle"
            [gridAutoHeight]=true
            [suppressPropertyNamesCheck]='true'
            (displayedColumnsChanged)="adjustToFitAgGrid()"
            [pinnedBottomRowData]="pinnedBottomRowData">
          </ag-grid-angular>
          <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
        </div>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
