<div class="bg-schematics schematics">
  <app-charts-visualization [page]="'schematic'" #chart [ngClass]='chart.getViewClass()'></app-charts-visualization>

  <!-- Icons library downloaded from Flaticon -->
  <app-icons-library></app-icons-library>

  <svg preserveAspectRatio="xMinYMin meet" class="schematics-container" [ngClass]="{'expanded': isExpanded}" id="flowchart"
    x="0px" y="0px" viewBox="0 0 1600 900" xml:space="preserve">

    <!-- Background areas with titles -->
    <svg:g app-schematic-areas [schematicPreferences]="schematicPreferences" [currentSelectedLoan]="currentSelectedLoan"></svg:g>

    <!-- Arrows -->
    <svg:g app-connectors [currentSelectedLoan]="currentSelectedLoan" [schematicPreferences]="schematicPreferences" [schematicSettings]="schematicSettings"></svg:g>

    <!-- Summary panel -->
    <svg:g app-summary-panel [schematicPreferences]="schematicPreferences"
      [loanGroups]="loanGroups" [currentSelectedLoan]="currentSelectedLoan" [schematicSettings]="schematicSettings"></svg:g>

    <!-- Doc Management panel -->
    <svg:g app-doc-management-panel [schematicPreferences]="schematicPreferences" [schematicSettings]="schematicSettings"></svg:g>

    <!-- Working Loan panel -->
    <svg:g app-working-loan-panel [schematicPreferences]="schematicPreferences" [loanGroups]="loanGroups" [currentSelectedLoan]="currentSelectedLoan"
      [schematicSettings]="schematicSettings" [hasSpouse]='hasSpouse' ></svg:g>

    <!-- Loan Management panel -->
    <svg:g app-loan-management-panel [currentSelectedLoan]="currentSelectedLoan" [schematicPreferences]="schematicPreferences" [schematicSettings]="schematicSettings"></svg:g>

    <!-- Resources Panel -->
    <svg:g app-resources-panel [loanGroups]='loanGroups' [currentSelectedLoan]="currentSelectedLoan" [schematicPreferences]="schematicPreferences" [schematicSettings]="schematicSettings"></svg:g>
  </svg>
</div>
<!-- Tooltip component -->
<app-svg-tooltip></app-svg-tooltip>
