@import './../../../sass/theme/variables';

.bg-schematics {
  background: $light-white;
}

.schematics-container {
  width: calc(100vw - 70px);
  min-width: 1200px;
  height: auto;

  text {
    font-size: 16px;
  }

  &.expanded {
    width: calc(100vw - 215px);
  }

  .dec-letter-spacing {
    font-size: 14px !important;
    letter-spacing: -0.5px;
  }
}

#flowchart {
  text {
    font-size: 14px;
    &.tab-name {
      font-weight: bold;
    }
  }

  g[app-critical-item] {
    text {
      font-size: 12px;
      font-weight: 500;
      &.more {
        font-size: 11px !important;
      }
    }

    pointer-events: bounding-box;
    cursor: pointer;
  }

  // Schematic status colors
  // ===
  .info {
    fill: $primary-color;
  }

  .warning {
    fill: #ed7d31 !important;
    cursor: pointer;
  }

  .error {
    // fill: red;
    fill: #d44950 !important;
    cursor: pointer;
  }

  .success,
  .dark-green {
    fill: #548235 !important;
  }

  .disabled {
    fill: #888;
  }

  .default {
    fill: #eee !important;
  }

  .primary {
    fill: $primary-color;
  }

  .hyperlink {
    cursor: pointer;
  }

  // ===

  text {
    fill: #666;

    a {
      cursor: pointer;
    }
  }

  .flaticon-svg {
    width: 20px;
    height: 20px;
  }

  .o-visible {
    overflow: visible !important;
  }

  #arrows,
  .arrows {
    rect,
    polygon {
      fill: #eee;

      &.light-blue,
      &.filled {
        fill: $primary-color-30;
      }
    }
  }

  .st6,
  .light-grey {
    fill: #eee;
  }

  .light-blue,
  .path-filled {
    fill: $primary-color-30;
  }

  .main-val {
    fill: $black-70;
    font-weight: 600;
    font-size: 9px;
  }

  .opacity-40 {
    opacity: 0.4;
  }

  .current-year,
  .past-year {
    font-weight: bolder;
  }
}
