@import "./../../../sass/theme/variables";

.setting-text {
    min-width: 100px;
    display: inline-block;
}

.number-of-rows {
    font-size: $font-size-sm;
    color: $black-30;
}

.settings-icon {
  margin-top: -2px;
  display: block;
  margin-left: 20px;
  font-size: 16px;
}
