<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>
<div class="basic-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

    <!-- Lienholder -->
    <app-association [chevronId]='35' [expanded]="masterSvc.isChevronOpen" [header]="'Lienholder'" [associationTypeCode]="'LEI'"
      *ngIf="pageSettings.lineHolder.isActive" [currentPageName]="currentPageName"></app-association>

    <!-- Borrower -->
    <app-association [chevronId]='35' [expanded]="masterSvc.isChevronOpen" [header]="'Borrower'" [associationTypeCode]="'BOR'"
      *ngIf="pageSettings.borrower.isActive" [currentPageName]="currentPageName" [isViewOnly]='true'></app-association>

  <!-- Guarantor -->
  <app-association [chevronId]='37' [expanded]="masterSvc.isChevronOpen" [header]="'Guarantor'" [associationTypeCode]="'GUA'" *ngIf="pageSettings.guarantor.isActive"
    [currentPageName]="currentPageName"></app-association>

  <!-- SBI -->
  <app-association [chevronId]='67' [expanded]="masterSvc.isChevronOpen" [header]="'SBI'" [associationTypeCode]="'SBI'" *ngIf="pageSettings.sbi.isActive"
    [currentPageName]="currentPageName" [isViewOnly]='true'></app-association>

  <!-- Collateral Questions -->
  <app-questions [expanded]="masterSvc.isChevronOpen" [currentPageName]="currentPageName" *ngIf="pageSettings.questions.isActive"
  [chevronId]="Chevron.Collateral"></app-questions>

  <!-- Loan Details -->
  <app-loan-detail [expanded]="masterSvc.isChevronOpen"></app-loan-detail>

  <!-- Collateral Summary -->
  <app-collateral-report-collateral></app-collateral-report-collateral>

  <!-- Cross Collateral -->
  <app-cross-collateral-detail></app-cross-collateral-detail>

  <!-- Misc. Credit Agreement Values -->
  <app-credit-agreement-fields [expanded]='masterSvc.isChevronOpen'></app-credit-agreement-fields>
</div>
