<div class="lenda-plus">
  <ngx-loading-bar [color]="loadingBarColor" [height]="'4px'"></ngx-loading-bar>
  <layout-header *ngIf="isUserLoggedIn && loanstorage.retrieve('isloggedin')">
  </layout-header>
  <app-right-sidebar *ngIf="isUserLoggedIn"></app-right-sidebar>
  <div class="center" [ngClass]="{'is-sidebar-expanded': isSidebarExpanded}" hidden>
    <div class="overlay"></div>
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <layout-footer *ngIf="isUserLoggedIn"></layout-footer>
  <!-- <svg-definitions></svg-definitions> -->
</div>
