.crop-list {
	table {
		tbody {
			tr {
				&:hover {
					background-color: #f7f7f7;
				}
				td {
					cursor: pointer;
					.button-delete {
						color: #fff;
					    background-color: #dc3545;
					    border-color: #dc3545;		
					    margin-left: 10px;
					}
					.button-edit {
					    color: #212529;
					    background-color: #e3e3e3;
					    border: none;					
					}
				}
			}
		}
	}
	.pagination-wrapper {
		margin: 15px auto;
		text-align: center;
	}
}

.form-group {
	margin-bottom: 10px;
	input[type^='number'] {
		width: 100%;
		height: 30px;
	}
}