<div class="crop-list">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Crop Code</th>
				<th>Crop Name</th>
				<th>Crop Year</th>
				<th>Final Planting Date</th>
				<th>Practice Type Code</th>
				<th>Price</th>
				<th>RMA Ref Yield</th>
				<th>Region</th>
				<th>State</th>
				<th>Status</th>
				<th>Edit/Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let crop of cropList | paginate: { itemsPerPage: 10, currentPage: p }">
				<td>{{ crop.Crop_And_Practice_ID }}</td>
				<td>{{ crop.Crop_Code }}</td>
				<td>{{ crop.Crop_Name }}</td>
				<td>{{ crop.Crop_Year }}</td>
				<td>{{ crop.Final_Planting_Date  }}</td>
				<td>{{ crop.Practice_type_code }}</td>
				<td>{{ crop.Price }}</td>
				<td>{{ crop.RMA_Ref_Yield }}</td>
				<td>{{ crop.Region_ID }}</td>
				<td>{{ crop.State_ID }}</td>
				<td>{{ crop.Status }}</td>
				<td>
					<button class="button-edit" (click)="editCrop(crop)">Edit</button>
					<button class="button-delete" (click)="deleteCrop(crop)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pagination-wrapper">
		<pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
	</div>
</div>
