<h1 mat-dialog-title>Edit Crop</h1>
<div mat-dialog-content>
	<label for="price">Price</label>
	<div class="form-group">
	  	<input type="number" id="price" class="form-control" placeholder="Price" [(ngModel)]="data.Price">
	</div>
	<div class="form-group">
		<mat-form-field>
		  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.Final_Planting_Date">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>