<div class="right-sidebar" [ngClass]="{ expanded: isRightbarExpanded }">
  <app-comments></app-comments>

  <comment-type
    *ngFor="let comment of comments"
    [comment]="comment"
    [loginUserId]="loginUserId"
    (onReadCommentTypeClick)="onRead($event)"
    [isCommitteeMember]="isCommitteeMember"
  ></comment-type>
</div>
