<ng-container>
  <app-dashboard-settings></app-dashboard-settings>
  <h3 class="dashboard-gear--header">Display Detail</h3>
  <div class="dashboard-gear__item">
    <h4 class="dashboard-gear__item--label">Loan Detail Extra</h4>
    <mat-slide-toggle class="v-middle" (change)="onLoanDetailExtraChanged($event)"></mat-slide-toggle>
  </div>
  <app-question-settings [pageName]='"collateral"'></app-question-settings>
</ng-container>
