.loan-history {
  padding: 30px;

  table {
    width: auto;
    th,
    td {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
      padding: 10px 5px !important;

      &.loan-status-icon {
        width: 60px;
        max-width: 60px;
        padding: 5px !important;

        i {
          &:before {
            font-size: 18px;
          }
        }
      }

      &.borrower-name {
        width: 120px;
        max-width: 120px;
      }
    }
  }

  h2 {
    color: #164c7b;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  thead {
    background-color: #23c8ab;
  }

  tr th {
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    font-weight: 600;
  }

  .background-color {
    background-color: rgba(239, 239, 239, 0.5);
  }

  .loan-id {
    font-weight: 600;
    cursor: pointer;
  }

  .borrower-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .no-rows {
    text-align: center;
    font-weight: 600;
  }

  .right-align {
    text-align: right;
  }

  .left-align {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }
}
