<div *ngIf="loanlist" class="loan-history">
    <h2>View Balances</h2>
    <div class="row">
      <div>
        <table class="bordered">
          <thead>
            <tr>
              <th>Loan ID</th>
              <th>Borrower Name</th>
              <th class="align-center loan-status-icon"> Status </th>
              <th class="right-align">Maturity Date</th>
              <th class="right-align">Outstanding</th>
              <th class="right-align">Past Due</th>
              <th class="right-align">Days Past Due</th>
              <th class="right-align">ARM Commit</th>
              <th class="right-align">Used</th>
              <th class="right-align">Used %</th>
              <th class="right-align">Available</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let loan of loanlist; let i = index">
              <tr [class.background-color]="i%2 != 0">
                <td class="loan-id" (click)="navigatetoloan(loan.Loan_Full_ID)">{{loan.Loan_Full_ID}}</td>
                <td class="borrower-name" title="{{getBorrowerName(loan.LoanMaster)}}">{{getBorrowerName(loan.LoanMaster)}}  </td>
                <td class="align-center loan-status-icon">
                  <ng-container *ngIf="loan.LoanMaster">
                    <app-icon-loan-status [loanStatus]='getLoanStatus(loan.LoanMaster.Loan_Status)'></app-icon-loan-status>
                  </ng-container>
                </td>
                <td class="right-align">{{ formateDate(loan.LoanMaster.Maturity_Date) }}</td>
                <td class="right-align">$ 0</td>
                <td class="right-align">-</td>

                <td class="right-align">-</td>
                <td class="right-align">$ {{loan.LoanMaster.ARM_Commitment | number:'1.0-0'}}</td>
                <td class="right-align">$ {{(loan.LoanMaster.Total_Commitment || 0) * 0.80 | number:'1.0-0'}}</td>
                <td class="right-align">{{(((loan.LoanMaster.Total_Commitment || 0 ) - ((loan.LoanMaster.Total_Commitment || 0) * 0.20)) / (loan.LoanMaster.Total_Commitment || 0) || 0) * 100  | number:'1.1-1'}} %</td>
                <td class="right-align">$ {{(loan.LoanMaster.Total_Commitment || 0 ) - ((loan.LoanMaster.Total_Commitment || 0) * 0.80) | number:'1.0-0'}}</td>
              </tr>
            </ng-container>

            <ng-container *ngIf="!loanlist || loanlist.length < 1">
              <tr>
                <td colspan="17" class="no-rows">
                  No Rows to show.
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
