<svg>
    <g transform="translate(42, 30)" id="">
        <text transform="translate(-5, -2)" class="risk-cushion-percent">
            {{info.riskCushionPercent}}
        </text>
        <text transform="translate(-5, 40)" class="return-percent">
            {{info.returnPercent}}
        </text>
        <g id="blackDiamondWorkingLoan"></g>
        <g id="redDiamondWorkingLoan"></g>
        <g id="riskWorkingLoan">
        </g>
        <g id="cushionWorkingLoan">
        </g>
        <g id="returnFirstWorkingLoan">
        </g>
        <g id="returnSecondWorkingLoan">
        </g>
    </g>
</svg>
