<app-admin-sidebar></app-admin-sidebar>
<div class="profile_page_wrapper">
  <div class="profile_page_content_wrapper has_sidebar">
    <div class="pageContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>