table {
  width: unset;
}
td {
  min-width: 80px;
}
tr td:first-child {
  min-width: 90px;
}

.subtitle {
  font-weight: 600;
  color: #000;
}

td:not(.title) {
  text-align: right;
}

th:not(.title) {
  text-align: right;
}
td {
  padding: 5px;
  font-size: 12px;
}
th {
  padding: 5px;
  font-weight: 600;
}

.color-danger {
  color: #d44950;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90px;
  height: 1.2em;
  white-space: nowrap;
}
