<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Active Crop Loans
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="balances" class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12" *ngFor="let balance of balances">
          <div class="subtitle" style="padding-left: 1px">
            {{balance.headerText}}
          </div>
          <br>
          <table class="bordered">
            <thead>
              <tr>
                <th style="width:90px" class="title">Loan ID</th>
                <th style="width:90px" class="title">Borrower Name</th>
                <th style="width:90px" class="title">Status</th>
                <th style="width:90px">Commit</th>
                <th style="width:90px">Used</th>
                <th style="width:90px" class="faded">Used %</th>
                <th style="width:90px">Available</th>
                <th style="width:90px">Outstanding</th>
                <th style="width:90px">Maturity</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="title">{{balance.loanid}}</td>
                <td class="title" [title]='balance.borrowername'>
                  <div class="cut-text">{{balance.borrowername}}</div>
                </td>
                <td class="title">
                  <app-icon-loan-status class="balance-report" [loanStatus]="balance.status"></app-icon-loan-status>
                </td>
                <td>$ {{balance.commitment | number:'1.0-0'}}</td>
                <td>$ {{balance.used | number:'1.0-0'}}</td>
                <td class="percent faded">{{balance.userperc}}</td>
                <td>$ {{balance.available | number:'1.0-0'}}</td>
                <td>$ {{balance.ballaneOutstanding | number:'1.0-0'}}</td>
                <td>{{balance.maturityDate | date:'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
