<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PROJECTED INCOME
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="allDataFetched" class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Crop</th>
                <th class="text-left" *ngIf='showCropDetail && columnsDisplaySettings.cropType'>Crop Type</th>
                <th class="text-left hidecheckbox" *ngIf="showCropDetail">
                  <span>Irr Prac </span>
                </th>
                <th class="text-left" *ngIf="showCropDetail && columnsDisplaySettings.cropPrac">
                  <span>Crop Prac </span>
                </th>
                <th>Acres</th>
                <th>Crop Yield</th>
                <th>Crop Price</th>
                <th>Basis Adj</th>
                <th>Mktg Adj</th>
                <th>Rebate Adj</th>
                <th>Share</th>
                <th>Revenue</th>
                <th>Revenue %</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let crop of cropRevenue">
                <tr *ngIf="((showCropDetail && crop.isPracticeRow ) || (!showCropDetail && !crop.isPracticeRow)) && crop.Revenue">
                  <td>{{ crop.Name }}</td>
                  <td class="text-left" *ngIf='showCropDetail && columnsDisplaySettings.cropType'>
                    {{ crop.CropType }}
                  </td>
                  <td *ngIf="showCropDetail" class="text-left hidecheckbox">
                    {{ crop.PracticeType }}
                  </td>
                  <td *ngIf="showCropDetail && columnsDisplaySettings.cropPrac" class="text-left">
                    {{ crop.CropPracticeType }}
                  </td>
                  <td>{{ crop.Acres | number: '1.1-1' }}</td>
                  <td>{{ crop.CropYield | number }}</td>
                  <td>{{ crop.Price | currency : 'USD': 'symbol': '1.4-4' }}</td>
                  <td>{{ crop.Basic_Adj | currency : 'USD': 'symbol': '1.4-4' }}</td>
                  <td>{{ crop.Marketing_Adj | currency : 'USD': 'symbol': '1.4-4'}}</td>
                  <td>{{ crop.Rebate_Adj | currency : 'USD': 'symbol': '1.4-4'}}</td>
                  <td class="percent">{{ crop.Share }}</td>
                  <td>{{ crop.Revenue | currency : 'USD': 'symbol': '1.0-0' }}</td>
                  <td class="percent">
                    {{ crop.Percentage | number: '1.1-1' }}
                  </td>
                </tr>
              </ng-container>
              <tr class="secondary-background-highlight">
                <td>
                  <b>Crop Revenue</b>
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td>{{ totalAcres | number: '1.1-1' }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{ NetCropRevenue | number: '1.0-0' }}</td>
                <td class="percent">
                  {{ Per_NetCropRevenue | number: '1.1-1' }}
                </td>
              </tr>
              <tr>
                <td>
                  <b>Additional Revenue</b>
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-container *ngIf="other_incomes">
                <tr *ngFor='let income of other_incomes'>
                  <td>{{income.Name}}</td>
                  <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                  <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                  <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>$ {{ income.Revenue | number: '1.0-0' }}</td>
                  <td class="percent">
                    {{ income.Percentage | number: '1.1-1' }}
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="Other_Income_Revenue" class="secondary-background-highlight">
                <td>Other Income</td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{ Other_Income_Revenue | number: '1.0-0' }}</td>
                <td class="percent">
                  {{ Per_Other_Income_Revenue | number: '1.1-1' }}
                </td>
              </tr>
              <tr class="secondary-background-highlight">
                <td>
                  Subtotal Additional Revenue
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-600">
                  ${{ Total_Additional_Revenue | number: '1.0-0' }}
                </td>
                <td class="font-weight-600 percent">
                  {{ Per_Total_Additional_Revenue | number: '1.1-1' }}
                </td>
              </tr>
              <tr class="secondary-background-highlight">
                <td>
                  <b>Total Revenue</b>
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-600">
                  $ {{ Total_Revenue | number: '1.0-0' }}
                </td>
                <td class="font-weight-600 percent">
                  {{ Per_Total_Revenue | number: '1.1-1' }}
                </td>
              </tr>
              <tr>
                <td>
                  Budgeted Expenses
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{ Total_Expense_Budget | number: '1.0-0' }}</td>
                <td class="percent">
                  {{ Per_Total_Expense_Budget | number: '1.1-1' }}
                </td>
              </tr>
              <tr *ngIf="Estimated_Interest">
                <td>
                  Estimated Interest
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{ Estimated_Interest | number: '1.0-0' }}</td>
                <td class="percent">
                  {{ Per_Estimated_Interest | number: '1.1-1' }}
                </td>
              </tr>
              <tr class="background-highlight">
                <td>
                  <b>Total Cash Flow</b>
                </td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropType'></td>
                <td class="hidecheckbox" *ngIf="showCropDetail"></td>
                <td *ngIf='showCropDetail && columnsDisplaySettings.cropPrac'></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ breakeven || 0 | number: '1.1-1' }}%</td>
                <td style="text-align:left">Break Even</td>
                <td></td>
                <td></td>
                <td>{{ Total_CashFlow | currency : 'USD': 'symbol': '1.0-0'}}</td>
                <td class="percent">
                  {{ Per_Total_CashFlow | number: '1.1-1' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
