table {
    width: unset;
    
}
tfoot{
    background: lightgreen
}
td{
    padding: 5px;
    font-size: 12px;
}

th{
    padding: 5px;
    font-weight: 600;
   
}
.background-highlight{
    background-color: #b4cfed;
    font-weight: 600;
  }
.secondary-background-highlight{
    background-color:  #e9e9e9;
    font-weight: 600;
}
.font-weight-600{
    font-weight: 600;
}
tr td:not(:first-child) {
    text-align: right;
    min-width:65px;
}
tr td:first-child {
    text-align: left;
}
tr th:not(:first-child) {
    text-align: right;
}
tr th:first-child {
    text-align: left;
    min-width:140px;
}

.text-left{
    text-align: left !important;
}

.color-gray{
    color:gray;
}

.percent:after{
    content : '%';
}
