<svg>
  <g id="icon-nortridge" data-tooltip-source="nortridge" transform="translate(1430, 427)">
    <g>
      <use *ngIf="!schematicPreferences.isEnhanceDetailActive" [ngClass]="schematicSettings.nortridge.iconStatus" x="0" y="0" width="32" height="32" xlink:href="#nortridge" />
      <use class="loan-icon" *ngIf="schematicPreferences.isEnhanceDetailActive" [ngClass]="schematicSettings.nortridge.iconStatus" x="0" y="0" width="32" height="32" xlink:href="#nortridge" />
      <svg:g app-critical-info [x]="'40'" [y]="'5'" [settings]="schematicSettings.nortridge"></svg:g>
      <svg:g app-info-bubble class="icon" [item]="schematicSettings.nortridge" [x]="20" [y]="-15" [cy]="5" [source]="'nortridge'"></svg:g>
      <g transform="translate(-8, 45)">
        <text class="nortridge tab-name" (click)='gotoNortridge()'>
          <tspan x="-8" y="10">Nortridge</tspan>
        </text>
        <g *ngIf="schematicPreferences.isEnhanceDetailActive">
          <text class="error dec-letter-spacing" [attr.x]="getX(schematicSettings.nortridge.details[0])" y="30">{{schematicSettings.nortridge.details[0]}}</text>
          <!-- <text class="error dec-letter-spacing" x="-30" y="49">{{schematicSettings.nortridge.details[1]}}</text> -->
        </g>
      </g>
    </g>

    <g transform="translate(0, 130)">
      <use class="success" x="0" y="0" width="36" height="36" xlink:href="#dollar-bills" />
      <text class="success tab-name" transform="translate(-10, 55)">Disburse</text>
      <g *ngIf="schematicPreferences.isEnhanceDetailActive">
        <text class="disabled dec-letter-spacing" transform="translate(-15, 75)">Used: {{usedPercent | number: '1.1-1'}} %</text>
      </g>
    </g>
  </g>
</svg>
