app-committee-exceptions {
  .section-heading {
    font-size: 16px;
  }

  .tab-name {
    font-size: 16px;
  }
  .content-section {
    margin: 5px 0 10px 0;
  }

  .high-severity-text::before {
    font-family: 'Material Icons';
    content: '\E002';
    color: #d44950;
    margin-right: 2px;
    font-size: 18px;
  }

  .low-severity-text::before {
    color: #ed7d31;
    font-family: 'Material Icons';
    content: '\E002';
    font-size: 18px;
    margin-right: 2px;
  }

  .row {
    margin-bottom: 5px;
  }
  .exception-text {
    display: flex;
    margin-bottom: 10px;
  }

  .exception-container {
    padding: 0 11px;

    &--header {
      width: calc(50% - 20px);
      font-weight: 500;
      font-size: 15px;
      background-color: #f7f7f7;
      padding: 10px;
      margin-bottom: 15px;
      text-transform: capitalize;
    }

    &--text-area {
      resize: none;
      color: #1a61df;
    }

    &__text-area {
      padding-right: 30px !important;
      margin-left: 25px !important;

      // Exception error class
      .high {
        &.excec-err > .mat-form-field-wrapper > .mat-form-field-underline {
          background-color: #d44950;
        }

        &.excec-err
          > .mat-form-field-wrapper
          > .mat-form-field-underline
          > .mat-form-field-ripple {
          background-color: #d44950;
        }

        &.excec-err
          > .mat-form-field-wrapper
          > .mat-form-field-flex
          > .mat-form-field-infix
          > .mat-form-field-label-wrapper
          > .mat-form-field-label {
          color: #d44950;
        }
      }

      .low {
        &.excec-err > .mat-form-field-wrapper > .mat-form-field-underline {
          background-color: #ed7d31;
        }

        &.excec-err
          > .mat-form-field-wrapper
          > .mat-form-field-underline
          > .mat-form-field-ripple {
          background-color: #ed7d31;
        }

        &.excec-err
          > .mat-form-field-wrapper
          > .mat-form-field-flex
          > .mat-form-field-infix
          > .mat-form-field-label-wrapper
          > .mat-form-field-label {
          color: #ed7d31;
        }
      }
    }

    .support-actions {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      // height: 88px;

      .support {
        flex-direction: row-reverse;
        display: flex;

        mat-icon {
          color: #fff;
          font-size: 16px;
          width: 16px;
          height: 16px;
          line-height: 16px;
          position: relative;
          top: -2px;
          left: 3px;
        }

        .support-btn {
          width: 90px;
          &.success {
            background-color: #164c7b !important;
            color: #fff;

            &[disabled] {
              pointer-events: all;
              cursor: not-allowed;
              background-color: #dfdfdf !important;
              box-shadow: none;
              color: #9f9f9f !important;

              mat-icon {
                color: #9f9f9f !important;
              }
            }
          }

          i {
            position: relative;
            left: -5px;
            font-size: 14px;
            text-shadow: none;
            color: #9f9f9f;
            top: 2px;

            &:before {
              font-size: 14px;
            }
          }

          &:not(:disabled) {
            i {
              color: #fefefe;
            }
          }

          mat-icon {
            position: relative;
            left: -6px;
          }

          &[disabled] {
            pointer-events: all;
            cursor: not-allowed;
          }
        }

        /* Tooltip container */
        .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: none;
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 175px;
          background-color: #164c7b;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;

          /* Position the tooltip text */
          position: absolute;
          z-index: 100;
          bottom: 125%;
          left: 15px;
          margin-left: -60px;

          /* Fade in tooltip */
          opacity: 0;
          transition: opacity 0.3s;
        }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #164c7b transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .text {
      display: block;
      line-height: 20px;
    }
  }

  .exception-text-row {
    padding: 0px !important;
    .col:first-child {
      padding: 0px !important;
    }
  }
}
