<div class="content-section exception-container">
  <div *ngFor="let group of exceptions">
    <div class="exception-container--header">{{group.tab}}</div>
    <div *ngFor="let exception of group.exceptions" class="row exception-container__exception">
      <app-exception-item [exception]='exception' [localLoanObject]='localLoanObject' (checkErrors)='checkErrors()'></app-exception-item>
    </div>
  </div>
</div>
