<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container">

  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>
  <!-- <app-association [chevronId]='22' [header]="'Agent'" [associationTypeCode]="'AGT'" [currentPageName]="currentPageName"></app-association> -->
  <app-association [chevronId]='23' [expanded]="masterSvc.isChevronOpen" [header]="'Agency'" [associationTypeCode]="'AGY'" [currentPageName]="currentPageName"></app-association>
  <app-association [chevronId]='24' [expanded]="masterSvc.isChevronOpen" [header]="'AIP'" [associationTypeCode]="'AIP'" [currentPageName]="currentPageName"></app-association>

  <app-questionlist></app-questionlist>

  <app-policies></app-policies>
  <app-aph></app-aph>

  <!-- To BE Deleted -->
  <!-- <app-farms-info></app-farms-info>
  <app-crop-yield-info></app-crop-yield-info> -->


</div>
