<mat-tab-group class="mat-secondary">
  <mat-tab>
    <ng-template mat-tab-label>
      List
    </ng-template>
    <div>
      <app-list-settings [(settings)]="settings.listSettings" [(portfolioAnalysisSettings)]="settings.portfolioAnalysisSettings"></app-list-settings>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Portfolio
    </ng-template>
    <div>
      <app-portfolio-analysis [(settings)]="settings.portfolioAnalysisSettings"></app-portfolio-analysis>
    </div>
  </mat-tab>
</mat-tab-group>
