@import './../../../sass/theme/variables';

.dashboard-gear-icon {
  color: $white;
  cursor: pointer;
  font-size: 22px;
  text-shadow: none;
}

.dashboard-gear {
  .mat-menu-content {
    padding: 0 !important;
    overflow: hidden;
  }
  .dashboard-gear--header {
    margin: 0;
  }
  &--header {
    padding: 5px 10px;
    color: #000000;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    background-color: #eee;
  }

  &__item {
    padding: 5px 10px;

    &--label {
      display: inline-block;
      margin: 0;
      font-weight: 400;
      font-size: inherit;
      min-width: 100px;
    }
  }
}
