<i class="flaticon material-icons dashboard-gear-icon" mat-button [matMenuTriggerFor]="settings">
  settings
</i>
<mat-menu #settings="matMenu" [ngSwitch]="currentPage" class="context-menu dashboard-gear">
  <app-loan-list-settings *ngSwitchCase="'loanlist'"></app-loan-list-settings>
  <app-schematic-settings *ngSwitchCase="'schematic'"></app-schematic-settings>
  <app-summary-settings *ngSwitchCase="'summary'"></app-summary-settings>
  <app-borrower-settings *ngSwitchCase="'borrower'"></app-borrower-settings>
  <app-crop-settings *ngSwitchCase="'crop'"></app-crop-settings>
  <app-farm-settings *ngSwitchCase="'farm'"></app-farm-settings>
  <app-insurance-settings *ngSwitchCase="'insurance'"></app-insurance-settings>
  <app-budget-settings *ngSwitchCase="'budget'"></app-budget-settings>
  <app-optimizer-settings *ngSwitchCase="'optimizer'"></app-optimizer-settings>
  <app-collateral-settings *ngSwitchCase="'collateral'"></app-collateral-settings>
  <app-committee-settings *ngSwitchCase="'committee'"></app-committee-settings>
  <app-checkout-settings *ngSwitchCase="'checkout'"></app-checkout-settings>
  <app-disburse-settings *ngSwitchCase="'disburse'"></app-disburse-settings>
  <app-reconcile-settings *ngSwitchCase="'reconcile'"></app-reconcile-settings>
</mat-menu>