<mat-accordion>
  <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
    <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
      <mat-panel-title>
        Collateral Summary
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container under-chev-ag-grid">
      <div class="cross-col-slider" style="padding-left: 20px;">
        <mat-slider [style.width]="sliderstyle.width" class="mat-slider-horizontal" #slider [max]="max" [min]="min"
          [step]="step" [thumbLabel]="true" (change)="changed($event)">
        </mat-slider>
      </div>
      <div>
        <div class="row">
          <table #table class="bordered">
            <thead>
              <tr>
                <th class="w-btn-col"> </th>
                <ng-container *ngFor='let column of availablecolumns'>
                  <th *ngIf="column.visible" class="columnwidth"
                    [ngStyle]="{'background-color':(sliderValue == column.slidervalue) ? '#1b9c86f2' : '#23C8AB' }"
                    class="x-90column">{{column.currentproperty}}</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
            <tbody>
              <tr [ngClass]="{'totals':item.Category === 'Totals'}" *ngFor="let item of rowData">
                <td *ngIf="item.Settings!=true" style="width:20px !important;padding: 0px 0px !important">
                  &nbsp;
                </td>
                <td *ngIf="item.Settings==true" style="width:20px !important;padding: 0px 0px !important"
                  (click)="open(item.Category_Code)">
                  <button mat-icon-button>
                    <mat-icon class="collateral-gear" [class.active-row]='hasValue(item.Category_Code)'>settings
                    </mat-icon>
                  </button>
                </td>
                <ng-container *ngFor='let column of availablecolumns'>
                  <td *ngIf="column.visible" [className]="column.isslider?'columnwidth':'rightalign columnwidth'"
                    title="{{formatamounts(item[column.mappedproperty],!column.format)}}">
                    {{formatamounts(item[column.mappedproperty],!column.format)}}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  </mat-expansion-panel>
</mat-accordion>
