<mat-accordion *ngIf="cropInventory.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Crop
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr [ngClass]="{'error-validation': cropInventory.Crop==0}">
								<td>Crop</td>
								<td> {{prepareStatus(cropInventory.Crop)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': cropInventory.Rebator==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Rebator</td>
								<td> {{prepareStatus(cropInventory.Rebator)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': cropInventory.Yield==0}">
								<td class="chevron">Yield</td>
								<td> {{prepareStatus(cropInventory.Yield)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': cropInventory.Price==0}">
								<td class="chevron"> Price</td>
								<td> {{prepareStatus(cropInventory.Price)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': cropInventory.OtherIncome==0}">
								<td class="chevron"> Other Inc. ome
								</td>
								<td> {{prepareStatus(cropInventory.OtherIncome)}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
