<mat-accordion *ngIf='validations?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Validation
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12 details" *ngIf='showDetails'>
          <div *ngFor="let group of validationGroups" style="padding-top: 10px;">
            <span class="tab-name">{{ group.tab }}</span>
            <div *ngFor="let validation of group.validations">
              <div class="validation-text" >
                <mat-icon class="validation-icon"
                  [class.level-1]="validation.level == 1"
                  [class.level-2]="validation.level == 2"
                >
                  error
                </mat-icon>
                {{ validation.Validation_ID_Text }}
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col s12" *ngIf='!showDetails'  style="padding-top: 10px;">
            <div *ngFor="let v of uniqueValidations">
                <div class="validation-text" *ngIf='v.Validation_ID_Text'>
                    <mat-icon class="validation-icon"
                      [class.level-1]="v['level'] == 1"
                      [class.level-2]="v['level'] == 2"
                    >
                      error
                    </mat-icon>
                    {{ v.Validation_ID_Text }}
                  </div>
            </div>
        </div> -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
