app-validation-report {
  .tab-name {
    color: green;
    font-size: 14px;
    text-transform: capitalize;
  }

  .validation-icon {
    font-size: 17px;
    width: 17px;
    height: 18px;
    line-height: 17px;
    margin-right: 5px;

    &.level-2 {
      color: #d44950;
    }

    &.level-1 {
      color: #ed7d31;
    }
  }
}
