<mat-accordion>
    <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Yield History
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container" [attr.id]="ID">
        <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                  <th class="title">Crop</th>
                  <th class="title" *ngIf='showCropDetail && columnsDisplaySettings.cropType'>Crop Type</th>
                  <th class="title" >Irr Prac</th>
                  <th class="title" *ngIf='columnsDisplaySettings.cropPrac'>Crop Prac</th>
                  <th *ngFor="let year of years">
                    {{year}}
                  </th>
                  <th>Crop Yield</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let row of cropYield">
                  <tr *ngIf="row.CropYield">
                    <td class="title">{{row.Crop}}</td>
                    <td class="title" *ngIf='showCropDetail && columnsDisplaySettings.cropType'>{{cropType(row.Crop_ID)}}</td>
                    <td class="title" >{{row.Practice}}</td>
                    <td class="title" *ngIf='columnsDisplaySettings.cropPrac'>{{cropPracticeType(row.Crop_ID)}}</td>
                    <td *ngFor="let year of years">
                        {{row[year] | number: '1.0-0'}}
                    </td>
                    <td>{{row.CropYield | number: '1.0-0'}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
