table{
    width:unset;
    
}
tfoot{
    background: lightgreen
}
td:not(.title){
    text-align: right;
}
th:not(.title){
    text-align: right;
}
th.title{
    text-align: left;
}
td{
    padding: 5px;
    font-size: 12px;
}
th{
    padding: 5px;
    font-weight: 600;
    text-align: center;
}
.background-highlight{
    background-color: #b4cfed;
    font-weight: 600;
  }

tr th{
    min-width: 70px;
}
tr th:first-child{
    min-width: 105px;
}
