.content-section {
  margin: 5px 0 10px 0;
}

.high-severity-text::before {
  font-family: 'Material Icons';
  content: '\E002';

  color: #d44950;
  margin-right: 10px;
  font-size: 18px;
}

.low-severity-text::before {
  color: #ed7d31;
  font-family: 'Material Icons';
  content: '\E002';
  font-size: 18px;
  margin-right: 10px;
}

.row {
  margin-bottom: 5px;
}

.exception-text {
  display: flex;
}

.tab-name {
  color: green;
  font-size: 14px;
}

.justification::before {
  content: '•';
  margin: 0.5em;
}

ul li {
  list-style-type: initial !important;
  white-space: pre-line;
}

ul {
  padding-left: 3.6em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.exception-mitigation-text {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  white-space: pre-line;
  margin: 5px 0 0 28px;
}
