<mat-accordion *ngIf='Loan_Exceptions?.length > 0'>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exceptions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container" [attr.id]="ID">
      <div class="row">
        <div class="col s12 show-detail" *ngIf='showDetails'>
          <div *ngFor="let group of exceptions" style="padding-top: 10px;">
            <span class="tab-name">{{ group.tab }}</span>
            <div *ngFor="let exception of group.exceptions">
              <div
                [class.high-severity-text]="exception.Exception_ID_Level == 2"
                [class.low-severity-text]="exception.Exception_ID_Level == 1"
                class="exception-text"
              >
                {{ exception.Exception_ID_Text }}
              </div>
              <ng-container *ngIf="exception.Mitigation_Text">
                <pre class='exception-mitigation-text' [innerHTML]='exception.Mitigation_Text'></pre>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- <div class="col s12 without-detail" *ngIf='!showDetails'>
          <div *ngFor="let group of refExceptions" style="padding-top: 10px;">
            <span class="tab-name">{{ group.tab }}</span>
            <div *ngFor="let exception of group.exceptions">
              <div class="exception-text"
                [class.high-severity-text]="exception.Exception_ID_Level == 2"
                [class.low-severity-text]="exception.Exception_ID_Level == 1"
              >
                {{ exception.Exception_ID_Text }}
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
