
table {
    width: 97%;
}
tfoot{
    background: lightgreen
}
input{
    width:100px
}

.marketing-contracts-grid{
    padding-left: 33px;
}

app-marketing-contracts {
  .ag-header-cell{
      cursor: pointer;
  }
}