
  <mat-accordion>
    <mat-expansion-panel [expanded]="expanded" class="marketing-contracts-panel">
      <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
        <mat-panel-title>
          Marketing Contracts
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 0 18px;"  ><i class="material-icons left">cloud</i>Publish</a> -->

      <!-- <button (click)="addrow()" mat-raised-button color="primary">Add </button> -->

      <div class="container bottom marketing-contracts-grid" [id]='tableId'>
        <div [hidden]="rowData.length === 0" class="row">
          <ag-grid-angular
          [ngStyle]="style"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="true"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [suppressPropertyNamesCheck]='true'
          [context]="context"
          (cellValueChanged) = "rowvaluechanged($event)"
          suppressColumnVirtualisation=true
          (gridSizeChanged)="onGridSizeChanged($event)"
          [stopEditingWhenGridLosesFocus]="'true'"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          [singleClickEdit]="true"
          [rowData]="rowData"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (displayedColumnsChanged)="displayColumnsChanged($event)"
          [columnDefs]="columnDefs"
          [gridAutoHeight]=true>
          </ag-grid-angular>
        </div>
        <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
        <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
        <!-- <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="onBtExport()" class="waves-effect waves-light btn"><i class="material-icons left">get_app</i>Export</a> -->
      </div>
    </mat-expansion-panel>
    </mat-accordion>
