<span class="icon-pending-action" (click)='onClick($event)' (contextmenu)='onRightClick($event)' [matMenuTriggerFor]="menu">
  <i *ngIf="status === 3"  class="flaticon flaticon-primary flaticon-alarm inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 4"  class="flaticon flaticon-primary flaticon-multiple-users-silhouette inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 5"  class="flaticon flaticon-error flaticon-old-typical-phone inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 6"  class="flaticon flaticon-warning flaticon-multiple-users-silhouette inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 7"  class="flaticon flaticon-error flaticon-stopwatch inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 8"  class="flaticon flaticon-warning flaticon-stopwatch inline" [class.active]='Reminder_Ind == 1'></i>
  <!-- <i *ngIf="status === 9"  class="flaticon flaticon-error flaticon-spanner inline" [class.active]='Reminder_Ind == 1'></i> -->
  <i *ngIf="status === 9" class="flaticon flaticon-error material-icons inline" [class.active]='Reminder_Ind == 1'>change_history</i>
  <i *ngIf="status === 10" class="flaticon flaticon-warning material-icons inline" [class.active]='Reminder_Ind == 1'>change_history</i>
  <!-- <i *ngIf="status === 10"  class="flaticon flaticon-warning flaticon-spanner inline" [class.active]='Reminder_Ind == 1'></i> -->
  <i *ngIf="status === 11"  class="flaticon flaticon-error flaticon-notepad inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 12"  class="flaticon flaticon-warning flaticon-notepad inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 13"  class="flaticon flaticon-error flaticon-weight-balance inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 14"  class="flaticon flaticon-warning flaticon-weight-balance inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 15"  class="flaticon flaticon-success flaticon-tick inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 16"  class="flaticon flaticon-success flaticon-tick inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 17"  class="flaticon flaticon-success flaticon-handshake inline" [class.active]='Reminder_Ind == 1'></i>
  <i *ngIf="status === 18"  class="flaticon flaticon-success flaticon-dollar-bills inline" [class.active]='Reminder_Ind == 1'></i>
</span>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-slide-toggle [checked]='model' (change)='onSliderChange($event)'>Reminder</mat-slide-toggle>
  </button>
</mat-menu>
