.icon-pending-action {
  [class^='flaticon-']:before,
  [class*=' flaticon-']:before,
  [class^='flaticon-']:after,
  [class*=' flaticon-']:after {
    font-size: 20px;
    text-shadow: none;
  }

  .active {
    margin-top: 0;
    animation: shake 3s 0s infinite;
    opacity: 1;
    text-shadow: 2px 1px 2px #888;

    &:hover {
      opacity: 0.75;
    }

    &.flaticon {
      position: relative;
      &-handshake {
        top: -5px;
        &:before {
          font-size: 20px;
        }
      }
    }

    &:before {
      font-size: 18px;
      text-shadow: 2px 1px 2px #888;
    }
  }

  @keyframes shake {
    5%,
    15%,
    25%,
    35% {
      transform: rotate(-5deg);
    }

    10%,
    20%,
    30%,
    40% {
      transform: rotate(5deg);
    }

    45% {
      transform: rotate(0deg);
    }
  }

  .material-icons {
    &.flaticon-error {
      color: #d44950;
    }

    &.flaticon-warning {
      color: #ed7d31;
    }

    &:not(.active) {
      text-shadow: none;
    }

    &.active {
      top: -5px;
    }
  }
}
