<div>
  <div *ngIf="farmerInfoForm" class="row">
    <form [formGroup]="farmerInfoForm">
      <div class="row">
        <div class="input-field col m2">

          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="Farmer_First_Name" [matAutocomplete]="auto" maxlength="45" (blur)="onValueChange($event)">
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option title="{{option.Farmer_Last_Name + ', ' + option.Farmer_First_Name + ' (' + option.Farmer_SSN_Hash +')'}}" (onSelectionChange)="onSelectionChange(option)" *ngFor="let option of filteredOptions | async" [value]="option.Farmer_First_Name">
                {{option.Farmer_Last_Name + ', ' + option.Farmer_First_Name + ' (' + option.Farmer_SSN_Hash +')'}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_First_Name'].hasError('required')">Required</mat-error>
          </mat-form-field>
        </div>
        <div class="input-field col m1">

          <mat-form-field>
            <input matInput placeholder="Middle Initial" maxlength="1" formControlName="Farmer_MI" (blur)="onValueChange($event)">
          </mat-form-field>
        </div>
        <div class="input-field col m2">

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="Farmer_Last_Name" maxlength="45" (blur)="onValueChange($event)">
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_Last_Name'].hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-field col m2">

          <mat-form-field>
            <input matInput placeholder="SSN" formControlName="Farmer_SSN_Hash" minlength="9" maxlength="11" mask='{{ssnMask}}' (blur)="onValueChange($event)">
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_SSN_Hash'].hasError('required')">
              Invalid SSN
            </mat-error>
          </mat-form-field>
        </div>
    </div>

      <div class="row">
        <div class="input-field col m4">
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="Farmer_Address" (blur)="onValueChange($event)">
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_Address'].hasError('required')">
              Required
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-field col m2">
          <mat-form-field>
            <input matInput placeholder="City" formControlName="Farmer_City" (blur)="onValueChange($event)">
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_City'].hasError('required')">
              Required
              </mat-error>
          </mat-form-field>
        </div>

        <div class="input-field col m2">

          <mat-form-field id="forceStyle">
            <mat-select placeholder="State" formControlName="Farmer_State_Abbrev" (blur)="onValueChange($event)">
              <mat-option *ngFor="let state of stateList" [value]="state.State_Abbrev" >
                {{ state.State_Name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="farmerInfoForm.controls['Farmer_State_Abbrev'].hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-field col m1">
          <mat-form-field>
            <input matInput placeholder="Zip" formControlName="Farmer_Zip" pattern="^\d{5}(?:[-\s]\d{4})?$" (blur)="onValueChange($event)">
            <mat-error *ngIf="farmerInfoForm.get('Farmer_Zip').hasError('required') && !farmerInfoForm.get('Farmer_Zip').hasError('pattern')">
              Invalid
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-field col m1">
          <mat-form-field>
            <input matInput type="text" placeholder="DL Num" formControlName="Farmer_DL_Num" (blur)="onValueChange($event)">

            <mat-error *ngIf="farmerInfoForm.get('Farmer_DL_Num').hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-field col m2">
          <mat-form-field id="forceStyle">
            <mat-select placeholder="DL State" formControlName="Farmer_DL_State_Abbrev" (blur)="onValueChange($event)">
              <mat-option *ngFor="let state of stateList" [value]="state.State_Abbrev">
                {{ state.State_Name }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="farmerInfoForm.get('Farmer_DL_State_Abbrev').hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="input-field col m2">
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="Farmer_Phone" (blur)="onValueChange($event)">
          <mat-error *ngIf="farmerInfoForm.get('Farmer_Phone').hasError('required')">
            Invalid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-field col m2">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="Farmer_Email" (blur)="onValueChange($event)">
          <mat-error
            *ngIf="farmerInfoForm.get('Farmer_Email').hasError('email') ||
            farmerInfoForm.get('Farmer_Email').hasError('required') ||
            farmerInfoForm.get('Farmer_Email').hasError('pattern')">
            Invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-field col m2">
        <mat-form-field>
          <input matInput placeholder="DOB [mm/dd/yyyy]" formControlName="Farmer_DOB" validateDateRange start="01/01/1900" [end]="max_dob"  (blur)="onValueChange($event)" [dropSpecialCharacters]="false" mask="00/00/0000">
          <mat-error *ngIf="farmerInfoForm.controls['Farmer_DOB'].hasError('notInRange')">
            <!-- Date Range should be between 01/01/1900 and 12/31/2100 -->
            Invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-field col m2">
        <mat-form-field id="forceStyle">
          <mat-select placeholder="Preferred Contact" formControlName="Farmer_Preferred_Contact_Ind" (blur)="onValueChange($event)">
            <mat-option *ngFor="let option of Preferred_Contact_Ind_Options" [value]="option.key">
              {{ option.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmerInfoForm.get('Farmer_Preferred_Contact_Ind').hasError('required')">
            Required
            </mat-error>
        </mat-form-field>
      </div>
      <div class="input-field col m2">
        <mat-form-field>
          <input matInput type="number" maxlength="4" placeholder="Year began FARMing" formControlName="Year_Begin_Farming" validateRange start="1900" [end]="max_year" (blur)="onValueChange($event)" (keypress)='validateLength($event)'>
          <mat-error *ngIf="farmerInfoForm.controls['Year_Begin_Farming'].hasError('notInRange') || farmerInfoForm.controls['Year_Begin_Farming'].hasError('required')">
            <!-- Year should be between 1900 and 2100 -->
            Invalid
          </mat-error>
        </mat-form-field>

      </div>
      <div class="input-field col m2">
        <mat-form-field>
          <input matInput type="number" maxlength="4" placeholder="Year began ARMing" formControlName="Year_Begin_Client"  validateRange start="1900" [end]="max_year" (blur)="onValueChange($event)" (keypress)='validateLength($event)'>
          <mat-error *ngIf="farmerInfoForm.controls['Year_Begin_Client'].hasError('notInRange') || farmerInfoForm.controls['Year_Begin_Client'].hasError('required')">
            <!-- Year should be between 1900 and 2100 -->
            Invalid
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>
</div>
