<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Collateral Value
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="collateralReport.collateralTypes" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th></th>
                              <ng-container *ngFor="let title of allValueHeader">
                                  <th>{{title}}</th>
                              </ng-container>
                              <th *ngIf="showARMDetails" class="arm-only"></th>
                              <th *ngIf="showARMDetails" class="arm-only"></th>
                              <!-- <th ></th> -->

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let col of collateralReport.collateralTypes">
                              <td>{{col.typeName}}</td>
                              <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                                  <td>{{getValue(col.value,collateralValueKey)  | usdCurrency}}</td>
                              </ng-container>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>


                          </tr>
                          <tr class="background-highlight">
                              <td>Total Collateral</td>
                              <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                                  <td>{{getValue(collateralReport.totalCollateral,collateralValueKey)  | usdCurrency}}</td>
                              </ng-container>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>
                          <tr class="color-green arm-only" *ngIf="showARMDetails" style="font-weight: 500;">
                              <td>LTV</td>
                              <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                                <td class='percent'>{{getValue(collateralReport.LTV,collateralValueKey)  | number :'1.1-1'}}</td>
                              </ng-container>
                              <td></td>
                              <td></td>
                          </tr>

                          <tr *ngIf="showDiscValues">
                              <td>CEI</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{getValue(collateralReport.CEI,CollateralValueKey.DiscInsurance)  | usdCurrency}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>
                          <tr *ngIf="showDiscValues">
                              <td>Ag-Pro Credit</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{localLoanObject.LoanMaster.Ag_Pro_Requested_Credit | usdCurrency}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>

                          <tr *ngIf="showDiscValues">
                            <td>ARM Commitment</td>
                            <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                              <td>{{ collateralReport.armCommit | usdCurrency}}</td>
                            </ng-container>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>

                          <tr *ngIf="showDiscValues">
                            <td>ARM Est Interest</td>
                            <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                              <td>{{ collateralReport.armEstInterest | usdCurrency}}</td>
                            </ng-container>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>
                          <tr class="background-highlight color-green arm-only" *ngIf="showARMDetails">
                              <td>ARM Margin</td>
                              <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                                  <td>$ {{getValue(collateralReport.armMargin,collateralValueKey)  | number : '1.0-0'}}</td>
                              </ng-container>

                              <td *ngIf="showARMDetails" class="arm-only">{{collateralReport.RCValue | number : '1.1-1'}}% RC</td>
                              <td *ngIf="showARMDetails" class="arm-only">{{localLoanObject.LoanMaster.Return_Percent | number : '1.1-1'}}% Return</td>

                          </tr>

                          <tr *ngIf="showDiscValues">
                            <td>Dist Commitment</td>
                            <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                              <td>{{ collateralReport.distCommit | usdCurrency}}</td>
                            </ng-container>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>

                          <tr *ngIf="showDiscValues">
                            <td>Dist Est Interest</td>
                            <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                              <td>{{ collateralReport.distEstInterest | usdCurrency}}</td>
                            </ng-container>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                            <td *ngIf="showARMDetails" class="arm-only"></td>
                          </tr>
                          <tr class="background-highlight">
                              <td>Total Margin</td>
                              <ng-container *ngFor="let collateralValueKey of collateralValueKeys">
                                  <td>{{getValue(collateralReport.totalMargin,collateralValueKey) | usdCurrency}}</td>
                              </ng-container>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>

                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>
