table {
    width: unset;
    
}
tfoot{
    background: lightgreen
}
td{
    padding: 5px;
    font-size: 12px;
}

th{
    padding: 5px;
    font-weight: 600;
   
}
.background-highlight{
    background-color: #b4cfed;
    font-weight: 600;
  }
.font-weight-600{
    font-weight: 600;
}
tr td:not(:first-child) {
    text-align: right;
}
tr td:first-child {
    text-align: left;
}
tr th:not(:first-child) {
    text-align: right;
    min-width:90px;
}
tr th:first-child {
    text-align: left;
    min-width: 130px;
}


.percent:after{
    content : '%';
}


.color-green{
    color : green;
}