<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{ type === CommitmentType.RETURN ? 'Return' : 'Commitment'}}
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="commitmentSummary.commitments" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th></th>
                              <ng-container *ngIf="type === CommitmentType.RETURN  && displayReturnInDetail">
                                  <th></th>
                                  <th>ARM</th>
                                  <th>Dist</th>
                              </ng-container>
                              <th>{{ !isCCReport ? (type === CommitmentType.RETURN ? 'Return' : 'Commitment') : borrowerName}}</th>
                              <ng-container *ngIf="isCCReport">
                                  <th>{{ type === CommitmentType.RETURN ? 'Return' : 'Commitment'}}</th>
                              </ng-container>
                              <th *ngIf="displayWeightedPercent">Commit %</th>



                          </tr>
                      </thead>
                      <tbody [ngClass]="type === CommitmentType.RETURN ? 'color-green' : ''">
                          <tr *ngFor="let com of commitmentSummary.commitments">
                              <td>{{com.name}}</td>
                              <ng-container *ngIf="type === CommitmentType.RETURN  && displayReturnInDetail">
                                  <td class="percent">
                                      {{ com.committeeFeePercent | number:'1.2-2'}}
                                  </td>
                                  <td>
                                      $ {{ com.armFeeValue | number:'1.0-0'}}
                                  </td>
                                  <td *ngIf="com.distFeeValue">
                                      $ {{ com.distFeeValue | number:'1.0-0'}}
                                  </td>
                                  <td *ngIf="!com.distFeeValue">
                                      -
                                  </td>
                              </ng-container>

                              <td>{{com.value ? '$ '+ (com.value.toFixed(0) | number) : '$ 0'}}</td>
                              <ng-container *ngIf="isCCReport">

                                  <td>{{com.value ? '$ '+ (com.value.toFixed(0) | number) : '$ 0'}}</td>
                              </ng-container>
                              <td class="percent" *ngIf="displayWeightedPercent">{{com.perValue ? com.perValue.toFixed(1) : 0.0}}</td>

                          </tr>
                          <tr class="background-highlight">
                              <td>Total {{ type === CommitmentType.RETURN ? 'Return' : 'Commitment'}}</td>
                              <ng-container *ngIf="type === CommitmentType.RETURN  && displayReturnInDetail">
                                  <td></td>
                                  <td>
                                      $ {{ commitmentSummary.totalARMFeeValue | number:'1.0-0'}}
                                  </td>
                                  <td *ngIf="commitmentSummary.totalDistFeeValue">
                                      $ {{ commitmentSummary.totalDistFeeValue | number:'1.0-0'}}
                                  </td>
                                  <td *ngIf="!commitmentSummary.totalDistFeeValue">
                                      -
                                  </td>
                              </ng-container>
                              <td>{{commitmentSummary.totalCommitment ? '$ '+ (commitmentSummary.totalCommitment.toFixed(0)| number) : '$ 0'}}</td>
                              <ng-container *ngIf="isCCReport">
                                  <td>{{commitmentSummary.totalCommitment ? '$ '+ (commitmentSummary.totalCommitment.toFixed(0)| number) : '$ 0'}}</td>
                              </ng-container>
                              <td class="percent" *ngIf=" displayWeightedPercent">{{commitmentSummary.totalPerCommitment ? commitmentSummary.totalPerCommitment.toFixed(1) : 0}}</td>

                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>
