<ng-container *ngIf='footerSettings'>
  <div class="total" *ngIf='footerSettings?.isSumRowEnabled'>
    {{sum}}
  </div>
  <div class="max" *ngIf='footerSettings?.isMaxRowEnabled'>
    {{ max }}
  </div>
  <div class="average" *ngIf='footerSettings?.isAverageRowEnabled'>
    {{ avg }}
  </div>
  <div class="min" *ngIf='footerSettings?.isMinRowEnabled'>
    {{ min }}
  </div>
</ng-container>
