<div class="comment-container">
  <div class="loan-borrower-info">
    {{ loanFD }} {{ bName }}
    <!-- {{ lcYear }} {{ loanTDC }} -->
  </div>
  <div class="comment-type">
    <i *ngIf="commentType == 0" class="flaticon-multiple-users-silhouette ng-star-inserted" style="color: #23b4ad"></i>
    <i *ngIf="commentType == 1" class="flaticon-multiple-users-silhouette" style="color: #FFBB19;"></i>
    <mat-icon *ngIf="commentType == 2" class="mat-icon material-icons" role="img" aria-hidden="true" style="color: #FFBB19;">mode_edit</mat-icon>
    <!-- <i *ngIf="commentType == 3" class="flaticon-alarm" style="color: #164c7b;"></i> -->
    <i *ngIf="commentType == 3" class="flaticon-old-typical-phone" style="color: #d2162a;"></i>
  </div>
  <div class="speech-bubble">
    <div class="user-article">
      <div class="bg-white">
        <span class="stateCountyHover">
          <i class="material-icons account">
            account_circle
          </i>
          <span *ngIf="loffice != ''" class="stateCounty">{{ loffice }}</span>
        </span>
      </div>
      <div class="info">
        <div class="title">
          <div class="commentAuth"> {{ title }} </div>
          <div class="status-icon">
            <span class="date">
              <button mat-icon-button [disabled]='status == 2' (click)="onRead()" *ngIf="isRead == -1 && commentType == 1">
                <mat-icon class="unread">done</mat-icon>
              </button>
              <!-- <i class="save-icon material-icons"  (click)="onRead()">Read</i> -->
            </span>
            <span class="date" *ngIf="isRead == 1 && commentType == 1">
              <mat-icon class="read" >done_all</mat-icon>
            </span>
          </div>
        </div>

        <div class="text">
          <div class="comment-message">
            <i *ngIf="isEmoji" class="icon em" [ngClass]="icon"></i>
            <i *ngIf="isMaterial" class='material-icons' [ngClass]='emojiIcon'>{{ emojiIcon }}</i>
            <i *ngIf="isFlaticon" class="inline recommend" [ngClass]="icon"></i>
            <span *ngIf='systemText' class="system-message"> {{emojiPreText}} {{ systemText }} <br /> </span>
            <span>{{ text }}</span>
          </div>
        </div>

        <div class="cad">
          <div class="b-name">
            <div class="date cust-date">{{date}}</div>
          </div>
          <div></div>
        </div>
      </div>
    </div>

  </div>
</div>
