<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schedule of Owned and Rented Land
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="farms" class="container">
      <div class="row">
        <div class="col s12" style="width:100%;overflow-x:auto">
          <table class="bordered">
            <thead>
              <tr>
                <th class="text-left">State | County</th>
                <th class="text-center wider-1">Prod %</th>
                <th class="text-left wider">Landlord</th>
                <th class="text-left">FSN</th>
                <th *ngIf="colToDisplay?.Section" class="text-left">Section</th>
                <th *ngIf="colToDisplay?.Rated" class="text-left">Rated</th>
                <th class="text-center">PTI</th>
                <th class="text-right">Rent %</th>
                <th class="text-right wider-1">Rent $</th>
                <th class="text-right wider-1">Waived $</th>
                <th class="text-right wider-1">Due Date</th>
                <th class="text-right wider-2">Irr Acres</th>
                <th class="text-right wider-2">NI Acres</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let farm of farms">
                <tr>
                  <td class="state-country text-left">
                    {{ farm.FC_State_Code }} | {{ farm.FC_County_Name }}
                  </td>
                  <td class="percent text-center wider-1">
                    {{ farm.Percent_Prod | number: '1.1-1' }}
                  </td>
                  <td class="text-left lld" title="{{ farm.Landowner }}">
                    <span class="ellipsis">{{ farm.Landowner }}</span>
                  </td>
                  <td class="text-left">{{ farm.FSN }}</td>
                  <td *ngIf="colToDisplay?.Section" class="text-left">
                    {{ farm.Section }}
                  </td>
                  <td *ngIf="colToDisplay?.Rated" class="text-left">
                    {{ farm.Rated }}
                  </td>
                  <td class="text-center">
                    <mat-icon class="pti" *ngIf='farm.Permission_To_Insure'>check</mat-icon>
                  </td>
                  <td class="percent text-right">
                    {{ farm.Share_Rent | number: '1.1-1' }}
                  </td>
                  <td class="text-right wider-1">
                    $ {{ farm.Cash_Rent_Total | number: '1.2-2' }}
                  </td>
                  <td class="text-right wider-1">
                    $ {{ farm.Cash_Rent_Waived_Amount | number: '1.2-2' }}
                  </td>
                  <td class="text-right wider-1">
                    {{ farm.Cash_Rent_Total > 0 ? ((farm.Cash_Rent_Due_Date | date: 'MM/dd/yyyy') == '01/01/1900' ? '-': (farm.Cash_Rent_Due_Date | date: 'MM/dd/yyyy')) : '-' }}
                  </td>
                  <td class="text-right wider-2">{{ farm.Irr_Acres | number: '1.1-1' }}</td>
                  <td class="text-right wider-2">{{ farm.NI_Acres | number: '1.1-1' }}</td>
                </tr>
                <ng-container  *ngIf='farm.Crop_share_Detail_Indicator == 1'>
                  <ng-container *ngFor="let farmCrop of farmCrops">
                    <tr *ngIf="farmCrop.Farm_ID == farm.Farm_ID && farmCrop.Share_Rent_Percent != farm.Share_Rent">
                      <td colspan="3"></td>
                      <td [attr.colspan]="colspanForRent" class="text-left">
                        <span>
                          {{ farmCrop.crop }} | {{ farmCrop.crop_type }} | {{ farmCrop.irr_prac }} |  {{ farmCrop.crop_prac }}
                        </span>
                      </td>
                      <td class="percent text-right">
                        {{ farmCrop.Share_Rent_Percent | number: '1.1-1' }}
                      </td>
                      <td colspan="6"></td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
