app-farms-report {
  table {
    width: unset;
  }

  tfoot {
    background: lightgreen;
  }

  td {
    padding: 5px;
    font-size: 12px;
  }

  th {
    padding: 5px;
    font-weight: 600;
  }

  th.wider {
    min-width: 100px;
    &-1 {
      min-width: 90px;
    }

    &-2 {
      min-width: 60px;
    }
  }

  td.wider-1 {
    min-width: 90px;
  }

  td.wider-2 {
    min-width: 60px !important;
  }

  td:not(.wider) {
    min-width: 55px;
  }

  .background-highlight {
    background-color: #b4cfed;
    font-weight: 600;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  tr td:not(:first-child) {
    text-align: right;
  }

  tr td:first-child {
    text-align: left;
  }

  tr th:not(:first-child) {
    text-align: right;
  }

  tr th:first-child {
    text-align: left;
  }

  .percent:after {
    content: '%';
  }

  .text-left {
    text-align: left !important;
  }

  .text-center {
    text-align: center !important;
  }

  .state-country {
    width: 110px;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-icon.pti {
    font-size: 16px;
    font-weight: bolder;
    width: 16px;
    height: 16px;
    line-height: 1;
  }

  .lld {
    .ellipsis {
      max-width: 120px;
      display: block;
    }
  }

}
