<div #container class="radioGroup" tabindex="0" (keydown)="onKeyDown($event)">
    <ng-container *ngFor="let value of values">
        <label>
            <input 
                class="radio-input h-100"
                type="radio" 
                name="radio_group" 
                [value]="value.key"
                [(ngModel)]="selectedValue" 
                [checked]="value=='No'">
            {{value.value}}
        </label>
    </ng-container>
</div>