:host {
    width: 100%;
    height: auto;
}
.radioGroup {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    background: #e6e6e6;
    padding: 5px;
    text-align: center;
    display: inline-block;
    outline: none
}
.radio-input {
    width: auto;
}