<div class="sync-dialog-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Validation Warnings</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <ng-container *ngFor="let group of validationGroups">
            <mat-list role="list">
              <h3 mat-subheader>{{ group.tab }}</h3>
              <ng-container *ngFor="let v of group.validations; last as isLast">
                <mat-list-item role="listitem">
                  <mat-icon class="validation-icon" [class.level-1]="v.level == 1" [class.level-2]="v.level == 2">
                    error
                  </mat-icon>
                  <span class="validation-text ellipsis" title="{{ v.Validation_ID_Text }}">
                    {{ v.Validation_ID_Text }}
                  </span>
                </mat-list-item>
                <mat-divider *ngIf="!isLast"></mat-divider>
              </ng-container>
            </mat-list>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <a (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Ok</a>
      </div>
    </div>
  </div>
</div>
