.sync-dialog-container {
  .mat-list-base {
    margin-bottom: 25px;

    .mat-subheader {
      &:first-child {
        margin-top: -8px;
        font-weight: 500;
        font-size: 15px;
        background-color: #f7f7f7;
        padding: 10px;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
    }

    mat-list-item {
      height: 25px;
      margin: 5px 0;

      div.mat-list-item-content {
        padding-left: 0px;
      }

      .circle {
        border-radius: 50%;
        padding: 8px;
        border: 1px solid white;

        &.level-2 {
          background-color: #d44950;
        }

        &.level-1 {
          background-color: #ed7d31;
        }
      }

      .validation-icon {
        font-size: 19px;
        width: 19px;
        height: 20px;
        line-height: 19px;
        position: relative;
        left: 3px;

        &.level-2 {
          color: #d44950;
        }

        &.level-1 {
          color: #ed7d31;
        }
      }

      .validation-text {
        padding-left: 27px;
        font-size: 12px;
      }
    }
  }

  .modal-body {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 20px;
  }
}
