@import './../../../sass/theme/variables';

.arm-main-header {
  box-shadow: 2px 2px 3px -2px #444;
  z-index: 999;
  width: 100%;
  height: 40px;
  background: rgba(36, 112, 179, 1);
  background: -moz-linear-gradient(
    left,
    rgba(36, 112, 179, 1) 0%,
    rgba(35, 209, 171, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(36, 112, 179, 1)),
    color-stop(100%, rgba(35, 209, 171, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(36, 112, 179, 1) 0%,
    rgba(35, 209, 171, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(36, 112, 179, 1) 0%,
    rgba(35, 209, 171, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(36, 112, 179, 1) 0%,
    rgba(35, 209, 171, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(36, 112, 179, 1) 0%,
    rgba(35, 209, 171, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2470b3', endColorstr='#23d1ab', GradientType=1);
  position: fixed;
  top: 0;
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;

  nav {
    background: none; // Overrides default navigation color
  }

  .arm-menu-bar {
    background: none;
    height: 40px;
    padding: 0;
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white-90;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $white-90;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $white-90;
    }
  }

  &.is-expanded {
    .navLogo {
      width: $sidebar-expanded-view;
      min-width: $sidebar-expanded-view;
    }
  }

  .navLogo {
    width: $sidebar-minimal-view;
    min-width: $sidebar-minimal-view;
    text-align: center;
    display: flex;
    height: 100%;
    padding-top: 0px;
    box-shadow: 3px 2px 6px -2px #444;
    .navIcons {
      flex: 5;
      margin-top: 3px;
    }
    .close-menu {
      flex: 1;
      color: $secondary-color;
      mat-icon {
        font-weight: bold;
      }
    }
  }

  .create-loan {
    margin-right: 30px;
  }

  .search-box {
    margin-top: -3px;
  }

  .min-logo {
    padding-left: 15px;
    .min-logo-img {
      margin-top: 10px;
      width: 25px;
    }
  }

  .navbar-wrapper .navIcons .logo {
    width: 130px;
    position: relative;
    top: -4px;
  }

  .notifications-icon-panel {
    background: $primary-color;
  }

  .logged-in-menu {
    margin-right: 30px;
    margin-top: 3px;
    .mat-button {
      padding: 0 10px;
      font-size: $font-size-lg;
    }
  }

  .loan-list-menu {
    margin-left: 40px;
  }

  span.ghost-icon {
    margin-right: 40px;
    cursor: pointer;
    img {
      height: 26px;
      width: 26px;
      position: relative;
      top: 8px;
      transition: .2s ease-out;
    }
  }

  .logged-in-user-initial {
    margin-top: 4px;
    line-height: 30px;
  }

  .nav-parent {
    width: 100%;
    // text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .lighbulb-icon {
    margin-right: 30px;
    margin-top: -2px;
    transition: all 0.25s;
    height: auto;

    &:not(.expanded) {
      &:hover {
        transform: scale(1.2);
      }
    }

    .toggled {
      height: auto;
    }

    &.expanded {
      margin-right: 80px;
      mat-icon {
        transform: rotate(30deg);
      }
    }

    mat-icon {
      font-size: 28px;
    }

    .decide {
      font-size: 16px;
      font-style: italic;
    }

    .flaticon-right-arrow {
      margin-left: 0px;
      margin-top: 0px;

      display: inline-block;
      &::before {
        font-size: 18px;
      }
    }
  }

  .gear-container {
    button {
      text-align: left;
      padding-left: 0;
      min-width: 30px;
      padding-right: 0;
      .gear-icon {
        font-size: 20px;
      }
    }
  }
}

.hammer-gear-icon {
  width: 16px;
  height: 16px;
}

.lock-container {
  .recommended-lock,
  .inactive-lock,
  .working-lock,
  .locked {
    cursor: pointer;
    font-size: 22px;
  }

  .locked {
    color: #164c7b;
  }
}

.dashboard-gear {
  &--header {
    padding: 5px 10px;
    color: #000000;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    background-color: #80808012;
  }

  &__item {
    padding: 5px 10px;

    &--label {
      display: inline-block;
      margin: 0;
      font-weight: 400;
      font-size: inherit;
      min-width: 100px;
    }
  }

  &--settings {
    font-size: 22px !important;
    color: #fff;
  }
}
