<!-- Start Top Nav Bar -->
<!-- Start Application Header -->
<header class="webApp_header top_NavBar arm-main-header" [ngClass]="{'is-expanded': isExpanded}" id="arm-main-header">
  <nav>
    <div class="navbar-wrapper">
      <nav class="header-nav">
        <div class="nav-wrapper">
          <mat-toolbar color="primary" class="arm-menu-bar">
            <span class="navLogo min-logo" *ngIf="!isExpanded">
              <a>
                <img src="assets/images/lendalogomin.png" class="min-logo-img" alt="Lenda Logo">
              </a>

              <button class="close-menu" mat-icon-button (click)="toggleSideBar()">
                <i class="flaticon-primary flaticon-right-arrow"></i>
              </button>
            </span>

            <span class="navLogo" *ngIf="isExpanded" id="navlogo-main">
              <a [routerLink]="['/home/loans']" (click)='hideRightSideNav()' class="navIcons">
                <img src="assets/images/synthesis-without-sun.png" class="logo" alt="Lenda Logo">
              </a>
              <button class="close-menu" mat-icon-button (click)="toggleSideBar()">
                <i class="flaticon-primary flaticon-back"></i>
              </button>
            </span>

            <div class="loan-list-menu">
              <span class="nav-item create-loan left-align" *ngIf="router.url.includes('/home/loans')">
                <button mat-button primary (click)='createLoan()'>
                  <a style="color:white" >Create Loan</a>
                </button>
              </span>
              <span class="nav-item create-loan left-align" *ngIf="router.url.includes('/home/loans') && favoriteList?.length > 0">
                <button (mouseenter)="menuTrigger.openMenu()" mat-button  #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" primary>Favorites
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                  <span (mouseleave)="menuTrigger.closeMenu()">
                    <ng-container *ngFor="let fav of favoriteList">
                      <button title='{{ fav | favouriteLoan}}' mat-menu-item (click)="navigatetoloan(fav.loanFullID)">
                        <a >
                          {{ fav | favouriteLoan}}
                        </a>
                      </button>
                    </ng-container>
                  </span>
                </mat-menu>
              </span>
            </div>

            <div class="col s12">
              <span class="nav-item left-align">
                <button mat-button  *ngIf="router.url != '/home/loans' && router.url != '/home/login'" primary>
                  <a style="color:white" [routerLink]="['/home/loans']">Loan List</a>
                </button>
              </span>

              <span class="nav-item" *ngIf="router.url.includes('/home/loanoverview')">
                <button (mouseenter)="menuTrigger.openMenu()" mat-button  #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" primary>Favorites
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                  <span (mouseleave)="menuTrigger.closeMenu()">
                    <ng-container *ngFor="let fav of favoriteList">
                      <button title='{{ fav | favouriteLoan}}' mat-menu-item (click)="navigatetoloan(fav.loanFullID)">
                        <a >
                          {{ fav | favouriteLoan}}
                        </a>
                      </button>
                    </ng-container>
                  </span>
                </mat-menu>
              </span>

              <span class="nav-item" *ngIf="router.url.includes('/home/loanoverview')">
                <button (mouseenter)="maintenanceMenuTrigger.openMenu()" mat-button  #maintenanceMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="maintenanceMenu" primary>Maintenance
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #maintenanceMenu="matMenu" class="maintain-menu">
                  <span (mouseleave)="maintenanceMenuTrigger.closeMenu()" >
                    <!-- <button mat-menu-item (click)='createLoan()'>
                      <a>Create Loan</a>
                    </button> -->

                    <button [disabled]='!canRescind' mat-menu-item (click)="rescindLoan()">
                      <a>Rescind Loan</a>
                    </button>

                    <button [disabled]='!canCopyAndCreateNewLoan' mat-menu-item (click)="Copy_And_Create_New_Loan()" title='Create new loan with borrower info in current year'>
                      <a>Create Loan</a>
                    </button>

                    <button [disabled]='!canWithdraw' mat-menu-item (click)="reviveCurrentLoan()">
                      <a>Revive/Copy Loan</a>
                    </button>

                    <button [disabled]='!canWithdraw' mat-menu-item (click)="withdrawLoan()">
                      <a>Withdraw Loan</a>
                    </button>

                    <!-- <button [disabled]='!canWorkingChange' mat-menu-item (click)="workingChange()">
                      <a>Working Change</a>
                    </button> -->

                    <button [disabled]='!isWorkingLoan' mat-menu-item (click)="resetCurrentLoan()">
                      <a>Undo Current Changes</a>
                    </button>

                    <button [disabled]='!isWorkingLoan' mat-menu-item (click)="copyPreviousLoan()">
                      <a>Copy Previous Loan</a>
                    </button>

                    <button [disabled]='!isWorkingLoan' mat-menu-item (click)="copyCrossCollateralLoan()">
                      <a>Copy Cross Collateralized Loan</a>
                    </button>

                    <button [disabled]='!isWorkingLoan' mat-menu-item (click)="editLoanParamsDialog()">
                      <a>Edit Loan Parameters</a>
                    </button>
                  </span>
                </mat-menu>
              </span>

              <!-- <span class="nav-item" *ngIf="router.url.includes('/home/loanoverview')">
                <button (mouseenter)="menuTrigger.openMenu()" mat-button  #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" primary>Admin
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <span (mouseleave)="menuTrigger.closeMenu()" >
                    <button mat-menu-item>
                      <a href="#">Developer Admin</a>
                    </button>

                    <button mat-menu-item>
                      <a href="#">System Admin</a>
                    </button>

                    <button mat-menu-item>
                      <a href="#">Risk Admin</a>
                    </button>

                    <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/other-queue']">
                      <a>Other Queue</a>
                    </button>
                  </span>
                </mat-menu>
              </span> -->

              <span class="nav-item" *ngIf="router.url.includes('/home/loanoverview') && isDevAdmin">
                <button (mouseenter)="menuTrigger.openMenu()" mat-button  #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" primary>Debug
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/work-in-progress']">
                    <a>Calc Details</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/custom-entry']">
                    <a>Custom Entry</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/LoanHistory']">
                    <a>Loan History</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/debug']">
                    <a>Debug</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/local-storage-debug']">
                    <a>Local Storage Debug</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/Nortridge']">
                    <a>Nortridge Upload</a>
                  </button>
                  <!-- <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/Nortridgefunctions']">
                    <a>Nortridge functions</a>
                  </button> -->
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/subsidiary-database-debug']">
                    <a>Subsidiary Database Debug</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/loan-rx-debug']">
                    <a>Loan RX Debug</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/loan-sync-debug']">
                    <a>Loan Sync Debug</a>
                  </button>
                  <button mat-menu-item [routerLink]="['/home/loanoverview/'+loanid+'/log-debug']">
                    <a>Log Debug</a>
                  </button>
                </mat-menu>
              </span>

              <span class="nav-item" *ngIf="router.url.includes('/home/loanoverview')">
                <button class="master-chevron-icon-container" (click)='toggleChevrons()' mat-button primary>
                  <i class="master-chevron material-icons" *ngIf='masterService.isChevronOpen' title="Close Chevrons">keyboard_arrow_down</i>
                  <i class="master-chevron material-icons" *ngIf='!masterService.isChevronOpen' title="Open Chevrons">keyboard_arrow_up</i>
                </button>
              </span>
            </div>
            <div class="nav-parent">
              <span class="lock-container" *ngIf="showLoanStatus()">
                <i class="material-icons working-lock" *ngIf="isWorking() && router.url.includes('/home/loanoverview')">lock_open</i>
                <i class="material-icons locked" *ngIf="isUsedByOtherUser() && router.url.includes('/home/loanoverview')" (click)="masterService.minimizeBanner()">lock</i>
                <i class="material-icons recommended-lock" *ngIf="isProtectedActive() && router.url.includes('/home/loanoverview')" (click)="masterService.minimizeBanner()">lock</i>
                <i class="material-icons inactive-lock" *ngIf="isProtectedInActive() && router.url.includes('/home/loanoverview')" (click)="masterService.minimizeBanner()">lock</i>
              </span>
              <span class="input-group-flat search-box ml-10">
                <div class="search" *ngIf="router.url.includes('/home/loanoverview')">
                  <app-header-icons-panel [loanId]='loanid'></app-header-icons-panel>
                </div>
              </span>
              <span class="ghost-icon" *ngIf='router?.url?.includes("home/loans")' (click)='openPendingActionGhostingDialog()' [title]="getTitle()">
                <img src="./../../../assets/images/ghost-active.svg" alt="Pending Action Ghosting" [hidden]='!isGhostingEnabled'>
                <img src="./../../../assets/images/ghost-inactive.svg" alt="Pending Action Ghosting" [hidden]='isGhostingEnabled'>
              </span>
              <!-- Leaf node buttons here -->
              <span class="nav-item logged-in-menu">
                <span (mouseenter)="menu4Trigger.openMenu()">
                  <button #menu4Trigger="matMenuTrigger" mat-button [matMenuTriggerFor]="menu4" class="btnT logged-in-user-initial">{{ loggedinusername | getinitial }}</button>
                  <mat-icon>arrow_drop_down</mat-icon>
                </span>
                <mat-menu #menu4="matMenu">
                  <span (mouseleave)="menu4Trigger.closeMenu()">
                    <button mat-menu-item [routerLink]="['/preferences/settings']">
                      <a>My Preferences</a>
                    </button>
                    <button mat-menu-item [routerLink]="['/home/admin']">
                      <a>Support</a>
                    </button>
                    <button mat-menu-item (click)="logout()">
                      <a>Logout</a>
                    </button>
                  </span>
              </mat-menu>
              </span>
              <mat-icon class="lighbulb-icon" [ngClass]="{'expanded': isRightSidebarExpanded}">
                <button class="toggled" (click)="toggleRightSidenav()" mat-icon-button *ngIf="isRightSidebarExpanded">
                    <mat-icon>lightbulb_outline</mat-icon>
                      <span class="decide">Decide</span>
                    <i class="flaticon-right-arrow"></i>
                </button>
                <button mat-icon-button (click)="toggleRightSidenav()" *ngIf="!isRightSidebarExpanded" title='Open Decide'>
                    <mat-icon>lightbulb_outline</mat-icon>
                </button>
              </mat-icon>

              <app-available-page-actions></app-available-page-actions>
            </div>
          </mat-toolbar>
        </div>
      </nav>

    </div>
  </nav>
</header>

<!-- End Application Header -->
