<mat-sidenav #leftSidenav class="arm-sidenav" [ngClass]="{'expanded': isExpanded}" id="arm-sidenav" [mode]="'over'" opened="true">
  <mat-nav-list class="arm-sidenav-main" [class.show-errors]='showTotalsSettings.isValidationDetailsTabIconsEnabled || showTotalsSettings.isExceptionDetailsTabIconsEnabled'>
    <mat-list-item class='no-error' routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/schematic']" (click)="setCurrentPage('schematic')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Schematic</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('flowchart')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/summary']" (click)="setCurrentPage('summary')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-menu"></i></mat-icon>
      <p matLine>Reports</p>
      <ng-container *ngIf='summaryErrors && showIcons'>
        <app-exception-icons [error]='summaryErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('summary')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/borrower']" (click)="setCurrentPage('borrower')">
      <mat-icon mat-list-icon>
        <i class="flaticon">
          <svg viewBox="0 0 482.9 482.9" width="24" height="24">
            <path fill="#7394b0"  d="M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5 c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6 c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4 c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0 c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z"></path>
            <path fill="#7394b0"  d="M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3 c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7 c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41 c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56 c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8 c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3 c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3 C447,415.5,446.9,388.8,446.8,383.6z"></path>
          </svg>
        </i>
      </mat-icon>
      <p matLine>Borrower</p>
      <ng-container *ngIf='borrowerErrors && showIcons'>
        <app-exception-icons [error]='borrowerErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('borrower')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/crop']" (click)="setCurrentPage('crop')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-plant"></i></mat-icon>
      <p matLine>Crop</p>
      <ng-container *ngIf='cropErrors && showIcons'>
        <app-exception-icons [error]='cropErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('crop')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/farm']" (click)="setCurrentPage('farm')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-tractor"></i></mat-icon>
      <p matLine>Farm</p>
      <ng-container *ngIf='farmErrors && showIcons'>
        <app-exception-icons [error]='farmErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('farm')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/insurance']" (click)="setCurrentPage('insurance')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-umbrella"></i></mat-icon>
      <p matLine>Insurance</p>
      <ng-container *ngIf='insuranceErrors && showIcons'>
          <app-exception-icons [error]='insuranceErrors'
            [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
            [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
          </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('insurance')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/budget']" (click)="setCurrentPage('budget')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-calculator"></i></mat-icon>
      <p matLine>Budget</p>
      <ng-container *ngIf='budgetErrors && showIcons'>
          <app-exception-icons [error]='budgetErrors'
            [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
            [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
          </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('budget')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/optimizer']" (click)="setCurrentPage('optimizer')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Optimizer</p>
      <ng-container *ngIf='optimizerErrors && showIcons'>
        <app-exception-icons [error]='optimizerErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('optimizer')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/collateral']" (click)="setCurrentPage('collateral')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-link"></i></mat-icon>
      <p matLine>Collateral</p>
      <ng-container *ngIf='collateralErrors && showIcons'>
        <app-exception-icons [error]='collateralErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('collateral')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/committee']" (click)="setCurrentPage('committee')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-group"></i></mat-icon>
      <p matLine>Committee</p>
      <ng-container *ngIf='committeeErrors && showIcons'>
          <app-exception-icons [error]='committeeErrors'
            [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
            [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
          </app-exception-icons>
        </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('committee')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <!-- <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/closing']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-checklist"></i></mat-icon>
      <p matLine>Closing</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('closing')" class="save-icon material-icons">save</i>
    </mat-list-item> -->



    <!-- HIDDEN NOT A TAB <mat-list-item *ngIf="isAdmin" routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/work-in-progress']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-team"></i></mat-icon>
      <p matLine>Work In Progress</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('workInProgress')" class="save-icon material-icons">save</i>
    </mat-list-item> -->

    <!-- <mat-list-item *ngIf="isAdmin" routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/other-queue']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-team"></i></mat-icon>
      <p matLine>Other Maintenance</p>
    </mat-list-item> -->

    <!-- HIDDEN NOT A TAB <mat-list-item *ngIf="isAdmin" routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/custom-entry']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Custom Entry</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('customEntry')" class="save-icon material-icons">save</i>
    </mat-list-item> -->


    <!-- HIDDEN NOT A TAB <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/debug']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Debug</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('debug')" class="save-icon material-icons">save</i>
    </mat-list-item> -->

    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/checkout']" (click)="setCurrentPage('checkout')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-online-shopping-cart"></i></mat-icon>
      <p matLine>Checkout</p>
      <ng-container *ngIf='checkoutErrors && showIcons'>
        <app-exception-icons [error]='checkoutErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i *ngIf="isSyncRequired('checkout')" class="save-icon material-icons">save</i>
    </mat-list-item>

    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/disburse']" (click)="setCurrentPage('disburse')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-dollar-bills"></i></mat-icon>
      <p matLine>Disburse</p>
      <ng-container *ngIf='disburseErrors && showIcons'>
        <app-exception-icons [error]='disburseErrors'
          [isValidationsDisplayed]="showTotalsSettings.isValidationDetailsTabIconsEnabled"
          [isErrorsDisplayed]="showTotalsSettings.isExceptionDetailsTabIconsEnabled">
        </app-exception-icons>
      </ng-container>
      <i (click)="onPublish()" *ngIf="isSyncRequired('disburse')" class="save-icon material-icons">save</i>
    </mat-list-item>

    <mat-list-item routerLinkActive="active">
      <mat-icon mat-list-icon>autorenew</mat-icon>
      <p matLine>Reconcile</p>
      <!-- <i *ngIf="isSyncRequired('checkout')" class="save-icon material-icons">save</i> -->
    </mat-list-item>

    <!-- <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/LoanHistory']" (click)="setCurrentPage('LoanHistory')">
      <mat-icon mat-list-icon><i class="flaticon flaticon-preferences"></i></mat-icon>
      <p matLine>Loan History</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('myPreferences')" class="save-icon material-icons">save</i>
    </mat-list-item> -->

  </mat-nav-list>

  <mat-nav-list class="mid-nav-list">
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded" [routerLink]="['/home/loanoverview/'+loanid+'/viewBalances']">
      <p matLine>View Balances</p>
      <i (click)="onPublish()" *ngIf="false" class="save-icon material-icons">save</i>
    </mat-list-item>

    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded" [routerLink]="['/home/loanoverview/'+loanid+'/loanHistory']">
      <p matLine>Loan History</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('myPreferences')" class="save-icon material-icons">save</i>
    </mat-list-item>

    <!-- <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded" [routerLink]="['/preferences/settings']">
      <p matLine>My Preferences</p>
      <i (click)="onPublish()" *ngIf="isSyncRequired('myPreferences')" class="save-icon material-icons">save</i>
    </mat-list-item> -->

    <!-- <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Favorites</p>
      <i (click)="onPublish()" *ngIf="false" class="save-icon material-icons">save</i>
    </mat-list-item> -->
  </mat-nav-list>


  <mat-nav-list class="bot-nav-list">
    <!-- <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Wolters Kluwer</p>
    </mat-list-item> -->
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Knowledge Lake</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Nortridge</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Net Suite</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Domo</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>SharePoint</p>
    </mat-list-item>
  </mat-nav-list>

</mat-sidenav>
