@import "./../../../sass/theme/variables";

mat-sidenav  {
  padding-top: 40px;
  mat-icon {
    color: $icon-color;
    font-size: 18px;
  }

  .unfeatured {
    p {
      color: $sidebar-unfeatured-item-color;
      font-size: $base-font-size;
    }
  }

  .mat-list-item {
    height: 43px;
  }

  .mat-list-item:not(.unfeatured):not(.normalize) p.mat-line {
    margin-top: -1px;
    color: $white-90;
    // text-transform: uppercase;
    // font-weight: 500;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    font-size: $base-font-size;
  }

  .normalize {
    color: $white-90;
    font-size: $base-font-size;
  }

  .save-icon {
    color: $white-90;
  }

  .mat-list-item-focus {
    background: transparent;
  }

  .mat-list-item .active,
  .mat-list-item.active {
    background: $sidebar-selected-bg-color;
    .flaticon, .save-icon {
      color: $nav-hover-color;
    }
  }

  .mat-list-item:not(.navLogo):hover {
    background: $nav-hover-color;
    .flaticon, .save-icon {
      color: $white-90;
    }
    path {
      fill: $white-90;
    }
  }
}

.error-bubble,
.warning-bubble {
  font-size: $font-size-sm;
  color: $white;
  border-radius: 50%;
  line-height: 1;
  padding: 2px;
  border: 1px solid #ddd;
  position: absolute;
  top: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
}

.error-bubble {
  background: $error-color;
  left: 75px;
}

.warning-bubble {
  background: #ED7D31;
  left: 50px;
}

.triangle {
  &.error-triangle {
    background-color: transparent;
  }

  &.error-triangle, &.warning-triangle {
    &:not(.small) {
      .text {
        top: 0px;
      }
    }
  }
}

.exception-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;

  .error-bubble {
    left: 65px;
  }

  .warning-bubble {
    left: 40px;
  }

  .triangle {
    top: 5.8px;
    position: relative;
    left: 86px;
  }
}


#arm-sidenav{
  z-index: 101;
  background: $sidebar-bg-color;
  overflow-y: auto;
  position: fixed;
  // TODO: If footer is not required, give height of 100%
  // and hide footer
  // height: calc(100% - 30px);
  height: 100%;
  top: 0;
  left: 0;
  width: $sidebar-minimal-view;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &.expanded {
    width: $sidebar-expanded-view;
  }
}

.arm-sidenav {
  visibility: visible !important;
  display: flex;
  flex-direction: column;
}

.arm-sidenav-main {
  flex-grow: unset;
}

.mid-nav-list {
  // margin-top: 14px !important;
  flex-grow: 1;
  color: #ffffff;
  text-decoration: underline;

  mat-list-item {
    padding-left: unset;
    height: 30px;
  }
}

.bot-nav-list {
  // height: 37.3px;
  mat-list-item {
    background-color: #7F9DB6;
    padding-left: unset;
    height: 29.8px;
  }
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: unset;
  display: block;
}
