<mat-tab-group class="mat-secondary">
  <mat-tab>
    <ng-template mat-tab-label>
      Insurance
    </ng-template>
    <div class="row p-l-15">
      <app-insurance-plan-settings [(settings)]="settings.insurancePlanSettings"></app-insurance-plan-settings>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Display Detail
    </ng-template>
    <div class="row p-l-15">
      <app-reports-display-settings [(settings)]="settings.reportsDisplaySettings"></app-reports-display-settings>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Columns
    </ng-template>
    <div class="row p-l-15">
      <app-columns-display-settings [(settings)]="settings.columnsDisplaySettings"></app-columns-display-settings>
    </div>
  </mat-tab>
</mat-tab-group>