body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  min-height: 100vh;
}

.btn-unstyle {
  background: none;
  border: none;
  margin: 0 0 0 -5px;
  &:first-child {
    margin: 0 0 5px 10px;
  }
}

.basic-container {
  padding: 0px;
}

a.disabled {
  text-decoration: unset !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100% !important;
  padding-bottom: 100% !important;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10px;
}

// Icon adjustments for expand all and collapse all
// ===
.icon-base-size::before {
  font-size: $font-size-md;
}

.flaticon {
  text-shadow: -1px 1px #333;
}

.flaticon-expand::before,
.flaticon-collapse::before {
  margin-top: 5px;
}
// ===

[hidden] {
  display: none !important;
}

// Colors
// ===
.success {
  color: $success-color;
}

.error {
  color: $error-color;
}

.warning {
  color: $warning-color;
}

.primary {
  color: $primary-color;
}

//====

// Scroll bar customization
// ==================

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8298ac66;
  border: 1px solid #33333342;
}
//====
