.page-header {
    display: flex;
    align-content: center;
    background: $primary-color;
    color: $white;
    border-left: 1px solid #666;
    font-size: $font-size-md;
    padding: 5px 5px 5px 15px;
    text-transform: uppercase;
    position: fixed;
    z-index: 999;
    width: calc(100% - 215px);
    margin-bottom: 20px;
    justify-content: space-between;
    &.expanded {
      width: calc(100% - 70px);
    }
    + *::before {
      content: ' ';
      display: block;
      height: 30px;
    }

    .text {
        text-shadow: 1px 1px #333;
    }

    .flaticon {
        font-size: $font-size-md;
        cursor: pointer;
        margin-left: 10px;
        display: inherit;
        color: $white-90;
    }
}
