.bottom {
  padding-bottom: 10px;
}

.width-auto {
  width: auto !important;
}
::ng-deep #forceStyle .mat-input-wrapper {
  padding-bottom: 1.15em;
}

.row {
  margin-bottom: 0px;
}

.spouse-header {
  color: #164c7b;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 73.5%;
}

.borrower-error-text {
  color: red;
  padding-left: 10px;
  padding-bottom: 10px;
}

.signer-gear {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: #23c8ab;
  position: relative;
  top: 15px;
  cursor: pointer;

  &.has-value {
    color: #164c7b;
  }
}
