<div *ngIf="borrowerInfoForm" class="row borrower-info">
		<form [formGroup]="borrowerInfoForm">

			<div class="row">
				<div class="input-field col m2">
					<mat-form-field>
						<mat-select placeholder="Entity Type" formControlName="Borrower_Entity_Type_Code" (selectionChange)="onEntityTypeChange($event)">
							<mat-option *ngFor="let type of entityType" [value]="type.key">
								{{ type.value }}
							</mat-option>
						</mat-select>
					</mat-form-field>
        </div>
        <div class="input-field col m2" *ngIf='showSignerGear'>
          <mat-icon class="signer-gear" [class.has-value]='hasSignerDetails' title="Borrower Signer Details" (click)='openSignerDetails()'>settings</mat-icon>
        </div>
      </div>

      <div *ngIf='showExitingBorrowerMessage' class="borrower-error-text">
        Borrower is already used in crop year {{borrowerInfo['Crop_Year']}}
      </div>

      <div class="row">
				<div class="input-field col l3">
          <mat-form-field>
            <input matInput
            [placeholder]="getEntityGroup(borrowerInfoForm.value.Borrower_Entity_Type_Code) == EntityGroup.Organization ? 'Name' : 'First Name'"
            formControlName="Borrower_First_Name"
            [matAutocomplete]="auto"
            maxlength="500"
            (blur)="onValueChange($event)">
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option
              title="{{option | borrowerName}}"
              (onSelectionChange)="onSelectionChange($event, option)"
              *ngFor="let option of filteredBorrwerList | async"
              [value]="option.Borrower_First_Name">
                {{option | borrowerName}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="borrowerInfoForm.controls['Borrower_First_Name'].hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>

				<div class="input-field col m1" *ngIf="getEntityGroup(borrowerInfoForm.value.Borrower_Entity_Type_Code) == EntityGroup.Individual">
					<mat-form-field>
            <input matInput placeholder="Middle Initial" maxlength="1" formControlName="Borrower_MI" (blur)="onValueChange($event)">
					</mat-form-field>
				</div>
				<div class="input-field col m2" *ngIf="getEntityGroup(borrowerInfoForm.value.Borrower_Entity_Type_Code) == EntityGroup.Individual">

					<mat-form-field>
            <input matInput placeholder="Last Name" formControlName="Borrower_Last_Name" (blur)="onValueChange($event)" maxlength="45">
            <mat-error *ngIf="borrowerInfoForm.get('Borrower_Last_Name').hasError('required')">
              Required
            </mat-error>
					</mat-form-field>
				</div>

				<div class="input-field col m2 ssn-hash-input" *ngIf='show_ssn_dropdown'>
					<mat-form-field>
            <input matInput
            [placeholder]="getPlaceholder()"
            [matAutocomplete]="ssnHashAutoComplete"
            formControlName="Borrower_SSN_Hash"
            maxlength="9"
            type="number"
            [pattern]="getSSNPattern()">
            <mat-autocomplete #ssnHashAutoComplete="matAutocomplete" >
              <mat-option
              title="{{opt.Borrower_First_Name + ' ' + opt.Borrower_Last_Name + ' (' + opt.Borrower_SSN_Hash +')'}}"
              (onSelectionChange)="onSSNSelectionChange(opt)"
              *ngFor="let opt of sshFilteredList"
              [value]="opt.Borrower_SSN_Hash">
                {{opt.Borrower_First_Name + ' ' + opt.Borrower_Last_Name + ' (' + opt.Borrower_SSN_Hash +')'}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="borrowerInfoForm.controls['Borrower_SSN_Hash'].hasError('required') || borrowerInfoForm.controls['Borrower_SSN_Hash'].hasError('pattern')">
              Invalid SSN
            </mat-error>
					</mat-form-field>
        </div>

        <div class="input-field col m2" *ngIf='!show_ssn_dropdown'>
					<mat-form-field>
						<input matInput
						[placeholder]="getPlaceholder()"
						formControlName="Borrower_SSN_Hash"
						[mask]='getSSNFormat()'
            [pattern]="getSSNPattern()"
						(blur)="onValueChange($event)">
            <mat-error *ngIf="borrowerInfoForm.controls['Borrower_SSN_Hash'].hasError('required') || borrowerInfoForm.controls['Borrower_SSN_Hash'].hasError('pattern')">
              Invalid SSN
            </mat-error>
					</mat-form-field>
				</div>
      </div>

			<div class="row">
				<div class="input-field col m4">
					<mat-form-field>
            <input matInput placeholder="Address" formControlName="Borrower_Address" (blur)="onValueChange($event)">
            <mat-error *ngIf="borrowerInfoForm.get('Borrower_Address').hasError('required')">
              Required
            </mat-error>
					</mat-form-field>
				</div>

				<div class="input-field col m2">
					<mat-form-field>
            <input matInput placeholder="City" formControlName="Borrower_City" (blur)="onValueChange($event)">
            <mat-error *ngIf="borrowerInfoForm.get('Borrower_City').hasError('required')">
              Required
            </mat-error>
					</mat-form-field>
				</div>

				<div class="input-field col m2">
					<mat-form-field id="forceStyle">
						<mat-select placeholder="State" formControlName="Borrower_State_Abbrev" (blur)="onValueChange($event)">
							<mat-option *ngFor="let state of stateList" [value]="state.State_Abbrev">
								{{ state.State_Name }}
							</mat-option>
            </mat-select>
            <mat-error *ngIf="borrowerInfoForm.get('Borrower_State_Abbrev').hasError('required')">
              Required
            </mat-error>
					</mat-form-field>
        </div>

				<div class="input-field col m1">
					<mat-form-field>
						<input matInput placeholder="Zip" formControlName="Borrower_Zip" pattern="^\d{5}(?:[-\s]\d{4})?$" (blur)="onValueChange($event)">
						<mat-error *ngIf="borrowerInfoForm.get('Borrower_Zip').hasError('pattern') || borrowerInfoForm.get('Borrower_Zip').hasError('required')">
							Invalid
						</mat-error>
					</mat-form-field>
        </div>

        <div class="input-field col m1" *ngIf="getEntityGroup(borrowerInfoForm.value.Borrower_Entity_Type_Code) == EntityGroup.Individual">
					<mat-form-field>
            <input matInput type="text" placeholder="DL Num" formControlName="Borrower_Dl_Num" (blur)="onValueChange($event)">
					</mat-form-field>
				</div>

        <div class="input-field col m2" *ngIf="getEntityGroup(borrowerInfoForm.value.Borrower_Entity_Type_Code) == EntityGroup.Individual">
					<mat-form-field id="forceStyle">
						<mat-select placeholder="DL State" formControlName="Borrower_DL_State_Abbrev" (blur)="onValueChange($event)">
							<mat-option *ngFor="let state of stateList" [value]="state.State_Abbrev">
								{{ state.State_Name }}
							</mat-option>
            </mat-select>
					</mat-form-field>
				</div>
      </div>

			<div class="row">
				<div class="input-field col m3">
					<mat-form-field>
						<input matInput placeholder="Phone" formControlName="Borrower_Phone"
						(blur)="onValueChange($event)"  max="13">
						<mat-error *ngIf="borrowerInfoForm.get('Borrower_Phone').hasError('required')">
							Invalid
						</mat-error>
					</mat-form-field>
        </div>

				<div class="input-field col m3">
					<mat-form-field>
						<input matInput placeholder="Email" (blur)="onValueChange()" formControlName="Borrower_Email">
						<mat-error
							*ngIf="borrowerInfoForm.get('Borrower_Email').hasError('email') ||
							borrowerInfoForm.get('Borrower_Email').hasError('required') ||
							borrowerInfoForm.get('Borrower_Email').hasError('pattern')">
							Invalid
						</mat-error>
					</mat-form-field>
        </div>

				<div class="input-field col m2">
					<mat-form-field>
						<input matInput placeholder="DOB Or Incorporation  [mm/dd/yyyy]" formControlName="Borrower_DOB" (blur)="onValueChange($event)"
						validateDateRange start="01/01/1900" [end]="max_dob" [dropSpecialCharacters]="false" mask="00/00/0000">
						<mat-error *ngIf="borrowerInfoForm.controls['Borrower_DOB'].hasError('notInRange')">
              <!-- Date Range should be between 01/01/1900 and 12/31/2100. -->
              Invalid
						</mat-error>
					</mat-form-field>
				</div>

				<div class="input-field col m2">
					<mat-form-field id="forceStyle">
						<mat-select placeholder="Preferred Contact" formControlName="Borrower_Preferred_Contact_Ind" (blur)="onValueChange($event)">
							<mat-option *ngFor="let option of Preferred_Contact_Ind_Options" [value]="option.key">
								{{ option.value }}
							</mat-option>
            </mat-select>
					</mat-form-field>
				</div>

				<div class="w-100"></div>
				<br>
			</div>

      <div style="padding-top:20px" *ngIf="borrowerInfoForm && borrowerInfoForm.value.Borrower_Entity_Type_Code ==BorrowerEntityType.IndividualWithSpouse">
        <div class="row m-0 p-0 spouse-header">
          Spouse
        </div>
				<div class="row">
          <div class="input-field col m2">
            <mat-form-field>
              <input matInput placeholder="Spouse First Name" formControlName="Spouse_First_Name" (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_First_Name').hasError('required')">
                 Required
                </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m1">
            <mat-form-field>
              <input matInput placeholder="Spouse Middle Initial" formControlName="Spouse_MI" (blur)="onValueChange($event)">
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field>
              <input matInput placeholder="Spouse Last Name" formControlName="Spouse_Last_name" (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Last_name').hasError('required')">
                  Required
                </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field>
              <input matInput
              placeholder="Spouse SSN"
              [formControl]="borrowerInfoForm.controls['Spouse_SSN_Hash']"
              [mask]='getSSNFormat()'
              [pattern]="getSSNPattern()"
              (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.controls['Spouse_SSN_Hash'].hasError('required') || borrowerInfoForm.controls['Spouse_SSN_Hash'].hasError('pattern')">
                Invalid SSN
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m4">
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="Spouse_Address" (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Address').hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field>
              <input matInput placeholder="City" formControlName="Spouse_City" (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_City').hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field id="forceStyle">
              <mat-select placeholder="State" formControlName="Spouse_State_Abbrev" (blur)="onValueChange($event)">
                <mat-option *ngFor="let state of stateList" [value]="state.State_Abbrev">
                  {{ state.State_Name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_State_Abbrev').hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m1">
            <mat-form-field>
              <input matInput placeholder="Zip" formControlName="Spouse_Zip" pattern="^\d{5}(?:[-\s]\d{4})?$" (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Zip').hasError('pattern') || borrowerInfoForm.get('Spouse_Zip').hasError('required')">
                Invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m2">
            <mat-form-field>
              <input matInput placeholder="Spouse Phone" formControlName="Spouse_Phone"
               (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Phone').hasError('required')">
                Invalid
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field>
              <input matInput placeholder="Spouse Email" formControlName="Spouse_Email"
               (blur)="onValueChange($event)">
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Email').hasError('required')">
                Invalid
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-field col m2">
            <mat-form-field id="forceStyle">
              <mat-select placeholder="Preferred Contact" formControlName="Spouse_Preferred_Contact_Ind" (blur)="onValueChange($event)">
                <mat-option *ngFor="let option of Preferred_Contact_Ind_Options" [value]="option.key">
                  {{ option.value }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="borrowerInfoForm.get('Spouse_Preferred_Contact_Ind').hasError('required')">
                Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
			</div>
		</form>
	</div>
