<svg [attr.data-tooltip-source]="source">
  <g [style.transform]="'translate(' + x + 'px,' + y + 'px)'" id="number" [ngClass]="{'hidden': item.infos.length === 0}">
    <circle [ngClass]="bubbleType" [attr.cx]="x" [attr.cy]="cy" [attr.r]="radius" />
    <text [style.transform]="'translate(' + (x - xMinus) + 'px,' + (4 + cy) + 'px)'">
      {{ item.infos.length }}
    </text>
  </g>
</svg>
