<mat-accordion *ngIf="borrowerInv.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Borrower
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr [ngClass]="{'error-validation': borrowerInv.ReferredFrom==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Referred From</td>
								<td> {{prepareStatus(borrowerInv.ReferredFrom)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.CreditRererrence==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Credit References</td>
								<td> {{prepareStatus(borrowerInv.CreditRererrence)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.Borrower==0}">
								<td class="chevron">Borrower</td>
								<td> {{prepareStatus(borrowerInv.Borrower)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.FarmerAffliate==0}">
								<td class="chevron">Farmer Affillate</td>
								<td> {{prepareStatus(borrowerInv.FarmerAffliate)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.CreditScore==0}">
								<td class="chevron">Credit Score</td>
								<td> {{prepareStatus(borrowerInv.CreditScore)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.BorrowerIncomeHistory==0}">
								<td class="chevron">Income History</td>
								<td> {{prepareStatus(borrowerInv.BorrowerIncomeHistory)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': borrowerInv.Balancesheet==0}">
								<td class="chevron">Balance Sheet</td>
								<td> {{prepareStatus(borrowerInv.Balancesheet)}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
