app-committee {
  td,
  th {
    padding: 0px !important;
    min-height: 40px;
  }

  td.padding {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .input-field:not(.loan-comment) {
    width: 100px;
  }

  .estimated-days {
    position: relative;
    top: 20px;

    i.material-icons {
      font-size: 130px;
      height: 130px;
      width: 130px;
      line-height: 1;
      color: #b4cfed;
    }

    .text {
      top: -43px;
      position: relative;
      left: 19px;

      .number {
        font-size: 20px;
        font-weight: bold;
        left: -6px;
        top: -46px;
        position: relative;
        &.number-1 {
          left: -72px;
          top: -34px;
        }

        &.number-2 {
          left: -67px;
          top: -35px;
        }

        &.number-3 {
          left: -18px;
        }

        &.number-4 {
          left: -11px;
        }
      }

      .days {
        position: relative;
        left: -59px;
        top: -25px;
        position: relative;
        font-size: 18px;
        font-weight: bold;
      }

      &.number-1 {
        left: 1px;
        top: -40px;
      }

      &.number-2 {
        left: -12px;
        top: -40px;
      }
    }
  }

  .loan-comment {
    padding: 0px 33px;

    textarea:read-only {
      pointer-events: none;
    }

    mat-form-field.mat-form-field.no-comment {
      > .mat-form-field-wrapper {
        > .mat-form-field-flex {
          > .mat-form-field-infix {
            > .mat-form-field-label-wrapper {
              > .mat-form-field-label {
                color: #d44950;
              }
            }
          }
        }
      }
    }
  }

  mat-form-field.mat-form-field {
    &.committee-input-ctrl {
      padding-bottom: 0;
      .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-underline {
          bottom: 0.25em;
        }
      }
    }
  }

  .terms-container {
    padding: 0 34px;

    .section-1 {
      width: auto;

      tr {
        border: none;
      }

      &--display {
        width: 160px;
        text-align: right;
      }

      &--label {
        width: 150px;
        font-weight: 500;
      }

      &--input {
        color: #1a61df;
        width: auto;

        input {
          text-align: right;
        }
      }

      .days-total {
        font-weight: 500;
        height: 35px;
        background-color: #b4cfed;
      }
    }

    .section-2 {
      width: auto;
      margin-top: 15px;

      &__header {
        background-color: #f4f4f4;
      }

      &--label {
        width: 190px;
        font-weight: 500;
        height: 35px;
      }

      &--header {
        width: 130px;
        font-weight: 500;
        padding: 10px !important;
        text-align: right;

        &.wider {
          width: 175px;
        }
      }

      &--input {
        width: 120px;
        input {
          text-align: right;
        }
      }

      &--display {
        width: 120px;
        padding: 10px !important;
        text-align: right;
      }

      &--input {
        color: #1a61df;
        width: 120px;
        input {
          text-align: right;
        }
      }

      .total-fees {
        font-weight: 500;
        background-color: #b4cfed4a;
      }

      .return {
        font-weight: 500;
        background-color: #b4cfed;
      }
    }
  }

  .error-message {
    font-style: italic;
    color: red;
    font-size: 14px;
    &.star {
      font-weight: bold;
    }
  }
}
