<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header class="has-data">
        <mat-panel-title>
          Terms
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom width-auto terms-container">
        <div *ngIf="localloanobj" class="row">
          <div>
              <table class="section-1">
                <tr>
                  <td style="width: 172px;"></td>
                  <td>
                    <div class="section-1--input">
                      <app-calendar-input
                        [ID]="'close-date'"
                        [disabled]='!isLoanEditable'
                        [model]='localloanobj.LoanMaster.Close_Date'
                        (modelChange)='onCloseDateChange($event)'
                        [title]="'Estimated Close'"
                      ></app-calendar-input>
                    </div>
                  </td>

                  <td class="section-1--display">
                     <div class="estimated-days">
                        <i class="material-icons">label_important</i>
                        <span class="text" [ngClass]='estimatedDaysClass'>
                          <span class="number" [ngClass]='estimatedDaysClass'>
                              {{localloanobj.LoanMaster.Estimated_Days}}
                          </span>
                          <span class="days">
                            Days
                          </span>
                        </span>
                     </div>
                  </td>

                  <td>
                    <div class="section-1--input">
                      <app-calendar-input
                        [ID]="'maturity-date'"
                        [disabled]='!isLoanEditable'
                        [model]='localloanobj.LoanMaster.Maturity_Date'
                        (modelChange)='onDateChange($event)'
                        [title]="'Maturity Date'"
                      ></app-calendar-input>
                    </div>
                  </td>
                </tr>
              </table>



            <table  class="section-2">
              <tr class="section-2__header">
                <th class="section-2--header">&nbsp;</th>
                <th class="section-2--header">&nbsp;</th>
                <th class="section-2--header">ARM</th>
                <th class="section-2--header wider">Dist.</th>
                <th class="section-2--header">Total</th>
              </tr>
              <tr>
                <td class="section-2--label">Origination Fee</td>
                <td>
                  <div class="section-2--input">
                    <app-btn-counter
                      class="committee"
                      [min]='0'
                      [max]='100'
                      [step]='0.05'
                      [model]='localloanobj.LoanMaster.Origination_Fee_Percent || 0'
                      [INPUT_TYPE]="'PERCENT'"
                      [numberOfDecimals]='2'
                      [disabled]='!isLoanEditable'
                      [formatter]='formatValue'
                      (modelChange)="updateValue($event, 'Origination_Fee_Percent')"
                    ></app-btn-counter>
                  </div>
                </td>
                <td class="section-2--display">
                  $ {{getoriginatingCalculation() | number:'1.0-0'}}
                  <span *ngIf='localloanobj?.LoanMaster?.FC_Invalid_Origination' class="error-message star">*</span>
                </td>
                <td class="section-2--display">
                  -
                </td>
                <td class="section-2--display">
                  $ {{getoriginatingCalculation() | number:'1.0-0'}}
                </td>
              </tr>
              <tr>
                <td class="section-2--label">
                  Service Fee
                </td>
                <td>
                  <div class="section-2--input">
                    <app-btn-counter
                      class="committee"
                      [min]='0'
                      [max]='100'
                      [step]='0.05'
                      [INPUT_TYPE]="'PERCENT'"
                      [numberOfDecimals]='2'
                      [formatter]='formatValue'
                      [disabled]='!isLoanEditable'
                      [model]='localloanobj.LoanMaster.Service_Fee_Percent || 0'
                      (modelChange)="updateValue($event, 'Service_Fee_Percent')"
                    ></app-btn-counter>
                  </div>
                </td>
                <td class="section-2--display">
                  $ {{getservicefeeCalculation() | number:'1.0-0'}}
                  <span *ngIf='localloanobj?.LoanMaster?.FC_Invalid_Service' class="error-message star">*</span>
                </td>
                <td class="section-2--display">
                  -
                </td>
                <td class="section-2--display">
                  $ {{getservicefeeCalculation() | number:'1.0-0'}}
                </td>
              </tr>
              <tr>
                <td class="section-2--label">Extension Fee</td>
                <td>
                  <div class="section-2--input">
                    <app-btn-counter
                      class="committee"
                      [min]='0'
                      [max]='100'
                      [step]='0.05'
                      [disabled]='true'
                      [INPUT_TYPE]="'PERCENT'"
                      [numberOfDecimals]='2'
                      [formatter]='formatValue'
                      [model]='localloanobj.LoanMaster.Extension_Fee_Percent || 0'
                      (modelChange)="updateValue($event, 'Extension_Fee_Percent')"
                    ></app-btn-counter>
                  </div>
                </td>
                <td class="section-2--display">-</td>
                <td class="section-2--display">-</td>
                <td class="section-2--display">-</td>
              </tr>
              <tr>
                <td class="section-2--label">Interest Rate</td>
                <td>
                  <div class="section-2--input">
                    <app-btn-counter
                      class="committee"
                      [min]='0'
                      [max]='100'
                      [step]='0.05'
                      [INPUT_TYPE]="'PERCENT'"
                      [numberOfDecimals]='2'
                      [formatter]='formatValue'
                      [disabled]='!isLoanEditable'
                      [model]='localloanobj.LoanMaster.Interest_Percent || 0'
                      (modelChange)="updateValue($event, 'Interest_Percent')"
                    ></app-btn-counter>
                  </div>
                </td>
                <td class="section-2--display">
                  $ {{getinterestfeeCalculation(true) | number:'1.0-0'}}
                  <span *ngIf='localloanobj?.LoanMaster?.FC_Invalid_ARM_Fee' class="error-message star">*</span>
                </td>

                <td class="section-2--display">
                  $ {{getinterestfeeCalculation(false) | number:'1.0-0'}}
                  <span *ngIf='localloanobj?.LoanMaster?.FC_Invalid_Dist_Fee' class="error-message star">*</span>
                </td>

                <td class="section-2--display">
                  $ {{getsum() | number:'1.0-0'}}
                </td>
              </tr>
              <tr class="total-fees">
                <td class="section-2--label">Total Fees and Estimated Interest</td>
                <td >

                </td>
                <td class="section-2--display">
                  $ {{getArmSum() | number:'1.0-0'}}
                </td>

                <td class="section-2--display">
                  $ {{getinterestfeeCalculation(false) | number:'1.0-0'}}
                </td>

                <td class="section-2--display">
                  $ {{gettotalsum() | number:'1.0-0'}}
                </td>
              </tr>

              <tr class="return">
                  <td class="section-2--label">Return</td>
                  <td></td>
                  <td class="section-2--display">
                    {{(localloanobj.LoanMaster.Return_Percent || 0) | number :'1.1-1'}} %
                  </td>
                  <td></td>
                  <td></td>
              </tr>

              <tr *ngIf='showErrorMessage'>
                <td class="error-message" colspan="5">
                    * fees cannot decrease below perviously uploaded commitment.
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <app-loan-validations [expanded]="masterSvc.isChevronOpen"></app-loan-validations>

  <mat-accordion>
    <mat-expansion-panel #exceptionPanel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='ex?.exceptions?.length > 0'>
        <mat-panel-title>
          Exceptions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container bottom width-auto">
        <app-committee-exceptions #ex [displayHeader]="false" [askForJudgement]="true"></app-committee-exceptions>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="">
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='loanComment'>
        <mat-panel-title>
          Loan Comment
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="input-field loan-comment">
        <mat-form-field class="example-full-width" [class.no-comment]='!loanComment'>
          <textarea [readonly]="!isLoanEditable" style="resize: none;" matInput rows="10" placeholder="Enter Comment" [(ngModel)]="loanComment" (keydown)="lineBreak($event)" (blur)="updateLocalStorage()"></textarea>
        </mat-form-field>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <app-members [expanded]='masterSvc.isChevronOpen'></app-members>
  <!-- <app-comments></app-comments> -->
</div>
