<div class="basic-container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Whole Farm Revenue Policy
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <button (click)="synctoDb()" class="btn-unstyle" [disabled]="!syncenabled()">
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
      </button> -->

      <div class="container bottom">
        <div class="row">
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <mat-select [(ngModel)]="selectedAIP" placeholder="ProposedAPI">
                    <mat-option *ngFor="let opt of AIPs" value=opt.Assoc_ID>{{opt.Assoc_Name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <span matPrefix>$ &nbsp;</span>
                  <input type="number" [(ngModel)]="Revenue" matInput placeholder="Approved Revenue">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="number" [(ngModel)]="Level" matInput placeholder="Level">
                  <span matSuffix>% &nbsp;</span>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <span matPrefix>$ &nbsp;</span>
                  <input type="number" [(ngModel)]="Premium" matInput placeholder="Premium">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <button (click)="updatevalues()" mat-flat-button color="primary">Update</button>

        </div>

      </div>
      <br>

    </mat-expansion-panel>
  </mat-accordion>

</div>