h4,
h3 {
  font-weight: bold;
}
p:nth-child(2) {
  font-size: 13px;
}
p:nth-child(3) {
  font-size: 11px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.header-color {
  color: green;
}
.block {
  display: block;
  font-size: 12px;
}
.block-header {
  font-weight: 600;
  margin-top: 5px;
  font-size: 12px;
}
.clear-bottom-margin {
  margin-bottom: 0px;
}
// .price:before{
//     content : '$';
//     float: left;

// }
.percent:after {
  content: '%';
}

.r-bold {
  font-weight: normal !important;
}
