<mat-accordion>
    <mat-expansion-panel [expanded]="expanded" [attr.id]="ID">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LOAN INFORMATION
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <app-spiner *ngIf="loading"></app-spiner> -->
      <div *ngIf="allDataFetched" class="container">
        <div class="clear-bottom-margin">
          <div class="row clear-bottom-margin">
            <div class="col m2">
              <div class="block-header"> Borrower </div>
              <span class="block"> {{BorrowerName}} </span>
              <span class="block">{{ loanMaster.Borrower_Address}}</span>
              <span class="block">{{loanMaster.Borrower_City}}, {{ loanMaster.Borrower_Zip}}</span>
              <span class="block">{{ loanMaster.Borrower_Phone}}</span>
              <span class="block">{{ loanMaster.Borrower_Email}}</span>

              <div class="block-header">
                <div class="row clear-bottom-margin">
                    <div class="col m4 block-header">FARMing</div>
                    <div class="col m4 block-header">ARMing</div>
                    <div class="col m4 r-bold" style="clear:left">{{FARMing + ' yrs'}}</div>
                    <div class="col m4 r-bold">{{ARMing  + ' yrs'}}</div>
                </div>
                <div class="row clear-bottom-margin" *ngIf="coBorrowers.length">
                    <div class="col">
                        <div class="block-header">Co-Borrower(s) </div>
                        <div *ngFor="let cb of coBorrowers">{{cb}}</div>
                    </div>
                </div>
              </div>
            </div>
            <!-- <div class="col m3">
              <div class="block-header"> Co-Applicant </div>
              <span class="block"> {{loanMaster.Borrower_First_Name}} {{loanMaster.Borrower_MI}} {{loanMaster.Borrower_Last_Name}} </span>
              <span class="block">{{ loanMaster.Borrower_Address}}</span>
              <span class="block">{{loanMaster.Borrower_City}} {{ loanMaster.Borrower_Zip}}</span>
              <span class="block">{{ loanMaster.Borrower_Phone}}</span>
              <span class="block">{{ loanMaster.Borrower_email || 'john@gmail.com'}}</span>

            </div> -->
            <div class="col m2">
              <div class="block">
                <div class="block-header">
                    Loan Officer
                </div>
                <span class="block">
                    {{ loanMaster.Loan_Officer_Name }}
                </span>
              </div>
              <div class="block">
                  <div class="block-header">
                      Application Date
                  </div>
                  <span class="block">
                      {{loanMaster.Application_Date | date : 'MM/dd/yyyy' }}
                  </span>
              </div>
              <div class="block">
                  <div class="block-header">
                      ARM Location
                  </div>
                  <span class="block">
                    {{officeName || '-'}}
                  </span>
                </div>
              <div class="block">
                  <div class="block-header">
                      Loan Type
                  </div>
                  <span class="block">
                      {{ loanMaster.Loan_Type_Name }}
                  </span>
                </div>
            </div>
            <div class="col m2">
                <div class="block">
                    <div class="block-header  text-left">
                        ARM Commitment
                    </div>
                    <span class="block text-left price">
                       $ {{ loanMaster.ARM_Commitment.toFixed(0) | number}}
                    </span>
                  </div>
                  <div class="block">
                      <div class="block-header  text-left">
                          Dist Commitment
                      </div>
                      <span class="block text-left price">
                          $ {{ loanMaster.Dist_Commitment.toFixed(0) | number}}
                      </span>
                  </div>
            </div>
            <div class="col m2">
                <div class="block">
                    <div class="block-header">
                        Interest Rate
                    </div>
                    <span class="block percent">
                        {{ loanMaster.Interest_Percent ? loanMaster.Interest_Percent.toFixed(2) : '0.00'}}
                    </span>
                  </div>
                  <div class="block">
                      <div class="block-header">
                          Loan Orig. Fee
                      </div>
                      <span class="block  percent">
                          {{ loanMaster.Origination_Fee_Percent ? loanMaster.Origination_Fee_Percent.toFixed(2) : '0.00'}}
                      </span>
                  </div>
                <div class="block">
                    <div class="block-header">
                        Loan Srvc. Fee
                    </div>
                    <span class="block percent">
                        {{ loanMaster.Service_Fee_Percent ? loanMaster.Service_Fee_Percent.toFixed(2) : '0.00'}}
                    </span>
                  </div>
                <div class="block">
                    <div class="block-header">
                        Maturity Date
                    </div>
                    <span class="block">
                        {{ loanMaster.Maturity_Date | date : 'MM/dd/yyyy'}}
                    </span>
                </div>
            </div>
          </div>
         </div>


      </div>
    </mat-expansion-panel>
  </mat-accordion>
