@import "./../../../../../sass/theme/variables";

.m-inv-t-15 {
    margin-top: -15px;
}

.row {
    margin: 0;
}

.title-row {
    font-weight: 500;
    margin: 5px 0;
    font-size: $base-font-size;
}

.m-l-10 {
    margin-left: 10px;
}

.loan-settings {
    display: flex;

    .setting-item {
        display: flex;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        > span {
            display: inline-block;
        }

        mat-slide-toggle {
          margin-top: -3px;
          margin-left: 5px;
        }
    }
}
