<div class="row p-l-15 no-margin">
  <br />
  <div class="col s12 loan-settings">
    <!-- <div class="setting-item">
      <span>Pending Action Priority Sort</span>
      <mat-slide-toggle (change)='onPendingActionSortOrderUpdated($event)' [(ngModel)]="listSettings.isPendingActionSortOrderEnabled">
      </mat-slide-toggle>
    </div> -->
    <div class="setting-item">
      <span>Include Inactive</span>
      <mat-slide-toggle (change)='onIncludeInactiveToggle($event)' [(ngModel)]="listSettings.isIncludeInactiveEnabled">
      </mat-slide-toggle>
    </div>
    <div class="setting-item">
      <span>Include All Versions</span>
      <mat-slide-toggle (change)='onIsLatestLoanVersionEnabled($event)' [ngModel]="listSettings.isLatestLoanVersionEnabled">
      </mat-slide-toggle>
    </div>
    <div class="setting-item">
      <span>Include My Direct Reports</span>
      <mat-slide-toggle (change)='onIncludeMyDirectReporsUpdated($event)' [(ngModel)]="listSettings.isIncludeMyReportsEnabled">
      </mat-slide-toggle>
    </div>
    <div class="setting-item">
      <span>Portfolio View</span>
      <mat-slide-toggle (change)='onPortfolioViewUpdated($event)' [(ngModel)]="portfolioAnalysisSettings.isDetailRecordsEnabled">
      </mat-slide-toggle>
    </div>
  </div>
</div>

<div class="row p-l-15">
  <br />
  <div class="col s3">
    <app-draggable-panel [headerText]="'Available Columns'" [containerName]="'LOAN_MASTER_COLUMNS'" [(model)]="loanMasterColumns"
      (modelChange)="loanMasterColumns = $event"></app-draggable-panel>
  </div>
  <div class="col s3">
    <app-draggable-panel [isTarget]="true" [headerText]="'Displayed Columns'" [containerName]="'LOAN_MASTER_COLUMNS'" [(model)]="loanMasterColumnsTarget"
      (advancedSettings)="onAdvancedSettings($event)" (modelChange)="onModelChanged($event)"></app-draggable-panel>
  </div>
  <div class="col s6" *ngIf="isAdvancedSettingsActive">
    <app-advanced-settings [selectedKey]='selectedColKey' [label]="getLabel(selectedColKey)" [(selectedItem)]="selectedItem"></app-advanced-settings>
  </div>
</div>
