.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.mat-dialog-container {
  .mat-dialog-title {
    background: #164c7b;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
  }
}

.status-table {
  tr {
    height: 22px;
    cursor: pointer;

    td {
      width: auto;
      padding: 0px;
      font-size: 12px;
    }

    td.st {
      width: 20px;
      border-left-width: 15px;
      border-left-style: solid;

      &.approved {
        border-left-color: green;
      }

      &.undecided {
        border-left-color: orange;
      }

      &.decline {
        border-left-color: red;
      }
    }

    td.title-txt {
      font-weight: 500;
    }

    &:hover {
      background-color: #dedede;
    }
  }
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}
