<div class="committee-status-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.title}}</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body">
        <table class='status-table'>
          <tbody>
            <ng-container *ngFor='let s of allStatus'>
              <tr *ngIf='s.id' mat-ripple (click)='emojiVote(s.parentId, s.id)'>
                <td class='st' [ngClass]='s.class'></td>
                <td>
                  <i class="{{'em ' + s.icon}}"></i>
                </td>
                <td class='title-txt'>
                  {{s.title}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
