<input #fileToUpload type="file" style="display:none;" (input)='importFile($event)' accept=".xlsx, .xls" />
<button class="waves-effect waves-light btn" [ngClass]="{'disabled': isDisabled }" (click)="!isDisabled ? fileToUpload.click() : false">
  <i class="material-icons left">publish</i> Import
</button>
