<div class="header">
  <span class="text-muted">Advanced Settings - </span>
  <strong> {{ label }} </strong>
</div>
<div class="settings-panel row settings-panel-advanced">
  <div class="col s12 label">Sort Order</div>
  <div class="col s4">
    <app-dropdown [placeholder]="'Sort By'" (selectedChanged)="selectedItem.sort.sortOrder=$event" [selected]="selectedItem.sort.sortOrder"
      [options]="sortByOptions" [disabled]='selectedItem.isFrozen' ></app-dropdown>
  </div>
  <div class="col s12 label">Filter</div>
  <!-- If data type string, display select only -->
  <ng-container *ngIf='selectedItem.datatype === DataType.string'>
      <ng-container [ngSwitch]="selectedKey">
        <!-- Office -->
          <mat-form-field class="col s4"  *ngSwitchCase="'Office_Name'">
            <mat-select [(ngModel)]="selectedItem.filter.select">
              <mat-option *ngFor="let office of officeList" [value]="office.Office_Name">
                {{office.Office_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Loan Type -->
          <mat-form-field class="col s4"  *ngSwitchCase="'Loan_Type_Name'">
            <mat-select [(ngModel)]="selectedItem.filter.select">
              <mat-option *ngFor="let loanType of loanTypes" [value]="loanType.code">
                {{loanType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Loan_Status -->
          <mat-form-field class="col s4"  *ngSwitchCase="'Loan_Status'">
            <mat-select [(ngModel)]="selectedItem.filter.select">
              <mat-option *ngFor="let loanStatus of loanStatusList" [value]="loanStatus.code">
                {{loanStatus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

           <!-- Loan Officer Name -->
           <mat-form-field class="col s4"  *ngSwitchCase="'Loan_Officer_Name'">
            <mat-select [(ngModel)]="selectedItem.filter.select">
              <mat-option *ngFor="let lo of loanOfficerList" [value]="lo.Name">
                {{lo.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Other -->
          <mat-form-field class="col s4" *ngSwitchDefault>
            <input matInput placeholder="Select" [(ngModel)]="selectedItem.filter.select">
          </mat-form-field>
      </ng-container>
  </ng-container>

  <!-- If integer or decimal or date, display range -->
  <span *ngIf="selectedItem.datatype === DataType.range || selectedItem.datatype === DataType.int || selectedItem.datatype === DataType.decimal || selectedItem.datatype === DataType.date">
    <mat-form-field class="col s4">
      <input matInput placeholder="Begin" [(ngModel)]="selectedItem.filter.begin">
    </mat-form-field>
    <mat-form-field class="col s4">
      <input matInput placeholder="End" [(ngModel)]="selectedItem.filter.end">
    </mat-form-field>
  </span>
  <div class="col s12 p-l-15">
    <mat-checkbox [(ngModel)]="selectedItem.isDisplayEnabled" [disabled]='selectedItem.isFrozen'>Display</mat-checkbox>
  </div>
</div>
