<ng-container>
  <app-dashboard-settings></app-dashboard-settings>

  <div>
    <h3 class="dashboard-gear--header">Borrower</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Scale</h4>
      <mat-slide-toggle class="v-middle" [(ngModel)]="borrowerSettings.isScaleEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Labels</h4>
      <mat-slide-toggle class="v-middle" (change)='lableChange($event)' [(ngModel)]="borrowerSettings.isLabelsEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Weighting</h4>
      <mat-slide-toggle class="v-middle" [(ngModel)]="borrowerSettings.isWeightEnabled"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Constant %</h4>
      <mat-slide-toggle class="v-middle" [(ngModel)]="borrowerSettings.isConstantPercentEnabled" (change)='onChange()'></mat-slide-toggle>
    </div>
    <app-question-settings [pageName]="'borrower'"></app-question-settings>
  </div>
</ng-container>
