<div class="col m2 cell text-right cell-value-component"
  [class.light-color]='lightColor'
  [class.font-weight-600]="bolderFont"
  [class.border-right]="borderRight"
  [class.background-highlight]="backgroundHighlight"
  [class.background-green]="backgroundGreen"
  [class.background-yellow]="backgroundYellow"
  [class.background-lightgreen]="backgroundLightGreen"
  [class.background-red]="backgroundRed"
  [class.color-red]="colorRed"
  [class.background-cell-rating]="cellHighlight"
  [class.text-disabled]="disableText"
  [class.no-background]="nobackground">

  <ng-container *ngIf="!isStar">
    <ng-container [ngSwitch]="valueType">
        <!-- <span *ngSwitchCase="disableText">Sample</span> -->
        <span *ngSwitchCase="ValueType.AMOUNT">&nbsp;{{value | currency:'USD':'symbol':'1.0-0'}}</span>
        <span *ngSwitchCase="ValueType.PERCENTAGE">&nbsp;{{value| number:'1.1-1'}}%</span>
        <span *ngSwitchDefault>&nbsp;{{value}}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isStar">
      <div class="cell-value-component__star">
        <ng-container *ngFor="let star of value.star">
            <img *ngIf="(star === '*' && !cellHighlight) || (star === '*' && cellHighlight && ratingCount > 2)" class="cell-value-component__star--star" src="assets/images/svg-icons/blue-star.svg"  />
            <img *ngIf="star === '*' && ratingCount === 1 && cellHighlight" class="cell-value-component__star--star" src="assets/images/svg-icons/red-star.svg"  />
            <img *ngIf="star === '*' && ratingCount === 2 && cellHighlight" class="cell-value-component__star--star" src="assets/images/svg-icons/orange-star.svg"  />
            <img *ngIf="star === '-'" class="cell-value-component__star--star" src="assets/images/svg-icons/gray-star.svg"  />
        </ng-container>
      </div>
  </ng-container>
  <ng-container *ngIf="!value">
      <span *ngIf="!emptyDefault">$ -</span>
      <!-- <span *ngIf="emptyDefault">&nbsp;</span> -->
  </ng-container>
</div>
