.cell {
  padding: 5px 10px;
  border: 1px solid transparent;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-disabled {
  color: #aaa;
}

.border-right {
  border-right: 1px solid;
}

.cell-value-component {
  // border-color: #000000;
  padding: 5px 10px;
  background-color: #a8eff912;

  &__star {
    text-align: center;

    &--star {
      width: 0.95rem;
      vertical-align: middle;
      margin: 0 1px;
    }
  }
}

.background-cell-rating {
  background-color: #d2e8fb;
}

.background-highlight {
  background-color: #b8d9fd;
  // border: 1px solid #b4cfed;
  // border: 1px solid #b2afc566;
  font-weight: 600;
}

.font-weight-600 {
  font-weight: 600;
}

.background-green {
  // background-color: green;
  background-color: #01c30154;
  &.light-color {
    background-color: #01c30114;
  }
}

.background-yellow {
  background-color: #ffff0059;
  &.light-color {
    background-color: #ffff001a;
  }
}

.background-lightgreen {
  background-color: lightgreen;
}

.background-red {
  background-color: #ff0000a1;
  &.light-color {
    background-color: #ff000017;
  }
}

.color-red {
  color: red;
}

.no-background {
  background-color: transparent;
  color: #aaa;
}
