<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header [class.has-data]='rowData?.length > 0'>
      <mat-panel-title>
        OTHER INCOME
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div id='other_income' class="container bottom under-chev-ag-grid">
      <div [hidden]="rowData.length === 0" class="row">
        <ag-grid-angular
          id="other-income-grid"
          [ngStyle]="style"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [defaultColDef]="defaultColDef"
          [singleClickEdit]="true"
          [gridOptions]="gridOptions"
          [gridAutoHeight]="true"
          suppressColumnVirtualisation=true
          [suppressPropertyNamesCheck]='true'
          (displayedColumnsChanged)="displayColumnsChanged($event)"
          [stopEditingWhenGridLosesFocus]="'true'"
          [context]="context"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          (cellValueChanged)="rowvaluechanged($event)"
          [rowData]="rowData"
          (gridReady)="onGridReady($event)"
          [columnDefs]="columnDefs"
          [suppressHorizontalScroll]='false'>
        </ag-grid-angular>
      </div>

      <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>

      <a [ngClass]="{'disabled': !isLoanEditable() }" (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
