<div class="loan-documents" *ngIf="documents">
  <mat-accordion>
    <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header [class.has-data]='documents?.length > 0'>
        <mat-panel-title> ️{{ name }} </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container-bottom">

        <div class="loan-document-list" *ngIf='documents?.length > 0'>
          <mat-list>
            <ng-container *ngFor='let doc of documents'>
              <mat-list-item>
                <img src="assets/images/doc-icons/{{getDocIcon(doc)}}.svg" mat-list-icon [class.link]='doc.Document_URL || doc.Document_URL_Executed || doc.Document_URL_Unexecuted' (click)='onDownloand(null, doc)'>
                <h3 class="doc-title" mat-line [class.link]='doc.Document_URL || doc.Document_URL_Executed || doc.Document_URL_Unexecuted' (click)='onDownloand(null, doc)'>
                  <span class="doc-id">
                    {{ doc.Loan_Document_ID }}
                  </span>
                  <span class="doc-name">
                    {{doc.Document_Name}}
                  </span>
                </h3>
                <p mat-line>
                  <span class="doc-details">
                    <span class="left">
                      {{getDocStatus(doc)}}
                    </span>
                    <span class="right time-details">
                      {{ doc.Upload_Date_Time | date: 'MM/dd/yy | hh:mm a' }}

                      <span class="action" *ngIf='doc.Is_Custom == 1'>
                        <button mat-icon-button title="Delete" (click)='onDeleteDocument(doc)'>
                          <mat-icon>delete</mat-icon>
                        </button>
                      </span>
                    </span>
                  </span>
                </p>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </div>

        <button
          class="waves-effect waves-light btn add-document-btn"
          (click)="onAddDocument()"
        >
          <i class="material-icons left">add</i>
          Add Special
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #norows>
    <div class="no-rows">
      <app-ag-grid-no-rows-available></app-ag-grid-no-rows-available>
    </div>
  </ng-template>
</div>
