app-loan-document {
  .mat-expansion-panel-body {
    padding: 15px 30px;
  }

  .no-rows {
    padding: 10px 12px;
  }

  .loan-document-list {
    width: 75%;
    margin-bottom: 25px;

    .mat-list-base {
      .mat-list-item {
        &.mat-2-line {
          height: 50px;
        }
      }
    }

    .mat-list-item-content {
      padding: 0px !important;

      .mat-list-text {
        padding-left: 10px !important;
      }

      h3.doc-title {
        font-weight: bold;
        font-size: 15px;
        color: #444;
        &.link {
          cursor: pointer;
        }
      }

      img {
        &.link {
          cursor: pointer;
        }
      }

      .mat-list-icon {
        width: 32px !important;
        height: 32px !important;
        border-radius: 0 !important;
      }

      span.doc-id {
        display: inline-flex;
        width: 50px;
      }

      span.doc-details {
        padding-left: 54px;
        display: block;
      }

      p.mat-line {
        color: #777;
        font-size: 13px;

        span.action {
          .mat-icon-button {
            height: 1px;
            line-height: 1;
            &:disabled {
              cursor: not-allowed;
              mat-icon {
                cursor: not-allowed;
              }
            }
          }

          mat-icon {
            cursor: pointer;
            color: #d44950;
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .container-bottom {
    padding-bottom: 20px;

    .col-md-12 {
      padding-bottom: 25px;
    }
  }

  .waves-light {
    &.btn {
      &.add-document-btn {
        width: 92px;
      }
    }
  }

  .time-details {
    font-size: 12px !important;
  }
}
