<mat-accordion *ngIf="optimizerInventory.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Optimizer
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
								<tr [ngClass]="{'error-validation': optimizerInventory.OptimizerIrr==0}">
										<td class="chevron"> Optimizer Irr</td>
										<td> {{prepareStatus(optimizerInventory.OptimizerIrr)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': optimizerInventory.OptimizerNir==0}">
										<td class="chevron"> Optimizer NI</td>
										<td> {{prepareStatus(optimizerInventory.OptimizerNir)}}</td>
									</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
