<ng-container>
  <app-dashboard-settings></app-dashboard-settings>
  <div>
    <h3 class="dashboard-gear--header">Insurance</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">MPCI</h4>
      <mat-slide-toggle [checked]="insuranceToggles.MPCI" (change)="onInsuranceToggleUpdated($event,'MPCI')" class="v-middle"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Stax</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.STAX" (change)="onInsuranceToggleUpdated($event,'STAX')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">SCO</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.SCO" (change)="onInsuranceToggleUpdated($event,'SCO')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">HMAX</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.HMAX" (change)="onInsuranceToggleUpdated($event,'HMAX')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">RAMP</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.RAMP" (change)="onInsuranceToggleUpdated($event,'RAMP')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">ICE</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.ICE" (change)="onInsuranceToggleUpdated($event,'ICE')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">SELECT</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.SELECT" (change)="onInsuranceToggleUpdated($event,'SELECT')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">PCI</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.PCI" (change)="onInsuranceToggleUpdated($event,'PCI')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Crop Hail</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.CROPHAIL" (change)="onInsuranceToggleUpdated($event,'CROP HAIL')"></mat-slide-toggle>
    </div>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">WFRP</h4>
      <mat-slide-toggle class="v-middle" [checked]="insuranceToggles.WFRP" (change)="onInsuranceToggleUpdated($event,'WFRP')"></mat-slide-toggle>
    </div>

    <div class="dashboard-gear__item">
        <h4 class="dashboard-gear__item--label">HR</h4>
        <mat-slide-toggle class="v-middle" [checked]="HRexclusion" (change)="onHRToggleUpdated($event,'HR')"></mat-slide-toggle>
      </div>
  </div>
  <app-question-settings [pageName]='"insurance"'></app-question-settings>
</ng-container>
