<div id="arm-main-content" [ngClass]="{'is-sidebar-expanded': isSidebarExpanded, 'full-width': isLoanListPageActive}">
  <router-outlet></router-outlet>
  <div *ngIf="isBannerVisible" class="banner">
    <div class="banner-content">
      <mat-icon class="desktop-icon">desktop_windows</mat-icon>
      <mat-icon class="lock-icon" [ngClass]="lockColor">lock</mat-icon>
      <div class="banner-info">
        <span class="banner-text"> {{ bannerMessage }} </span>
        <span *ngIf='loanStatus?.includes("_R")' class="btns">
          <button class="waves-effect waves-light btn green" (click)="takeControl()">
            <span>Take Control</span>
          </button>
          <button class="waves-effect waves-light btn red" (click)="readonly()">
            <span>Read Only</span>
          </button>
        </span>
      </div>
    </div>
    <button mat-icon-button class="btn-minimize">
      <mat-icon aria-label="minimize" (click)="minimizeBanner()">last_page</mat-icon>
    </button>
  </div>
</div>
