@import './../../sass/theme/variables';

#arm-main-content {
  padding-top: 40px;
  margin-bottom: 30px;
  margin-left: $sidebar-minimal-view;
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
  background: $white-90;
  &.is-sidebar-expanded {
    margin-left: $sidebar-expanded-view;
  }
  &.full-width {
    margin-left: 0;
  }
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: 0.4;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.banner {
  position: fixed;
  right: 0px;
  bottom: 215px;
  height: 100px;
  width: 100%;
  z-index: 99999;
  background-color: #22c7a9;
}

.banner-content {
  position: fixed;
  left: 288px;
  bottom: 217px;
  display: flex;
  flex-direction: row;

  .waves-light.btn {
    width: auto;
    border: 1.4px solid #eee;
    height: 34px !important;
    padding: 0px 18px;
    span {
      position: relative;
      top: -1px;
    }
  }

  .btns {
    position: relative;
    top: 20px;
    left: 10px;
  }
}

.desktop-icon {
  font-size: 94px;
  color: #164c7b;
}

.lock-icon {
  position: relative;
  top: 23px;
  font-size: 30px;
  left: -62px;
  &.lock {
    color: #164c7b;
  }
}

.banner-info {
  margin: 30px 20px;
}

.banner-text {
  font-size: 14px;
  color: #ffffff;
}

.btn-banner {
  color: #ffffff;
  border-color: #ffffff;
  margin-top: 8px;
  margin-left: 10px;
}

.banner-details {
  color: #ffffff;
  margin-left: 10px;
}

.min-banner {
  position: fixed;
  right: 0px;
  bottom: 215px;
  height: 100px;
  width: 100px;
  z-index: 99999;
  background-color: #22c7a9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.min-banner-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.min-banner-text {
  color: #ffffff;
  font-weight: 400;
}

.min-lock-icon {
  font-size: 50px;
}

.btn-minimize {
  float: right;
  color: #ffffff;
}
