<div>
  <svg height="55px" preserveAspectRatio="xMinYMin meet" class="w-100 rangebar">
    <g id="value"></g>
    <defs>
      <filter id="shadow" x="-1%" y="0%" width="102%" height="100%">
        <feGaussianBlur stdDeviation="1" result="shadow" />
      </filter>
    </defs>
    <g *ngIf="isRangeBarVisible">
      <g>
        <rect class="bar-range success" fill="#666" x="0" y="50%" width="33.33%" height="15">
        </rect>
        <text style="filter: url(#shadow); fill: black" class="text" x="33.33%" y="50%">Strong</text>
        <text class="text white" x="33.33%" y="50%">Strong</text>
      </g>
      <g>
        <rect class="bar-range warning" fill="#666" x="33.34%" y="50%" width="33.33%" height="15">
        </rect>
        <text style="filter: url(#shadow); fill: black" class="text" x="66.66%" y="50%">Stable</text>
        <text class="text white" x="66.66%" y="50%">Stable</text>
      </g>
      <g>
        <rect class="bar-range alert" fill="#666" x="66.67%" y="50%" width="33.34%" height="15">
        </rect>
        <text style="filter: url(#shadow); fill: black" class="text" x="100%" y="50%">Weak</text>
        <text class="text white" x="100%" y="50%">Weak</text>
      </g>
    </g>
    <g *ngIf="isGridlinesEnabled">
      <rect class="marker" fill="#ddd" x="33%" y="50%" width="1" height="12" />
      <rect class="marker" fill="#ddd" x="66%" y="50%" width="1" height="12" />
      <text class="text-val" x="33%" y="50%">{{ strong | number:'.1-1' }}</text>
      <text class="text-val" x="66%" y="50%">{{ stable | number:'.1-1' }}</text>
    </g>
    <!-- <text class="text-val" x="100%" y="50%">{{ weak | number:'.1-1' }}</text> -->

    <rect class="bar" fill="#666" x="0" y="50%" width="100%" height="1.5" />
    <circle cx="0" cy="50%" r="3" fill="#fff" stroke="#333" stroke-width="1" />
    <!-- <circle *ngIf="stable" cx="calc(50% - 2px)" cy="50%" r="3" fill="#fff" stroke="#333" stroke-width="1" /> -->
    <circle cx="100%" cy="50%" r="3" fill="#fff" stroke="#333" stroke-width="1" />
    <image class="value-marker" [attr.x]="valuePercent" y="0" width="12" height="12" xlink:href="assets/images/svg-icons/caret-arrow-up.svg" />
  </svg>
</div>
<app-svg-tooltip></app-svg-tooltip>
