@import "./../../../sass/theme/variables";

.success {
  fill: #28a745 !important;
}

.warning {
  fill: #ffc107 !important;
}

.alert {
  fill: #dc3545 !important;
}

.white {
  fill: #fff !important;
}

.rangebar {
  padding: 0 20px;
  transform: translate(0, -25px);
}

.bar-range {
  transform: translate(0, -30px);
}

.text {
  transform: translate(-40px, -18px);
  font-size: $base-font-size;
  fill: $primary-color;
}

.marker {
  transform: translate(0px, -6px);
}

.text-val {
  transform: translate(-8px, -10px);
  font-size: $base-font-size;
  fill: #aaa;
}

.value-marker {
  transform: translate(-7px, 16px);
}
