<h3>
      Aggregate / Grouping Demo
</h3>

<ag-grid-angular
      #agGrid
      style="width: 100%; height: 300px;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [suppressDragLeaveHidesColumns]="true"
      [suppressMakeColumnVisibleAfterUnGroup]="true"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [rowData]="rowData"
></ag-grid-angular>

<h3>
      Pivot Demo
</h3>
      
<ag-grid-angular
      #agGridPivot
      style="width: 100%; height: 300px;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [suppressDragLeaveHidesColumns]="true"
      [suppressMakeColumnVisibleAfterUnGroup]="true"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [rowData]="rowData"
      [pivotMode]="true"
></ag-grid-angular>