<svg>
  <g transform="translate(650, 210)">
    <g *ngFor="let crop of cropItems; let i = index" [attr.transform]="getTranslateForItem(i)">
      <g *ngIf='i < 5'>
        <use class="success" x="0" y="0" width="32" height="32" [attr.xlink:href]="crop.item.icon" />
        <title> {{crop.crop_name}} </title>
        <text class="success tab-name" [attr.x]="translateForText(crop.crop_name_ellipsis)" y="50">{{crop.crop_name_ellipsis}}</text>
        <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="success dec-letter-spacing" [attr.x]="translateForText(crop.crop_name_ellipsis)" y="70">
          {{ crop.irr_acres }}
        </text>
        <text *ngIf="schematicPreferences.isEnhanceDetailActive" class="success dec-letter-spacing" [attr.x]="translateForText(crop.crop_name_ellipsis)" y="90">
          {{ crop.ni_acres }}
        </text>
      </g>
    </g>
    <g *ngIf='cropItems.length > 5'>
      <use class="disabled hyperlink" x="530" [attr.y]="dotsY" width="32" height="32" xlink:href="#three-dots-horiz" />
      <title>More crops...</title>
    </g>
  </g>
</svg>
