<ng-container>
  <app-dashboard-settings></app-dashboard-settings>
  <div>
    <h3 class="dashboard-gear--header">Optimizer</h3>
    <div class="dashboard-gear__item">
      <h4 class="dashboard-gear__item--label">Rent Detail</h4>
      <mat-slide-toggle [checked]="rentdetailchecked" (change)="onrentdetailToggleUpdated($event)" class="v-middle">
      </mat-slide-toggle>
    </div>
    <app-question-settings [pageName]="'optimizer'"></app-question-settings>
  </div>
</ng-container>
