@import './../../../sass/theme/variables';

.user-settings {
  .title {
    margin-top: 15px;
  }

  .header {
    color: $primary-color;
  }

  .mw-400 {
    max-width: 400px;
  }

  .row {
    margin: 0;
  }

  .m-t-12 {
    margin-top: 12px;
  }

  .mw-150 {
      max-width: 150px;
      width: 150px;
  }
}
