<mat-tab-group class="mat-secondary user-settings">

  <!-- Landing Page settings -->
  <mat-tab>
    <ng-template mat-tab-label>
      Landing
    </ng-template>
    <div class="row p-l-15 mw-400">
      <div class="col s12">
        <div class="col s4 title no-padding">
          Landing Page
        </div>
        <div class="col s8">
          <app-dropdown (selectedChanged)="onLandingPageUpdated($event)" [selected]="settings.landingPage" [options]="pages"></app-dropdown>
        </div>
      </div>
    </div>
  </mat-tab>

   <!-- Dashboard settings -->
   <mat-tab>
    <ng-template mat-tab-label>
      Dashboard
    </ng-template>
    <app-dashboard-settings [(settings)]="settings"></app-dashboard-settings>
  </mat-tab>

  <!-- Schematic settings -->
  <mat-tab>
    <ng-template mat-tab-label>
      Schematic
    </ng-template>
    <div class="row p-l-15 mw-400">
      <br />
      <div class="col s12 m-tb-5 no-padding">
        <div class="col s6 m-t-4">
          Enhanced Detail
        </div>
        <div class="col s6">
          <app-btn-toggle [(model)]="settings.schematicSettings.isEnhanceDetailActive" text="Visible"></app-btn-toggle>
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- Tab settings -->
  <mat-tab>
    <ng-template mat-tab-label>
      Tabs
    </ng-template>
    <div class="row p-l-15 mw-400">
      <br />
      <div class="col s12 m-tb-5 no-padding">
        <div class="col s6 m-t-4">
          Show Validation Totals
        </div>
        <div class="col s6">
          <app-btn-toggle [(model)]="settings.showTotalsSettings.isValidationDetailsTabIconsEnabled"></app-btn-toggle>
        </div>
      </div>
      <div class="col s12 m-tb-5 no-padding">
        <div class="col s6 m-t-4">
          Show Exception Totals
        </div>
        <div class="col s6">
          <app-btn-toggle [(model)]="settings.showTotalsSettings.isExceptionDetailsTabIconsEnabled"></app-btn-toggle>
        </div>
      </div>
      <div class="col s12 m-tb-5 no-padding">
        <div class="col s6 m-t-4">
          Initial Chevron State
        </div>
        <div class="col s6">
          <app-btn-toggle [(model)]="settings.showTotalsSettings.isChevronOpenState"></app-btn-toggle>
        </div>
      </div>
      <div class="col s12 m-tb-5 no-padding">
        <div class="col s6 m-t-4">
          Validation Warning during Sync
        </div>
        <div class="col s6">
          <app-btn-toggle [(model)]="settings.showTotalsSettings.isValidationWarningDuringSyncEnabled"></app-btn-toggle>
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- Borrower settings -->
  <mat-tab>
    <ng-template mat-tab-label>
      Borrower
    </ng-template>
    <div class="row p-l-15 mw-400">
      <app-borrower-settings [(borrowerSettings)]="settings.borrowerSettings"></app-borrower-settings>
    </div>
  </mat-tab>

  <!-- Edit Default settings -->
  <mat-tab>
      <ng-template mat-tab-label>
        Edit Default
      </ng-template>
      <div class="row p-l-15 mw-400">
        <br />
        <div class="col s12 m-tb-5 no-padding">
          <div class="col s6 m-t-4">
            Name Association
          </div>
          <div class="col s6">
            <app-btn-toggle [(model)]="settings.editDefaultSettings.isNameAssociationEnabled"></app-btn-toggle>
          </div>
        </div>
        <div class="col s12 m-tb-5 no-padding">
          <div class="col s6 m-t-4">
            Crop Basis
          </div>
          <div class="col s6">
            <app-btn-toggle [(model)]="settings.editDefaultSettings.isCropBasisEnabled"></app-btn-toggle>
          </div>
        </div>
        <div class="col s12 m-tb-5 no-padding">
            <div class="col s6 m-t-4">
              Crop Budget
            </div>
            <div class="col s6">
              <app-btn-toggle [(model)]="settings.editDefaultSettings.isCropBudgetEnabled"></app-btn-toggle>
            </div>
          </div>
      </div>
    </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Vacation
    </ng-template>
    <div>
      <app-vacation></app-vacation>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Notifications
    </ng-template>
    <app-notifications-settings [userTypeCode]='userTypeCode' [(settings)]="settings.notificationsSettings"></app-notifications-settings>
  </mat-tab>
</mat-tab-group>
