<div class="row mw-400 no-margin">
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4 no-padding">
      System Notification
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]='settings.systemNotification.value' [disabled]='settings.systemNotification.disabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4 no-padding">
      Text
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]='settings.text.value' [disabled]='settings.text.disabled'></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s6 m-t-4 no-padding">
      Email
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]='settings.email.value' [disabled]='settings.email.disabled'></app-btn-toggle>
    </div>
  </div>
</div>
