<mat-accordion  *ngIf="budgetInv.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Budget
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr [ngClass]="{'error-validation': budgetInv.Distributor==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Distributer</td>

								<td> {{prepareStatus(budgetInv.Distributor)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': budgetInv.ThirdParty==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> 3rd Party Credit Provider</td>

								<td> {{prepareStatus(budgetInv.ThirdParty)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': budgetInv.Harvestor==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Harvester</td>

								<td> {{prepareStatus(budgetInv.Harvestor)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': budgetInv.EquipmentProvider==0}">
								<td><i class="material-icons expansion-panel-icon">account_circle</i> Equipment Provider</td>

								<td> {{prepareStatus(budgetInv.EquipmentProvider)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': budgetInv.TotalBudget==0}">
								<td class="chevron">Total Budgeted Expenses</td>

								<td> {{prepareStatus(budgetInv.TotalBudget)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': budgetInv.FixedExpense==0}">
								<td class="chevron">Fixed Expenses</td>

								<td> {{prepareStatus(budgetInv.FixedExpense)}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
