@charset "UTF-8";
.alertModal {
  h2 {
    margin-bottom: 5px;
    font-weight: 500;
  }
  .modal-content {
    background-color: #fefefe;
    width: 100%;
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: black;
    height: 45px;
  }

  .mat-raised-button {
    box-shadow: none;
    border-radius: 50px;

    &.red-btn {
      background-color: #d44950;
      padding: 0px 18.88px;
    }
  }
  .modal-body {
    padding: 2px 16px;
    p {
      font-size: 1.1rem;
    }
  }

  .modal-footer {
    padding: 15px 10px;
    background-color: #fff;
    height: auto;
    display: flex;
    .mat-footer-inner {
      margin-left: auto;
    }
  }

  .alertifybtndone:first-child {
    margin-right: 10px !important;
  }

  .alert-ok-btn {
    margin-right: 0px;
    padding: 0 30px;
  }
}

.mat-dialog-container {
  .mat-dialog-title {
    background: #164c7b;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
  }
}

.modal-cancel {
  color: #d44950;
}

.btn-publish {
  margin-right: 12px;
}
