<div class="alert-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ data?.title }}</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ data?.description }}</p>
      </div>
      <div class="modal-footer">
        <div class="mat-footer-inner">
          <a (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Ok</a>
        </div>
      </div>
    </div>
  </div>
</div>
