<div class="confirm-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data?.title}}</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{data?.description}}</p>
      </div>
      <div class="modal-footer">
        <div class="mat-footer-inner">
          <a *ngIf="data.btn == 'confirm'" (click)="onOkClick()"
            class="waves-effect fsa-btn waves-light btn green">Confirm</a>
          <a *ngIf="data.btn == 'publish'" class="btn-floating primary btn-publish" (click)="onPublishClick()">
            <i class="material-icons left">cloud</i>
          </a>
          <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
