<div class="basic-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]='masterSvc.isChevronOpen'>
      <mat-expansion-panel-header [class.has-data]='hasData'>
        <mat-panel-title>
          Questions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let insOption of optedInsuranceOptions; first as isFirst">
        <ng-container *ngIf='isFirst'>
            <app-questions #mpci
              class="under-chev-ag-grid"
              [chevronHeader]="insOption"
              [chevronId]="getEnumValueForChevron('Insurance_' + insOption)"
              [displayAsChildChevron]="true"
              [currentPageName]="currentPageName"
              [policy]="insOption"
              [showToggleButton]='true'
              [showAllQuestion]='true'
            ></app-questions>
        </ng-container>
        <ng-container *ngIf='!isFirst'>
            <app-questions
              class="under-chev-ag-grid"
              [chevronHeader]="getHeader(insOption)"
              [chevronId]="getEnumValueForChevron('Insurance_' + insOption)"
              [displayAsChildChevron]="true"
              [currentPageName]="currentPageName"
              [policy]="insOption"
              [showToggleButton]='false'
              [showAllQuestion]='showAllQuestions'
            ></app-questions>
        </ng-container>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
