<div class="row mw-400 no-margin">
  <br />
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      MPCI
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isMpciEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      Stax
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isStaxEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      SCO
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isScoEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      HMAX
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isHmaxEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      RAMP
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isRampEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      ICE
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isIceEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      SELECT
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isAbcEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      PCI
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isPciEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      Crop Hail
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isCropHailEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      WFRP
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isWfrpEnabled"></app-btn-toggle>
    </div>
  </div>

  <div class="col s12 m-tb-5 no-padding">
    <div class="col s4 m-t-4">
      HR
    </div>
    <div class="col s6">
      <app-btn-toggle [(model)]="settings.isHrEnabled"></app-btn-toggle>
    </div>
  </div>
</div>
