<div *ngIf="viewMode" class="row p-0 m-0 box-shadow" [ngClass]="getViewClass()">
  <div class="col s4 summary-section">
    <app-company-info [isCrossCollaterized]='isCrossCollaterized' [isARM]='isARM' [viewMode]="viewMode"></app-company-info>
  </div>
  <div class="col s4 summary-section">
    <app-risk-and-return [isARM]='isARM' [viewMode]="viewMode"></app-risk-and-return>
  </div>
  <div class="col s4 summary-section">
    <app-cash-flow [isARM]='isARM' [viewMode]="viewMode"></app-cash-flow>
  </div>
</div>