@import './../../../sass/theme/variables';

.box-shadow {
  // box-shadow:  0 1px 1px 0 rgba(22, 76, 123, 0.7) !important;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.9) !important;
  background-color: #fff;
}

.super-condensed {
  .summary-section {
    min-height: 50px;
    height: 50px;
  }
}

.fixed {
  position: sticky;
  top: 40px;
  z-index: 99;
}

.condensed {
  .summary-section {
    min-height: 120px;
    height: 125px;
  }
}
.summary-section {
  min-height: 225px;
  height: 225px;
  border-bottom: 1px solid #eee;
  padding: 0;

  &:nth-child(1), &:nth-child(2) {
    border-right: 1px solid #eee;
  }
}

.corner-right {
  position: absolute;
  right: 0;
  background: $primary-color;
  border: 1px solid #333;
  border-radius: 0.2em;
  border-top: none;
  padding: 3px;
  margin-top: -2px;
  cursor: pointer;
}

.flaticon {
  font-size: $font-size-md;
  display: block;
  color: #eee;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.context-menu {
  button {
    display: block;
    padding: 5px;
    color: $primary-color;
  }
}

.dashboard-gear{

  &--header{
    padding: 5px 10px;
    color: #000000;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    background-color: #80808012;
  }

  &__item{
    padding: 5px 10px;

    &--label{
      display: inline-block;
      margin: 0;
      font-weight: 400;
      font-size: inherit;
      min-width: 100px;
    }
  }
}