<!-- ARM USER -->
<div *ngIf='userTypeCode == 0'>
  <app-notifications [(settings)]="settings.armUserLoNotificationSettings"></app-notifications>
</div>

<!-- Borrower -->
<div *ngIf='userTypeCode == 2'>
  <app-notifications [(settings)]="settings.borrowerNotificationSettings"></app-notifications>
</div>

<!-- Distributor -->
<div *ngIf='userTypeCode == 1'>
  <app-notifications [(settings)]="settings.distributerNotificationSettings"></app-notifications>
</div>
