@import './../../../sass/theme/variables';

.user-settings-table {
  width: 600px;

  tr.mat-header-row {
    height: 31px; // Decreased from default 56 px as there is no header
    display: none;
  }

  thead {
    display: none !important;
  }

  .mat-row {
    height: 30px;
  }

  .mat-cell {
    font-size: $base-font-size;
  }

  .center {
    text-align: center;
  }

  .level2 {
    padding-left: calc(24px + 28px);
  }

  .level3 {
    padding-left: calc(24px + 56px);
  }

  .mr-5 {
    margin-right: 5px;
  }

  &.locked {
    opacity: 0.5;
    pointer-events: none;
  }

  mat-checkbox {
    margin-left: -24px;
  }
}

.header {
  margin: 20px 0px 10px 0px;
  font-weight: bold;
  color: #000;
}

.content {
  padding-left: 20px;
}

.mw-600 {
  max-width: 600px;
}

.align-left {
  left: 0;
  position: absolute;
}

.text-right {
  text-align: right;
}

.loan-frequency {
  .content {
    .control-freq {
      display: flex;
      flex-direction: row;
      align-self: center;
      margin-bottom: 10px;

      label {
        flex-basis: 40%;
        align-self: center;
      }
    }
  }
}
