@import "./../flowchart.component";

.superscript {
    font-size: 12px;
}

#flowchart .loan-info {
    fill: $black-70 !important;
    text.company-name {
        font-size: 175%;
        font-weight: bold;
    }

    text.person-name {
      font-size: 150%;
    }

    .progress-chart {
      position: relative;
    }
}

.link {
  cursor: pointer;
  pointer-events: bounding-box;
}

.name {
  background-color: green !important;
  border: 1px solid red !important;
}
