<svg>
  <svg:ng-container *ngIf='isCrossCollaterized'>
    <svg:g risk-chart-collateral [loanGroups]='loanGroups'></svg:g>
  </svg:ng-container>

  <g transform="translate(50, 80)" *ngIf='crossCollateralItems && crossCollateralItems.length > 0'>
    <svg:ng-container *ngFor="let item of crossCollateralItemsDetails; let i=index">
      <g [attr.transform]="getTranslate(i)" [attr.data-tooltip-source]="'collateral_'+ item.loan_id">
        <g *ngIf="i < 4">
          <use class="success link loan-icon" x="0" y="0" width="32" height="32" xlink:href="#avatar" (click)='navigatetoloan(item.Loan_Full_ID)' />
          <text class="success link name" [attr.transform]="getTranslateText((item.borrowerName.length > 12) ? (item.borrowerName | slice:0:12) + '..' : (item.borrowerName))"
            (click)='navigatetoloan(item.Loan_Full_ID)'>
            <title> {{item.borrowerName}} </title>
            {{ (item.borrowerName.length > 12) ? (item.borrowerName | slice:0:12) + '..' : (item.borrowerName) }}
          </text>
          <svg:g *ngIf="i < 3 && i < crossCollateralItemsDetails.length - 1 && isPathCompleted(i, crossCollateralItemsDetails)" app-connector uid="borrower-to-borrower-{{(i+1)}}"
            [startX]="40" [startY]="20" [endX]="140" [endY]="20" [isStepCompleted]="true"></svg:g>
          <svg:g app-item-details *ngIf="schematicPreferences.isEnhanceDetailActive" [highlightIndexes]='[item.details.length - 1]'
            [details]="item.details" [x]="-10" [y]="70"></svg:g>
        </g>
      </g>
    </svg:ng-container>
    <g *ngIf='crossCollateralItemsDetails.length > 4'>
      <use class="success hyperlink" x="510" y="15" width="32" height="32" xlink:href="#three-dots-horiz" />
      <title>More cross collaterals/affiliated loans..</title>
    </g>
  </g>
</svg>
