<mat-accordion  *ngIf="committeeInv.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Committee
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>

								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr [ngClass]="{'error-validation': committeeInv.Terms==0}">
								<td class="chevron">Terms</td>

								<td> {{prepareStatus(committeeInv.Terms)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': committeeInv.Exceptions==0}">
								<td class="chevron">Exceptions</td>

								<td> {{prepareStatus(committeeInv.Exceptions)}}</td>
							</tr>
							<tr [ngClass]="{'error-validation': committeeInv.LoanComments==0}">
								<td class="chevron">Loan Comments</td>

								<td> {{prepareStatus(committeeInv.LoanComments)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
