<div class="row mw-400 no-margin">
  <br />
  <!-- <h3>Loan Summary</h3> -->
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s5 m-t-4">
      ARM Detail
    </div>
    <div class="col s4">
      <app-btn-toggle [(model)]="settings.isArmDetailEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s5 m-t-4">
      Crop Detail
    </div>
    <div class="col s4">
      <app-btn-toggle [(model)]="settings.isCropDetailEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
      <div class="col s5 m-t-4">
        Rent Detail
      </div>
      <div class="col s4">
        <app-btn-toggle [(model)]="settings.isRentDetailEnabled"></app-btn-toggle>
      </div>
    </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s5 m-t-4">
      Condition Detail
    </div>
    <div class="col s4">
      <app-btn-toggle [(model)]="settings.isConditionDetailEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s5 m-t-4">
      Disc Values
    </div>
    <div class="col s4">
      <app-btn-toggle [(model)]="settings.isDiscValueEnabled"></app-btn-toggle>
    </div>
  </div>
  <div class="col s12 m-tb-5 no-padding">
    <div class="col s5 m-t-4">
      Show Completed
    </div>
    <div class="col s4">
      <app-btn-toggle [(model)]="settings.isShowCompletedEnabled"></app-btn-toggle>
    </div>
  </div>
</div>