<mat-accordion *ngIf="validationGroups">
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header [class.has-data]='validationGroups?.length > 0'>
      <mat-panel-title>
        Validation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container bottom">
      <ng-container *ngFor="let group of validationGroups">
        <mat-list role="list">
          <h3 mat-subheader>{{ group.tab }}</h3>
          <ng-container *ngFor="let v of group.validations; last as isLast">
            <mat-list-item role="listitem">
              <mat-icon class="validation-icon"
                [class.level-1]="v.level == 1"
                [class.level-2]="v.level == 2"
              >
                error
              </mat-icon>
              <span class="validation-text ellipsis" title="{{ v.Validation_ID_Text }}">
                {{ v.Validation_ID_Text }}
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </ng-container>
        </mat-list>
      </ng-container>
    </div>
  </mat-expansion-panel>
</mat-accordion>
