<div>

  <div class="basic-container balances-report">
    <app-report-header [ID]="'BalancesReportHeader'" [reportName]="'Loan Balances'">
    </app-report-header>
    <app-loan-information [ID]="'BalancesLoanInfo'" [expanded]='masterSvc.isChevronOpen'></app-loan-information>
    <app-budget-commitment-details [ID]="'BudgetCommitmentDetails'" [expanded]='masterSvc.isChevronOpen'></app-budget-commitment-details>
    <app-loan-balance-summary [ID]="'LoanBalanceSummary'" [expanded]='masterSvc.isChevronOpen'></app-loan-balance-summary>
  </div>
