<div class="row mw-600 no-margin">
  <div class="container">
    <h3 class="header">Content</h3>
    <div class="content">
        <table class="user-settings-table" mat-table [dataSource]="dataSource" [ngClass]="{'locked': isLocked}">
          <!-- Heading Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'level2': element.level === 'two', 'level3': element.level === 'three'}">
              <mat-checkbox class="mr-5" [disabled]="element.isRequired" [(ngModel)]="element.value" [indeterminate]='checkPartial(element)' (change)="onModelUpdated(element, $event)">
                {{element.title}}
              </mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="pref-contact-settings">
      <h3 class="header">Media</h3>
      <div class="content">
        <app-preferred-contact [(settings)]='prefContactSettings' ></app-preferred-contact>
      </div>
    </div>

    <div class="loan-frequency">
      <h3 class="header">Frequency Days</h3>
      <div class="content">
          <div class="row mw-600 no-margin">
            <div class="control-freq">
                <label>Outstanding Loan Information</label>
                <app-btn-counter [min]='1' [max]='100' [step]='1' [formatter]='format' [model]='loanInventoryFrequencyUntilClosed' (modelChange)='frequnceyDaysUpdate_Closed($event)'></app-btn-counter>
            </div>

            <div class="control-freq">
                <label>Active Loan Balances</label>
                <app-btn-counter [min]='1' [max]='100' [step]='1' [formatter]='format' [model]='loanBalanceFrequencyWhileActive' (modelChange)='frequnceyDaysUpdate_Active($event)'></app-btn-counter>
            </div>
          </div>
      </div>
    </div>
    <br>
  </div>
</div>
