<div class="container width-auto">
    <div class="row rating-component">
        <div class="row table-row">
            <ng-container *ngFor="let row of data.header; let first = first; let last = last; let rowInd = index">
                <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && borrowerSettings.isConstantPercentEnabled)">
                  <div class="col m2 label">
                    <div class="cell text-left p-lr-10" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
                  </div>
                  <div class="col m9">
                    <app-cell-value *ngFor="let val of row.staticValues, let i = index; let lastStatic = last"
                      [value]="!borrowerSettings.isWeightEnabled && lastStatic ? '' : val"
                      [disableText]="row.disableText"
                      [emptyDefault]="row.emptyDefault"
                      [backgroundHighlight]="row.hightlightRow && val && !lastStatic"
                      [nobackground]="!val || lastStatic"
                      [backgroundGreen]="i === 0"
                      [backgroundYellow]="i === 1"
                      [backgroundRed]="i === 2">
                    </app-cell-value>
                  </div>
                </div>
              </ng-container>
          </div>
      <div class="row table-row farm-financial">
        <ng-container *ngFor="let row of data.liquidityAnalysis; let first = first; let last = last; let rowInd = index">
            <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && borrowerSettings.isConstantPercentEnabled)">
              <div class="col m2 label">
                <div class="cell text-left p-lr-10">{{row.text}}</div>
              </div>
              <div class="col m9">
                <app-cell-value *ngFor="let val of row.staticValues, let i = index; let lastStatic = last"
                  [value]="(row.hideScale && !borrowerSettings.isScaleEnabled  && !lastStatic) || (!borrowerSettings.isWeightEnabled && lastStatic) ? '' : val"
                  [disableText]="row.disableText"
                  [emptyDefault]="row.emptyDefault"
                  [nobackground]="!val || lastStatic"
                  [lightColor]='true'
                  [backgroundGreen]="i === 0"
                  [backgroundYellow]="i === 1"
                  [backgroundRed]="i === 2">
                </app-cell-value>

                <ng5-slider [(value)]="row.value" [options]="row.option"></ng5-slider>
                </div>
            </div>
          </ng-container>
      </div>
      <div class="row table-row farm-financial">
        <ng-container *ngFor="let row of data.solvencyAnalysis; let first = first; let last = last; let rowInd = index">
            <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && borrowerSettings.isConstantPercentEnabled)">
              <div class="col m2 label">
                <div class="cell text-left p-lr-10">{{row.text}}</div>
              </div>
              <div class="col m9">
                <app-cell-value *ngFor="let val of row.staticValues, let i = index; let lastStatic = last"
                  [value]="(row.hideScale && !borrowerSettings.isScaleEnabled  && !lastStatic) || (!borrowerSettings.isWeightEnabled && lastStatic) ? '' : val"
                  [disableText]="row.disableText"
                  [emptyDefault]="row.emptyDefault"
                  [nobackground]="!val || lastStatic"
                  [lightColor]='true'
                  [backgroundGreen]="i === 0"
                  [backgroundYellow]="i === 1"
                  [backgroundRed]="i === 2">
                </app-cell-value>

                <ng5-slider [(value)]="row.value" [options]="row.option"></ng5-slider>
              </div>
            </div>
          </ng-container>
      </div>
      <div class="row table-row farm-financial">
        <ng-container *ngFor="let row of data.profitabilityAnalysis; let first = first; let last = last; let rowInd = index">
            <div *ngIf="!row.isConstantPercentItem || (row.isConstantPercentItem && borrowerSettings.isConstantPercentEnabled)">
              <div class="col m2 label">
                <div class="cell text-left p-lr-10" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
              </div>
              <div class="col m9">

                <app-cell-value *ngFor="let val of row.staticValues, let i = index; let lastStatic = last"
                  [value]="(row.hideScale && !borrowerSettings.isScaleEnabled && !lastStatic) || (!borrowerSettings.isWeightEnabled && lastStatic) ? '' : val"
                  [disableText]="row.disableText && !last"
                  [emptyDefault]="row.emptyDefault"
                  [backgroundHighlight]="row.hightlightRow && val && !lastStatic"
                  [nobackground]="!val || lastStatic"
                  [lightColor]='true'
                  [backgroundGreen]="i === 0"
                  [backgroundYellow]="i === 1"
                  [backgroundRed]="i === 2">
                </app-cell-value>

                <ng5-slider [(value)]="row.value" [options]="row.option"></ng5-slider>
              </div>
            </div>
          </ng-container>
      </div>
    </div>

    <div class="row table-row" *ngIf="data!=undefined && data.solvencyAnalysis!=undefined">
      <br />
      <app-rating></app-rating>
    </div>
</div>

