// app-farm-financial {
.bottom {
  padding-bottom: 20px;
}

.width-auto {
  width: auto !important;
}

.cell {
  padding: 5px 5px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.table-row {
  margin-bottom: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.background-highlight {
  // background-color: #66afc9;
  font-weight: 600;
}

.font-weight-600 {
  font-weight: 600;
}

.column-header {
  font-size: 11px;
  text-decoration: underline;
}

.section-heading {
  font-size: 16px;
}

.border-right {
  border-right: 1px solid;
}

.farm-financial {
  .ng5-slider {
    margin: 0 !important;
    margin-top: 3.5% !important;
    display: block !important;
    width: 360px;

    span {
      &.ng5-slider-pointer {
        width: 0 !important;
        height: 0 !important;
        border-left: 7px solid transparent !important;
        border-right: 7px solid transparent !important;
        border-top: 7px solid #000000 !important;
        top: -10px !important;
        background-color: transparent !important;
        border-radius: 0 !important;
      }
    }
  }
}

.ng5-slider {
  .ng5-slider-pointer {
    width: 15px !important;
    height: 15px !important;
    top: -7px !important;
    background-color: rgb(183, 222, 232) !important;

    &:after,
    &:hover:after {
      background: rgb(183, 222, 232) !important;
    }

    &:after {
      display: none !important;
    }
  }

  .ng5-slider-bar {
    background: gray !important;
    height: 1px !important;
  }

  .ng5-slider-bubble {
    &.ng5-slider-limit {
      visibility: hidden !important;
    }
  }
}

app-rating {
  .rating-header {
    app-cell-value {
      .background-highlight {
        background-color: #aaf5d8;
      }
    }
  }

  .total-row {
    app-cell-value {
      .background-cell-rating {
        background-color: #059fd6;
        border: 1px solid #059fd6;
      }
    }
  }

  .invalid-row {
    app-cell-value {
      .background-cell-rating {
        border: 1px solid transparent !important;
        color: red !important;
      }
    }
  }

  .toggle {
    display: contents;
  }
}
