<mat-accordion>
  <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
    <mat-expansion-panel-header [class.has-data]='hasData()'>
      <mat-panel-title>
        Balance Sheet
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 10px 18px;"  ><i class="material-icons left">cloud</i>Publish</a> -->

    <div class="row balance-sheet-financials m-0">
        <!-- <div class="col m2 cell text-right font-weight-600" style="margin-top:15px">
          Financials as of:
        </div> -->
        <form [formGroup]="financialsAsOfForm" id='financialsAsOfForm'>
          <div class="input-field col m3 balance-sheet-financials--financials-input">
            <mat-form-field>
              <input [readonly]="!isLoanEditable()" matInput type="text"
              placeholder="Financials as of:" formControlName="Financials_Date"
              validateDateRange [start]="startDate" [end]="currentDate" (blur)="updateLocalStorage()"
              [dropSpecialCharacters]="false" mask="00/00/0000">
              <mat-error *ngIf="financialsAsOfForm.controls['Financials_Date'].hasError('notInRange')">
                <!-- Date Range should be between {{startDate | date:'MM/dd/yyyy'}} and {{currentDate | date:'MM/dd/yyyy'}} -->
                Invalid date.
              </mat-error>
            </mat-form-field>
          </div>
        </form>

      <div class="input-field col m3 cpa-input">
          <mat-checkbox [disabled]="!isLoanEditable()" matInput class="example-margin" [(ngModel)]="CPA_Prepared_Financials" (change)="updateLocalStorage()">CPA Financials</mat-checkbox>
      </div>

      <div class="input-field col m3 cpa-input">
        <mat-checkbox [disabled]="!isLoanEditable()" matInput class="example-margin" [(ngModel)]="three_Years_Tax_Return" (change)="updateLocalStorage()">3 years of Tax Return</mat-checkbox>
      </div>
    </div>
    <div class="container bottom balance-sheet-grid">
      <ag-grid-angular
      id="myGrid"
      [ngStyle]="style"
      class="ag-theme-balham roboto-font"
      [singleClickEdit]="true"
      (cellEditingStopped)="celleditingstopped($event)"
      [enableSorting]="true"
      [enableFilter]="true"
      [toolPanelSuppressRowGroups]="true"
      [toolPanelSuppressValues]="true"
      [toolPanelSuppressPivots]="true"
      [toolPanelSuppressPivotMode]="true"
      [rowData]="rowData"
      [getRowClass]="getRowClass"
      [components]="components"
      (gridReady)="onGridReady($event)"
      (displayedColumnsChanged)="adjustToFitAgGrid()"
      [pinnedBottomRowData]="pinnedBottomRowData"
      [columnDefs]="columnDefs"
      [toolPanelSuppressSideButtons]="false"
      [showToolPanel]="false"
      [gridAutoHeight]=true>
      </ag-grid-angular>
    </div>



  </mat-expansion-panel>
</mat-accordion>
