.mat-expansion-panel:not([class*=mat-elevation-z]) {
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}
.bottom{
    padding-bottom: 10px
}

.balance-sheet-grid{
    padding-left: 33px;
}

.balance-sheet-financials{
    padding: 0px 33px;

    .input-field{
        padding: 0;
        width: 120px;
        max-width: 180px;
        padding-right: 5px;
    }

    .cpa-input{
        padding-top: 15px;
        width: 120px;
        max-width: 120px;
        padding-left: 5px;
    }
}

#myGrid{
    margin-left: 0;
    width: 1009px;
}