<div class="add-loan-document-dialog-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ data ? data.title : 'Add New Document' }}</h2>
  <div class="alertModal">
    <div class="modal-content">
      <div class="modal-body">
        <mat-form-field>
            <input type="text" matInput placeholder="Document Name" #input>
        </mat-form-field>
      </div>

      <div class="modal-footer">
        <div class="mat-footer-inner">
          <button matDialogClose mat-raised-button [mat-dialog-close]="input.value" [disabled]='!input.value' class="mat-raised-button alertifybtndone green modal-trigger">Add</button>
          <button matDialogClose mat-raised-button (click)="onCancel()" class="alertifybtncancel btn-outline modal-close modal-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
