/* You can add global styles to this file, and also import other style files */
@import 'sass/theme/variables';
@import 'sass/theme/global';
@import 'sass/theme/page-header';

@import 'sass/custom/components/header-menu';
@import 'sass/custom/components/side-bar';

@import 'sass/custom/overrides/mat-overrides';
@import 'sass/custom/overrides/browser-overrides';
@import 'sass/custom/overrides/ag-grid-overrides';
@import 'sass/custom/overrides/materialize-overrides';
@import 'sass/custom/overrides/rating';

@import 'sass/custom/utils';

//@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  overflow-x: auto;
}

ag-grid-angular {
  .ag-row-hover {
    z-index: 1 !important;
  }
  max-width: 100%;
}
.ag-cell {
  //display: inline-block;
  //position: relative;
  // padding: 0px 2px 15px 2px;
  &:hover .tooltiptext,
  &:hover .tooltiptext:after {
    display: block;
    z-index: 9999;
  }
}

.cdk-overlay-container {
  z-index: 10001 !important;
}

// Co-borrower
.mat-footer-inner {
  margin-top: 10px;

  button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.speech-bubble {
  display: inline-block;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #cecece;
  margin: 0 auto 25px;
  width: 248px;
  max-width: 248px;
  min-width: 248px;
}

.speech-bubble::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 19.5px;
  bottom: -11px;
  height: 0px;
  width: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
}

.speech-bubble::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: -13px;
  height: 0px;
  width: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #bdbdbd;
}
//CENTER AG GRID HEADERS AND SUB HEADERES

.ag-theme-balham .ag-header-cell-label {
  width: 100% !important;
  text-align: center;
}

.ag-theme-balham .ag-header-cell-label > span {
  float: none !important;
}

.ag-header-cell-menu-button {
  display: none !important;
}

.ag-theme-balham .ag-header-cell,
.ag-theme-balham .ag-header-group-cell {
  margin: 0 auto;
  padding: 0;
}

// Triangle
.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid;

  &.small {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid;

    .text {
      position: relative;
      left: -3.2px;
      top: -4px;
      color: white;
      font-weight: 500;
      font-size: 10px;
      &.two {
        left: -5px;
        font-size: 8px;
      }
    }
  }

  margin-right: 5px;

  &:last-child {
    margin-right: 0px;
  }

  &:first-child {
    margin-left: 2px;
  }

  &.warning {
    border-bottom-color: #ed7d31;
  }

  &.error {
    border-bottom-color: #d44950;
  }

  .text {
    position: relative;
    left: -3.2px;
    top: 4px;
    color: white;
    font-weight: 500;
    font-size: 11px;

    &.two {
      left: -6px;
      font-size: 10px;
    }
  }
}

// Sidenav SCSS

.arm-sidenav-main {
  &.mat-nav-list {
    &.show-errors {
      .mat-list-item:not(.no-error) {
        .mat-list-item-content {
          .mat-list-text {
            padding-top: 15px;
          }
        }
      }
    }
  }
}

.tooltip-container {
  text-align: left;
  padding: 0 10px;

  i {
    &.material-icons {
      font-size: 12px;
      height: 12px;
      width: 12px;
      color: #fff;
    }
  }

  .tooltip-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-capitalize {
  text-transform: capitalize;
}

// Align AG-GRID UNDER CHEVRON TITLE
.under-chev-ag-grid {
  margin-left: 12px;
}

//Custom Checkbox for login
.chk-remember-me .mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
  margin-right: 2px !important;
}

.chk-remember-me .mat-checkbox-frame {
  border-color: #5091e5 !important;
  background-color: #3177e6;
}

//Mat-input underline Checkbox for login
.form-input .mat-form-field-underline {
  height: 2px !important;
  background-color: #b1c3c7 !important;
}

// Checkout Page- Publish Button
// .checkout-fixed-action-btn  {
//   app-btn-floating-action  {
//     .fixed-action-btn {
//       &.horizontal {
//         &.click-to-toggle {
//           bottom: 70px;
//         }
//       }
//     }
//   }
// }

// CHEVRON MISS-ALIGNMENT Fix for Reports Tab
body .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator {
  margin-top: 2px !important;
}

// DECIDE DROPDOWN SELECT
.select-loan-borrower-info .mat-select-value {
  height: 15px !important;
  color: #ccc !important;
}

// Committee croll col icon
mat-checkbox {
  &.cross-col {
    padding-left: 5px;
    label.mat-checkbox-layout {
      .mat-checkbox-inner-container {
        height: 16px;
        width: 16px;
      }
    }
  }
}

// DECIDE
.cross-collateral-icon {
  margin-left: -5px;
}

// UNREAD ICON
.unread {
  color: #23b4ad;
}

// READ ICON
.read {
  color: #164c7b;
}

// SIDEBAR Display Flex on tab groups
.arm-sidenav > .mat-drawer-inner-container {
  visibility: visible !important;
  display: flex;
  flex-direction: column;
  height: 97%;
}

body {
  .farm-modal-dialog {
    .mat-dialog-container {
      width: 1250px !important;
    }
  }
}

.loan-overview-page-cover {
  z-index: 1;
  width: 100vw;
  position: fixed;
  top: 0;
  opacity: 0.1;
  bottom: 0;

  &.active-protected {
    background-color: blue;
  }

  &.active-unprotected {
    background-color: #fff;
    opacity: 0;
  }

  &.inactive-protected {
    background-color: red;
  }
}

.v-middle {
  vertical-align: middle;
}

.verifiedheader {
  color: #29a979 !important;
}

.headerblue {
  color: #164c7b !important;
}
.error-validation {
  color: red !important;
}

.no-wrap {
  white-space: nowrap;
}

mat-form-field.mat-form-field {
  &.question-input-field {
    &.cell-exception {
      &.exception-2 {
        .mat-form-field-infix {
          input,
          .mat-form-field-label {
            color: #d44950 !important;
          }

          .mat-form-field-underline {
            background-color: #d44950 !important;
          }
        }
      }

      &.exception-1 {
        .mat-form-field-infix {
          input,
          .mat-form-field-label {
            color: #ed7d31 !important;
          }

          .mat-form-field-underline {
            background-color: #ed7d31 !important;
          }
        }
      }
    }
  }
}

.mat-menu-panel {
  &.maintain-menu {
    .mat-menu-content {
      button.mat-menu-item {
        &[disabled] {
          color: #9f9f9f;
          background-color: #f9f9f9;
          cursor: not-allowed;

          a {
            color: #9f9f9f;
            background-color: #f9f9f9;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

app-questionlist {
  .mat-expansion-panel-body {
    padding: 0px;

    app-questions {
      &:first-child {
        > div {
          margin-top: -20px;
        }
      }
    }
  }
}

app-icon-loan-status {
  &.balance-report {
    i {
      &:before {
        font-size: 16px;
        height: 16px;
        width: 16px;
        line-height: 16px;
      }
    }
  }
}

div[col-id='Owned'],
div[col-id='Permission_To_Insure'],
div[col-id='Added_Land'] {
  padding: 0px;
}

checkbox-cell {
  position: relative;

  input {
    width: auto;
    &.checkbox-cell {
      position: relative;
      top: 3px !important;

      &.Owned {
        left: -11px !important;
      }

      &.PTI {
        left: -12px !important;
      }

      &.Rent_Paid {
        left: -12px !important;
      }

      &.Added_Land {
        left: 28px !important;
      }

      &.Insured_Flag,
      &.Income_Ind,
      &.Collateral_Ind {
        left: 25px !important;
      }

      &.pri {
        left: -20px !important;
      }

      &.Signer_Ind,
      &.SBI_Ind,
      &.Guarantor_Ind {
        left: -18px !important;
      }

      &.PTI_IRR,
      &.PTI_NI {
        left: 25px !important;
      }
    }
  }
}

input {
  &.checkbox-child-cell {
    &.pri {
      position: relative;
      left: -21px;
      top: 2px;
    }
  }
}

.recommend-loan {
  button {
    span.mat-button-wrapper {
      position: relative;
      top: -0.7px;
    }
  }
}

mat-checkbox {
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

.mat-pseudo-checkbox-checked {
  &:after {
    top: 4px !important;
    left: 2px !important;
  }
}

.borrowe-signer {
  .mat-dialog-container {
    width: 1155px !important;
  }
}

.mat-expansion-panel-header {
  .mat-expansion-panel-header-title {
    color: #23c8ab !important;
    * {
      color: #23c8ab !important;
      .pencil-blue {
        font-size: 19px !important;
        color: #164c7b !important;
      }
    }

    .pencil-blue {
      font-size: 19px !important;
      color: #164c7b !important;
    }
  }

  .mat-expansion-indicator {
    &:after {
      color: #23c8ab !important;
    }
  }

  &.has-data {
    .mat-expansion-panel-header-title {
      color: #164c7b !important;
      * {
        color: #164c7b !important;
        .pencil-blue {
          font-size: 19px !important;
          color: #164c7b !important;
        }
      }
      .pencil-blue {
        font-size: 19px !important;
        color: #164c7b !important;
      }
    }

    .mat-expansion-indicator {
      &:after {
        color: #164c7b !important;
      }
    }
  }
}

app-summary-report,
app-cross-collateral-report,
app-borrower-summary-report,
app-loan-inventory-report,
app-balances-report {
  .mat-expansion-panel-header {
    .mat-expansion-panel-header-title {
      color: #164c7b !important;
      * {
        color: #164c7b !important;
      }
    }

    .mat-expansion-indicator {
      &:after {
        color: #164c7b !important;
      }
    }
  }
}

.link {
  cursor: pointer;
}

.borrower-dialog {
  .mat-dialog-container {
    .mat-dialog-content::after {
      content: ' ';
      display: none;
      height: 0px;
    }
  }
}

.cdk-global-scrollblock {
  app-master {
    #arm-main-content {
      .profile_page_wrapper {
        .profile_page_content_wrapper {
          .pageContent {
            app-charts-visualization {
              .fixed {
                position: fixed;
                width: calc(100% - 70px);
              }

              + div,
              + mat-tab-group {
                padding-top: 225px;
              }

              + app-icons-library {
                + svg {
                  padding-top: 225px;
                }
              }

              &.super-condensed {
                + div,
                + mat-tab-group {
                  padding-top: 50px;
                }

                + app-icons-library {
                  + svg {
                    padding-top: 50px;
                  }
                }
              }

              &.condensed {
                + div,
                + mat-tab-group {
                  padding-top: 125px;
                }

                + app-icons-library {
                  + svg {
                    padding-top: 125px;
                  }
                }
              }
            }
          }
        }
      }
      &.is-sidebar-expanded {
        .profile_page_wrapper {
          .profile_page_content_wrapper {
            .pageContent {
              app-charts-visualization {
                .fixed {
                  position: fixed;
                  width: calc(100% - 215px);
                }
                + div,
                + mat-tab-group {
                  padding-top: 225px;
                }

                + app-icons-library {
                  + svg {
                    padding-top: 225px;
                  }
                }

                &.super-condensed {
                  + div,
                  + mat-tab-group {
                    padding-top: 50px;
                  }

                  + app-icons-library {
                    + svg {
                      padding-top: 50px;
                    }
                  }
                }

                &.condensed {
                  + div,
                  + mat-tab-group {
                    padding-top: 125px;
                  }

                  + app-icons-library {
                    + svg {
                      padding-top: 125px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sync-validation-error-dialog {
  mat-dialog-container {
    width: 850px !important;

    .mat-list-item-content {
      padding-left: 0px !important;
    }
  }
}

mat-dialog-container {
  .btn {
    width: 80px !important;
    &.red {
      background: #d44950 !important;
    }
    &.large {
      width: 90px !important;
    }
  }
}

div.cdk-overlay-container {
  > div.cdk-overlay-backdrop {
    &.reminder-ind {
      + {
        div.cdk-overlay-connected-position-bounding-box {
          > div.cdk-overlay-pane {
            &.CONF {
              > div.mat-menu-panel {
                margin-left: -10px;
                margin-top: -20px;
              }
            }

            &.VOTE {
              > div.mat-menu-panel {
                margin-left: 30px;
                margin-top: -20px;
              }
            }

            &.STL {
              > div.mat-menu-panel {
                margin-left: 65px;
                margin-top: -20px;
              }
            }

            &.WST {
              > div.mat-menu-panel {
                margin-left: 100px;
                margin-top: -20px;
              }
            }

            &.DOC {
              > div.mat-menu-panel {
                margin-left: 145px;
                margin-top: -20px;
              }
            }

            &.VER {
              > div.mat-menu-panel {
                margin-left: 180px;
                margin-top: -20px;
              }
            }

            &.DIS {
              > div.mat-menu-panel {
                margin-left: 210px;
                margin-top: -20px;
              }
            }

            &.RCN {
              > div.mat-menu-panel {
                margin-left: 245px;
                margin-top: -20px;
              }
            }

            &.SUP {
              > div.mat-menu-panel {
                margin-left: 280px;
                margin-top: -20px;
              }
            }
          }
        }
      }
    }
  }
}

input {
  &.date-cell {
    height: 27px;
  }
}

.hidden {
  display: none !important;
}


.paid-loan {
  svg#paid {
    g {
      fill: rgb(212, 0, 0);
      path {
        fill: rgb(212, 0, 0);
      }
    }
  }
}
