<mat-accordion  *ngIf="insuranceInv.isAnyIncomplete || showDetail">
	<mat-expansion-panel [expanded]="expanded">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Insurance
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="container" [attr.id]="ID">
			<div class="row">
				<div class="col s12">
					<table class="bordered">
						<thead>
							<tr>
								<th></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
									<tr [ngClass]="{'error-validation': insuranceInv.Agency==0}">
										<td><i class="material-icons expansion-panel-icon">account_circle</i> Agency</td>
										<td> {{prepareStatus(insuranceInv.Agency)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': insuranceInv.AIP==0}">
										<td> <i class="material-icons expansion-panel-icon">account_circle</i>   AIP</td>
										<td> {{prepareStatus(insuranceInv.AIP)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': insuranceInv.Policy==0}">
										<td class="chevron"> Policy</td>
										<td> {{prepareStatus(insuranceInv.Policy)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': insuranceInv.Wfrp==0}">
										<td class="chevron"> WFRP</td>
										<td> {{prepareStatus(insuranceInv.Wfrp)}}</td>
									</tr>
									<tr [ngClass]="{'error-validation': insuranceInv.APH==0}">
										<td class="chevron"> APH</td>
										<td> {{prepareStatus(insuranceInv.APH)}}</td>
									</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
