<div class="header">
  {{ headerText }}
</div>
<mat-form-field *ngIf="!isTarget" class="draggable-panel-filter">
    <input matInput placeholder="Filter" [(ngModel)]="filterCriteria">
</mat-form-field>
<div *ngIf="isTarget" class="draggable-area-frozen-items">
  <div *ngFor="let column of model">
    <div *ngIf="column.settings.isFrozen" class="item no-drag frozen">
      <i (click)="setAdvancedSettings(column.key)" class="material-icons settings" [class.has-filter]='hasFilter(column)' [class.disabled]='column.settings.isIncludedByDefault'>
        settings
      </i>
      <i class="material-icons drag" [class.disabled]='column.settings.isIncludedByDefault'>
        drag_handle
      </i>
      <i *ngIf="column.settings.isIncludedByDefault" class="flaticon-invisible-symbol inline"></i>
      <span>{{ column.value }}</span>
    </div>
  </div>
</div>
<div class="draggable-area" [ngClass]="{'available-items-container': !isTarget}" dragula="{{ containerName }}" [(dragulaModel)]="model">
  <div *ngFor="let column of model" [ngClass]="{'hidden': !isNameFiltered(column.value)}">
    <div *ngIf="!column.settings.isFrozen && column.value" class="item" [ngClass]="{ 'selected': isItemSelected(column.key)}">
      <i *ngIf="isTarget" (click)="setAdvancedSettings(column.key)" class="material-icons settings" [class.has-filter]='hasFilter(column)'>
      settings
      </i>
      <i class="material-icons drag">
        drag_handle
      </i>
      <i *ngIf="!column.settings.isDisplayEnabled" class="flaticon-invisible-symbol inline"></i>
      <span>{{ column.value }}</span>
    </div>
  </div>
</div>
