@import './../../../../sass/theme/variables';

.hidden {
  display: none;
}

.draggable-panel-filter {
  padding: 10px 5px 0 5px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
}

.draggable-area,
.settings-panel {
  height: 230px;
  min-height: 230px;
  max-height: 230px;
  border: 1px solid #ccc;
  border-top: none;

  &.available-items-container {
    height: 505px;
    min-height: 505px;
    max-height: 505px;
  }

  &.settings-panel-advanced {
    height: 220px;
    min-height: 220px;
    max-height: 220px;
  }
}

.draggable-area {
  height: 430px;
  min-height: 430px;
  max-height: 430px;
}

.draggable-area-frozen-items {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  height: 140px;
  min-height: 140px;
  max-height: 140px;
}

.settings-panel {
  margin: 0;
}

.draggable-area,
.settings-panel,
.draggable-area-frozen-items {
  padding: 5px;
  overflow-y: auto;

  // border: 1px solid #ccc;

  .item {
    padding: 5px 10px;
    cursor: pointer;
    background: #eee;
    font-size: $base-font-size;
    border: 1px solid #aaa;
    margin: 2px 0;
    color: $primary-color;

    &.selected {
      background: $nav-hover-color;
      color: $white;

      .drag,
      .settings {
        color: $white;
      }
    }

    .drag,
    .settings {
      float: right;
      color: $primary-color;
    }

    &.no-drag {
      color: $black-30;
      pointer-events: none;

      .drag,
      .settings {
        float: right;
        color: $primary-color;
        pointer-events: all;
        &.disabled {
          color: $black-30;
          pointer-events: none;
        }
      }

      span {
        opacity: 0.85;
      }
    }
  }
}

.flaticon-invisible-symbol:before {
  line-height: 1;
  font-size: 16px;
  float: right;
  margin: 4px 5px;
}

.header {
  padding: 5px 8px;
  color: $white;
  background-color: $primary-color;
}

.settings {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 10px;

  &.has-filter {
    color: #29a979 !important;
  }
}
