<div class="disburse-popup-container">

  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Special Instructions</h1>
  <div mat-dialog-content>
    <!-- Changes as on 10 April 2019 -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header  [ngClass]="{'has-data':getpaymentclass()=='pencil-blue'}">
          <mat-panel-title>
            <mat-icon [ngClass]="getpaymentclass()" matRipple matRippleRadius='12' matRippleCentered='true'> edit
            </mat-icon>
            <b style='margin-left: 10px;font-size:15px;color:black'>Payment</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Content Here -->
        <mat-card [ngClass]="{'disability': disabled}">
          <div class="row">
            <mat-radio-group required class="example-radio-group" [(ngModel)]="radiostatus"
              (change)="radioChange($event)">
              <mat-radio-button class="example-radio-button" [value]="0">
                ACH
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="1">
                Check Regular Processing*
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="2">
                Check Overnight*
              </mat-radio-button>
            </mat-radio-group>
            <h6 style='font-size:10px'>*additional fees may apply</h6>
          </div>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header  [ngClass]="{'has-data':getHarvestclass()=='pencil-blue'}">
          <mat-panel-title>
            <mat-icon [ngClass]="getHarvestclass()" matRipple matRippleRadius='12' matRippleCentered='true'> edit
            </mat-icon>
            <b style='margin-left: 10px;font-size:15px;color:black'>Harvest</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Content Here -->
        <mat-card [ngClass]="{'disability': disabled}">
          <div class="row">
            <form class="example-form">
              <mat-grid-list cols="5" rowHeight="2:1">
                <mat-grid-tile colspan=3>
                  <mat-form-field>
                    <h4 [ngClass]="HarvestComment">Description</h4>
                    <input   [formControl]="descFormControl" [required]='HarvestComment!=""' [ngClass]="HarvestComment" name='desc' matInput
                      [(ngModel)]="this.formdata.Special_Harvest_Comment" >
                      <mat-error class='mat-error ng-star-inserted' *ngIf="descFormControl.hasError('required')">
                       Required
                      </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan=1>

                </mat-grid-tile>
                <mat-grid-tile colspan=1>
                  <mat-form-field style="width:50%">
                    <h4 class="text-align: right !important;font-size: 1rem !important" [ngClass]="HarvestRequest">Request</h4>
                    <!-- <span matPrefix>$ </span> -->
                    <input matInput [formControl]="reqharvestformControl" style="text-align: right;" [required]='HarvestRequest!=""' [ngClass]="HarvestRequest"
                      name="harvest" [value]="harvestrent | currency : 'USD' : 'symbol' : '1.0'" (change)="harvestChange($event)">
                      <mat-error class='mat-error ng-star-inserted' *ngIf="reqharvestformControl.hasError('required')">
                        Required
                       </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </form>
            <div style="margin-top: 20px;
            color: red;" *ngIf='isharvestwarning'>
              Warning - You are Requesting more than Available
              </div>
          </div>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header [ngClass]="{'has-data':rentclass=='pencil-blue'}">
          <mat-panel-title>
            <mat-icon [ngClass]="rentclass" matRipple matRippleRadius='12' matRippleCentered='true'> edit </mat-icon> <b
              style='margin-left: 10px;font-size:15px;color:black'>Rent $</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Content Here -->
        <mat-card [ngClass]="{'disability': disabled}">
          <div class="row">
            <div class="col s12">
              <ag-grid-angular [hidden]="rowData.length == 0" [ngStyle]="style" class="ag-theme-balham roboto-font"
                [animateRows]="true" [enableSorting]="false" [enableFilter]="true" [showToolPanel]="false"
                [toolPanelSuppressRowGroups]="true" [toolPanelSuppressValues]="true" [toolPanelSuppressPivots]="true"
                [toolPanelSuppressPivotMode]="true" [context]="context" [components]="components" [singleClickEdit]="true"
                [frameworkComponents]="frameworkcomponents" [stopEditingWhenGridLosesFocus]="'true'"
                (cellEditingStopped)="rowvaluechanged($event)" [rowData]="rowData" (gridReady)="onGridReady($event)"
                [columnDefs]="columnDefs" [gridAutoHeight]=true>
              </ag-grid-angular>
              <app-ag-grid-no-rows-available [hidden]="rowData.length !== 0"></app-ag-grid-no-rows-available>
              <br>
              <a style="
                      margin-left: -10px;"
                     [class.disabled]="isDisabled()" (click)="addrow()" class="waves-effect waves-light btn"><i
                  class="material-icons left">add</i>Add</a>
            </div>
          </div>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header [ngClass]="{'has-data':getotherclass()=='pencil-blue'}">
            <mat-panel-title>
              <mat-icon [ngClass]="getotherclass()" matRipple matRippleRadius='12' matRippleCentered='true'> edit
              </mat-icon>
              <b style='margin-left: 10px;font-size:15px;color:black'>Other Special Instructions</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Content Here -->
          <mat-form-field [ngClass]="{'disability': disabled}"  style="padding-right:10px !important;padding-left:60px !important; color:blue;   width: 97% !important;">
              <textarea   [(ngModel)]="formdata.Special_Comment" matInput matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5"></textarea>
            </mat-form-field>

        </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="alertModal modal-footer">
    <div class="mat-footer-inner">
      <!-- <button matDialogClose (click)='onOkClick()' [disabled]="this.formdata.FC_PopupStatus==1"
        class="alertifybtncancel btn-outline green modal-close modal-cancel mat-raised-button">
        Confirm
      </button> -->
      <a [class.disabled]="this.formdata.FC_PopupStatus==1" (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green">Confirm</a>
      <a (click)="onNoClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
    </div>
  </div>
</div>
