app-disbursepopup {
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
    margin-left: 0px;
  }
  .mat-dialog-content{
    padding-top:0px !important;
  }
  .mat-card{
    padding-top: 3px !important;
  }
  .waves-light.btn {
    width: 75px;
}
h6{
  margin: 10px 0;
}
 app-ag-grid-no-rows-available > p{
margin-left:-10px !important
}
.mat-dialog-title{
  padding-left:20px !important
}
.alertifybtncancel{
  background:#29A979 !important
}
.pencil-orange{
  font-size:19px !important;
  color:orange;
}

.pencil-red{
  font-size:19px !important;
  color:red;
}

ag-grid-angular{
  border-width: 1px;
  border-style: solid;
  border-color: #e6e4e4;
}
.mat-form-field-underline{
  height: 3px !important;;
}
.pencil-blue{
  font-size:19px !important;
  color:#164c7b ;
}

.mat-grid-tile{
  overflow: visible !important;
}

.error-disburse{
  color:red !important;
}

.mat-card{
  margin-left: 17px !important;
}
.disability{
  pointer-events: none !important;
  color:gray;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none  !important;
  margin-top: 3px !important;
}
.mat-expansion-panel-header{
  border-top:none !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none  !important;
}
}