.header-text {
  fill: #a6a6a6 !important;
  font-size: 160%;
  letter-spacing: -0.4px;
  font-size: 18px !important;
  font-weight: 500;

  &.green-icon {
    fill: #548235 !important;
  }

  &.red-icon {
    fill: #f54b5b !important;
  }

  &.yellow-icon {
    fill: #fef6c9 !important;
  }
}
