<svg>
  <g [style.transform]="'translate(' + x + 'px,' + y + 'px)'">
    <rect x="0" y="0" class="header" width="240" height="40">
    </rect>
    <!-- <svg>
      <use [attr.x]="marginLeft" y="10" class="header-text" width="20" height="17" [attr.xlink:href]="icon" />
    </svg> -->
    <text [attr.x]="getMarginLeft()" y="26.5" class="header-text">{{ text }}</text>
  </g>
</svg>
