<app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'> </app-charts-visualization>

<div class="basic-container borrower-container">
  <app-btn-floating-action (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-floating-action>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen" hideToggle>
      <mat-expansion-panel-header style="padding-left: 11px;" [class.has-data]='hasBorrowerInfo'>
        <mat-panel-title>
          <div> <i class="material-icons expansion-panel-icon" style="margin-right: 2.5px;">account_circle</i> Borrower </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-borrower-info [allowIndividualSave]='true' [currentPageName]="currentPageName"></app-borrower-info>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen" hideToggle>
      <mat-expansion-panel-header style="padding-left: 11px;" [class.has-data]='hasFarmerInfo'>
        <mat-panel-title>
          <div> <i class="material-icons expansion-panel-icon" style="margin-right: 2.5px;">account_circle</i> Farmer </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container">
        <div class="col use-borrower-info-checkbox">
          <mat-checkbox [(ngModel)]="userBorrower" (ngModelChange)="useBorrowerChange($event)" [ngClass]="{'disabled': !isLoanEditable() }">Use Borrower Information</mat-checkbox>
        </div>
        <app-farmer-info [farmerInfo]='farmerInfo'></app-farmer-info>
      </div>

      <div class="affiliated-loans">

        <div class="affiliated-loans__header">
          <h3 class="affiliated-loans__header--h3">Affiliated Loans</h3>
        </div>
        <div class="affiliated-loans__body" *ngIf="!affiliatedLoans || affiliatedLoans.length < 1">
          <div  class="affiliated-loans__body--no-text">No affiliated loans.</div>
        </div>
        <div class="affiliated-loans__body" *ngIf="affiliatedLoans.length > 0">
          <table>
            <thead>
                <th>Crop Year</th>
                <th>Loan ID</th>
                <th>Borrower</th>
                <th class="right-align">Acres</th>
                <th class="right-align">ARM Commit</th>
                <th class="right-align">Dist Commit</th>
                <th class="right-align">Total Commit</th>
                <th class="right-align">Risk Cushion</th>
                <th class="right-align">Outstanding</th>
            </thead>
            <tbody>
              <tr *ngFor="let loan of affiliatedLoans; let i = index" [class.affiliated-loans__body--background-color]="i%2 === 0">
                <td>{{loan.LoanMaster.Crop_Year}}</td>
                <td>{{loan.Loan_Full_ID}}
                    <ng-container *ngIf="isCrossCollateralized(loan.Loan_Full_ID)">
                      <svg id="shuffle" viewBox="0 0 512 512" width="30" height="15" style="transform: translate(0px, 3px);" style="fill: black;
                      vertical-align: text-bottom;">
                          <g>
                            <g>
                              <path d="M512,387.67L405.406,281.024v84.694h-10.435c-68.152,0-102.461-56.146-142.191-121.157 c-40.72-66.633-86.875-142.158-179.637-142.158H0v43.886h73.143c68.152,0,102.461,56.146,142.191,121.157 c40.72,66.633,86.875,142.158,179.637,142.158h10.435v84.686L512,387.67z"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M512,124.355L405.406,17.71v84.695h-10.435c-66.714,0-109.319,39.063-143.135,85.788 c9.055,13.584,17.433,27.249,25.391,40.268c31.024-46.945,63.77-82.172,117.744-82.172h10.435v84.686L512,124.355z"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M190.887,283.548c-31.024,46.943-63.77,82.17-117.744,82.17H0v43.886h73.143c66.714,0,109.319-39.063,143.135-85.788 C207.222,310.232,198.845,296.567,190.887,283.548z"></path>
                            </g>
                          </g>
                        </svg>
                    </ng-container>
                </td>
                <td>{{loan.LoanMaster.Borrower_First_Name}} {{loan.LoanMaster.Borrower_MI}} {{loan.LoanMaster.Borrower_Last_Name}}</td>

                <td class="right-align">{{ loan.LoanMaster.Total_Acres| number:'1.1-1'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.ARM_Commitment | number:'1.0-0'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.Dist_Commitment | number:'1.0-0'}}</td>
                <td class="right-align">$ {{loan.LoanMaster.Total_Commitment || 0 | number:'1.0-0'}}</td>
                <td class="right-align">{{(loan.LoanMaster.Risk_Cushion_Percent || 0) | number:'1.1-1'}}%</td>
                <td class="total right-align">$ {{(loan.LoanMaster.Total_Commitment || 0 ) - ((loan.LoanMaster.Total_Commitment || 0) * 0.80) | number:'1.0-0'}}</td>
              </tr>
              <tr class="affiliated-loans__body--total">
                <td class="total">Total</td>
                <td></td>
                <td></td>
                <td class="total right-align">{{ total_acres | number:'1.1-1' }}</td>
                <td class="total right-align">$ {{ total_arm_commit | number:'1.0-0' }}</td>
                <td class="total right-align">$ {{ total_dist_commit | number:'1.0-0' }}</td>
                <td class="total right-align">$ {{ total_commit | number:'1.0-0' }}</td>
                <td class="total right-align">{{ total_risk_cushion | number:'1.1-1' }}%</td>
                <td class="total right-align">$ {{ total_outstanding | number:'1.0-0' }}</td>

              </tr>
            </tbody>
          </table>

          <a [ngClass]="{'disabled': !isLoanEditable() }" class="waves-effect affiliate-btn waves-light btn affiliates" (click)="crossCollAffLoans()">
            <svg id="shuffle" viewBox="0 0 512 512" width="30" height="15" style="transform: translate(0px, 3px);" style="fill: #fff;
            vertical-align: text-bottom;">
                <g>
                  <g>
                    <path d="M512,387.67L405.406,281.024v84.694h-10.435c-68.152,0-102.461-56.146-142.191-121.157 c-40.72-66.633-86.875-142.158-179.637-142.158H0v43.886h73.143c68.152,0,102.461,56.146,142.191,121.157 c40.72,66.633,86.875,142.158,179.637,142.158h10.435v84.686L512,387.67z"></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M512,124.355L405.406,17.71v84.695h-10.435c-66.714,0-109.319,39.063-143.135,85.788 c9.055,13.584,17.433,27.249,25.391,40.268c31.024-46.945,63.77-82.172,117.744-82.172h10.435v84.686L512,124.355z"></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M190.887,283.548c-31.024,46.943-63.77,82.17-117.744,82.17H0v43.886h73.143c66.714,0,109.319-39.063,143.135-85.788 C207.222,310.232,198.845,296.567,190.887,283.548z"></path>
                  </g>
                </g>
              </svg>
              Affiliates
          </a>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <app-association [chevronId]='49' [header]="'Referred From'" [firstColumnHeader]="'Business Name'" [associationTypeCode]="'REF'" [currentPageName]="currentPageName" [expanded]="masterSvc.isChevronOpen"></app-association>

  <app-association [chevronId]='50' [header]="'Credit Reference'" [firstColumnHeader]="'Business Name'" [associationTypeCode]="'CRF'" [currentPageName]="currentPageName" [expanded]="masterSvc.isChevronOpen"></app-association>

  <app-questions [chevronId]="Chevron.Borrower" [currentPageName]="currentPageName"></app-questions>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen" class="credit-score">
      <mat-expansion-panel-header [class.has-data]='hasCreditScore'>
        <mat-panel-title>
          Credit Score
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">

        <form [formGroup]="creditScoreForm">
            <div class="row">
                <div class="input-field col m2 input-credit-score" id='Exception_ID_{{creditScoreExc}}'>
                  <mat-form-field class="demo-full-width">
                    <input [readonly]="!isLoanEditable()" formControlName="Credit_Score" validateRange start="300" end="850" matInput placeholder="Credit Score" (keypress)='validateLength($event)' (blur)="updatecreditvalues()" mask='{{num}}'>
                    <mat-error *ngIf="creditScoreForm.controls['Credit_Score'].hasError('notInRange')">
                      Invalid Credit Score
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="input-field col m2 input-ass-date">
                  <mat-form-field>
                    <input [readonly]="!isLoanEditable()" formControlName="Credit_Score_Date" matInput [dropSpecialCharacters]="false" mask="00/00/0000"
                    validateDateRange start="01/01/1900" [end]="max_credit_score_date" placeholder="Assessment Date" (blur)="updatecreditvalues()">

                    <mat-error *ngIf="creditScoreForm.controls['Credit_Score_Date'].hasError('notInRange')">
                      Invalid date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>

    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header [class.has-data]='hasIncomeHistory'>
        <mat-panel-title>
          Borrower Income History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-borrower-income-history></app-borrower-income-history>
    </mat-expansion-panel>
  </mat-accordion>

  <app-balancesheet></app-balancesheet>

  <mat-accordion>
    <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
      <mat-expansion-panel-header class="has-data">
        <mat-panel-title>
          Borrower Rating
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-farm-financial></app-farm-financial>
    </mat-expansion-panel>
  </mat-accordion>
</div>
