.affiliated-loans {
  margin: 10px 30px;
  padding: 10px;
  border: 1px solid #dedede;

  .affiliates {
    margin-top: 20px;
  }

  .waves-light.btn {
    &.affiliate-btn {
      width: 90px;
    }
  }

  &__header {
    &--h3 {
      color: #164c7b;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
      padding: 10px 5px;
      padding-bottom: 0;
    }
  }

  &__body {
    padding: 10px 5px;
    font-weight: 500;

    &--background-color {
      background-color: rgba(239, 239, 239, 0.3);
    }

    &--total {
      background-color: #b4cfed;
    }
  }

  table {
    thead {
      background-color: #23c8ab;
      th {
        font-weight: 500;
        color: #fff;
        padding: 9px 15px;
        border-radius: 0px;
      }
    }

    tbody {
      td {
        font-weight: 400;
        padding: 8px 15px;
        border-radius: 0px;
      }

      .total {
        font-weight: 500;
      }
    }
  }

  .right-align {
    text-align: right;
  }
}

.credit-score {
  mat-card {
    margin: 10px 30px;
    padding: 20px 0;

    .input-credit-score {
      width: 180px;
    }

    .input-ass-date {
      padding: 0;
      width: 120px;
    }

    .mat-form-field-subscript-wrapper {
      overflow: visible;
    }
  }
}

.use-borrower-info-checkbox {
  padding-left: 10px;
  margin-bottom: 5px;
}
