<span [ngClass]='class'>
  <!-- Working -->
  <i *ngIf="loanStatus === 'W'" title="Working" class="flaticon-spanner inline success"></i>

  <!-- Withdrawn -->
  <i *ngIf="loanStatus === 'Y'" title="Withdrawn" class="flaticon-man-walking-directions-button inline error"></i>

  <!-- Recommended -->
  <i *ngIf="loanStatus === 'R'" title="Recommended" class="flaticon-forward-arrow inline primary"></i>

  <!-- Approved -->
  <i *ngIf="loanStatus === 'A'" title="Approved" class="flaticon-thumbs-up-hand-symbol inline primary"></i>

  <!-- Declined -->
  <i *ngIf="loanStatus == 'Z'" title="Declined" class="flaticon-thumbs-down-silhouette inline error"></i>

  <!-- Uploaded -->
  <i *ngIf="loanStatus == 'U'" title="Uploaded" class="material-icons primary Uploaded">cloud_upload</i>

  <!-- Paid -->
  <!-- <i *ngIf="loanStatus == 'P'" title="Paid" class="flaticon-notes inline error"></i> -->
  <img class="paid-loan" *ngIf="loanStatus == 'P'" src="./../../../assets/images/paid.png"
    alt="Paid">

  <!-- Written Off -->
  <i *ngIf="loanStatus == 'X'" title="Written Off" class="flaticon-cancel inline error"></i>

  <!-- Voided -->
  <i *ngIf="loanStatus == 'V'" title="Voided" class="flaticon-forbidden-sign-icon inline error"></i>

  <!-- History -->
  <img class="historical-loan" *ngIf="loanStatus == 'H'" src="./../../../assets/images/loan-status-icons/historical.png"
    alt="Historical">
</span>
