.success-img,
.forward-img {
  width: 30px;
}

.error {
  background-color: transparent !important;
}

.historical-loan {
  width: 24px;
  height: 24px;
  position: relative;
  left: -10px;
}

.paid-loan {
  height: 25px;
  position: relative;
  left: -9px;
}

.loan-history {
  .historical-loan {
    left: -1px;
  }

  .paid-loan {
    left: 0px;
    height: 20px;
  }
}

.related-loan-list {
  .historical-loan {
    left: -3px;
  }

  .paid-loan {
    left: -5px;
    top: 2px;
    height: 20px;
  }

  .Uploaded {
    position: relative;
    top: 2px;
  }
}
