<div class="app-checkout">
  <app-charts-visualization [page]="currentPageName" #chart [ngClass]='chart.getViewClass()'>
  </app-charts-visualization>

  <div class="basic-container checkout-wrapper">

    <app-loan-document
      [name]="'Underwriting Documents'"
      [Level]="1"
      [documents]="underwritingDocuments"
      [expanded]='masterSvc.isChevronOpen'
      (addDocument)="addDocument($event)"
      (deleteDocument)="deleteDocument($event)"
      (download)='onDownload($event)'
    >
    </app-loan-document>

    <app-loan-document
      [name]="'Prerequisite Documents'"
      [Level]="2"
      [documents]="prerequisiteDocuments"
      [expanded]='masterSvc.isChevronOpen'
      (addDocument)="addDocument($event)"
      (deleteDocument)="deleteDocument($event)"
      (download)='onDownload($event)'
    >
    </app-loan-document>

    <app-loan-document
      [name]="'Closing Documents'"
      [Level]="3"
      [documents]="closingDocuments"
      [expanded]='masterSvc.isChevronOpen'
      (addDocument)="addDocument($event)"
      (deleteDocument)="deleteDocument($event)"
      (download)='onDownload($event)'
    >
    </app-loan-document>

    <app-loan-document
      [name]="'Crop Monitoring Documents'"
      [Level]="4"
      [documents]="cropMonitoringDocuments"
      [expanded]='masterSvc.isChevronOpen'
      (addDocument)="addDocument($event)"
      (deleteDocument)="deleteDocument($event)"
      (download)='onDownload($event)'
    >
    </app-loan-document>

    <div class="checkout-fixed-action-btn">
      <app-btn-floating-action
        (publishClicked)="synctoDb()"
        [currentPageName]="currentPageName"
      >
      </app-btn-floating-action>

      <!-- <button class="waves-effect waves-light btn" (click)='transmitToKL()'>
        <i class="material-icons left">mail</i>
        KL Transmit
      </button> -->
    </div>

    <button class="waves-effect waves-light btn checkout-btn" (click)='checkout()' [disabled]='!isCheckoutButtonEnabled'>
      <mat-icon><i class="flaticon flaticon-online-shopping-cart left"></i></mat-icon>
      Checkout
    </button>
  </div>
</div>
