.app-checkout {
  .checkout-wrapper {
    padding: 0px;
  }

  .checkout-fixed-action-btn {
    position: fixed;
    bottom: 35px;
    right: 15px;

    button {
      width: auto;

      .flaticon {
        color: #fff;
        &:before {
          font-size: 18px;
        }
      }

      &:disabled {
        .flaticon {
          color: #9f9f9f !important;
        }
      }

      i.left {
        margin-right: 10px;
      }
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .checkout-btn {
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;

    .flaticon {
      color: #fff;
      &:before {
        font-size: 18px;
      }
    }

    &:disabled {
      .flaticon {
        color: #9f9f9f !important;
      }
    }
  }
}
