<div class="recommend-loan-container">
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Recommend Loan</h2>
  <div class="alertModal">
    <div class="modal-content">
      <ng-container *ngIf='!bypassValidation'>
        <div class="modal-body">
          <ng-container *ngIf="validationCount > 0 || exceptionCount > 0">
            <p>
              You need to resolve
              <span *ngIf="validationCount > 0">
                {{ validationCount }} Validations
                <span *ngIf="exceptionCount > 0">
                  and
                </span>
              </span>
              <span *ngIf="exceptionCount > 0">
                {{ exceptionCount }} exceptions
              </span>

              <span>
                before recommending.
              </span>
            </p>
          </ng-container>

          <ng-container *ngIf="validationCount == 0 && exceptionCount == 0">
            <p>
              Please Confirm to Recommend Loan.
            </p>
          </ng-container>
        </div>

        <div class="modal-footer" *ngIf="validationCount > 0 || exceptionCount > 0">
          <div class="mat-footer-inner">
            <button mat-raised-button [mat-dialog-close]='false'
              class='alertifybtncancel btn-outline modal-close modal-cancel'>Close</button>
          </div>
        </div>

        <div class="modal-footer" *ngIf="validationCount == 0 && exceptionCount == 0">
          <div class="mat-footer-inner">
            <a (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green large">Recommend</a>
            <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf='bypassValidation'>
        <div class="modal-body">
          <ng-container *ngIf="validationCount > 0 || exceptionCount > 0">
            <p>
              You have
              <span *ngIf="validationCount > 0">
                {{ validationCount }} Validations
                <span *ngIf="exceptionCount > 0">
                  and
                </span>
                <span *ngIf="exceptionCount == 0">
                  .
                </span>
              </span>
              <span *ngIf="exceptionCount > 0">
                {{ exceptionCount }} exceptions.
              </span>
            </p>
            <p>
              Do you want to recommend anyway?
            </p>
          </ng-container>

          <ng-container *ngIf="validationCount == 0 && exceptionCount == 0">
            <p>
              Please Confirm to Recommend Loan.
            </p>
          </ng-container>
        </div>

        <div class="modal-footer">
          <div class="mat-footer-inner">
            <a (click)="onOkClick()" class="waves-effect fsa-btn waves-light btn green large">Recommend</a>
            <a (click)="onCancelClick()" class="waves-effect fsa-btn waves-light btn red">Cancel</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
