.bottom {
  padding-bottom: 10px;
}

.q-row {
  margin-bottom: 10px;
  //display: table-row;
  width: 100%;
  .right-side {
    margin-left: 45px;
    mat-form-field {
      margin-top: 10px;
    }
  }

  .row.unanswered {
    .questions-container__question {
      color: red;
    }
  }
}

.parent:before {
  content: '●';
  margin-right: 10px;
  font-size: large;
}

.child:before {
  content: '○';
  margin-right: 10px;
  font-size: large;
}

.child {
  padding-left: 1.5em;
}

mat-radio-button {
  padding: 0 10px;
}

.child-cheveron {
  margin: 0 1em;
}

.questions-container {
  padding-left: 22px;
  &__question {
    width: 660px !important;
  }

  &__answer {
    width: 150px !important;
    padding: 0;
    margin-left: 10px !important;

    &--choice1,
    &--choice2 {
      padding: 0;
      min-width: 73px;
    }
  }
}

.question-group-title {
  margin-left: 33px !important;
}

.questions-container__answer--choice1 {
  min-width: 60px;
}

.question-with-input {
  margin-left: 160px !important;
}

.questions-container-input {
  margin-left: unset !important;
}

.que-silder {
  margin: 5px 0px 15px 10px;
}
