<mat-accordion *ngIf="!displayAsChildChevron && questions.length != 0">
  <mat-expansion-panel [expanded]="masterSvc.isChevronOpen">
    <mat-expansion-panel-header [class.has-data]='isAnyQuestionAnswered'>
      <mat-panel-title>
        Questions
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="questionsTemplate"></ng-container>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="displayAsChildChevron && questions.length != 0">
  <h4 class="question-group-title m-t-0" *ngIf='showToggleButton'> {{ 'Questions' }} </h4>
  <div class="container bottom questions-container hide" *ngIf='showToggleButton'>
    <div class="que-silder">
      Show All <mat-slide-toggle class="v-middle" [checked]="showAllQuestion" (change)="onDisplayDetailsChange($event)"></mat-slide-toggle>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="questionsTemplate"></ng-container>
</div>

<ng-template #questionsTemplate>
  <ng-container *ngIf="questions && questions.length">
    <h4 class="side-margin question-group-title"> {{ chevronHeader || 'Questions' }} </h4>
    <br/>
    <ng-container *ngTemplateOutlet="questionsList"></ng-container>
  </ng-container>

  <ng-template #questionsList>
    <div *ngIf="questions && questions.length" class="container bottom questions-container">
      <div class="que-silder hide" *ngIf='!displayAsChildChevron'>
        Show All <mat-slide-toggle class="v-middle" [checked]="showAllQuestion" (change)="onDisplayDetailsChange($event)"></mat-slide-toggle>
      </div>
      <div class="q-row"  *ngFor="let que of questions; let i = index; trackBy : que ?  que.Question_ID : i ">

        <!-- <div class="row" *ngIf="(que.Subsidiary_Question_ID_Ind ? getVisibility(que.Parent_Question_ID) : true && questionVisibilityState(que)) || showAllQuestion"> -->
        <ng-container *ngIf="que.Subsidiary_Question_ID_Ind ? que.Subsidiary_Q_Visible : ( questionVisibilityState(que) || showAllQuestion )">
          <div class="row" [class.unanswered]='que.FC_Response_Detail == undefined || que.FC_Response_Detail == null'>
            <div class="col s4 questions-container__answer" id="questions_{{que.Question_ID}}" *ngIf="que.Questions_Cat_Code==1">
              <mat-radio-group [disabled]="!isLoanEditable()" [(ngModel)]="que.FC_Response_Detail" (ngModelChange)="change(que)">
                <mat-radio-button class="questions-container__answer--choice1" [value]="que.Choice1">{{ que.Choice1 }}</mat-radio-button>
                <mat-radio-button class="questions-container__answer--choice2" [value]="que.Choice2">{{ que.Choice2 }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col s7 questions-container__question">
              <div [ngClass]="{'question-with-input' : que.Questions_Cat_Code==2}">
                {{ que.Question_ID_Text }}
                <br/>
                <div class="col s3 questions-container__answer questions-container-input" *ngIf="que.Questions_Cat_Code==2" id="questions_{{que.Question_ID}}">
                  <mat-form-field class="question-input-field">
                    <input type="text" [disabled]="!isLoanEditable()" [(ngModel)]="que.FC_Response_Detail" (keypress)="filterNumber($event)" (blur)="change(que)" matInput placeholder="Answer" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ng-template>

