<ng-container>
  <app-dashboard-settings></app-dashboard-settings>
  <div>
    <h3 class="dashboard-gear--header">Budget</h3>
    <app-question-settings [pageName]='"budget"'></app-question-settings>
  </div>
</ng-container>
