<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              {{header}}
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="reportValues" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th></th>
                              <th class="ellipsis" *ngFor="let borrower of reportValues[0].ccCollateralReport.borrowers" [title]='borrower'>{{borrower}}</th>
                              <th>Total</th>
                              <th *ngIf="showARMDetails" class="arm-only"></th>
                          </tr>
                      </thead>
                      <tbody>
                         <ng-container *ngFor='let Collateral of reportValues; first as isFirst'>
                           <tr *ngIf='!isFirst'>
                            <td [attr.colspan]='reportValues[0]?.ccCollateralReport?.borrowers?.length + 2'>&nbsp;</td>
                            <td class="arm-only">&nbsp;</td>
                           </tr>
                           <tr>
                             <td [attr.colspan]='reportValues[0]?.ccCollateralReport?.borrowers?.length + 2' style="font-weight: 600">
                               {{Collateral.header}}
                             </td>
                             <td class="arm-only">&nbsp;</td>
                           </tr>
                            <tr *ngFor="let col of Collateral.ccCollateralReport.collateralTypes">
                                <td>{{col.name}}</td>
                                <td *ngFor="let value of col.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{col.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>
                            <tr class="background-highlight">
                                <td>Total Collateral</td>
                                <td *ngFor="let value of Collateral.ccCollateralReport.totalCollateral.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{Collateral.ccCollateralReport.totalCollateral.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="showARMDetails" class="color-green arm-only"> {{Collateral.ccCollateralReport.LTVValue | number:'1.1-1'}}% LTV</td>
                            </tr>

                            <tr *ngIf="(Collateral.collateralValueKey == CollateralValueKey.DiscInsurance) && showARMDetails">
                                <td>CEI</td>
                                <td *ngFor="let value of Collateral.ccCollateralReport.CEI.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{Collateral.ccCollateralReport.CEI.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr *ngIf="(Collateral.collateralValueKey == CollateralValueKey.DiscInsurance) && showARMDetails">
                                <td>Ag-Pro Requested Credit</td>
                                <td *ngFor="let value of Collateral.ccCollateralReport.agPro.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{Collateral.ccCollateralReport.agPro.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr *ngIf="Collateral.ccCollateralReport.armCommit.totalValue">
                              <td>ARM Commitment</td>
                              <td *ngFor="let value of Collateral.ccCollateralReport.armCommit.values">$ {{value | number:'1.0-0'}}</td>
                              <td>$ {{Collateral.ccCollateralReport.armCommit.totalValue | number:'1.0-0'}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr *ngIf="Collateral.ccCollateralReport.armEstInterest.totalValue > 0">
                              <td>ARM Est Interest</td>
                              <td *ngFor="let value of Collateral.ccCollateralReport.armEstInterest.values">$ {{value | number:'1.0-0'}}</td>
                              <td>$ {{Collateral.ccCollateralReport.armEstInterest.totalValue | number:'1.0-0'}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr class="background-highlight color-green arm-only" *ngIf="showARMDetails">
                                <td>ARM Margin</td>
                                <td *ngFor="let value of Collateral.ccCollateralReport.armMargin.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{Collateral.ccCollateralReport.armMargin.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="CollateralValueKey.DiscInsurance === Collateral.collateralValueKey"><span>{{Collateral.ccCollateralReport.RCValue | number : '1.1-1'}}%&nbsp;RC</span> </td>
                                <td *ngIf="[CollateralValueKey.Market,CollateralValueKey.Insurance,CollateralValueKey.DiscMarket].includes(Collateral.collateralValueKey)"></td>
                            </tr>

                            <tr *ngIf="Collateral.ccCollateralReport.distCommit.totalValue">
                              <td>Dist Commitment</td>
                              <td *ngFor="let value of Collateral.ccCollateralReport.distCommit.values">$ {{value | number:'1.0-0'}}</td>
                              <td>$ {{Collateral.ccCollateralReport.distCommit.totalValue | number:'1.0-0'}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr *ngIf="Collateral.ccCollateralReport.distEstInterest.totalValue > 0">
                              <td>Dist Est Interest</td>
                              <td *ngFor="let value of Collateral.ccCollateralReport.distEstInterest.values">$ {{value | number:'1.0-0'}}</td>
                              <td>$ {{Collateral.ccCollateralReport.distEstInterest.totalValue | number:'1.0-0'}}</td>
                              <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>

                            <tr class="background-highlight">
                                <td>Total Margin</td>
                                <td *ngFor="let value of Collateral.ccCollateralReport.totalMargin.values">$ {{value | number:'1.0-0'}}</td>
                                <td>$ {{Collateral.ccCollateralReport.totalMargin.totalValue | number:'1.0-0'}}</td>
                                <td *ngIf="showARMDetails" class="arm-only"></td>
                            </tr>
                         </ng-container>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </mat-expansion-panel>
</mat-accordion>
