<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating primary" (click)="onClick()" [ngClass]="{'hidden': !isPublishEnabled}">
    <i class="material-icons left">cloud</i>
  </a>
</div>
