<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
      <mat-expansion-panel-header>
          <mat-panel-title>
              PROJECTED INCOME
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="prReport" class="container" [attr.id]="ID">
          <div class="row">
              <div class="col s12">
                  <table class="bordered">
                      <thead>
                          <tr>
                              <th>{{prReport.heading.itemHeading}}</th>
                              <th *ngFor="let borrower of prReport.heading.loanBorrower">{{borrower}}</th>
                              <th>{{prReport.heading.totalHeading}}</th>
                              <th>{{prReport.heading.percentHeading}}</th>
                          </tr>
                      </thead>

                      <tbody>
                          <!-- <tr>
                              <td class="hidecheckbox">
                                  <b>Detail <mat-slide-toggle [checked]="displayPracticeRows" (change)="onDisplayDetailsChange($event)"></mat-slide-toggle></b>
                              </td>
                          </tr> -->
                          <ng-container *ngFor="let crop of prReport.crops">
                              <tr *ngIf="crop.isPracticeRow ? reportSettings.isCropDetailEnabled : !reportSettings.isCropDetailEnabled">
                                  <td>
                                      <span class="crop-name-text">{{crop.name}}</span>
                                      <span class="crop-type-text" *ngIf='columnsDisplaySettings.cropType'> | {{crop.cropType}}</span>
                                      <span class="crop-prac-text"> | {{crop.practiceType}}</span>
                                      <span class="crop-crop-prac-text" *ngIf='columnsDisplaySettings.cropPrac'> | {{crop.cropPracticeType}}</span>
                                  </td>
                                  <td *ngFor="let revenue of crop.values">$ {{revenue |number: '1.0-0'}}</td>

                                  <td>$ {{crop.totalValue  |number: '1.0-0'}}</td>
                                  <td class="percent">{{crop.perValue | number:'1.1-1'}}</td>
                              </tr>
                          </ng-container>
                          <tr class="secondary-background-highlight">
                              <td>
                                  <b>Subtotal Crop Revenue</b>
                              </td>
                              <td *ngFor="let revenue of prReport.cropRevenue.values"> $ {{revenue  | number:'1.0-0'}}</td>
                              <td> $ {{prReport.cropRevenue.totalValue  | number:'1.0-0'}}</td>
                              <td class="percent"> {{prReport.cropRevenue.perValue | number : '1.1-1'}} </td>
                          </tr>
                          <tr class="font-weight-600">
                              <td>
                                  <b>Additional Revenue</b>
                              </td>
                          </tr>
                          <ng-container *ngFor="let row of prReport.totalRows">
                              <tr *ngIf='row.totalValue > 0' [class.background-highlight]="row.shouldHighlight" [class.secondary-background-highlight]="row.shouldHighlightSecondary" [class.font-weight-600]="row.bolderFont">
                                  <td>{{row.name}}</td>
                                  <td *ngFor="let value of row.values"> $ {{value  | number:'1.0-0'}}</td>

                                  <td> $ {{row.totalValue  | number:'1.0-0'}}</td>
                                  <td class="percent"> {{row.perValue  | number:'1.1-1'}}</td>
                              </tr>
                          </ng-container>
                          <tr class="font-weight-600">
                              <td>
                                  <b>Breakeven</b>
                              </td>
                              <td class="percent" *ngFor="let value of prReport.breakEven"> {{value  | number:'1.1-1'}}</td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>
