<div class="basic-container">
  <div class="container" style="padding-bottom: 10px;">
    <button  *ngIf='currentPage != "loanlist"' mat-icon-button (click)="onAddComment('add')" [ngClass]="isHidden && isLoanInVotingCondition ? 'btn-add-comment' : 'disabled'" [disabled]="!isHidden || !isLoanInVotingCondition">
      <mat-icon >add</mat-icon>
    </button>

    <button *ngIf='currentPage == "loanlist"' mat-icon-button (click)="onAddComment('add')" [ngClass]="isHidden? 'btn-add-comment' : 'disabled'" [disabled]="!isHidden">
      <mat-icon >add</mat-icon>
    </button>

    <div class="action-btns">
      <a class="waves-effect waves-light btn no-select" style="background-color: #F6F5F5 !important;" (click)="onFilterByWatchList()">
        <mat-icon class="no-select" [ngClass]="isWatchListOne ? 'text-danger' : 'btn-filter-disabled'">visibility</mat-icon>
      </a>
      <a class="waves-effect waves-light btn" title="{{filterCommentType.title}}" (click)="onFilterCommentTypeChange()"
        style="background-color: #F6F5F5 !important;">
        <mat-icon *ngIf="filterCommentType.fontType == 'mat'" [style.color]="filterCommentType.color">{{filterCommentType.icon}}</mat-icon>
        <i *ngIf="filterCommentType.fontType != 'mat'" class="inline icon" [class]="filterCommentType.icon"
          [style.color]="filterCommentType.color">
        </i>
      </a>
      <a class="waves-effect waves-light btn" title="{{commentReadType.title}}" (click)="onCommentReadTypeChange()"
        style="background-color: #F6F5F5 !important;">
        <mat-icon *ngIf="commentReadType.fontType == 'mat'" [style.color]="commentReadType.color">{{commentReadType.icon}}</mat-icon>
        <i *ngIf="commentReadType.fontType != 'mat'" class="inline icon" [class]="commentReadType.icon"
          [style.color]="commentReadType.color">
        </i>
      </a>
    </div>
  </div>
  <div class="container bottom" [formGroup]="userForm" [hidden]="isHidden">
    <div class="container bottom" *ngIf="isOnLoanList">
      <mat-form-field class="select-loan-borrower-info">
        <mat-select [(value)]="selected" placeholder="Select a Loan">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="comment-box">
      <div class="row comment-tools">
          <div class="input-field">
              <a class="waves-effect waves-light btn" title="{{commentType.title}}" (click)="onCommentTypeChange()" style="width: auto; margin-top: 7px; background-color: #F6F5F5 !important;">
                <mat-icon *ngIf="commentType.fontType == 'mat'" [style.color]="commentType.color">{{commentType.icon}}</mat-icon>
                <i *ngIf="commentType.fontType != 'mat'" class="inline icon" [class]="commentType.icon" [style.color]="commentType.id != 5 ? commentType.color : commentType.id == 5 && isOnWatchList == 1 ? commentType.color : '#000000'">
                </i>
              </a>

              <button mat-icon-button title="Approve" *ngIf="!hasUserVoted || isVoteApproved == 1" (click)='recordVoteAPI(1, 0)' class="" [ngClass]="isVoteApproved == 1 || !allowedToVote() ? 'text-muted' : 'text-success'" [disabled]="!allowedToVote()">
                <mat-icon>thumb_up</mat-icon>
              </button>
              <button mat-icon-button title="Decline" *ngIf="!hasUserVoted || isVoteApproved == 2" (click)='recordVoteAPI(2, 0)' class="text-danger" [ngClass]="isVoteApproved == 2 || !allowedToVote() ? 'text-muted' : 'text-danger'" [disabled]="!allowedToVote()">
                <mat-icon>thumb_down</mat-icon>
              </button>
              <button mat-icon-button title="Vote by Emoji" *ngIf="!hasUserVoted || isVoteApproved == 3" (click)='openEmoji()' [ngClass]="allowedToVote() ? 'text-warning' : 'text-muted'" [disabled]="!allowedToVote()">
                <mat-icon>insert_emoticon</mat-icon>
              </button>

              <button mat-icon-button title='Rescind' *ngIf="hasUserVoted" (click)='rescindVoteAPI()' class="text-danger" [disabled]="!allowedToVote()">
                <mat-icon>replay</mat-icon>
              </button>

              <div *ngIf='isCrossCollaterizedLoan && currentPage != "loanlist"' style="margin-top: 8px;">
                <mat-checkbox formControlName="CrossCol" class="decide-check-box cross-col" (change)='crossColChange($event)'>
                  <span class="cross-collateral-icon">
                    <svg id="shuffle" viewBox="0 0 512 512" width="30" height="18" style="transform: translate(0px, 3px);">
                      <g>
                        <g>
                          <path d="M512,387.67L405.406,281.024v84.694h-10.435c-68.152,0-102.461-56.146-142.191-121.157 c-40.72-66.633-86.875-142.158-179.637-142.158H0v43.886h73.143c68.152,0,102.461,56.146,142.191,121.157 c40.72,66.633,86.875,142.158,179.637,142.158h10.435v84.686L512,387.67z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M512,124.355L405.406,17.71v84.695h-10.435c-66.714,0-109.319,39.063-143.135,85.788 c9.055,13.584,17.433,27.249,25.391,40.268c31.024-46.945,63.77-82.172,117.744-82.172h10.435v84.686L512,124.355z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M190.887,283.548c-31.024,46.943-63.77,82.17-117.744,82.17H0v43.886h73.143c66.714,0,109.319-39.063,143.135-85.788 C207.222,310.232,198.845,296.567,190.887,283.548z"></path>
                        </g>
                      </g>
                    </svg>
                  </span>
                </mat-checkbox>
              </div>
          </div>
        </div>
        <div class="row comment-input">
          <!-- <div class="input-field" style="margin-left: 20px"> -->
          <div class="input-field">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Enter Comment" formControlName="Comment" rows="7" (keydown)="lineBreak($event)"></textarea>
            </mat-form-field>
            <small class="mat-error">
              <control-messages [control]="userForm.controls['Comment']" controlName="Comment"></control-messages>
            </small>
          </div>

          <div class="comment-action-btn">
            <div class="right-actions">
              <button mat-icon-button class="btn-add-comment" (click)="sendComment()" title='Send Comment'>
                <mat-icon >send</mat-icon>
              </button>
              <button mat-icon-button class="text-danger" (click)="onAddComment('clear')" title="Cancel">
                <mat-icon >clear</mat-icon>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
