.bottom-border {
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
  border-bottom-width: 0.5px !important;
}

.basic-container {
  .container {
    .btn-add-comment {
      color: #247ab1;
      cursor: pointer;
    }
  }

  .container.bottom {
    margin-right: 2px;
    padding: 0px;

    .comment-tools {
      .input-field {
        display: flex;
      }

      margin-bottom: 10px !important;
    }

    .comment-input {
      margin: 0px;
      // background-color: #f3f3f3b0;
      padding: 5px;
    }

    .comment-box {
      padding: 6px;
      margin: 20px 0px;
      margin-top: 4px;
      border: 1px solid #a6a6ae;
      border-radius: 3px;
    }
  }

  .btn-filter-disabled {
    color: rgb(222, 216, 216);
  }

  .no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  .comment-action-btn {
    .left-actions {
      float: left;
      margin-top: 8px;
    }

    .right-actions {
      float: right;
    }
  }

  .select-loan-borrower-info {
    font-weight: normal !important;
    font-size: 10px;
    padding-bottom: unset;

    .mat-select-value {
      height: 15px !important;
    }
  }
}

.action-btns {
  float: right;
  margin-top: 6px;
  a {
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }

    &.btn {
      width: auto;
    }
  }
}
