@import './../../../../sass/theme/variables';

.error-bubble,
.warning-bubble {
  font-size: $font-size-sm;
  color: $white;
  border-radius: 50%;
  line-height: 1;
  padding: 2px;
  border: 1px solid #ddd;
  position: absolute;
  top: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  left: 0px;

  &.more {
    padding: 2.5px 2.8px 0 1px;
  }
}

.error-bubble {
  background: $error-color;
  left: 75px;
}

.warning-bubble {
  background: #ed7d31;
  left: 50px;
}

.debug-info .exception-icons span.superscript {
  color: #000;
}

.exception-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 25px;

  > div {
    &:first-child {
      left: 40px;
      transition: left 0.8s linear;
      &.svg {
        & ~ {
          .svg:first-child {
            left: 66px;
          }
        }
      }
    }

    &:nth-child(2) {
      left: 63px;
      transition: left 0.8s linear;
      &.svg {
        left: 63px;
      }

      &:not(:last-child) {
        &.svg {
          left: 60px;
        }
      }
    }

    &:nth-child(3) {
      transition: left 0.8s linear;
      left: 84px;
    }

    &:nth-child(4) {
      transition: left 0.8s linear;
      left: 107px;
    }
  }

  .warning-icon {
    position: absolute;
    height: 25px;
    svg {
      fill: #ed7d31;
      transform: translate(0, 5px);
    }
  }

  .error-icon {
    position: absolute;
    height: 25px;
    svg {
      fill: #d44950;
      transform: translate(0, 5px);
    }
  }

  span.superscript {
    position: relative;
    top: -30px;
    left: 14px;
    color: #fff;
    font-size: 10px;
  }
}

.bottom-icons {
  .error-bubble,
  .warning-bubble {
    text-shadow: none;
    border: none;
    padding: 3px 0px 0px 0px;

    &.more {
      padding: 3px 1px 1px 2px;
      &.more-2 {
        font-size: 8px;
        padding: 4px 0px 1px 0px;
        font-weight: bold;
      }
    }
  }

  .exception-icons {
    right: 0;
    left: -130px;
    top: -3px;

    .error-icon {
      .superscript {
        color: #d44950;
      }
    }

    .warning-icon {
      .superscript {
        color: #ed7d31;
      }
    }

    span.superscript {
      position: relative;
      top: -12px;
      left: -6px;
      font-size: 11px;
      font-weight: 500;
    }

    > div {
      &:first-child {
        transition: right 0.8s linear;
        left: 44px;

        &.warning-bubble {
          left: 44px;
          &.one-warning {
            left: 66px;
          }

          &.no-warning {
            left: 87px;
          }

          &.one {
            left: 66px;
            &.one-warning {
              left: 87px;
            }

            &.no-warning {
              left: 107px;
            }
          }
        }

        &.error-bubble {
          left: 65px;
          &.one-warning {
            left: 87px;
          }

          &.no-warning {
            left: 107px;
          }
        }

        &.warning-icon {
          left: 85px;
        }

        &.error-icon {
          left: 107px;
        }

        &:last-child {
          left: 107px;
        }
      }

      &:nth-child(2) {
        left: 107px;

        transition: right 0.8s linear;
        &.svg:not(:last-child) {
          left: 86px;
          &.warning-icon {
            left: 86px;
          }

          &.error-icon {
            left: 107px;
          }
        }

        &.error-bubble {
          left: 65px;
          &.one-warning {
            left: 87px;
          }
        }

        &:last-child {
          left: 107px;
        }

        &.one {
          left: 66px;
          &.one-warning {
            left: 87px;
          }

          &.no-warning {
            left: 107px;
          }
        }

        &.no-warning {
          left: 107px;
        }
      }

      &:nth-child(3) {
        transition: right 0.8s linear;
        left: 107px;
        &:not(:last-child) {
          &.svg {
            left: 87px;
          }
        }
        &:last-child {
          left: 107px;
        }
      }

      &:nth-child(4) {
        transition: right 0.8s linear;
        left: 107px;
      }
    }
  }
}
