<mat-accordion>
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header [class.has-data]='hasData'>
      <mat-panel-title>
        Miscellaneous Credit Agreement Values
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container bottom">
      <div class="row">
        <ag-grid-angular
          id="other-income-grid"
          [ngStyle]="style"
          class="ag-theme-balham roboto-font"
          [animateRows]="true"
          [enableSorting]="false"
          [enableFilter]="true"
          [showToolPanel]="false"
          [toolPanelSuppressRowGroups]="true"
          [toolPanelSuppressValues]="true"
          [toolPanelSuppressPivots]="true"
          [toolPanelSuppressPivotMode]="true"
          [defaultColDef]="defaultColDef"
          [singleClickEdit]="true"
          [gridAutoHeight]="true"
          suppressColumnVirtualisation=true
          [suppressPropertyNamesCheck]='true'
          [stopEditingWhenGridLosesFocus]="'true'"
          [context]="context"
          [frameworkComponents]="frameworkcomponents"
          [components]="components"
          [rowData]="rowData"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          [columnDefs]="columnDefs"
          [suppressHorizontalScroll]='false'>
        </ag-grid-angular>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
