@import "./../../../sass/theme/variables";

.flaticon {
  vertical-align: top;
  cursor: pointer;
}

.flaticon-expand {
  padding-left: 10px;
}

.flaticon-collapse {
  padding-left: 10px;
  &::before {
    font-size: 16px; // this is required as icon is smaller for collapse
  }
}
