<mat-icon (click)="expandAll()">
  <i title="Expand all" class="flaticon material-icons flaticon-expand icon-base-size"></i>
</mat-icon>
<mat-icon (click)="collapseAll()">
  <i title="Collapse all" class="flaticon material-icons flaticon-collapse icon-base-size"></i>
</mat-icon>
